Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

chore: fix docs (#1388)
  docs/core/agent-skills.md
  docs/core/concepts.md
  docs/core/models/byok.md
  docs/core/models/gemini.md
  docs/core/models/kimi.md
  docs/core/models/local-model.md
  docs/core/models/minimax.md
  docs/core/models/sambanova.md
  docs/core/tools.md
  docs/core/workers.md
  docs/core/workforce.md
  docs/get_started/quick_start.md
  docs/get_started/welcome.md
  docs/images/Screenshot2026-01-20at18.12.10.png
  docs/images/Screenshot2026-01-20at18.13.45.png
  docs/images/Screenshot2026-01-20at18.14.03.png
  docs/images/byok_1.png
  docs/troubleshooting/bug.md
  docs/troubleshooting/support.md
Due: none

Codex/skill docs update - New PR with correct video formate (#1387)
  docs/README.md
  docs/core/agent-skills.md
  docs/core/models/byok.md
  docs/docs.json
  docs/get_started/quick_start.md
  docs/images/Screenshot2026-01-20at18.12.10.png
  docs/images/Screenshot2026-01-20at18.13.45.png
  docs/images/Screenshot2026-01-20at18.14.03.png
  docs/images/agent_skills_example_skills_04.mp4
  docs/images/agent_skills_settings_screenshot.png
  docs/images/agent_skills_skill01.mp4
  docs/images/agent_skills_skill02.mp4
  docs/images/agent_skills_skill03.mp4
  docs/images/agent_skills_skills_05.mp4
  docs/images/byok_1.png
  docs/images/favicon.png
  docs/images/logo-dark.png
  docs/images/logo-light.png
  docs/images/logo_black.png
  docs/images/logo_white.png
Due: none

fix: persist auth token instead of password for remember-me login
  .env.development
  electron/main/index.ts
  electron/preload/index.ts
  src/pages/Login.tsx
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

fix:revert env file
  .env.development
Due: none

chore: restore CSS class ordering to match main branch
  src/components/IntegrationList/index.tsx
  src/components/SearchInput/index.tsx
  src/pages/Agents/Models.tsx
  src/pages/Agents/index.tsx
  src/pages/Browser/Cookies.tsx
  src/pages/Browser/Extension.tsx
  src/pages/Browser/index.tsx
  src/pages/Channels/index.tsx
  src/pages/Connectors/MCP.tsx
  src/pages/Connectors/Search.tsx
  src/pages/Connectors/components/CookieManager.tsx
  src/pages/Connectors/components/MCPAddDialog.tsx
  src/pages/Connectors/components/MCPConfigDialog.tsx
  src/pages/Connectors/components/MCPDeleteDialog.tsx
  src/pages/Connectors/components/MCPEnvDialog.tsx
  src/pages/Connectors/components/MCPListItem.tsx
  src/pages/Connectors/components/MCPMarket.tsx
  src/pages/Connectors/index.tsx
  src/pages/Projects/Project.tsx
  src/pages/Setting/index.tsx
Due: node licenses/update_license.js, prettier --write

chore: show cancelled status properly
  src/components/Trigger/ActivityLogItem.tsx
  src/service/triggerApi.ts
  src/store/activityLogStore.ts
Due: node licenses/update_license.js, prettier --write

chore: linting
  src/components/Trigger/ActivityLogItem.tsx
  src/store/activityLogStore.ts
Due: node licenses/update_license.js, prettier --write

enhance: queue on splitting & avoid duplicates
  src/hooks/useBackgroundTaskProcessor.ts
  src/store/projectStore.ts
Due: node licenses/update_license.js, prettier --write

chore: update linting
  src/components/Trigger/DynamicTriggerConfig.tsx
  src/components/Trigger/ExecutionLogs.tsx
  src/components/Trigger/SchedulePicker.tsx
Due: node licenses/update_license.js, prettier --write

chore: set default max failures as 5
  src/components/Trigger/DynamicTriggerConfig.tsx
  src/components/Trigger/SchedulePicker.tsx
Due: node licenses/update_license.js, prettier --write

chore: handle end project task not found
  src/components/WorkFlow/node.tsx
  src/components/WorkspaceMenu/index.tsx
Due: node licenses/update_license.js, prettier --write

chore: reset selected trigger on change
  src/components/ErrorBoundary/index.tsx
Due: node licenses/update_license.js, prettier --write

enhance: update trigger limit
  src/i18n/locales/en-us/triggers.json
  src/pages/Home.tsx
  src/pages/Project/Triggers.tsx
  src/types/index.ts
Due: node licenses/update_license.js, prettier --write

chore: update http to return errors
  src/api/http.ts
Due: node licenses/update_license.js, prettier --write

feat: use duckduckgo if google search key is not specified
  backend/app/agent/factory/browser.py
  backend/app/agent/factory/developer.py
  backend/app/agent/factory/document.py
  backend/app/agent/factory/multi_modal.py
  backend/app/agent/factory/social_media.py
  backend/app/agent/toolkit/search_toolkit.py
  backend/pyproject.toml
  backend/tests/app/agent/toolkit/test_search_toolkit.py
  backend/uv.lock
  src/pages/Connectors/Search.tsx
Due: node licenses/update_license.js, prettier --write

fix: resolve npx path on Windows for browser login launch
  backend/app/controller/tool_controller.py
Due: node licenses/update_license.js

fix: let agent load skill before execution
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  README_CN.md
  README_JA.md
  README_PT-BR.md
  backend/app/agent/prompt.py
Due: node licenses/update_license.js

revert: remove unintended whitespace changes to docs files
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  README_CN.md
  README_JA.md
  README_PT-BR.md
Due: none

fix: let agent load skill before execution (#1398)
  backend/app/agent/prompt.py
Due: node licenses/update_license.js

feat: add native LLaMA.cpp local provider support
  backend/app/model/model_platform.py
  backend/tests/app/model/test_model_platform.py
  docs/core/models/local-model.md
  docs/get_started/quick_start.md
  src/assets/model/llamacpp.svg
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

add comment for ollama auto-fix toast constants
  src/pages/Agents/localModels.ts
Due: node licenses/update_license.js, prettier --write

remove unnecessary llama-cpp and llamacpp aliases
  backend/app/model/model_platform.py
  backend/tests/app/model/test_model_platform.py
  docs/core/models/local-model.md
Due: node licenses/update_license.js

fix: use strict equality for LLAMA_CPP_PROVIDER_ID comparison
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

refactor: extract local model config and helpers into localModels.ts
  src/pages/Agents/Models.tsx
  src/pages/Agents/localModels.ts
Due: node licenses/update_license.js, prettier --write

Update text
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

fix: fix choose model redirect issue
  src/components/ChatBox/index.tsx
Due: node licenses/update_license.js, prettier --write

fix: choose model choose redirect issue (#1400)
  src/components/ChatBox/index.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

feat: improve memory efficiency and streaming for multi-modal media playback
  src/components/Folder/index.tsx
Due: node licenses/update_license.js, prettier --write

refactor: simplify SSE/trigger comments in background task processor
  src/components/ChatBox/index.tsx
  src/hooks/useBackgroundTaskProcessor.ts
  src/hooks/useTriggerTaskExecutor.ts
  src/store/chatStore.ts
  src/store/projectStore.ts
Due: node licenses/update_license.js, prettier --write

bug fix for font size
  src/pages/Project/Triggers.tsx
Due: node licenses/update_license.js, prettier --write

fix(hooks): prevent re-entrancy in background task processor
  src/hooks/useBackgroundTaskProcessor.ts
Due: node licenses/update_license.js, prettier --write

fix browser login
  backend/app/controller/tool_controller.py
  src/components/animate-ui/primitives/animate/slot.tsx
  src/pages/Browser/Cookies.tsx
Due: node licenses/update_license.js, prettier --write

enhance: update to support trigger limit
  server/app/controller/chat/history_controller.py
  server/app/controller/trigger/trigger_controller.py
  server/app/service/trigger/trigger_service.py
  server/tests/history_delete.http
  server/tests/trigger_activate.http
Due: node licenses/update_license.js

chore: update uv lock
  server/uv.lock
Due: none

css bug fix
  src/components/ChatBox/index.tsx
  src/components/TopBar/index.tsx
Due: node licenses/update_license.js, prettier --write

css bug fix (#1413)
  src/components/ChatBox/index.tsx
  src/components/TopBar/index.tsx
Due: node licenses/update_license.js, prettier --write

bug fix for font size (#1409)
  src/pages/Project/Triggers.tsx
Due: node licenses/update_license.js, prettier --write

updaet dependencies
  server/pyproject.toml
  server/uv.lock
Due: none
