Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write, python licenses/update_license.py . licenses/license_template.txt

fix: address PR review comments from a7m-1st
  backend/app/utils/agent.py
  src/store/chatStore.ts
  src/types/chatbox.d.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write, python licenses/update_license.py . licenses/license_template.txt

refactor: remove tool streaming events, keep infra for model output streaming
  backend/app/utils/listen/toolkit_listen.py
Due: python licenses/update_license.py . licenses/license_template.txt

add husky to package.json
  package.json
Due: prettier --write

enhance: update edge case for project title display PR825
  src/components/TopBar/index.tsx
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

enhance: update edge case for project title display PR825 (#1070)
  src/components/TopBar/index.tsx
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

update edge case for project title display (#825)
  src/components/TopBar/index.css
  src/components/TopBar/index.tsx
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

remove redundent health check in starting task
  src/store/chatStore.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

extend waiting time
  src/store/chatStore.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

chore: update build yml file
  .github/workflows/build.yml
  package.json
Due: prettier --write

chore: update build yml file (#1071)
  .github/workflows/build.yml
  package.json
Due: prettier --write

changeagentpy forgmailcalendar
  backend/app/utils/agent.py
  backend/pyproject.toml
  backend/uv.lock
Due: python licenses/update_license.py . licenses/license_template.txt

chore: remove deprecated models
  server/app/model/user/key.py
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Setting/Models.tsx
  src/store/authStore.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write, python licenses/update_license.py . licenses/license_template.txt

chore: remove deprecated models (#1072)
  server/app/model/user/key.py
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Setting/Models.tsx
  src/store/authStore.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write, python licenses/update_license.py . licenses/license_template.txt

chore: remove sonnet 4 model, add terminal toolkit to user defined agent
  backend/app/service/chat_service.py
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Setting/Models.tsx
  src/store/authStore.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write, python licenses/update_license.py . licenses/license_template.txt

update
  backend/app/service/chat_service.py
Due: python licenses/update_license.py . licenses/license_template.txt

chore: remove sonnet 4 model, add terminal toolkit to user defined agent (#1074)
  backend/app/service/chat_service.py
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Setting/Models.tsx
  src/store/authStore.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write, python licenses/update_license.py . licenses/license_template.txt

fix: consistent font rendering for HTML content and code snippets (#1032)
  src/components/ChatBox/MessageItem/MarkDown.tsx
  src/components/ChatBox/MessageItem/SummaryMarkDown.tsx
  src/components/Folder/FolderComponent.tsx
  src/components/Folder/index.tsx
  src/components/WorkFlow/MarkDown.tsx
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

fix: always render HTML in iframe for proper document structure
  src/components/Folder/index.tsx
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

chore: isolate html sanitization
  src/lib/htmlSanitization.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

enhance: remove html sanitization and secure iframe
  src/components/Folder/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

refactor: make RAGToolkit generic, move task isolation to orchestration layer
  backend/app/utils/agent.py
  backend/app/utils/toolkit/rag_toolkit.py
  backend/tests/unit/utils/toolkit/test_rag_toolkit.py
Due: python licenses/update_license.py . licenses/license_template.txt

enhance: always render html in iframe PR1076
  src/components/Folder/index.tsx
  src/lib/htmlSanitization.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

enhance: always render html in iframe PR1076 (#1077)
  src/components/Folder/index.tsx
  src/lib/htmlSanitization.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

enhance: always render html in iframe (#1076)
  src/components/Folder/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/lib/htmlSanitization.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

fix RuntimeError
  backend/app/utils/telemetry/workforce_metrics.py
Due: python licenses/update_license.py . licenses/license_template.txt

Upgrade GitHub Actions for Node 24 compatibility
  .github/workflows/build-view.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/lint-markdown.yml
Due: none

Upgrade GitHub Actions to latest versions
  .github/workflows/build.yml
Due: none

update token setting
  .github/workflows/build.yml
Due: none

Upgrade GitHub Actions to latest versions (#1080)
  .github/workflows/build.yml
Due: none

chore: extend backend ready waiting time (#1073)
  src/store/chatStore.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

refactor: address bytecraftii's review comments on RAGToolkit
  backend/app/utils/agent.py
  backend/app/utils/toolkit/rag_toolkit.py
  backend/tests/unit/utils/toolkit/test_rag_toolkit.py
Due: python licenses/update_license.py . licenses/license_template.txt

fix: add error_msg to TaskFailedEvent as required
  backend/app/utils/workforce.py
Due: python licenses/update_license.py . licenses/license_template.txt

fix: address remaining bytecraftii review comments
  backend/app/utils/toolkit/rag_toolkit.py
  backend/tests/unit/utils/toolkit/test_rag_toolkit.py
Due: python licenses/update_license.py . licenses/license_template.txt

fix: disable cloud sync by default
  backend/app/utils/server/sync_step.py
Due: python licenses/update_license.py . licenses/license_template.txt

fix: resolve merge conflict
  backend/app/utils/server/sync_step.py
Due: python licenses/update_license.py . licenses/license_template.txt

fix: filter high-frequency events in cloud sync to reduce API spam
  backend/app/utils/server/sync_step.py
Due: python licenses/update_license.py . licenses/license_template.txt

fix: add `error_msg` to `TaskFailedEvent` as required (#1083)
  backend/app/utils/workforce.py
Due: python licenses/update_license.py . licenses/license_template.txt

Path conditions:
  node licenses/update_license_ts.js . licenses/license_template_ts.txt: any of: *.{ts,tsx,d.ts}
  eslint --fix: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})) or (any of: *.{json,css,md})
  python licenses/update_license.py . licenses/license_template.txt: any of: *.py
