Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

fix: address reviewer comments
  backend/app/component/model_validation.py
Due: node licenses/update_license.js

resolve json error
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Setting.tsx
Due: node licenses/update_license.js, prettier --write

fix: add connection cleanup for proxy tunnels and support separate HTTP/HTTPS proxy configurations
  electron/main/utils/process.ts
  resources/scripts/download.js
Due: node licenses/update_license.js, prettier --write

fix: use current attachments for follow-up questions instead of first upload
  backend/app/controller/chat_controller.py
  backend/app/model/chat.py
  backend/app/service/chat_service.py
  backend/app/service/task.py
  src/components/ChatBox/index.tsx
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

resolve conflict error
  src/components/AddWorker/ToolSelect.tsx
  src/pages/Setting/MCPMarket.tsx
Due: node licenses/update_license.js, prettier --write

feat: update design tokens and fix prettier-plugin-tailwindcss compatibility
  .prettierrc.json
  package.json
  src/style/token.css
Due: none

feat: redesign worker node UI and improve task reporting
  src/components/ChatBox/MessageItem/UserMessageCard.tsx
  src/components/WorkFlow/MarkDown.tsx
  src/components/WorkFlow/node.tsx
  src/pages/History.tsx
Due: node licenses/update_license.js, prettier --write

enhance: move attaches to data
  backend/app/controller/chat_controller.py
  backend/app/service/chat_service.py
  backend/app/service/task.py
  backend/tests/unit/service/test_chat_service.py
  backend/tests/unit/service/test_task.py
Due: node licenses/update_license.js

minor update
  backend/app/service/task.py
  backend/tests/unit/service/test_task.py
Due: node licenses/update_license.js

fix: use current attachments for follow-up questions instead of first… (#1167)
  backend/app/controller/chat_controller.py
  backend/app/model/chat.py
  backend/app/service/chat_service.py
  backend/app/service/task.py
  backend/tests/unit/service/test_chat_service.py
  backend/tests/unit/service/test_task.py
  src/components/ChatBox/index.tsx
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

lint files
  .prettierignore
  eslint.config.js
  scripts/test-prebuilt-deps.js
  scripts/test-venv-fix.js
  src/components/ChatBox/MessageItem/SummaryMarkDown.tsx
  src/components/Dialog/Privacy.tsx
  src/components/Folder/index.tsx
  src/components/Terminal/index.tsx
  src/components/TopBar/index.tsx
  src/components/WorkFlow/MarkDown.tsx
  src/hooks/useIntegrationManagement.ts
  src/pages/Setting.tsx
  src/pages/Setting/API.tsx
  src/pages/Setting/MCP.tsx
  src/pages/Setting/MCPMarket.tsx
  src/pages/Setting/Models.tsx
  src/pages/Setting/Privacy.tsx
Due: node licenses/update_license.js, prettier --write

refactor: simplify tests per review feedback
  server/tests/app/component/__init__.py
  server/tests/app/component/test_encrypt.py
  server/tests/app/component/test_time_friendly.py
Due: node licenses/update_license.js

refactor: simplify tests per review feedback
  server/tests/__init__.py
  server/tests/app/__init__.py
  server/tests/app/component/test_encrypt.py
  server/tests/app/component/test_time_friendly.py
Due: node licenses/update_license.js

fix: install llvmlite for mac intel
  .github/workflows/build-view.yml
Due: none

downgrade to llvm@20
  .github/workflows/build-view.yml
Due: none

remove pycache files to resolve` too many open files`
  electron-builder.json
Due: none

mac to venv.zip
  config/before-sign.cjs
  electron/main/index.ts
  electron/main/install-deps.ts
  electron/main/utils/process.ts
  src/components/InstallStep/InstallDependencies.tsx
Due: node licenses/update_license.js, prettier --write

enhance: fix task nonstopping error if model key is expired PR1017
  backend/app/service/chat_service.py
  backend/app/service/task.py
  backend/tests/app/service/test_task_validate.py
Due: node licenses/update_license.js

refactor: preserve raw error messages and simplify error categorization
  backend/app/component/model_validation.py
  backend/app/controller/model_controller.py
Due: node licenses/update_license.js

fix: persist subtask edits to backend on add/update/delete (#930)
  src/components/ChatBox/TaskBox/TaskItem.tsx
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

fix: persist subtask edits only on Save/Delete, not on every keystroke
  src/components/ChatBox/TaskBox/TaskCard.tsx
  src/components/ChatBox/TaskBox/TaskItem.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/store/chatStore.ts
  test/unit/components/ChatBox.test.tsx
Due: node licenses/update_license.js, prettier --write

Revert "update based on review"
  src/components/ChatBox/TaskBox/TaskCard.tsx
  src/components/ChatBox/TaskBox/TaskItem.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

update based on review
  src/components/ChatBox/TaskBox/TaskCard.tsx
  src/components/ChatBox/TaskBox/TaskItem.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

minor update
  src/components/ChatBox/TaskBox/TaskItem.tsx
Due: node licenses/update_license.js, prettier --write

fix: persist subtask edits to backend on add/update/delete (#930) (#1164)
  src/components/ChatBox/TaskBox/TaskCard.tsx
  src/components/ChatBox/TaskBox/TaskItem.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/store/chatStore.ts
  test/unit/components/ChatBox.test.tsx
Due: node licenses/update_license.js, prettier --write

fix based on review
  electron/main/utils/process.ts
Due: node licenses/update_license.js, prettier --write

test: mirror terminal_toolkit tests to match new source layout
  backend/tests/app/agent/toolkit/test_terminal_toolkit.py
Due: node licenses/update_license.js

fix
  electron/main/utils/process.ts
Due: node licenses/update_license.js, prettier --write

Fix macOS Intel CI build & improve first-launch UX (#1169)
  .github/workflows/build-view.yml
  config/before-sign.cjs
  electron-builder.json
  electron/main/index.ts
  electron/main/install-deps.ts
  electron/main/utils/process.ts
  src/components/InstallStep/InstallDependencies.tsx
Due: node licenses/update_license.js, prettier --write

enhance: fix task nonstopping error if model key is expired PR1017 (#1170)
  backend/app/service/chat_service.py
  backend/app/service/task.py
  backend/tests/app/service/test_task_validate.py
Due: node licenses/update_license.js

Fix/fix model key UI nonstopping (#1172)
  CONTRIBUTING.md
  backend/app/service/chat_service.py
Due: node licenses/update_license.js

Fix EPIPE crash on shutdown and llvmlite LLVM version mismatch
  electron/main/index.ts
  electron/main/install-deps.ts
  electron/main/utils/process.ts
Due: node licenses/update_license.js, prettier --write

chore: limit setuptool version to fix build issue
  backend/pyproject.toml
  backend/uv.lock
Due: none

chore: limit setuptool version to fix build issue (#1176)
  backend/pyproject.toml
  backend/uv.lock
Due: none

chore: remove unstructured
  backend/pyproject.toml
  backend/uv.lock
Due: none

chore: remove unstructured (#1177)
  backend/pyproject.toml
  backend/uv.lock
Due: none

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
