Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

fix: preserve durable remote command outcomes
  backend/app/controller/remote_command_controller.py
  backend/tests/app/auth/test_local_control.py
  src/hooks/useRemoteControlBridge.test.ts
  src/hooks/useRemoteControlBridge.ts
Due: node licenses/update_license.js, prettier --write

fix: deduplicate remote control event lanes
  src/lib/projector/reduce.ts
  src/lib/projector/types.ts
  test/unit/lib/projector.test.ts
Due: node licenses/update_license.js, prettier --write

fix: secure mutable brain control routes
  backend/app/controller/chat_controller.py
  backend/main.py
  backend/tests/app/auth/test_local_control.py
  backend/tests/app/test_main_security_defaults.py
  backend/tests/conftest.py
Due: node licenses/update_license.js

fix: harden run recovery state transitions
  backend/app/run_journal/store.py
  backend/app/run_runtime/coordinator.py
  backend/tests/app/run_journal/test_command_inbox.py
  backend/tests/app/run_journal/test_recovery.py
  backend/tests/app/run_journal/test_store.py
  backend/tests/app/run_runtime/test_deadline.py
Due: node licenses/update_license.js

fix: make desktop identity installation-owned
  electron/main/desktopIdentity.ts
  electron/main/index.ts
  electron/preload/index.ts
  src/api/http.ts
  src/components/Dispatch/index.tsx
  src/hooks/useRemoteControlBridge.ts
  src/lib/desktopIdentity.test.ts
  src/lib/desktopIdentity.ts
  src/lib/projector/effects.ts
  src/lib/projector/types.ts
  src/lib/remoteControl.ts
  src/pages/RemoteControl.tsx
  src/types/electron.d.ts
  test/unit/api/http.test.ts
  test/unit/electron/desktopIdentity.test.ts
  test/unit/lib/projector.test.ts
Due: node licenses/update_license.js, prettier --write

fix: supply installation identity to brain sync
  backend/app/run_sync/middleware.py
  backend/tests/app/run_sync/test_middleware.py
  electron/main/index.ts
  test/unit/electron/main/backendIdentityEnv.test.ts
Due: node licenses/update_license.js, prettier --write

fix: normalize trusted toolkit safety declarations
  backend/app/agent/factory/toolkit_assembler.py
  backend/app/run_runtime/tool_checkpoint.py
  backend/tests/app/agent/factory/test_toolkit_safety.py
Due: node licenses/update_license.js

fix: reject cross-run tool timeout outcomes
  backend/app/run_journal/store.py
  backend/tests/app/run_journal/test_recovery.py
Due: node licenses/update_license.js

fix: project interrupted run recovery states
  src/lib/projector/reduce.ts
  test/unit/lib/projector.test.ts
Due: node licenses/update_license.js, prettier --write

feat: add durable run resume product flow
  backend/app/controller/chat_controller.py
  backend/app/controller/run_controller.py
  backend/app/memory/events.py
  backend/app/memory/local_store.py
  backend/app/memory/service.py
  backend/app/model/chat.py
  backend/app/run_context/context.py
  backend/app/run_journal/store.py
  backend/app/service/single_agent_service.py
  backend/main.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/controller/test_run_control_api.py
  backend/tests/app/memory/test_local_store.py
  backend/tests/app/run_context/test_context.py
  src/components/ChatBox/InterruptedRunBanner.test.tsx
  src/components/ChatBox/InterruptedRunBanner.tsx
  src/components/ChatBox/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

fix: replay stale project history on open
  src/lib/projectCache.ts
  src/store/projectStore.test.ts
  src/store/projectStore.ts
Due: node licenses/update_license.js, prettier --write

fix: replay desktop history from run journal
  backend/app/controller/run_controller.py
  backend/tests/app/controller/test_run_controller.py
  src/store/chatStore.ts
  src/store/projectStore.test.ts
  src/store/projectStore.ts
Due: node licenses/update_license.js, prettier --write

fix: recover chat from canonical run stream
  backend/app/controller/run_controller.py
  backend/tests/app/controller/test_run_controller.py
  src/store/chatStore.durableReplay.test.ts
  src/store/chatStore.ts
  src/store/projectStore.test.ts
  src/store/projectStore.ts
Due: node licenses/update_license.js, prettier --write

feat: restore canonical cloud history safely
  backend/app/controller/run_controller.py
  backend/app/run_journal/__init__.py
  backend/app/run_journal/models.py
  backend/app/run_journal/store.py
  backend/app/run_sync/cloud_sync.py
  backend/app/run_sync/runtime.py
  backend/tests/app/run_journal/test_store.py
  backend/tests/app/run_sync/test_cloud_sync.py
  electron/main/fileReader.ts
  electron/main/index.ts
  src/components/ChatBox/InterruptedRunBanner.test.tsx
  src/components/ChatBox/InterruptedRunBanner.tsx
  src/components/ChatBox/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/store/chatStore.ts
  test/unit/electron/main/index.test.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: bound browser toolkit tab usage
  backend/app/agent/toolkit/hybrid_browser_toolkit.py
  backend/tests/app/agent/toolkit/test_hybrid_browser_tab_limits.py
Due: node licenses/update_license.js

feat: preview run artifact changes
  backend/app/controller/file_controller.py
  backend/app/utils/file_utils.py
  backend/tests/app/controller/test_file_controller.py
  src/components/ChatBox/UserQueryGroup.tsx
  src/store/chatStore.ts
  src/types/chatbox.d.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

refactor: compact artifact change list
  src/components/ChatBox/UserQueryGroup.tsx
Due: node licenses/update_license.js, prettier --write

feat: add workspace artifact hierarchy
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/Session/SidePanelSections/AgentFolderSection.tsx
  src/lib/workspaceFileTree.ts
  src/lib/workspaceRelativePath.ts
  test/unit/lib/workspaceFileTree.test.ts
  test/unit/lib/workspaceRelativePath.test.ts
Due: node licenses/update_license.js, prettier --write

feat: harden large file previews
  backend/app/controller/file_controller.py
  backend/tests/app/controller/test_file_controller.py
  electron/main/fileRange.ts
  electron/main/fileReader.ts
  electron/main/index.ts
  src/components/Folder/CsvPreviewTable.tsx
  src/components/Folder/FilePreview.tsx
  src/components/Folder/index.tsx
  src/lib/filePreviewLoader.ts
  src/lib/workspaceRelativePath.ts
  src/shared/filePreviewContract.ts
  src/store/chatStore.ts
  src/types/chatbox.d.ts
  test/unit/electron/fileRange.test.ts
  test/unit/electron/fileReaderPreview.test.ts
  test/unit/lib/filePreviewContract.test.ts
  test/unit/lib/filePreviewLoader.test.ts
  test/unit/lib/workspaceRelativePath.test.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: preserve local PDF preview paths
  electron/main/index.ts
  electron/main/localFileUrl.ts
  src/lib/filePreviewLoader.ts
  test/unit/electron/localFileUrl.test.ts
  test/unit/lib/filePreviewLoader.test.ts
Due: node licenses/update_license.js, prettier --write

fix: restore durable run elapsed time
  backend/app/controller/run_controller.py
  backend/tests/app/controller/test_run_control_api.py
  src/store/chatStore.durableReplay.test.ts
  src/store/chatStore.ts
  src/store/projectStore.test.ts
  src/store/projectStore.ts
Due: node licenses/update_license.js, prettier --write

perf: smooth project switching
  src/hooks/useChatStoreAdapter.test.tsx
  src/hooks/useChatStoreAdapter.tsx
  src/lib/projectCache.ts
  src/store/projectStore.test.ts
  src/store/projectStore.ts
Due: node licenses/update_license.js, prettier --write

perf: replace project polling with lifecycle refresh
  src/components/ChatBox/index.tsx
  src/components/Folder/index.tsx
  src/components/Session/SidePanelSections/collectSidePanelOutputFiles.test.ts
  src/components/Session/SidePanelSections/collectSidePanelOutputFiles.ts
  src/components/Session/SidePanelSections/useProjectOutputFiles.test.tsx
  src/components/Session/SidePanelSections/useProjectOutputFiles.ts
  src/hooks/useInterruptedRunStatus.test.tsx
  src/hooks/useInterruptedRunStatus.ts
  test/unit/components/ChatBox.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: isolate artifact changes by run
  backend/app/controller/file_controller.py
  backend/app/utils/file_utils.py
  backend/app/utils/workspace_resolver.py
  backend/tests/app/controller/test_file_controller.py
  backend/tests/app/utils/test_file_utils.py
  src/lib/projectCache.ts
Due: node licenses/update_license.js, prettier --write

fix: normalize interrupted run state after refresh
  src/hooks/useInterruptedRunStatus.test.tsx
  src/hooks/useInterruptedRunStatus.ts
Due: node licenses/update_license.js, prettier --write

feat: add workforce bundle environment contracts
  backend/app/run_journal/__init__.py
  backend/app/run_journal/models.py
  backend/app/run_journal/store.py
  backend/app/workspace_config/__init__.py
  backend/app/workspace_config/manifest.py
  backend/app/workspace_config/models.py
  backend/app/workspace_config/resolver.py
  backend/pyproject.toml
  backend/tests/app/run_journal/test_store.py
  backend/tests/app/workspace_config/__init__.py
  backend/tests/app/workspace_config/test_models.py
  backend/uv.lock
Due: node licenses/update_license.js

feat: add configuration repository git foundation
  backend/app/run_journal/__init__.py
  backend/app/run_journal/models.py
  backend/app/run_journal/store.py
  backend/app/workspace_config/__init__.py
  backend/app/workspace_config/models.py
  backend/app/workspace_git/__init__.py
  backend/app/workspace_git/backend.py
  backend/app/workspace_git/configuration.py
  backend/tests/app/run_journal/test_store.py
  backend/tests/app/workspace_git/__init__.py
  backend/tests/app/workspace_git/test_configuration_repository.py
Due: node licenses/update_license.js

feat: bind environment specs at run admission
  backend/app/agent/agent_model.py
  backend/app/controller/chat_controller.py
  backend/app/model/chat.py
  backend/app/run_journal/store.py
  backend/app/run_runtime/coordinator.py
  backend/app/service/task.py
  backend/app/workspace_config/__init__.py
  backend/app/workspace_config/admission.py
  backend/app/workspace_config/capabilities.py
  backend/app/workspace_config/models.py
  backend/tests/app/agent/test_agent_model.py
  backend/tests/app/controller/test_run_control_api.py
  backend/tests/app/model/test_chat.py
  backend/tests/app/workspace_config/test_admission.py
  backend/tests/app/workspace_config/test_models.py
  src/components/ChatBox/BottomBox/BoxFooter.tsx
  src/components/ChatBox/BottomBox/ThinkingEffortSelect.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/store/chatStore.ts
  src/store/projectStore.test.ts
  src/store/projectStore.ts
  src/types/constants.ts
Due: node licenses/update_license.js, prettier --write

feat: add durable content repository checkpoints
  backend/app/controller/workspace_git_controller.py
  backend/app/router.py
  backend/app/run_journal/__init__.py
  backend/app/run_journal/models.py
  backend/app/run_journal/store.py
  backend/app/workspace_git/__init__.py
  backend/app/workspace_git/backend.py
  backend/app/workspace_git/content.py
  backend/tests/app/controller/test_workspace_git_controller.py
  backend/tests/app/workspace_git/test_content_repository.py
Due: node licenses/update_license.js

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

feat: add lazy project run workspaces
  backend/app/controller/chat_controller.py
  backend/app/controller/workspace_git_controller.py
  backend/app/run_journal/__init__.py
  backend/app/run_journal/models.py
  backend/app/run_journal/store.py
  backend/app/workspace_git/__init__.py
  backend/app/workspace_git/backend.py
  backend/app/workspace_git/content.py
  backend/app/workspace_git/coordinator.py
  backend/app/workspace_git/snapshot.py
  backend/tests/app/controller/test_workspace_git_controller.py
  backend/tests/app/workspace_git/test_coordinator.py
  backend/tests/app/workspace_git/test_snapshot.py
Due: node licenses/update_license.js

fix local HTML relative-link previews
  electron/main/localFileUrl.ts
  src/lib/htmlLocalAssets.ts
  test/unit/electron/localFileUrl.test.ts
  test/unit/lib/htmlLocalAssets.test.ts
Due: node licenses/update_license.js, prettier --write

fix durable run recovery and history UI
  backend/app/run_runtime/__init__.py
  backend/app/run_runtime/coordinator.py
  backend/app/service/single_agent_service.py
  backend/tests/app/run_runtime/test_deadline.py
  backend/tests/app/service/test_single_agent_service.py
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/hooks/useInterruptedRunStatus.test.tsx
  src/hooks/useInterruptedRunStatus.ts
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/lib/events/durableRunEvents.ts
  src/lib/projectCache.ts
  src/lib/taskDuration.test.ts
  src/lib/taskDuration.ts
  src/store/chatStore.ts
  src/store/projectStore.test.ts
  src/store/projectStore.ts
  src/types/chatbox.d.ts
  test/unit/components/TaskWorkLogAccordion.test.tsx
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix durable run UI projection and request churn
  backend/app/agent/prompt.py
  backend/app/model/enums.py
  backend/tests/app/service/test_chat_service.py
  src/components/HistorySidebar/index.tsx
  src/components/Session/SidePanelSections/useProjectOutputFiles.test.tsx
  src/components/Session/SidePanelSections/useProjectOutputFiles.ts
  src/components/Session/SingleAgent/SingleAgentSidePanel.tsx
  src/components/Session/Workforce/WorkforceSidePanel.tsx
  src/lib/projectCache.ts
  src/service/historyApi.test.ts
  src/service/historyApi.ts
  src/store/chatStore.durableReplay.test.ts
  src/store/chatStore.ts
  src/store/pageTabStore.test.ts
  src/store/pageTabStore.ts
  src/store/projectStore.test.ts
  src/store/projectStore.ts
  src/store/spaceStore.test.ts
  src/store/spaceStore.ts
Due: node licenses/update_license.js, prettier --write

feat: add multi-agent git workspaces
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/controller/run_controller.py
  backend/app/controller/workspace_git_controller.py
  backend/app/run_journal/__init__.py
  backend/app/run_journal/models.py
  backend/app/run_journal/store.py
  backend/app/workspace_git/__init__.py
  backend/app/workspace_git/backend.py
  backend/app/workspace_git/content.py
  backend/app/workspace_git/edit.py
  backend/app/workspace_git/lifecycle.py
  backend/app/workspace_git/mutation.py
  backend/app/workspace_git/workforce.py
  backend/main.py
  backend/tests/app/agent/toolkit/test_terminal_workspace.py
  backend/tests/app/controller/test_workspace_git_controller.py
  backend/tests/app/workspace_git/test_edit.py
  backend/tests/app/workspace_git/test_lifecycle.py
  backend/tests/app/workspace_git/test_mutation.py
  backend/tests/app/workspace_git/test_workforce.py
Due: node licenses/update_license.js

feat: add review-first workforce bundle sharing
  backend/app/controller/workspace_bundle_controller.py
  backend/app/router.py
  backend/app/run_journal/__init__.py
  backend/app/run_journal/models.py
  backend/app/run_journal/store.py
  backend/app/workspace_bundle/__init__.py
  backend/app/workspace_bundle/cloud.py
  backend/app/workspace_bundle/installer.py
  backend/app/workspace_config/admission.py
  backend/app/workspace_git/configuration.py
  backend/tests/app/auth/test_local_control.py
  backend/tests/app/workspace_bundle/test_installer.py
  backend/tests/app/workspace_config/test_admission.py
  backend/tests/app/workspace_git/test_configuration_repository.py
Due: node licenses/update_license.js

fix durable resume and preview security boundaries
  backend/app/controller/file_controller.py
  backend/app/controller/run_controller.py
  backend/app/run_journal/store.py
  backend/tests/app/controller/test_file_controller.py
  backend/tests/app/controller/test_run_control_api.py
  backend/tests/app/controller/test_run_controller.py
  backend/tests/app/run_journal/test_recovery.py
  electron/main/index.ts
  electron/main/localFileSecurity.ts
  src/components/Folder/index.tsx
  src/components/Layout/index.tsx
  src/lib/htmlSanitization.test.ts
  src/lib/htmlSanitization.ts
  src/lib/localFileSecurity.test.ts
  src/shared/filePreviewContract.ts
  src/store/chatStore.durableReplay.test.ts
  src/store/chatStore.ts
  test/unit/lib/filePreviewContract.test.ts
Due: node licenses/update_license.js, prettier --write

feat: add policy-gated advanced git
  backend/app/agent/factory/toolkit_assembler.py
  backend/app/agent/toolkit/workspace_git_toolkit.py
  backend/app/agent/tools.py
  backend/app/controller/workspace_git_controller.py
  backend/app/permission_policy/tool_actions.py
  backend/app/run_runtime/tool_checkpoint.py
  backend/app/workspace_config/admission.py
  backend/app/workspace_git/__init__.py
  backend/app/workspace_git/advanced.py
  backend/app/workspace_git/backend.py
  backend/app/workspace_git/publish_policy.py
  backend/app/workspace_git/retention.py
  backend/tests/app/agent/toolkit/test_workspace_git_toolkit.py
  backend/tests/app/controller/test_workspace_git_controller.py
  backend/tests/app/run_runtime/test_tool_checkpoint.py
  backend/tests/app/workspace_config/test_admission.py
  backend/tests/app/workspace_git/test_advanced.py
  src/components/ProjectPageSidebar/SpaceSwitchDropdown.tsx
  src/components/TopBar/index.tsx
  src/components/Workspace/WorkspaceProjectPicker.tsx
  src/components/Workspace/WorkspaceVersionHistoryDialog.tsx
  src/service/workspaceGitApi.test.ts
  src/service/workspaceGitApi.ts
Due: node licenses/update_license.js, prettier --write
