Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

fix: address bytecii's review comments
  .github/workflows/pre-commit.yml
  backend/app/component/model_validation.py
  backend/app/controller/model_controller.py
  backend/tests/app/component/test_model_validation.py
  backend/tests/app/controller/test_model_controller.py
Due: node licenses/update_license.js

fix: address bytecii's review comments
  backend/tests/app/component/test_model_validation.py
  backend/tests/app/controller/test_model_controller.py
Due: node licenses/update_license.js

fix: apply pre-commit auto-fixes (end-of-file and ruff format)
  backend/tests/app/component/test_model_validation.py
  backend/tests/app/controller/test_model_controller.py
Due: node licenses/update_license.js

remove compress venv.zip & add uv sync when init
  config/before-sign.cjs
  electron-builder.json
  electron/main/index.ts
  electron/main/install-deps.ts
  electron/main/utils/process.ts
Due: node licenses/update_license.js, prettier --write

filter add pip & setuptools & wheel
  .github/workflows/build-view.yml
  electron-builder.json
Due: none

enhance: reuse readEnvValue to make readEnvValueWithPriority
  electron/main/index.ts
  electron/main/init.ts
  electron/main/utils/envUtil.ts
  electron/main/utils/process.ts
Due: node licenses/update_license.js, prettier --write

chore: update to local dev
  .env.development
  src/pages/Setting/General.tsx
Due: node licenses/update_license.js, prettier --write

chore: update grouped history endpoint to return no. of triggers
  server/app/controller/chat/history_controller.py
  server/app/model/chat/chat_history_grouped.py
Due: node licenses/update_license.js

chore: disable on max reach and debounce execution reconnection
  src/components/Trigger/TriggerDialog.tsx
  src/hooks/queries/useTriggerQueries.ts
  src/hooks/useExecutionSubscription.ts
  src/i18n/locales/ar/triggers.json
  src/i18n/locales/de/triggers.json
  src/i18n/locales/en-us/triggers.json
  src/i18n/locales/es/triggers.json
  src/i18n/locales/fr/triggers.json
  src/i18n/locales/it/triggers.json
  src/i18n/locales/ja/triggers.json
  src/i18n/locales/ko/triggers.json
  src/i18n/locales/ru/triggers.json
  src/i18n/locales/zh-Hans/triggers.json
  src/i18n/locales/zh-Hant/triggers.json
  src/lib/queryClient.ts
  src/pages/Home.tsx
  src/pages/Project/Triggers.tsx
  src/types/index.ts
Due: node licenses/update_license.js, prettier --write

Fix Duplicate task execution after network reconnection
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: convert test classes to functions and add app/component to pre-commit find
  .github/workflows/pre-commit.yml
  backend/tests/app/component/test_model_validation.py
Due: node licenses/update_license.js

feat: add toolkit name to icon mapping helper
  src/lib/toolkitIcons.tsx
Due: node licenses/update_license.js, prettier --write

feat: display toolkit-specific icons in workflow nodes
  src/components/WorkFlow/node.tsx
Due: node licenses/update_license.js, prettier --write

feat(backend): enrich SSE error events with error_code
  backend/app/service/chat_service.py
Due: node licenses/update_license.js

feat(server): add PATCH /provider/{id}/invalidate endpoint
  server/app/controller/provider/provider_controller.py
Due: node licenses/update_license.js

feat: add proxyFetchPatch helper and error_code to AgentMessage type
  src/api/http.ts
  src/types/chatbox.d.ts
Due: node licenses/update_license.js, prettier --write

feat: add model error toast with settings link
  src/components/Toast/modelErrorToast.tsx
Due: node licenses/update_license.js, prettier --write

feat: show toast and invalidate provider on model errors
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

fix: correct is_valid mapping and show provider status in UI
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

feat(i18n): add model error and provider status locale keys
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/setting.json
Due: none

fix: Mac trackpad horizontal scroll triggers zoom in Agent Canvas (#1211)
  src/components/WorkFlow/index.tsx
  src/components/WorkFlow/workflowWheelHandler.ts
  test/unit/components/WorkFlow/workflowWheelHandler.test.ts
Due: node licenses/update_license.js, prettier --write

WIP: skill_toolkit
  backend/app/agent/factory/browser.py
  backend/app/agent/factory/developer.py
  backend/app/agent/factory/document.py
  backend/app/agent/factory/multi_modal.py
  backend/app/agent/prompt.py
  backend/app/agent/toolkit/skill_toolkit.py
  backend/app/service/chat_service.py
  backend/app/utils/file_utils.py
  backend/pyproject.toml
  backend/uv.lock
  electron-builder.json
  electron/main/index.ts
  electron/preload/index.ts
  resources/example-skills/code-reviewer/SKILL.md
  resources/example-skills/data-analyzer/SKILL.md
  resources/example-skills/data-analyzer/scripts/analyze.py
  resources/example-skills/report-writer/SKILL.md
  src/components/ChatBox/MessageItem/UserMessageCard.tsx
  src/lib/skillToolkit.ts
  src/pages/Capabilities/Skills.tsx
  src/pages/Capabilities/components/SkillListItem.tsx
  src/pages/Capabilities/components/SkillUploadDialog.tsx
  src/store/skillsStore.ts
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

update
  backend/.pre-commit-config.yaml
  backend/app/patches/strip_think_tags.py
  backend/benchmark/README.md
  backend/benchmark/answer/0/hello_world.py
  backend/benchmark/answer/1/python313_features.md
  backend/benchmark/answer/2/yc_w25_b2b_ai.csv
  backend/benchmark/checker/1.py
  backend/benchmark/checker/2.py
  backend/benchmark/dataset/0.json
  backend/benchmark/dataset/1.json
  backend/benchmark/dataset/2.json
  backend/benchmark/grader/0.py
  backend/benchmark/grader/1.py
  backend/benchmark/grader/2.py
  backend/benchmark/main.py
  backend/main.py
  backend/pyproject.toml
Due: node licenses/update_license.js

update
  .env.development
  .markdownlintignore
  backend/benchmark/grader/0.py
  backend/benchmark/grader/1.py
  backend/benchmark/grader/2.py
Due: node licenses/update_license.js

update
  .env.development
Due: none

chore: fix mcp is called synchronously. (#1101)
  backend/app/agent/listen_chat_agent.py
Due: node licenses/update_license.js

chore: bump up camel version to 0.2.86
  backend/pyproject.toml
  backend/uv.lock
  server/pyproject.toml
  server/uv.lock
Due: none

enhance example task
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/layout.json
Due: none

chore: bump up camel version to 0.2.86 (#1222)
  backend/pyproject.toml
  backend/uv.lock
  server/pyproject.toml
  server/uv.lock
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/layout.json
Due: none

WIP skill config by user
  backend/app/agent/toolkit/skill_toolkit.py
  backend/app/api/skill_config_api.py
  backend/app/model/chat.py
  backend/app/router.py
  backend/app/service/chat_service.py
  backend/scripts/init_skills_config.py
  electron/main/index.ts
  electron/preload/index.ts
  src/store/skillsStore.ts
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

minor enhance
  electron/main/init.ts
  electron/main/utils/process.ts
Due: node licenses/update_license.js, prettier --write

Fix add llvmlite to mac intel (#1205)
  .github/workflows/build-view.yml
  config/before-sign.cjs
  electron-builder.json
  electron/main/index.ts
  electron/main/init.ts
  electron/main/install-deps.ts
  electron/main/utils/process.ts
  src/components/InstallStep/InstallDependencies.tsx
Due: node licenses/update_license.js, prettier --write

fix: enable proxy support to resolve (#1125)
  .env.development
  electron/main/index.ts
  electron/main/init.ts
  electron/main/utils/envUtil.ts
  electron/main/utils/process.ts
  resources/scripts/download.js
  src/pages/Setting/General.tsx
Due: node licenses/update_license.js, prettier --write

Implement refactor file list alignment and layout inconsistencies
  src/components/Folder/index.tsx
  test/unit/components/Folder/FileTree.test.tsx
Due: node licenses/update_license.js, prettier --write

revert PR1125
  .env.development
  electron/main/index.ts
  electron/main/init.ts
  electron/main/utils/envUtil.ts
  electron/main/utils/process.ts
  resources/scripts/download.js
  src/pages/Setting/General.tsx
Due: node licenses/update_license.js, prettier --write

revert PR1125 (#1225)
  .env.development
  electron/main/index.ts
  electron/main/init.ts
  electron/main/utils/envUtil.ts
  electron/main/utils/process.ts
  resources/scripts/download.js
  src/pages/Setting/General.tsx
Due: node licenses/update_license.js, prettier --write

fix/proxy_bug
  electron/main/init.ts
Due: node licenses/update_license.js, prettier --write

Remove unnecessary code lines
  test/unit/components/Folder/FileTree.test.tsx
Due: node licenses/update_license.js, prettier --write

chore: update camel version to 0287
  backend/pyproject.toml
  backend/uv.lock
  server/pyproject.toml
  server/uv.lock
Due: none
