Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write, python licenses/update_license.py . licenses/license_template.txt

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license_ts.js . licenses/license_template_ts.txt",
    "eslint --fix",
    "prettier --write"
  ],
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,md}": ["prettier --write"],
  "*.py": ["python licenses/update_license.py . licenses/license_template.txt"]
}

fix: revert to vibrancy electron style (#1042)
  electron/main/index.ts
  electron/main/native/macos-window.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

chore: update camel version
  .github/ISSUE_TEMPLATE/bug_report.yml
  backend/app/utils/toolkit/terminal_toolkit.py
  backend/pyproject.toml
  backend/uv.lock
  package.json
  server/pyproject.toml
  server/uv.lock
Due: prettier --write, python licenses/update_license.py . licenses/license_template.txt

chore: update the script
  .lintstagedrc.json
  licenses/update_license.js
  licenses/update_license.py
Due: eslint --fix, prettier --write, python licenses/update_license.py . licenses/license_template.txt

chore: improve performance
  backend/app/utils/workforce.py
Due: python licenses/update_license.py . licenses/license_template.txt

Fix: workforce subagent summary (#1050)
  backend/app/utils/workforce.py
Due: python licenses/update_license.py . licenses/license_template.txt

chore: add special hook
  package.json
Due: prettier --write

chore: revert changes
  .gitignore
  .prettierignore
  .prettierrc.json
  .vscode/extensions.json
  .vscode/settings.json
  eslint.config.js
  package.json
Due: eslint --fix, prettier --write

chore: refactor template name
  licenses/license_template_py.txt
Due: none

chore: refactor package json
  package.json
Due: prettier --write

Remove empty line in .gitignore
  .gitignore
Due: none

remove
  backend/app/utils/agent.py
Due: python licenses/update_license.py . licenses/license_template.txt

remove
  backend/app/utils/workforce.py
Due: python licenses/update_license.py . licenses/license_template.txt

Removed the .vscode/.debug.script.mjs file.
  .gitignore
  .vscode/.debug.script.mjs
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  src/components/SearchHistoryDialog.tsx
  src/pages/Login.tsx
  test/unit/service/stackAuthApi.test.ts
  vite.config.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

Update terminal_toolkit.py
  backend/app/utils/toolkit/terminal_toolkit.py
Due: python licenses/update_license.py . licenses/license_template.txt

refactor: wrap CAMEL's RetrievalToolkit with raw text support
  backend/app/utils/toolkit/rag_toolkit.py
  backend/tests/unit/utils/toolkit/test_rag_toolkit.py
Due: python licenses/update_license.py . licenses/license_template.txt

WIP: dark mode fixes
  src/components/ChatBox/MessageItem/UserMessageCard.tsx
  src/components/SideBar/index.tsx
  src/components/TopBar/index.tsx
  src/components/ui/tooltip.tsx
  src/pages/History.tsx
  src/pages/Setting/Models.tsx
  src/style/index.css
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

:bug: Prebuilt terminal venv found but Python executable missing
  config/before-sign.cjs
  electron/main/install-deps.ts
  electron/main/utils/process.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

fix: correct comment about streaming error cause
  backend/app/utils/agent.py
Due: python licenses/update_license.py . licenses/license_template.txt

move aur to packaging/aur, add version update script
  aur/install-appimage.sh
  packaging/aur/.SRCINFO
  packaging/aur/.gitignore
  packaging/aur/PKGBUILD
  packaging/aur/install-appimage.sh
  packaging/aur/update-version.sh
Due: none

fix blur
  src/style/index.css
Due: prettier --write

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

redesign onboarding
  src/components/InstallStep/Carousel.tsx
  src/components/InstallStep/InstallDependencies.tsx
  src/components/InstallStep/Permissions.tsx
  src/components/TopBar/index.tsx
  src/style/index.css
  tailwind.config.js
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

:bug: Prebuilt terminal venv found but Python executable missing (#1056)
  config/before-sign.cjs
  electron/main/install-deps.ts
  electron/main/utils/process.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

fix blank page (#1057)
  src/style/index.css
Due: prettier --write

enhance: Prebuilt terminal venv found but Python executable missing PR1056
  config/before-sign.cjs
  electron/main/install-deps.ts
  electron/main/utils/process.ts
  test/mocks/environmentMocks.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

Refactor: Rename model_config_override to custom_model_config
  backend/app/model/chat.py
  backend/app/service/chat_service.py
  backend/app/service/task.py
  backend/app/utils/agent.py
  backend/tests/unit/model/test_agent_model_config.py
  src/i18n/locales/en-us/workforce.json
Due: prettier --write, python licenses/update_license.py . licenses/license_template.txt

add fallback back
  electron/main/utils/process.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

enhance: Prebuilt terminal venv found but Python executable missing P… (#1059)
  config/before-sign.cjs
  electron/main/install-deps.ts
  electron/main/utils/process.ts
  test/mocks/environmentMocks.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

feat: enhance trigger schedule picker and UI components
  src/assets/icon/lark.png
  src/assets/icon/slack.svg
  src/assets/icon/telegram.svg
  src/components/Folder/index.tsx
  src/components/Trigger/SchedulePicker.tsx
  src/components/Trigger/TriggerDialog.tsx
  src/components/ui/card.tsx
  src/components/ui/input-select.tsx
  src/components/ui/popover.tsx
  src/i18n/locales/ar/triggers.json
  src/i18n/locales/de/triggers.json
  src/i18n/locales/en-us/triggers.json
  src/i18n/locales/es/triggers.json
  src/i18n/locales/fr/triggers.json
  src/i18n/locales/it/triggers.json
  src/i18n/locales/ja/triggers.json
  src/i18n/locales/ko/triggers.json
  src/i18n/locales/ru/triggers.json
  src/i18n/locales/zh-Hans/triggers.json
  src/i18n/locales/zh-Hant/triggers.json
  src/pages/Home.tsx
  src/pages/Project/Triggers.tsx
  src/style/index.css
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

remove custom css for topbar
  src/components/TopBar/index.css
  src/components/TopBar/index.tsx
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

fix vibrancy electron style
  electron/main/index.ts
  electron/main/native/macos-window.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

layout restructure for topbar
  src/components/TopBar/index.tsx
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

Revert "enhance: Prebuilt terminal venv found but Python executable missing P…"
  config/before-sign.cjs
  electron/main/install-deps.ts
  electron/main/utils/process.ts
  test/mocks/environmentMocks.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

Revert "enhance: Prebuilt terminal venv found but Python executable missing P…" (#1062)
  config/before-sign.cjs
  electron/main/install-deps.ts
  electron/main/utils/process.ts
  test/mocks/environmentMocks.ts
Due: node licenses/update_license_ts.js . licenses/license_template_ts.txt, eslint --fix, prettier --write

release: v0.0.82
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/utils/toolkit/terminal_toolkit.py
  package.json
Due: prettier --write, python licenses/update_license.py . licenses/license_template.txt

release: v0.0.82 (#1063)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/utils/toolkit/terminal_toolkit.py
  package.json
Due: prettier --write, python licenses/update_license.py . licenses/license_template.txt

choe: revert env
  .env.development
Due: none

enhance: use _schedule_async_task to avoid async race conditions in generating functions
  backend/app/utils/agent.py
Due: python licenses/update_license.py . licenses/license_template.txt
