Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

fix(security): require CHAT_SHARE_SECRET_KEY env var (#1527)
  server/app/model/chat/chat_share.py
Due: node licenses/update_license.js

fix(security): update .env.example with CHANGE_ME placeholders (#1527)
  server/.env.example
Due: none

fix(anthropic): strip strict from tool schemas to fix 400 error (#1649)
  backend/app/agent/agent_model.py
Due: node licenses/update_license.js

fix(groq): ensure additionalProperties:false on all nested objects in tool schemas (#1511)
  backend/app/agent/agent_model.py
Due: node licenses/update_license.js

fix(groq): ensure additionalProperties: false on all object schemas (#1511)
  backend/app/agent/agent_model.py
Due: node licenses/update_license.js

style: fix ruff formatting
  backend/app/agent/agent_model.py
Due: node licenses/update_license.js

fix(anthropic): coerce max_tokens to int to fix validation error (#1519)
  backend/app/agent/agent_model.py
Due: node licenses/update_license.js

fix: Linux AppImage OAuth auth hang (#1525)
  electron-builder.json
  electron/main/index.ts
  electron/main/utils/linuxProtocol.ts
Due: node licenses/update_license.js, prettier --write

fix: escape backslashes in .desktop Exec field (CodeQL CWE-116)
  electron/main/utils/linuxProtocol.ts
Due: node licenses/update_license.js, prettier --write

fix: prevent EROFS on Linux AppImage first launch (#1743)
  electron/main/utils/process.ts
Due: node licenses/update_license.js, prettier --write

feat: add DELETE project endpoint (#1699)
  server/app/domains/space/api/space_controller.py
  server/app/domains/space/service/space_service.py
Due: node licenses/update_license.js

fix: memoize get_can_use_tools to prevent KeyError 'search_google' in parallel subtasks (#1741)
  backend/app/agent/toolkit/search_toolkit.py
Due: node licenses/update_license.js

Polish ux and ui flow for new open connector to replace original build in connector
  src/api/connectors.ts
  src/components/AddWorker/ToolSelect.tsx
  src/components/ChatBox/BottomBox/PickerPanel.tsx
  src/i18n/locales/ar/connectors.json
  src/i18n/locales/ar/index.ts
  src/i18n/locales/de/connectors.json
  src/i18n/locales/de/index.ts
  src/i18n/locales/en-us/connectors.json
  src/i18n/locales/en-us/index.ts
  src/i18n/locales/es/connectors.json
  src/i18n/locales/es/index.ts
  src/i18n/locales/fr/connectors.json
  src/i18n/locales/fr/index.ts
  src/i18n/locales/it/connectors.json
  src/i18n/locales/it/index.ts
  src/i18n/locales/ja/connectors.json
  src/i18n/locales/ja/index.ts
  src/i18n/locales/ko/connectors.json
  src/i18n/locales/ko/index.ts
  src/i18n/locales/ru/connectors.json
  src/i18n/locales/ru/index.ts
  src/i18n/locales/zh-Hans/connectors.json
  src/i18n/locales/zh-Hans/index.ts
  src/i18n/locales/zh-Hant/connectors.json
  src/i18n/locales/zh-Hant/index.ts
  src/pages/Connectors/ConnectorGateway.tsx
  src/pages/Connectors/MCP.tsx
  src/pages/Connectors/components/AddConnectorDialog.tsx
  src/pages/Connectors/components/AddCustomConnectorDialog.tsx
  src/pages/Connectors/components/GoogleSearchPanel.tsx
  src/pages/Connectors/components/MCPAddDialog.tsx
  src/pages/Connectors/components/MCPConfigDialog.tsx
  src/pages/Connectors/components/MCPList.tsx
  src/pages/Connectors/components/MCPListItem.tsx
  src/pages/Connectors/components/MCPMarket.tsx
  src/pages/Connectors/components/types.ts
  src/pages/Connectors/index.tsx
Due: node licenses/update_license.js, prettier --write

fix: polish connector gateway list behavior
  src/api/connectors.ts
  src/pages/Connectors/ConnectorGateway.tsx
  src/pages/Connectors/components/AddConnectorDialog.tsx
Due: node licenses/update_license.js, prettier --write

fix: improve connector gateway catalog loading
  src/api/connectors.ts
  src/components/ChatBox/BottomBox/PickerPanel.tsx
  src/i18n/locales/ar/connectors.json
  src/i18n/locales/de/connectors.json
  src/i18n/locales/en-us/connectors.json
  src/i18n/locales/es/connectors.json
  src/i18n/locales/fr/connectors.json
  src/i18n/locales/it/connectors.json
  src/i18n/locales/ja/connectors.json
  src/i18n/locales/ko/connectors.json
  src/i18n/locales/ru/connectors.json
  src/i18n/locales/zh-Hans/connectors.json
  src/i18n/locales/zh-Hant/connectors.json
  src/pages/Connectors/ConnectorGateway.tsx
  src/pages/Connectors/components/AddConnectorDialog.tsx
Due: node licenses/update_license.js, prettier --write

fix: preserve active space during hydration
  src/store/spaceStore.test.ts
  src/store/spaceStore.ts
Due: node licenses/update_license.js, prettier --write

fix: hide task root entries from agent folder
  backend/app/controller/file_controller.py
  backend/app/memory/service.py
  backend/app/model/chat.py
  backend/app/utils/workspace_paths.py
  backend/tests/app/model/test_chat.py
  electron/main/fileReader.ts
  src/components/Session/SidePanelSections/AgentFolderSection.tsx
  src/components/Session/SidePanelSections/collectSidePanelOutputFiles.ts
  src/lib/agentFileFilters.ts
  test/unit/lib/agentFileFilters.test.ts
Due: node licenses/update_license.js, prettier --write

fix: ignore stale human replies
  backend/app/controller/chat_controller.py
  backend/tests/app/controller/test_chat_controller.py
  src/components/ChatBox/index.tsx
  test/unit/components/ChatBox.test.tsx
Due: node licenses/update_license.js, prettier --write

chore: upload OSS builds to separate S3 prefix
  .github/workflows/build.yml
Due: none

bug fix
  README.md
  README_CN.md
  README_JA.md
  README_PT-BR.md
Due: none

Fix release path and README TOC
  .github/workflows/build.yml
  README.md
  README_CN.md
  README_JA.md
Due: none

release v1.0.2
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
  test/unit/electron/githubReleaseCdnProvider.test.ts
Due: node licenses/update_license.js, prettier --write

fix: open session shell in the Space's local folder when folder-backed
  src/components/Session/PreviewPanel/tabs/terminal/TerminalTab.tsx
  test/unit/components/Session/TerminalTab.test.tsx
Due: node licenses/update_license.js, prettier --write

merge main branch resolve conflicts
  src/components/Session/PreviewPanel/index.tsx
Due: node licenses/update_license.js, prettier --write

Inital design for dif review panel
  electron/main/index.ts
  electron/main/reviewChanges.ts
  electron/preload/index.ts
  src/components/Folder/index.tsx
  src/components/Session/PreviewPanel/tabKinds.tsx
  src/components/Session/PreviewPanel/tabs/ReviewTab.tsx
  src/components/Session/PreviewPanel/tabs/browser/BrowserTab.tsx
  src/components/Session/PreviewPanel/tabs/review/DiffFileCard.tsx
  src/components/Session/PreviewPanel/tabs/review/ReviewFileTree.tsx
  src/components/Session/PreviewPanel/tabs/review/reviewFixture.ts
  src/components/Session/PreviewPanel/tabs/review/reviewSources.ts
  src/components/Session/PreviewPanel/tabs/review/useReviewChanges.ts
  src/lib/monacoWorkers.ts
  src/pages/Connectors/components/AddCustomConnectorDialog.tsx
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

fix shiny text loop animation speed and timing
  src/components/ui/ShinyText/ShinyText.css
Due: none

fix wordcarousel and progress reduced animation
  src/components/ui/WordCarousel/WordCarousel.css
Due: none

Bug fix and unify filetree styles
  electron/main/reviewChanges.ts
  src/components/Folder/index.tsx
  src/components/Session/PreviewPanel/tabKinds.tsx
  src/components/Session/PreviewPanel/tabs/ReviewTab.tsx
  src/components/Session/PreviewPanel/tabs/review/DiffFileCard.tsx
  src/components/Session/PreviewPanel/tabs/review/ReviewFileTree.tsx
  src/components/Session/PreviewPanel/tabs/review/reviewFixture.ts
  src/components/Session/PreviewPanel/tabs/review/useReviewChanges.ts
  test/unit/components/Folder/FileTree.test.tsx
  test/unit/components/Session/PreviewPanel.test.tsx
  test/unit/components/Session/ReviewFileTree.test.tsx
  test/unit/components/Session/ReviewTab.test.tsx
  test/unit/components/Session/useReviewChanges.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: address pre-commit CI failures (trailing whitespace + ruff lint + ruff-format)
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/service/chat_service.py
  backend/app/utils/file_utils.py
Due: node licenses/update_license.js

chore(actions): remove new_task_state and add_task actions
  backend/app/controller/chat_controller.py
  backend/app/model/chat.py
  backend/app/service/chat_service.py
  backend/app/service/task.py
  backend/tests/app/service/test_chat_service.py
  server/app/domains/remote_control/schema/schemas.py
  server/app/domains/remote_control/service/remote_control_service.py
  src/hooks/useRemoteControlBridge.ts
  src/store/chatStore.ts
  src/types/constants.ts
  test/integration/chatStore/activeQueue.test.tsx
Due: node licenses/update_license.js, prettier --write
