Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

fix: reconcile Session navigation status (#2001)
  backend/tests/app/run_journal/test_session_status_fixture.py
  src/components/SpaceSidebar/index.tsx
  src/hooks/useSessionNavStatuses.ts
  src/lib/sessionNavLead.test.ts
  src/lib/sessionNavLead.ts
  src/service/projectRunsApi.ts
  src/service/sessionNavStatus.ts
  src/store/projectEventStore.ts
  src/store/projectStore.ts
  test/fixtures/session-status/journal-outcomes.json
  test/unit/components/SidebarSessionDeletion.test.tsx
  test/unit/lib/projectAchievement.test.ts
  test/unit/store/projectStore.test.ts
  test/unit/store/sessionNavStatus.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: preserve terminal scrollback across Session switches (#1991)
  package.json
  src/components/Session/PreviewPanel/index.tsx
  src/components/Session/PreviewPanel/tabs/terminal/ShellTerminal.tsx
  src/components/Session/PreviewPanel/tabs/terminal/TerminalTab.tsx
  test/e2e/terminal-scrollback/main.cjs
  test/e2e/terminal-scrollback/preload.cjs
  test/e2e/terminal-scrollback/renderer.tsx
  test/e2e/terminal-scrollback/verify.mjs
  test/unit/components/Session/PreviewPanel.test.tsx
  test/unit/components/Session/ShellTerminal.test.tsx
  test/unit/components/Session/TerminalTab.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: show direct Task checkpoints in version history (#1992)
  backend/app/workspace_git/advanced.py
  backend/tests/app/workspace_git/history_fixture.py
  backend/tests/app/workspace_git/test_history.py
  src/components/Workspace/workspaceVersionHistoryView.ts
  test/integration/components/WorkspaceVersionHistory.test.tsx
  test/unit/components/WorkspaceVersionHistoryView.test.ts
Due: node licenses/update_license.js, prettier --write

fix: improve Bundle sharing selection contrast (#1994)
  src/components/WorkspaceConfiguration/WorkspaceBundleSaveDialog.tsx
  test/unit/components/WorkspaceConfiguration/WorkspaceBundleSaveDialog.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: recover failed Bundle imports (#1995)
  backend/app/run_journal/store.py
  backend/tests/app/controller/test_workspace_bundle_controller.py
  backend/tests/app/workspace_bundle/test_installer.py
  src/components/Home/NewSpaceDialog.tsx
  src/components/WorkspaceBundle/WorkspaceBundleInstallWizard.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/routers/LegacyRouteCompatibility.tsx
  test/unit/components/WorkspaceBundle/WorkspaceBundleInstallWizard.test.tsx
  test/unit/routers/LegacyRouteCompatibility.test.tsx
Due: node licenses/update_license.js, prettier --write

test: give sharing contrast cases a complete review fixture
  test/unit/components/WorkspaceConfiguration/WorkspaceBundleSaveDialog.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: preflight Bundle references before publishing (#1998)
  backend/app/controller/workspace_config_controller.py
  backend/app/workspace_bundle/authoring.py
  backend/tests/app/controller/test_workspace_config_controller.py
  backend/tests/app/workspace_bundle/test_authoring.py
  src/components/WorkspaceConfiguration/WorkspaceBundleSaveDialog.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/service/spaceModelDiscovery.ts
  src/service/workspaceBundleReferencePreflight.ts
  src/service/workspaceConfigurationApi.ts
  test/unit/components/WorkspaceConfiguration/WorkspaceBundleSaveDialog.test.tsx
  test/unit/service/spaceModelDiscovery.test.ts
  test/unit/service/workspaceBundleReferencePreflight.test.ts
Due: node licenses/update_license.js, prettier --write

fix: show durable failure details when a task has no final reply (#1986)
  backend/tests/app/controller/test_run_controller.py
  src/components/ChatBox/MessageItem/TaskFailureSummary.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/service/runUsageReconciliation.ts
  src/store/chatStore.ts
  test/unit/components/ChatBox/UserQueryGroup.test.tsx
  test/unit/service/runUsageReconciliation.test.ts
  test/unit/store/chatStore.failureFacts.test.ts
Due: node licenses/update_license.js, prettier --write

fix: preserve approval terminal reasons (#1990)
  backend/app/permission_policy/runtime.py
  backend/app/run_journal/store.py
  backend/tests/app/permission_policy/test_permission_runtime.py
  backend/tests/app/run_journal/test_approval_terminal_receipts.py
  src/components/ChatBox/EventTimeline/presentationPolicy.ts
  src/components/ChatBox/MessageItem/HumanInteractionCard.tsx
  src/components/ChatBox/TimelineModes/TrajectoryTimeline.tsx
  src/components/ChatBox/index.tsx
  src/hooks/useHumanInteractionExpiry.ts
  src/hooks/useInterruptedRunStatus.ts
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/lib/approvalPresentation.ts
  src/lib/projector/chat/adapter.ts
  src/lib/projector/chat/presentation/timelineCalls.ts
  src/lib/projector/chat/types.ts
  src/lib/projector/reduce.ts
  src/lib/projector/runSummary.ts
  src/lib/projector/types.ts
  src/service/humanInteractionApi.ts
  src/store/chatStore.ts
  test/unit/api/controlRecovery.test.tsx
  test/unit/components/ChatBox.spaceModelSelection.test.tsx
  test/unit/components/ChatBox/MessageItem/HumanInteractionCard.test.tsx
  test/unit/components/ChatBox/TimelineModes.test.tsx
  test/unit/hooks/useInterruptedRunStatus.test.tsx
  test/unit/lib/approvalTerminalReasons.test.ts
  test/unit/service/humanInteractionApi.test.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: reconcile historical follow-up input mirrors (#2000)
  src/components/ChatBox/EventTimeline/presentationPolicy.ts
  test/fixtures/failedFollowupHistory.json
  test/unit/components/ChatBox/EventTimeline/transcriptFallbacks.test.ts
  test/unit/components/ChatBox/failedFollowupHistory.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: scope Browser previews to each Run (#2002)
  src/store/chatStore.ts
  test/e2e/preview-browser/verify.mjs
  test/unit/components/Session/PreviewBrowserLayer.test.tsx
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: clarify paid trial usage messages (#1996)
  src/components/ChatBox/index.tsx
  src/hooks/useUsageIncidentBanner.ts
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/lib/trialQuotaCopy.ts
  src/lib/usageLimitBanner.ts
  src/store/usageNoticeStore.ts
  test/unit/components/ChatBox.test.tsx
  test/unit/components/TrialQuotaNotice.test.tsx
  test/unit/i18n/trialQuotaCopy.test.ts
  test/unit/lib/trialQuotaCopy.test.ts
Due: node licenses/update_license.js, prettier --write

test: mock Space store subscriptions in Workspace tests
  test/unit/components/Workspace.modelSelection.test.tsx
  test/unit/components/Workspace.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: format quota failure messages safely (#2003)
  backend/tests/app/component/test_error_format.py
  src/api/http.ts
  src/components/ChatBox/MessageItem/AgentMessageCard.tsx
  src/components/ChatBox/index.tsx
  src/components/ChatBox/taskErrorPresentation.ts
  src/components/Trigger/ExecutionLogs.tsx
  src/components/Workspace/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/lib/errorEnvelope.ts
  src/lib/localError.ts
  src/lib/notifyError.ts
  src/lib/responseError.ts
  src/lib/spaceModelBinding.ts
  src/lib/usageErrors.ts
  src/store/chatStore.ts
  test/unit/api/http.quotaPresentation.test.tsx
  test/unit/components/ChatBox/MessageItem/AgentMessageCardFeedback.test.tsx
  test/unit/components/ChatBox/TimelineModes.test.tsx
  test/unit/components/Workspace.modelSelection.test.tsx
  test/unit/components/Workspace.test.tsx
  test/unit/lib/errorPresentation.test.ts
  test/unit/lib/notifyError.localCopy.test.tsx
  test/unit/lib/notifyError.test.ts
  test/unit/store/chatStore.quotaAdmission.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: scope Bundle install proposals to the caller Space binding
  backend/app/controller/workspace_bundle_controller.py
  backend/tests/app/controller/test_workspace_bundle_controller.py
Due: node licenses/update_license.js

fix: reclaim writer leases held by lost Attempts
  backend/app/run_journal/models.py
  backend/app/run_journal/store.py
  backend/app/workspace_git/content.py
  backend/app/workspace_git/mutation.py
  backend/app/workspace_git/scheduler.py
  backend/main.py
  backend/tests/app/workspace_git/test_scheduler.py
  backend/tests/app/workspace_runtime/test_send_now.py
  backend/tests/app/workspace_runtime/test_session_entry.py
  backend/tests/app/workspace_runtime/test_store.py
Due: node licenses/update_license.js

test: bind writer lifecycle context to its Attempt
  backend/tests/app/agent/toolkit/test_writer_lifecycle.py
Due: node licenses/update_license.js

test: expect timed_out after a managed Run deadline settles
  backend/tests/app/workspace_runtime/test_service.py
Due: node licenses/update_license.js

fix: guard Bundle install propose and Space lookup by caller binding
  backend/app/controller/workspace_bundle_controller.py
  backend/tests/app/controller/test_workspace_bundle_controller.py
Due: node licenses/update_license.js

fix: finalize timed-out Runs and release their Git writer
  backend/app/artifacts.py
  backend/app/workspace_git/lifecycle.py
  backend/app/workspace_git/scheduler.py
  backend/tests/app/workspace_git/test_lifecycle.py
  backend/tests/app/workspace_git/test_scheduler.py
Due: node licenses/update_license.js

fix: treat timed-out Runs as terminal across the desktop UI
  src/components/ChatBox/TimelineModes/TrajectoryTimeline.tsx
  src/components/ChatBox/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/service/controlOperations.ts
  src/store/chatStore.ts
  src/store/projectStore.ts
  test/unit/api/controlRecovery.test.tsx
  test/unit/components/ChatBox/TimelineModes.test.tsx
  test/unit/lib/approvalTerminalReasons.test.ts
  test/unit/store/chatStore.failureFacts.test.ts
Due: node licenses/update_license.js, prettier --write

fix: renumber the terminal reason migration to v42 and harden Run stop causes
  backend/app/controller/chat_controller.py
  backend/app/run_journal/managed_context_projection.py
  backend/app/run_journal/store.py
  backend/app/run_journal/transitions.py
  backend/app/run_runtime/coordinator.py
  backend/tests/app/run_journal/test_run_terminal_reason.py
  backend/tests/app/run_runtime/test_deadline.py
  backend/tests/app/workspace_runtime/test_managed_context_source.py
  backend/tests/app/workspace_runtime/test_send_now.py
  backend/tests/app/workspace_runtime/test_session_entry.py
  backend/tests/app/workspace_runtime/test_store.py
Due: node licenses/update_license.js

fix: keep reclaimed writer leases safe for queued Resumes and written Runs
  backend/app/run_journal/__init__.py
  backend/app/run_journal/store.py
  backend/app/workspace_git/__init__.py
  backend/app/workspace_git/scheduler.py
  backend/main.py
  backend/tests/app/agent/toolkit/test_terminal_workspace.py
  backend/tests/app/workspace_git/test_scheduler.py
Due: node licenses/update_license.js

fix: guard legacy Brain routes with the Desktop capability
  backend/app/__init__.py
  backend/app/auth/__init__.py
  backend/app/auth/local_control.py
  backend/app/controller/mcp_controller.py
  backend/app/controller/message_controller.py
  backend/app/controller/model_controller.py
  backend/app/controller/skill_controller.py
  backend/app/controller/task_controller.py
  backend/app/controller/tool_controller.py
  backend/app/controller/workspace_controller.py
  backend/tests/app/auth/test_local_control.py
Due: node licenses/update_license.js

fix: deliver committed human decisions despite request cancellation
  backend/app/controller/chat_controller.py
  backend/app/controller/run_controller.py
  backend/app/service/task.py
  backend/tests/app/controller/test_resumed_gui_input.py
  backend/tests/app/controller/test_run_control_api.py
Due: node licenses/update_license.js

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

feat: redesign Automations page around examples, queue and run dashboard
  src/components/Trigger/AutomationDashboard.tsx
  src/components/Trigger/AutomationExamples.tsx
  src/components/Trigger/ExecutionLogs.tsx
  src/components/Trigger/ProfileNudge.tsx
  src/components/Trigger/SchedulePicker.tsx
  src/components/Trigger/TriggerDialog.tsx
  src/components/Trigger/TriggerListItem.tsx
  src/components/Trigger/Triggers.tsx
  src/components/Trigger/automationExampleData.ts
  src/components/Trigger/automationSchedule.ts
  src/components/Trigger/index.tsx
  src/i18n/locales/ar/triggers.json
  src/i18n/locales/de/triggers.json
  src/i18n/locales/en-us/triggers.json
  src/i18n/locales/es/triggers.json
  src/i18n/locales/fr/triggers.json
  src/i18n/locales/it/triggers.json
  src/i18n/locales/ja/triggers.json
  src/i18n/locales/ko/triggers.json
  src/i18n/locales/ru/triggers.json
  src/i18n/locales/zh-Hans/triggers.json
  src/i18n/locales/zh-Hant/triggers.json
  src/pages/Workspace.tsx
  src/store/automationProfileStore.ts
  src/stories/automation/Automations.stories.tsx
  test/unit/components/Trigger/automationSchedule.test.ts
Due: node licenses/update_license.js, prettier --write

feat: finalize automation details and shared examples
  docs/design-system/evidence/automation-redesign/README.md
  docs/design-system/evidence/automation-redesign/details-dark.jpg
  docs/design-system/evidence/automation-redesign/details-light.jpg
  docs/design-system/evidence/automation-redesign/examples-light.jpg
  docs/design-system/evidence/automation-redesign/large-queue-narrow.jpg
  src/components/Layout/rightRail.ts
  src/components/Trigger/AutomationDashboard.tsx
  src/components/Trigger/AutomationExamples.tsx
  src/components/Trigger/AutomationMainPanel.tsx
  src/components/Trigger/ProfileNudge.tsx
  src/components/Trigger/SchedulePicker.tsx
  src/components/Trigger/TriggerDialog.tsx
  src/components/Trigger/TriggerListItem.tsx
  src/components/Trigger/Triggers.tsx
  src/components/Trigger/automationExampleData.ts
  src/i18n/locales/ar/triggers.json
  src/i18n/locales/de/triggers.json
  src/i18n/locales/en-us/triggers.json
  src/i18n/locales/es/triggers.json
  src/i18n/locales/fr/triggers.json
  src/i18n/locales/it/triggers.json
  src/i18n/locales/ja/triggers.json
  src/i18n/locales/ko/triggers.json
  src/i18n/locales/ru/triggers.json
  src/i18n/locales/zh-Hans/triggers.json
  src/i18n/locales/zh-Hant/triggers.json
  src/service/triggerApi.ts
  src/store/automationProfileStore.ts
  src/stories/automation/Automations.stories.tsx
  src/style/tokens/exception.registry.json
  src/types/index.ts
  test/unit/components/Trigger/AutomationDashboard.test.tsx
  test/unit/components/Trigger/SchedulePicker.test.tsx
  test/unit/components/Trigger/automationSchedule.test.ts
  test/unit/service/triggerApi.test.ts
Due: node licenses/update_license.js, prettier --write

fix: preserve automation dates and background history state
  docs/design-system/evidence/automation-redesign/README.md
  docs/design-system/evidence/automation-redesign/one-time-finished.jpg
  docs/design-system/evidence/automation-redesign/one-time-next-year.jpg
  src/components/Trigger/AutomationDashboard.tsx
  src/components/Trigger/SchedulePicker.tsx
  src/components/Trigger/TriggerListItem.tsx
  src/components/Trigger/automationSchedule.ts
  src/i18n/locales/ar/triggers.json
  src/i18n/locales/de/triggers.json
  src/i18n/locales/en-us/triggers.json
  src/i18n/locales/es/triggers.json
  src/i18n/locales/fr/triggers.json
  src/i18n/locales/it/triggers.json
  src/i18n/locales/ja/triggers.json
  src/i18n/locales/ko/triggers.json
  src/i18n/locales/ru/triggers.json
  src/i18n/locales/zh-Hans/triggers.json
  src/i18n/locales/zh-Hant/triggers.json
  src/lib/utils.ts
  src/store/triggerStore.ts
  src/stories/automation/Automations.stories.tsx
  test/unit/components/Trigger/AutomationDashboard.test.tsx
  test/unit/components/Trigger/SchedulePicker.test.tsx
  test/unit/components/Trigger/automationSchedule.test.ts
  test/unit/lib/timeZoneConversion.test.ts
Due: node licenses/update_license.js, prettier --write

docs: remove automation review screenshots
  docs/design-system/evidence/automation-redesign/README.md
  docs/design-system/evidence/automation-redesign/details-dark.jpg
  docs/design-system/evidence/automation-redesign/details-light.jpg
  docs/design-system/evidence/automation-redesign/examples-light.jpg
  docs/design-system/evidence/automation-redesign/large-queue-narrow.jpg
  docs/design-system/evidence/automation-redesign/one-time-finished.jpg
  docs/design-system/evidence/automation-redesign/one-time-next-year.jpg
Due: none

docs: remove automation review evidence README
  docs/design-system/evidence/automation-redesign/README.md
Due: none

fix: time out a Run past its deadline even when an expiry came first
  backend/app/run_journal/store.py
  backend/app/run_journal/transitions.py
  backend/tests/app/run_journal/test_run_terminal_reason.py
Due: node licenses/update_license.js

fix: keep the cancel reason when startup completes a pending cancel
  backend/app/run_journal/store.py
  backend/tests/app/run_journal/test_run_terminal_reason.py
Due: node licenses/update_license.js

fix: classify tool_terminal_before_dispatch stops as error
  backend/app/run_journal/transitions.py
  backend/tests/app/run_journal/test_run_terminal_reason.py
  test/unit/components/ChatBox/MessageItem/HumanInteractionCard.test.tsx
  test/unit/components/ChatBox/TimelineModes.test.tsx
  test/unit/lib/approvalTerminalReasons.test.ts
  test/unit/service/humanInteractionApi.test.ts
Due: node licenses/update_license.js, prettier --write

fix: restore Cloud Run status from the latest synced stop event
  backend/app/run_journal/store.py
  backend/tests/app/run_journal/test_store.py
Due: node licenses/update_license.js

fix: key the v42 timed-out backfill on the stopping event
  backend/app/run_journal/store.py
  backend/tests/app/run_journal/test_run_terminal_reason.py
Due: node licenses/update_license.js

fix: title a timed-out Task by its Run status
  src/components/ChatBox/MessageItem/TaskFailureSummary.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  test/unit/components/ChatBox/UserQueryGroup.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: show the Resume hint only while a Run can resume
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/lib/approvalPresentation.ts
  test/unit/components/ChatBox/TimelineModes.test.tsx
  test/unit/lib/approvalTerminalReasons.test.ts
Due: node licenses/update_license.js, prettier --write

fix: guard remote sub-agent validation with the Desktop capability
  backend/app/controller/remote_sub_agent_controller.py
  backend/tests/app/auth/test_local_control.py
Due: node licenses/update_license.js

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
