Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

release version 1.0.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
  test/unit/electron/githubReleaseCdnProvider.test.ts
Due: node licenses/update_license.js, prettier --write

test: mock browser prep in chat endpoint integration
  backend/tests/app/controller/test_chat_controller.py
Due: node licenses/update_license.js

fix: decouple legacy replay from live model checks
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

feat: distinguish tool call request and response in work log
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
  test/unit/components/TaskWorkLogAccordion.test.tsx
Due: node licenses/update_license.js, prettier --write

feat: show live active_form as single-agent work-log header
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
Due: node licenses/update_license.js, prettier --write

fix/update hover style for link under request box
  src/components/WorkFlow/MarkDown.tsx
Due: node licenses/update_license.js, prettier --write

fix misalignment for task work log item
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
Due: node licenses/update_license.js, prettier --write

fix taskbox folded view scrollable issue
  src/components/ChatBox/TaskBox/PlanTaskBox/FoldedView.tsx
Due: node licenses/update_license.js, prettier --write

refactor chatbox with session channel design
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
  src/components/ChatBox/ProjectChatContainer.tsx
  src/components/ChatBox/ProjectSection.tsx
  src/components/ChatBox/README.md
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/channel/ChannelItemRenderer.tsx
  src/components/ChatBox/channel/SessionChannel.tsx
  src/components/ChatBox/channel/context.ts
  src/components/ChatBox/channel/rendererRegistry.ts
  src/components/ChatBox/channel/renderers/AskRenderer.tsx
  src/components/ChatBox/channel/renderers/messageRenderers.tsx
  src/components/ChatBox/channel/renderers/structureRenderers.tsx
  src/components/ChatBox/channel/submitHumanReply.ts
  src/components/ChatBox/channel/useSessionChannelShadow.ts
  src/components/ChatBox/index.tsx
  src/store/pageTabStore.ts
  src/store/sessionChannelReducer.ts
  src/store/sessionChannelStore.ts
  src/types/sessionChannel.ts
Due: node licenses/update_license.js, prettier --write

fix backend system trust store
  backend/main.py
  backend/pyproject.toml
  backend/uv.lock
Due: node licenses/update_license.js

use text input for provider model types
  src/lib/llm.ts
Due: node licenses/update_license.js, prettier --write

fix: keep .git in build context so server Dockerfile can stamp commit hash
  .dockerignore
Due: none

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

finish initial design
  src/components/ChatBox/BottomBox/index.tsx
  src/components/ChatBox/BottomBox/variants/QuestionVariant.tsx
  src/components/ChatBox/BottomBox/variants/registry.ts
  src/components/ChatBox/BottomBox/variants/types.ts
  src/components/ChatBox/MessageItem/ChainOfThoughtBox.tsx
  src/components/ChatBox/ask/askPayload.ts
  src/components/ChatBox/channel/ChannelItemRenderer.tsx
  src/components/ChatBox/channel/rendererRegistry.ts
  src/components/ChatBox/channel/renderers/AskRenderer.tsx
  src/components/ChatBox/channel/renderers/messageRenderers.tsx
  src/components/ChatBox/channel/renderers/structureRenderers.tsx
  src/components/ChatBox/index.tsx
  src/store/sessionChannelReducer.ts
  src/style/markdown-styles.css
  src/types/sessionChannel.ts
Due: node licenses/update_license.js, prettier --write

Fix remote control revoke token handling
  src/components/Dispatch/index.tsx
  src/lib/remoteControl.ts
  src/store/triggerStore.ts
  test/unit/lib/remoteControl.test.ts
Due: node licenses/update_license.js, prettier --write

fix: initialize and migrate skills config on startup
  backend/app/agent/toolkit/skill_toolkit.py
  backend/app/controller/skill_controller.py
  backend/app/model/chat.py
  backend/app/service/skill_config_service.py
  backend/app/service/skill_service.py
  backend/tests/app/model/test_chat.py
  backend/tests/app/service/test_skill_initialization.py
  electron/main/index.ts
  src/api/brain.ts
  src/hooks/useInstallationSetup.ts
  src/store/skillsStore.ts
Due: node licenses/update_license.js, prettier --write

update channel design
  src/components/ChatBox/channel/renderers/structureRenderers.tsx
  src/components/ChatBox/index.tsx
  src/store/sessionChannelReducer.ts
Due: node licenses/update_license.js, prettier --write

ui polish and ux bug fix for new added feature
  eslint.config.js
  src/components/ChatBox/BottomBox/ChatInputModelDropdown.tsx
  src/components/ChatBox/MessageItem/AgentMessageCard.tsx
  src/components/ChatBox/MessageItem/MarkDown.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/Folder/FilePreview.tsx
  src/components/Folder/index.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/Session/HeaderBox/index.tsx
  src/components/Session/SingleAgent/SingleAgentSidePanel.tsx
  src/components/Session/Workforce/WorkforceSidePanel.tsx
  src/components/Session/index.tsx
  src/components/TopBar/index.tsx
  src/components/ui/select.tsx
  src/lib/fileInfo.ts
  src/pages/Agents/Models.tsx
  src/pages/Agents/components/ProviderModelCombobox.tsx
  src/store/pageTabStore.ts
  test/unit/components/Folder/FileTree.test.tsx
Due: node licenses/update_license.js, prettier --write

update feature
  .env.development
  package.json
  src/lib/analytics/posthog.ts
  src/main.tsx
  src/store/authStore.ts
  src/store/chatStore.ts
  src/vite-env.d.ts
Due: node licenses/update_license.js, prettier --write

resolve task outputs from user-scoped storage
  electron/main/fileReader.ts
  electron/main/index.ts
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

feat(analytics): instrument PostHog desktop tracking plan
  src/components/InstallStep/OnboardingSteps.tsx
  src/lib/analytics/posthog.ts
  src/lib/oauth.ts
  src/main.tsx
  src/pages/Agents/components/SkillUploadDialog.tsx
  src/pages/Connectors/components/MCPMarket.tsx
  src/pages/Login.tsx
  src/pages/SignUp.tsx
  src/service/triggerApi.ts
  src/store/authStore.ts
  src/store/chatStore.ts
  src/store/installationStore.ts
Due: node licenses/update_license.js, prettier --write

fix: scope spaces by user and disable legacy remote control
  server/app/domains/remote_control/service/remote_control_service.py
  server/app/domains/space/service/space_service.py
  server/tests/test_space_legacy_behavior.py
  src/components/Dispatch/index.tsx
  src/lib/spaceLabel.ts
  src/store/authStore.ts
  src/store/spaceStore.test.ts
  src/store/spaceStore.ts
Due: node licenses/update_license.js, prettier --write

fix: harden markdown URL scheme filtering
  src/components/ChatBox/MessageItem/MarkDown.tsx
Due: node licenses/update_license.js, prettier --write

prevent cross-environment token reuse
  server/.env.example
  server/app/domains/user/api/logout_controller.py
  server/app/domains/user/service/user_auth_service.py
  server/app/shared/auth/user_auth.py
  server/tests/test_auth.py
  src/lib/authEnvironment.ts
  src/store/authStore.ts
  src/store/spaceStore.ts
Due: node licenses/update_license.js, prettier --write

version to 1.0.1
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
  test/unit/electron/githubReleaseCdnProvider.test.ts
Due: node licenses/update_license.js, prettier --write

fix windows terminal capability detection
  backend/app/hands/capabilities.py
  backend/tests/app/hands/test_capabilities.py
Due: node licenses/update_license.js

docs: add Arch Linux (AUR) install instructions
  README.md
Due: none

ci: run build-view macOS jobs on self-hosted runner
  .github/workflows/build-view.yml
Due: none

ci: target self-hosted macOS runners by architecture
  .github/workflows/build-view.yml
Due: none

ci: use self-hosted macOS runners for release workflows
  .github/workflows/build.yml
  .github/workflows/pre-build-view.yml
  .github/workflows/pre-build.yml
Due: none

Use self hosted macos build view (#1723)
  .github/workflows/build-view.yml
  .github/workflows/build.yml
  .github/workflows/pre-build-view.yml
  .github/workflows/pre-build.yml
Due: none

feat: distinguish tool call request and response in work log (#1696)
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
  src/components/WorkFlow/MarkDown.tsx
  test/unit/components/TaskWorkLogAccordion.test.tsx
Due: node licenses/update_license.js, prettier --write

keep caret from jumping to start when typing fast
  src/components/ChatBox/BottomBox/RichChatInput.tsx
Due: node licenses/update_license.js, prettier --write

fix: auto-register Linux .desktop file with %u to unblock OAuth callback
  electron-builder.json
  electron/main/index.ts
  electron/main/utils/linuxProtocol.ts
Due: node licenses/update_license.js, prettier --write

fix: update Python version from 3.10 to 3.12 in READMEs
  server/README_CN.md
  server/README_EN.md
  server/README_PT-BR.md
Due: none

fix: add DeepSeek, Z.ai, MiniMax, Moonshot, SambaNova to PLATFORM_ALIAS_MAPPING (fixes #1578, #1556)
  backend/app/model/model_platform.py
  backend/tests/app/model/test_model_platform.py
Due: node licenses/update_license.js

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
