Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node licenses/update_license.js

remove redundant file
  backend/app/controller/password_reset_controller.py
Due: node licenses/update_license.js

minor lint update
  backend/app/router.py
Due: node licenses/update_license.js

fix(cookie_manager): robustness — None-safe value, search_cookies domain, temp DB cleanup
  backend/app/utils/cookie_manager.py
Due: node licenses/update_license.js

added new icons and fixed PR issues
  src/components/ChatBox/TaskBox/TaskCard.tsx
  src/components/TopBar/index.tsx
  src/components/WorkFlow/node.tsx
  src/pages/Setting.tsx
  src/style/token.css
  tailwind.config.js
Due: eslint --fix, prettier --write, node licenses/update_license.js

fixed remaining background colors
  src/components/AddWorker/ToolSelect.tsx
  src/components/ChatBox/MessageItem/MarkDown.tsx
  src/components/ChatBox/MessageItem/SummaryMarkDown.tsx
  src/components/Folder/ZoomControls.tsx
  src/components/Folder/index.tsx
  src/components/IntegrationList/index.tsx
  src/components/WorkFlow/MarkDown.tsx
  src/components/WorkFlow/node.tsx
  src/style/token.css
  tailwind.config.js
Due: eslint --fix, prettier --write, node licenses/update_license.js

fixed remaining background colors v2
  src/components/AddWorker/index.tsx
  src/components/ChatBox/MessageItem/MarkDown.tsx
  src/components/Dialog/CloseNotice.tsx
  src/components/Dialog/EndNotice.tsx
  src/components/Dialog/Privacy.tsx
  src/components/Folder/ZoomControls.tsx
  src/components/Folder/index.tsx
  src/components/Terminal/index.tsx
  src/components/WorkFlow/MarkDown.tsx
  src/pages/Home.tsx
  src/pages/Setting/API.tsx
  src/pages/Setting/MCP.tsx
  src/pages/Setting/MCPMarket.tsx
  src/pages/Setting/Privacy.tsx
  src/style/token.css
  tailwind.config.js
Due: eslint --fix, prettier --write, node licenses/update_license.js

update schedule setting design
  package.json
  src/components/MenuButton/MenuButton.tsx
  src/components/Trigger/SchedulePicker.tsx
  src/components/Trigger/TriggerDialog.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input-select.tsx
  src/components/ui/tabs.tsx
  src/components/ui/toggle-group.tsx
  src/i18n/locales/ar/triggers.json
  src/i18n/locales/de/triggers.json
  src/i18n/locales/en-us/triggers.json
  src/i18n/locales/es/triggers.json
  src/i18n/locales/fr/triggers.json
  src/i18n/locales/it/triggers.json
  src/i18n/locales/ja/triggers.json
  src/i18n/locales/ko/triggers.json
  src/i18n/locales/ru/triggers.json
  src/i18n/locales/zh-Hans/triggers.json
  src/i18n/locales/zh-Hant/triggers.json
  src/pages/Home.tsx
Due: eslint --fix, prettier --write, node licenses/update_license.js

fix: remove reference to non-existent utils directory in Dockerfile (#1086)
  server/Dockerfile
Due: none

enhance: sync the schedule with db config
  src/components/Trigger/SchedulePicker.tsx
  src/components/Trigger/TriggerDialog.tsx
Due: eslint --fix, prettier --write, node licenses/update_license.js

Add LinkedInOAuthAdapter for OAuth 2.0 authentication
  server/app/component/oauth_adapter.py
Due: node licenses/update_license.js

Enhance LinkedInToolkit with token persistence and credential management
  backend/app/utils/toolkit/linkedin_toolkit.py
Due: node licenses/update_license.js

Add LinkedIn install, uninstall and save-token endpoints
  backend/app/controller/tool_controller.py
Due: node licenses/update_license.js

Add LinkedIn OAuth env vars to config
  server/app/model/config/config.py
Due: node licenses/update_license.js

Add token expiration tracking to LinkedInToolkit
  backend/app/utils/toolkit/linkedin_toolkit.py
Due: node licenses/update_license.js

Add LinkedIn status endpoint and token expiry warnings
  backend/app/controller/tool_controller.py
Due: node licenses/update_license.js

update
  backend/app/utils/agent.py
  src/store/chatStore.ts
Due: eslint --fix, prettier --write, node licenses/update_license.js

enhance: update trigger dialog structure
  src/components/Trigger/TriggerDialog.tsx
Due: eslint --fix, prettier --write, node licenses/update_license.js

update
  electron/main/init.ts
Due: eslint --fix, prettier --write, node licenses/update_license.js

block symlink escapes
  electron/main/fileReader.ts
Due: eslint --fix, prettier --write, node licenses/update_license.js

Fix prebuilt venv portability and refine build pipeline
  electron/main/utils/process.ts
  package.json
  scripts/fix-symlinks.js
  scripts/fix-venv-paths.js
  scripts/test-prebuilt-deps.js
  scripts/test-venv-fix.js
Due: eslint --fix, prettier --write, node licenses/update_license.js

Fix Windows path separator in venv portability
  electron/main/utils/process.ts
  scripts/fix-venv-paths.js
  scripts/test-venv-fix.js
Due: eslint --fix, prettier --write, node licenses/update_license.js

feat(frontend): Enable LinkedIn OAuth integration in UI
  src/components/IntegrationList/index.tsx
  src/hooks/useIntegrationManagement.ts
Due: eslint --fix, prettier --write, node licenses/update_license.js

Fix Windows build failure with venv placeholder paths
  package.json
  scripts/preinstall-deps.js
Due: eslint --fix, prettier --write

prototype for workforce interface
  src/components/Workforce/index.tsx
  src/pages/Home.tsx
Due: eslint --fix, prettier --write, node licenses/update_license.js

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

add macos x64
  .github/workflows/build-view.yml
Due: none

add macos-15-intel
  .github/workflows/build-view.yml
Due: none

test: add comprehensive integration tests for browser agent
  backend/tests/integration/agents/__init__.py
  backend/tests/integration/agents/test_browser_agent.py
Due: node licenses/update_license.js

refactor: refactor agent and modify sys prompt for terminal ls
  backend/app/agent/__init__.py
  backend/app/agent/agent_model.py
  backend/app/agent/factory/__init__.py
  backend/app/agent/factory/browser.py
  backend/app/agent/factory/developer.py
  backend/app/agent/factory/document.py
  backend/app/agent/factory/mcp.py
  backend/app/agent/factory/multi_modal.py
  backend/app/agent/factory/question_confirm.py
  backend/app/agent/factory/social_medium.py
  backend/app/agent/factory/task_summary.py
  backend/app/agent/listen_chat_agent.py
  backend/app/agent/prompt.py
  backend/app/agent/tools.py
  backend/app/agent/utils.py
  backend/app/service/chat_service.py
  backend/app/utils/agent.py
  backend/app/utils/single_agent_worker.py
  backend/app/utils/workforce.py
  backend/tests/app/agent/factory/test_browser.py
  backend/tests/app/agent/factory/test_developer.py
  backend/tests/app/agent/factory/test_document.py
  backend/tests/app/agent/factory/test_mcp.py
  backend/tests/app/agent/factory/test_multi_modal.py
  backend/tests/app/agent/factory/test_question_confirm.py
  backend/tests/app/agent/factory/test_social_medium.py
  backend/tests/app/agent/factory/test_task_summary.py
  backend/tests/app/agent/test_agent_model.py
  backend/tests/app/agent/test_listen_chat_agent.py
  backend/tests/app/agent/test_tools.py
  backend/tests/unit/service/test_chat_service.py
  backend/tests/unit/utils/test_agent.py
  backend/tests/unit/utils/test_single_agent_worker.py
  backend/tests/unit/utils/test_workforce.py
Due: node licenses/update_license.js

readme
  backend/app/agent/README.md
Due: prettier --write

change prompt
  backend/app/agent/prompt.py
Due: node licenses/update_license.js

update
  backend/app/utils/listen/toolkit_listen.py
  backend/app/utils/toolkit/note_taking_toolkit.py
Due: node licenses/update_license.js

update
  backend/app/service/chat_service.py
  backend/app/service/task.py
  utils/traceroot_wrapper.py
Due: node licenses/update_license.js

update
  .env.development
Due: none

update
  .gitignore
  backend/app/controller/chat_controller.py
  backend/app/service/chat_service.py
Due: node licenses/update_license.js

update
  backend/app/service/chat_service.py
  backend/app/service/task.py
Due: node licenses/update_license.js

update
  .github/workflows/test.yml
  backend/app/controller/chat_controller.py
Due: node licenses/update_license.js

update
  .gitignore
Due: none

Path conditions:
  eslint --fix: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})) or (any of: *.{json,css,md})
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
