Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

fix: let new Sessions start while Cloud history restores
  backend/app/controller/workspace_config_controller.py
  backend/app/run_sync/cloud_sync.py
  backend/app/run_sync/runtime.py
  backend/tests/app/controller/test_workspace_config_controller.py
  backend/tests/app/run_sync/test_cloud_sync.py
Due: node licenses/update_license.js

fix: show approvals raised after a running Session is reloaded (#2026)
  src/components/ChatBox/UserQueryGroup.tsx
  src/lib/runEvents/react.ts
  test/unit/components/ChatBox/UserQueryGroup.test.tsx
  test/unit/store/restoredRunApproval.test.ts
Due: node licenses/update_license.js, prettier --write

test: make the durable approval timeout test deterministic
  backend/tests/app/permission_policy/test_permission_runtime.py
Due: node licenses/update_license.js

fix: start tasks with aliased model providers in new Sessions (#2027)
  backend/app/controller/chat_controller.py
  backend/app/model/model_platform.py
  backend/app/workspace_config/model_selection.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/model/test_model_platform.py
  backend/tests/app/workspace_config/test_session_model_recovery.py
Due: node licenses/update_license.js

fix: let new Sessions start while Cloud history restores (#2028)
  backend/app/controller/workspace_config_controller.py
  backend/app/run_sync/cloud_sync.py
  backend/app/run_sync/runtime.py
  backend/tests/app/controller/test_workspace_config_controller.py
  backend/tests/app/run_sync/test_cloud_sync.py
Due: node licenses/update_license.js

fix: register thinking effort levels for GPT-6 Sol
  backend/app/controller/chat_controller.py
  backend/app/workspace_config/model_capabilities.json
  backend/tests/app/controller/test_model_effort_admission.py
  backend/tests/app/controller/test_model_effort_follow_up.py
  backend/tests/app/workspace_config/test_capabilities.py
Due: node licenses/update_license.js

fix: explain unsupported thinking effort, provider outages and quitting with tasks
  backend/app/agent/toolkit/screenshot_toolkit.py
  backend/tests/app/agent/toolkit/test_screenshot_toolkit.py
  src/components/Dialog/CloseNotice.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/layout.json
  src/lib/usageErrors.ts
  test/unit/components/Dialog/CloseNotice.test.tsx
  test/unit/lib/usageErrors.test.ts
Due: node licenses/update_license.js, prettier --write

fix: stop saving one-off requests that name a Space as memory
  backend/app/lightweight_memory/maintainer.py
  backend/tests/app/lightweight_memory/test_lightweight_memory_service.py
Due: node licenses/update_license.js

fix: limit Sol resume exception to an unchanged capability
  backend/app/controller/chat_controller.py
  backend/tests/app/controller/test_model_effort_follow_up.py
  docs/model-capabilities.md
Due: node licenses/update_license.js

fix: point unsupported thinking effort to Default and align translations
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/layout.json
  src/lib/responseError.ts
  test/unit/lib/usageErrors.test.ts
Due: node licenses/update_license.js, prettier --write

fix: only skip clear one-off requests when saving scoped memory
  backend/app/lightweight_memory/maintainer.py
  backend/tests/app/lightweight_memory/test_lightweight_memory_service.py
Due: node licenses/update_license.js

fix: keep every scoped rule and skip only clear one-off requests
  backend/app/lightweight_memory/maintainer.py
  backend/tests/app/lightweight_memory/test_lightweight_memory_service.py
Due: node licenses/update_license.js

fix: keep scoped facts that open with a noun like help or delete
  backend/app/lightweight_memory/maintainer.py
  backend/tests/app/lightweight_memory/test_lightweight_memory_service.py
Due: node licenses/update_license.js

fix: use the same zh-Hant word for resuming a task everywhere
  src/i18n/locales/zh-Hant/chat.json
Due: none

fix: still save a preference that follows a skipped request
  backend/app/lightweight_memory/maintainer.py
  backend/tests/app/lightweight_memory/test_lightweight_memory_service.py
Due: node licenses/update_license.js

fix: keep scoped conventions that open with a verb like create or summarize
  backend/app/lightweight_memory/maintainer.py
  backend/tests/app/lightweight_memory/test_lightweight_memory_service.py
Due: node licenses/update_license.js

fix: register thinking effort levels for GPT-6 Sol (#2030)
  backend/app/controller/chat_controller.py
  backend/app/workspace_config/model_capabilities.json
  backend/tests/app/controller/test_model_effort_admission.py
  backend/tests/app/controller/test_model_effort_follow_up.py
  backend/tests/app/workspace_config/test_capabilities.py
  docs/model-capabilities.md
Due: node licenses/update_license.js

fix: reject out-of-range hours, minutes and days in Automation schedules
  src/components/Trigger/SchedulePicker.tsx
  src/i18n/locales/ar/triggers.json
  src/i18n/locales/de/triggers.json
  src/i18n/locales/en-us/triggers.json
  src/i18n/locales/es/triggers.json
  src/i18n/locales/fr/triggers.json
  src/i18n/locales/it/triggers.json
  src/i18n/locales/ja/triggers.json
  src/i18n/locales/ko/triggers.json
  src/i18n/locales/ru/triggers.json
  src/i18n/locales/zh-Hans/triggers.json
  src/i18n/locales/zh-Hant/triggers.json
  test/unit/components/Trigger/SchedulePicker.test.tsx
  test/unit/components/Trigger/TriggerDialog.scheduleValidation.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: show correct relative times for recent items on Home
  src/components/Home/hooks/useHomeHubProjects.ts
  src/components/Home/hooks/useSpaceDetailData.ts
  src/components/Home/utils.ts
  src/lib/serverTimestamp.ts
  src/service/spaceApi.ts
  src/store/projectStore.ts
  src/store/spaceStore.ts
  test/unit/components/HomeRelativeTimes.test.tsx
  test/unit/lib/serverTimestamp.test.ts
Due: node licenses/update_license.js, prettier --write

fix: load automations when opening them before choosing a Session
  src/components/Trigger/Triggers.tsx
  src/pages/Workspace.tsx
  test/unit/components/Trigger/TriggersOverview.test.tsx
  test/unit/pages/Workspace.automationsTab.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: keep line breaks when pasting multi-line text into the composer
  src/components/ChatBox/BottomBox/RichChatInput.tsx
  test/unit/components/ChatBox/BottomBox/RichChatInput.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: start new tasks in restored or previously failed Sessions
  src/components/ChatBox/index.tsx
  src/lib/legacyRuntimeAdmission.ts
  test/unit/components/ChatBox.test.tsx
  test/unit/lib/legacyRuntimeAdmission.test.ts
Due: node licenses/update_license.js, prettier --write

fix: keep the add automation dialog from reopening after a Space without Sessions
  src/pages/Workspace.tsx
  test/unit/pages/Workspace.automationsTab.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: keep the chosen day of month valid when leaving the Automation schedule field
  src/components/Trigger/SchedulePicker.tsx
  src/components/ui/input-select.tsx
  test/unit/components/InputSelect.test.tsx
  test/unit/components/Trigger/SchedulePicker.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: show a retryable provider failure as an unavailable model
  src/lib/usageErrors.ts
  test/unit/lib/usageErrors.test.ts
Due: node licenses/update_license.js, prettier --write

test: cover the plain Bad Gateway reply seen from the cloud model
  test/unit/lib/usageErrors.test.ts
Due: node licenses/update_license.js, prettier --write

fix: send follow-ups after a window reload through follow-up admission
  src/components/ChatBox/index.tsx
  test/unit/components/ChatBox.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: reject malformed ports and return focus after closing Connect existing browser
  src/components/Settings/Browser/index.tsx
  test/unit/pages/Browser/CDP.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: show a completed Resume and a model outage on interrupted Runs
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/index.tsx
  src/hooks/useInterruptedRunStatus.ts
  src/lib/approvalPresentation.ts
  src/lib/taskLifecycleUi.ts
  test/unit/components/ChatBox/UserQueryGroup.test.tsx
  test/unit/components/TaskWorkLogAccordion.test.tsx
  test/unit/lib/approvalTerminalReasons.test.ts
Due: node licenses/update_license.js, prettier --write

fix: show New session for default Session names and fix two Settings labels
  src/components/Home/Projects.tsx
  src/components/Home/components/HomeHubCard.tsx
  src/components/Home/memoryRoute.ts
  src/components/Session/index.tsx
  src/components/Settings/Memory/MemoryScopeNotice.tsx
  src/components/Settings/Memory/index.tsx
  src/components/Settings/Privacy/index.tsx
  src/components/SpaceSidebar/index.tsx
  src/components/Workspace/WorkspaceVersionHistoryDialog.tsx
  src/lib/spaceLabel.ts
  test/unit/components/HomeMemoryRouting.test.ts
  test/unit/components/HomeSessionNames.test.tsx
  test/unit/components/MemoryScopeDirectory.test.tsx
  test/unit/components/Session/SessionResize.test.tsx
  test/unit/components/SettingsMemory.test.tsx
  test/unit/components/SettingsPrivacy.test.tsx
  test/unit/components/SidebarSessionDeletion.test.tsx
  test/unit/lib/sessionDisplayName.test.ts
Due: node licenses/update_license.js, prettier --write

fix: keep the task timer steady across approvals and Session reloads
  backend/app/controller/run_controller.py
  backend/tests/app/controller/test_run_control_api.py
  backend/tests/app/controller/test_run_controller.py
  src/lib/projector/reduce.ts
  test/unit/components/ChatBox/runElapsedContinuity.test.tsx
  test/unit/lib/projector.test.ts
Due: node licenses/update_license.js, prettier --write

fix: keep unsent drafts when switching Sessions
  src/components/ChatBox/SessionExecutionChat.tsx
  src/components/ChatBox/index.tsx
  src/hooks/useSessionDraft.ts
  src/store/sessionDraftStore.ts
  test/unit/components/ChatBox.test.tsx
  test/unit/components/ChatBox/SessionExecutionChat.test.tsx
  test/unit/hooks/useSessionDraft.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: show PDF previews in Files instead of a blank area
  backend/app/__init__.py
  backend/tests/app/controller/test_file_controller.py
  electron/main/index.ts
  electron/preload/index.ts
  src/components/Folder/PdfPreview.tsx
  src/components/Folder/index.tsx
  src/host/types.ts
  src/i18n/locales/ar/folder.json
  src/i18n/locales/de/folder.json
  src/i18n/locales/en-us/folder.json
  src/i18n/locales/es/folder.json
  src/i18n/locales/fr/folder.json
  src/i18n/locales/it/folder.json
  src/i18n/locales/ja/folder.json
  src/i18n/locales/ko/folder.json
  src/i18n/locales/ru/folder.json
  src/i18n/locales/zh-Hans/folder.json
  src/i18n/locales/zh-Hant/folder.json
  src/shared/subframeLoadFailure.ts
  src/types/electron.d.ts
  test/unit/components/Folder/FileViewerPanel.test.tsx
  test/unit/electron/preload/subframeLoadFailure.test.ts
  test/unit/shared/subframeLoadFailure.test.ts
Due: node licenses/update_license.js, prettier --write

fix: keep the task timer steady when new events arrive during a Session reload
  src/lib/projector/index.ts
  test/unit/lib/projector.test.ts
Due: node licenses/update_license.js, prettier --write

fix: do not bring back a sent draft after leaving its Session mid-send
  src/components/ChatBox/SessionExecutionChat.tsx
  src/hooks/useSessionDraft.ts
  src/store/sessionDraftStore.ts
  test/unit/components/ChatBox.test.tsx
  test/unit/components/ChatBox/SessionExecutionChat.test.tsx
  test/unit/hooks/useSessionDraft.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: explain unsupported thinking effort, provider outages and quitting with tasks (#2031)
  backend/app/agent/toolkit/screenshot_toolkit.py
  backend/tests/app/agent/toolkit/test_screenshot_toolkit.py
  src/components/Dialog/CloseNotice.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/layout.json
  src/lib/responseError.ts
  src/lib/usageErrors.ts
  test/unit/components/Dialog/CloseNotice.test.tsx
  test/unit/lib/usageErrors.test.ts
Due: node licenses/update_license.js, prettier --write

fix: hide only the error that a completed Resume superseded
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/lib/taskLifecycleUi.ts
  src/store/chatStore.ts
  src/types/chatbox.d.ts
  test/unit/components/ChatBox/UserQueryGroup.test.tsx
  test/unit/components/TaskWorkLogAccordion.test.tsx
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

test: check restored Session starts by outcome so either follow-up path passes
  test/unit/components/ChatBox.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: do not send a restored draft twice while its first send is still starting
  src/components/ChatBox/index.tsx
  src/lib/followUpAdmissionClaims.ts
  test/unit/components/ChatBox.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: ask for a Session before opening Automations in a Space without one
  src/components/Layout/AppCommandProvider.tsx
  src/components/SpaceSidebar/index.tsx
  test/unit/components/Layout/AppCommandProvider.test.tsx
  test/unit/components/SidebarAutomationsEntry.test.tsx
Due: node licenses/update_license.js, prettier --write

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
