Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

update
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix(backend): default max_tokens for Anthropic model validation
  backend/app/component/model_validation.py
  backend/tests/app/component/test_model_validation.py
Due: node licenses/update_license.js

Add AGENTS.md with Cursor Cloud development instructions
  AGENTS.md
Due: none

style(backend): ruff-format Anthropic max_tokens tests
  backend/tests/app/component/test_model_validation.py
Due: node licenses/update_license.js

fix(backend): resolve Anthropic max_tokens merge conflict
  backend/app/component/model_validation.py
  backend/tests/app/component/test_model_validation.py
Due: node licenses/update_license.js

refactor(backend): unify Anthropic max_tokens validation path
  backend/app/component/model_validation.py
  backend/tests/app/component/test_model_validation.py
Due: node licenses/update_license.js

Update agent_model.py
  backend/app/agent/agent_model.py
Due: node licenses/update_license.js

chore: add prompt cache for anthropic model (#1552)
  backend/app/agent/agent_model.py
Due: node licenses/update_license.js

update
  backend/app/agent/agent_model.py
  backend/app/component/model_validation.py
Due: node licenses/update_license.js

Update test_model_validation.py
  backend/tests/app/component/test_model_validation.py
Due: node licenses/update_license.js

Update model_validation.py
  backend/app/component/model_validation.py
Due: node licenses/update_license.js

fix(backend): default max_tokens for Anthropic model validation (#1549)
  backend/app/agent/agent_model.py
  backend/app/component/model_validation.py
Due: node licenses/update_license.js

Add camel log upload and organize files by source type (#1548)
  electron/main/index.ts
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

feat(updater): switch app auto-update feed from GitHub Releases to CDN (#1543)
  electron/main/githubReleaseCdnProvider.ts
  electron/main/update.ts
  test/unit/electron/githubReleaseCdnProvider.test.ts
Due: node licenses/update_license.js, prettier --write

fix(agent_model): update cache control duration for specific model platforms
  backend/app/agent/agent_model.py
Due: node licenses/update_license.js

minor enhance
  backend/app/agent/agent_model.py
  backend/app/agent/factory/mcp.py
  backend/app/component/model_validation.py
  backend/app/model/model_platform.py
Due: node licenses/update_license.js

inital prototype
  src/components/ChatBox/BottomBox/InputBox.tsx
  src/components/ChatBox/HeaderBox/index.tsx
  src/components/ChatBox/index.tsx
  src/components/ChatBox/useWorkforceChatInput.tsx
  src/components/HistorySidebar/index.tsx
  src/components/ProjectPageSidebar/HeaderAction.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/TopBar/index.tsx
  src/components/Workforce/FoldedPanel/index.tsx
  src/components/Workforce/WorkspaceProjectPage.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/ar/triggers.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/de/triggers.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/en-us/triggers.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/es/triggers.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/fr/triggers.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/it/triggers.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ja/triggers.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ko/triggers.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/ru/triggers.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hans/triggers.json
  src/i18n/locales/zh-Hant/layout.json
  src/i18n/locales/zh-Hant/triggers.json
  src/lib/eigentCloudModels.ts
  src/pages/Agents/Models.tsx
  src/pages/Home.tsx
  src/store/pageTabStore.ts
Due: node licenses/update_license.js, prettier --write

feat: check and support prompt caching for all models (#1482)
  backend/app/agent/agent_model.py
  backend/app/agent/factory/mcp.py
  backend/app/component/model_validation.py
  backend/app/model/chat.py
  backend/app/model/model_platform.py
  backend/app/utils/single_agent_worker.py
  backend/pyproject.toml
  backend/tests/app/component/test_model_validation.py
  backend/uv.lock
  src/components/WorkFlow/node.tsx
  src/lib/llm.ts
  src/pages/Agents/Models.tsx
  src/store/chatStore.ts
  src/types/index.ts
Due: node licenses/update_license.js, prettier --write

release 0.0.90
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
Due: node licenses/update_license.js

Releases v0.0.90 (#1563)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
Due: node licenses/update_license.js

fix: resolve 'Unknown model platform: zhipu' for Z.ai BYOK configuration
  backend/app/model/model_platform.py
  backend/tests/app/model/test_model_platform.py
Due: node licenses/update_license.js

add test env
  .env.development
  electron/main/init.ts
  src/components/Toast/creditsToast.tsx
  src/components/Toast/storageToast.tsx
  src/components/TopBar/index.tsx
  src/lib/index.ts
  src/lib/share.ts
  src/pages/Agents/Models.tsx
  src/pages/Browser/Cookies.tsx
  src/pages/Login.tsx
  src/pages/Setting/General.tsx
  src/pages/Setting/Privacy.tsx
  src/pages/Setting/index.tsx
  src/pages/SignUp.tsx
Due: node licenses/update_license.js, prettier --write

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

fix import bug
  src/components/ChatBox/BottomBox/ChatInputModelDropdown.tsx
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

feat: add global worker agent templates and improve agent config ui
  electron/main/index.ts
  electron/preload/index.ts
  src/components/AddWorker/index.tsx
  src/components/WorkFlow/node.tsx
  src/i18n/locales/en-us/agents.json
  src/i18n/locales/en-us/workforce.json
  src/pages/Agents/GlobalAgents.tsx
  src/pages/Agents/index.tsx
  src/store/globalAgentTemplatesStore.ts
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

fix: update
  src/components/AddWorker/index.tsx
  src/components/WorkFlow/node.tsx
  src/i18n/locales/ar/agents.json
  src/i18n/locales/de/agents.json
  src/i18n/locales/en-us/agents.json
  src/i18n/locales/es/agents.json
  src/i18n/locales/fr/agents.json
  src/i18n/locales/it/agents.json
  src/i18n/locales/ja/agents.json
  src/i18n/locales/ko/agents.json
  src/i18n/locales/ru/agents.json
  src/i18n/locales/zh-Hans/agents.json
  src/i18n/locales/zh-Hant/agents.json
  src/pages/Agents/GlobalAgents.tsx
  src/store/globalAgentTemplatesStore.ts
Due: node licenses/update_license.js, prettier --write

fix: update
  src/components/AddWorker/index.tsx
  src/components/WorkFlow/node.tsx
  src/i18n/locales/en-us/agents.json
  src/i18n/locales/en-us/workforce.json
  src/pages/Agents/GlobalAgents.tsx
  src/pages/Home.tsx
  src/store/globalAgentTemplatesStore.ts
Due: node licenses/update_license.js, prettier --write

fix: select issue
  src/components/AddWorker/index.tsx
Due: node licenses/update_license.js, prettier --write

bug fix
  scripts/check-i18n-locale-parity.js
  src/components/ChatBox/BottomBox/RichChatInput.tsx
  src/components/ChatBox/MessageItem/MarkDown.tsx
  src/components/ChatBox/MessageItem/NoticeCard.tsx
  src/components/ChatBox/index.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/Session/SessionGroup.tsx
  src/components/Trigger/Triggers.tsx
  src/components/Workforce/FoldedPanel/index.tsx
  src/components/Workspace/FoldedAgentCard.tsx
  src/components/Workspace/WorkforceAgentList.tsx
  src/i18n/locales/ar/workforce.json
  src/i18n/locales/de/workforce.json
  src/i18n/locales/es/workforce.json
  src/i18n/locales/fr/workforce.json
  src/i18n/locales/it/workforce.json
  src/i18n/locales/ja/workforce.json
  src/i18n/locales/ko/workforce.json
  src/i18n/locales/ru/workforce.json
  src/i18n/locales/zh-Hans/workforce.json
  src/i18n/locales/zh-Hant/workforce.json
  src/pages/Home.tsx
Due: node licenses/update_license.js, prettier --write

refactor(ui): reorganize components and add design token system
  src/components/Layout/ThemeProvider.tsx
  src/components/Layout/tokenAliases.ts
  src/components/TopBar/index.tsx
  src/components/ui/button.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/input-select.tsx
  src/components/ui/input.tsx
  src/components/ui/select.tsx
  src/components/ui/switch.tsx
  src/components/ui/tag.tsx
  src/components/ui/textarea.tsx
  src/components/ui/tokenAliases.ts
  src/components/ui/tooltip.tsx
  src/lib/themeTokens/MAPPING.md
  src/lib/themeTokens/README.md
  src/lib/themeTokens/catalog.ts
  src/lib/themeTokens/colorMath.ts
  src/lib/themeTokens/engine.ts
  src/lib/themeTokens/fixedToneSchema.ts
  src/lib/themeTokens/index.ts
  src/lib/themeTokens/legacyMapping.ts
  src/lib/themeTokens/naming.ts
  src/lib/themeTokens/types.ts
  src/store/authStore.ts
  tailwind.config.js
Due: node licenses/update_license.js, prettier --write

chore: stabilize test infra and shared mocks for 65-file suite
  test/mocks/authStore.mock.ts
  test/mocks/electronMocks.ts
  test/mocks/environmentMocks.ts
  test/mocks/proxy.mock.ts
  test/setup.ts
  vitest.config.ts
Due: node licenses/update_license.js, prettier --write

fix: resolve render loop in useIntegrationManagement and crash guard in chatStore
  src/hooks/useIntegrationManagement.ts
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

fix: resolve 10 pre-existing test failures across unit and integration suites
  test/integration/chatStore/newProject.test.tsx
  test/integration/chatStore/replayComplete.test.tsx
  test/integration/components/ChatBox.integration.test.tsx
  test/unit/components/ChatBox.test.tsx
  test/unit/components/SearchInput.test.tsx
  test/unit/examples/installationFlow.test.ts
  test/unit/hooks/useInstallationSetup.test.ts
  test/unit/store/installationStore.test.ts
Due: node licenses/update_license.js, prettier --write

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
