Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

fix: correct is_valid mapping and show provider status in UI
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

fix: navigate to correct model settings page on error
  src/components/ChatBox/MessageItem/ModelErrorCard.tsx
  src/components/Toast/modelErrorToast.tsx
Due: node licenses/update_license.js, prettier --write

fix: use PUT fallback for provider invalidation and clean up debug logs
  backend/app/utils/workforce.py
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

fix: restore i18n keys lost during rebase conflict resolution
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/setting.json
Due: none

feat: show toast and invalidate provider on model errors
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

feat(i18n): add model error and provider status locale keys
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/setting.json
Due: none

feat: add inline model error card with settings CTA in chat flow
  src/components/ChatBox/MessageItem/ModelErrorCard.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/store/chatStore.ts
  src/types/chatbox.d.ts
Due: node licenses/update_license.js, prettier --write

fix: propagate model errors from all backend code paths to SSE stream
  backend/app/service/chat_service.py
  backend/app/service/task.py
  backend/app/utils/workforce.py
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

feat: sql based transcript system local backend
  backend/app/controller/event_controller.py
  backend/app/event_store/__init__.py
  backend/app/event_store/config.py
  backend/app/event_store/schema.py
  backend/app/event_store/sqlite_store.py
  backend/app/router.py
  backend/app/service/chat_service.py
  backend/app/utils/workforce.py
  backend/tests/unit/event_store/__init__.py
  backend/tests/unit/event_store/test_sqlite_store.py
Due: node licenses/update_license.js

feat: server sync
  backend/.env.example
  backend/app/utils/server/event_sync.py
  backend/pyproject.toml
  backend/uv.lock
  electron/main/index.ts
  electron/preload/index.ts
  server/app/domains/chat/api/event_controller.py
  server/app/model/chat/workflow_event.py
  src/service/localEventApi.ts
Due: node licenses/update_license.js, prettier --write

fix: improve web browser/login flow and handle duplicate agent files
  backend/app/agent/factory/browser.py
  backend/app/controller/chat_controller.py
  backend/app/controller/tool_controller.py
  backend/app/utils/browser_launcher.py
  backend/tests/app/agent/factory/test_browser.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/controller/test_tool_controller.py
  backend/tests/conftest.py
  src/components/Folder/index.tsx
  src/pages/Browser/CDP.tsx
  src/pages/Login.tsx
  src/pages/loginUtils.ts
  test/unit/components/Folder/FileTree.test.tsx
  test/unit/pages/Browser/CDP.test.tsx
  test/unit/pages/loginUtils.test.ts
Due: node licenses/update_license.js, prettier --write

add docs
  docs/core/brain-architecture.md
  docs/docs.json
Due: none

Merge remote-tracking branch 'origin/main' into refactor_eigent
  backend/app/agent/factory/browser.py
  src/assets/wechat_qr.jpg
Due: node licenses/update_license.js

fix(ci): unblock workflows and address CodeQL findings
  .github/workflows/test.yml
  backend/README.md
  backend/app/controller/skill_controller.py
  backend/app/controller/tool_controller.py
  backend/app/service/chat_service.py
  backend/app/service/skill_service.py
  backend/app/utils/event_loop_utils.py
  backend/app/utils/workforce.py
  src/components/Folder/index.tsx
Due: node licenses/update_license.js, prettier --write

bug fix
  src/components/IntegrationList/index.tsx
Due: node licenses/update_license.js, prettier --write

feat: make it simpler. local db store UI events
  backend/app/controller/event_controller.py
  backend/app/event_store/schema.py
  backend/app/event_store/sqlite_store.py
  backend/app/utils/server/event_sync.py
  backend/app/utils/server/sync_step.py
  backend/tests/unit/event_store/test_sqlite_store.py
  electron/main/index.ts
  electron/preload/index.ts
  server/app/domains/chat/api/event_controller.py
  server/app/model/chat/workflow_event.py
  src/components/GroupedHistoryView/ProjectGroup.tsx
  src/components/GroupedHistoryView/TaskItem.tsx
  src/components/SearchHistoryDialog.tsx
  src/service/historyApi.ts
  src/service/localEventApi.ts
  src/store/chatStore.ts
  src/store/projectStore.ts
  src/types/history.d.ts
Due: node licenses/update_license.js, prettier --write

enhance: simplify the question agent flow
  backend/app/agent/prompt.py
  backend/app/service/chat_service.py
Due: node licenses/update_license.js

Update src/components/IntegrationList/index.tsx
  src/components/IntegrationList/index.tsx
Due: node licenses/update_license.js, prettier --write

add input timeout handle
  src/components/ui/input-select.tsx
Due: node licenses/update_license.js, prettier --write

bug fix
  src/hooks/useIntegrationManagement.ts
  src/i18n/locales/ar/layout.json
  src/i18n/locales/ar/setting.json
  src/i18n/locales/ar/triggers.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/de/triggers.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/es/triggers.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/fr/triggers.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/it/triggers.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ja/triggers.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ko/triggers.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/ru/triggers.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hans/triggers.json
  src/i18n/locales/zh-Hant/layout.json
  src/i18n/locales/zh-Hant/setting.json
  src/i18n/locales/zh-Hant/triggers.json
Due: node licenses/update_license.js, prettier --write

bug fix
  server/main.py
  src/components/IntegrationList/index.tsx
  src/components/ui/sonner.tsx
Due: node licenses/update_license.js, prettier --write

feat(updater): switch app auto-update feed from GitHub Releases to CDN
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  electron/main/githubReleaseCdnProvider.ts
  electron/main/update.ts
  package.json
  server/doc/server-refactor-v1.md
  server/doc/server-refactor-v1_CN.md
  src/api/http.ts
  test/unit/electron/githubReleaseCdnProvider.test.ts
Due: node licenses/update_license.js, prettier --write

fix: sanitize tool schemas for strict providers to ensure compatibility
  backend/app/agent/agent_model.py
Due: node licenses/update_license.js

reset to 0.0.89
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
  server/doc/server-refactor-v1.md
  server/doc/server-refactor-v1_CN.md
  src/api/http.ts
Due: node licenses/update_license.js, prettier --write

bug fix to remove confusing feature
  src/assets/icon/cursor.svg
  src/assets/icon/vs-code.svg
  src/components/Folder/index.tsx
  src/components/ProjectPageSidebar/TaskList.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
Due: node licenses/update_license.js, prettier --write

fix: align login-related UI with main, extend ProtectedRoute effect deps
  electron/main/index.ts
  electron/preload/index.ts
  package.json
  src/components/ui/select.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/pages/Login.tsx
  src/routers/index.tsx
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

feat: replace PDF iframe with react-pdf viewer in Agent Folder
  src/components/Folder/index.tsx
  test/unit/components/Folder/LongFileScroll.test.tsx
Due: node licenses/update_license.js, prettier --write

enhance: parallel promise & reduce focus event refetches
  src/components/ChatBox/index.tsx
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

enhance: cache userkey
  src/components/ChatBox/index.tsx
  src/lib/queryClient.ts
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

chore: cache model backends
  backend/app/agent/agent_model.py
  backend/app/agent/factory/mcp.py
  backend/app/service/model_registry.py
  backend/main.py
Due: node licenses/update_license.js

fix: safety issue with different method
  backend/app/service/model_registry.py
Due: node licenses/update_license.js

add camel_log and attachments
  backend/main.py
  electron/main/fileReader.ts
  electron/main/index.ts
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

Add auto scroll animation for the worker log (#1513)
  src/components/WorkFlow/node.tsx
Due: node licenses/update_license.js, prettier --write

Fix/browser port (#1545)
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

resolve conflicts
  src/components/ProjectPageSidebar/TaskList.tsx
  src/components/ProjectPageSidebar/index.tsx
Due: node licenses/update_license.js, prettier --write

redesign for chathistory and workspace panel
  src/components/ChatBox/ChatTimeline.tsx
  src/components/ChatBox/HeaderBox/index.tsx
  src/components/ChatBox/index.tsx
  src/components/ProjectPageSidebar/BottomAction.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/Workforce/ExpandedOverlay.tsx
  src/components/Workforce/FoldedPanel/AgentDetailPane.tsx
  src/components/Workforce/FoldedPanel/index.tsx
  src/components/Workforce/WorkspaceContent.tsx
  src/components/ui/HoverScrollText.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/pages/Home.tsx
  src/store/pageTabStore.ts
  test/unit/components/ChatBox.test.tsx
Due: node licenses/update_license.js, prettier --write

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

update
  electron/main/index.ts
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

add camel_log and attachments (#1546)
  backend/main.py
  electron/main/fileReader.ts
  electron/main/index.ts
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write
