Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

feat: ant-ling
  backend/app/model/model_platform.py
  backend/tests/app/model/test_chat.py
  src/assets/model/ant-ling.svg
  src/lib/llm.ts
  src/shared/modelProviderImages.ts
Due: node licenses/update_license.js, prettier --write

Rebuild workforce flow as preview tab
  src/components/Session/PreviewPanel/index.tsx
  src/components/Session/PreviewPanel/tabKinds.tsx
  src/components/Session/PreviewPanel/tabs/WorkflowTab.tsx
  src/components/Session/SessionSidePanel.tsx
  src/components/Session/SessionSidePanelHeader.tsx
  src/components/Session/Workforce/ExpandedOverlay.tsx
  src/components/Session/Workforce/WorkforceSidePanel.tsx
  src/components/Session/Workforce/WorkforceSidePanelHeaderEnd.tsx
  src/components/Session/index.tsx
  src/store/pageTabStore.ts
  test/unit/components/Session/PreviewPanel.test.tsx
  test/unit/store/pageTabStore.preview.test.ts
Due: node licenses/update_license.js, prettier --write

merge main into test
  src/components/ui/ShinyText/ShinyText.css
Due: none

bug fix
  src/components/Dashboard/HistoryTabsNav.tsx
  src/components/Dashboard/VerticalNav.tsx
  src/components/Dialog/SearchHistoryDialog.tsx
  src/components/HistorySidebar/SearchInput.tsx
  src/components/HistorySidebar/index.tsx
  src/components/Layout/tokenAliases.ts
  src/components/Settings/Appearance/index.tsx
  src/components/Settings/Connectors/components/MCPDeleteDialog.tsx
  src/components/Settings/SettingsSection.tsx
  src/hooks/useTriggerTaskExecutor.ts
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/pages/Home.tsx
  src/store/settingsDialogStore.ts
  test/unit/store/settingsDialogStore.test.ts
Due: node licenses/update_license.js, prettier --write

design animated fix
  electron/main/reviewChanges.ts
  package.json
  src/components/Session/PreviewPanel/tabs/ReviewTab.tsx
  src/components/Session/PreviewPanel/tabs/review/DiffFileCard.tsx
  src/components/Session/PreviewPanel/tabs/review/ReviewAccordionContent.tsx
  src/components/Session/PreviewPanel/tabs/review/diffMetrics.ts
  src/components/Session/PreviewPanel/tabs/review/reviewContent.ts
  src/components/Session/PreviewPanel/tabs/review/reviewDiff.css
  src/components/Session/PreviewPanel/tabs/review/reviewFixture.ts
  src/components/Session/PreviewPanel/tabs/review/reviewSources.ts
  src/components/Session/PreviewPanel/tabs/review/useReviewChanges.ts
  src/main.tsx
  src/style/fontStacks.json
  src/types/electron.d.ts
  tailwind.config.js
  test/unit/components/Session/ReviewAccordionContent.test.tsx
  test/unit/components/Session/ReviewTab.test.tsx
  test/unit/components/Session/reviewDiffMetrics.test.ts
  test/unit/components/Session/useReviewChanges.test.tsx
Due: node licenses/update_license.js, prettier --write

bug fix resolve terminal rendering function
  electron/main/terminal.ts
  src/components/Session/PreviewPanel/index.tsx
  src/components/Session/PreviewPanel/tabs/ChooserTab.tsx
  src/components/Session/PreviewPanel/tabs/terminal/ShellTerminal.tsx
  src/components/Session/PreviewPanel/tabs/terminal/useSessionTerminalSources.ts
  src/lib/shellSessions.ts
  src/store/pageTabStore.ts
  src/store/projectStore.test.ts
  src/store/projectStore.ts
  src/store/spaceStore.test.ts
  src/store/spaceStore.ts
  test/unit/electron/main/terminal.test.ts
  test/unit/store/pageTabStore.preview.test.ts
Due: node licenses/update_license.js, prettier --write

Add Ant Ling as an OpenAI-compatible model provider (#1823)
  backend/app/model/model_platform.py
  backend/tests/app/model/test_chat.py
  src/assets/model/ant-ling.svg
  src/lib/llm.ts
  src/shared/modelProviderImages.ts
Due: node licenses/update_license.js, prettier --write

feat: authenticate cloud models without LiteLLM keys
  backend/app/agent/toolkit/search_toolkit.py
  backend/tests/app/agent/toolkit/test_search_toolkit_cloud_auth.py
  src/hooks/useModelConfigCheck.ts
  src/lib/cloudModelAuth.test.ts
  src/lib/cloudModelAuth.ts
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

style: format cloud auth test
  backend/tests/app/agent/toolkit/test_search_toolkit_cloud_auth.py
Due: node licenses/update_license.js

fix(i18n): apply persisted language on startup
  src/i18n/index.ts
Due: node licenses/update_license.js, prettier --write

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

fix: persist human replies and normalize preview paths
  backend/app/__init__.py
  backend/app/controller/chat_controller.py
  backend/app/exception/handler.py
  backend/app/memory/service.py
  backend/app/service/task.py
  backend/app/utils/server/sync_step.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/memory/test_service_lifecycle.py
  backend/tests/app/service/test_task.py
  backend/tests/app/test_exception_handler_registration.py
  src/components/ChatBox/index.tsx
  src/lib/fileInfo.ts
  src/store/chatStore.ts
  src/types/chatbox.d.ts
  src/types/constants.ts
  test/unit/components/ChatBox.test.tsx
  test/unit/electron/main/filePath.test.ts
  test/unit/lib/fileInfo.test.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: persist human replies and normalize preview file paths (#1835)
  backend/app/__init__.py
  backend/app/controller/chat_controller.py
  backend/app/exception/handler.py
  backend/app/memory/service.py
  backend/app/service/task.py
  backend/app/utils/server/sync_step.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/memory/test_service_lifecycle.py
  backend/tests/app/service/test_task.py
  backend/tests/app/test_exception_handler_registration.py
  src/components/ChatBox/index.tsx
  src/lib/fileInfo.ts
  src/store/chatStore.ts
  src/types/chatbox.d.ts
  src/types/constants.ts
  test/unit/components/ChatBox.test.tsx
  test/unit/electron/main/filePath.test.ts
  test/unit/lib/fileInfo.test.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix taskbox folded preview overflow
  src/components/ChatBox/TaskBox/PlanTaskBox/FoldedView.tsx
  test/unit/components/FoldedView.test.tsx
Due: node licenses/update_license.js, prettier --write

fix taskbox folded view scrollable issue (#1698)
  src/components/ChatBox/TaskBox/PlanTaskBox/FoldedView.tsx
  test/unit/components/FoldedView.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: harden session terminal transport and lifecycle
  backend/app/controller/workspace_controller.py
  backend/app/utils/workspace_resolver.py
  backend/tests/app/controller/test_workspace_controller_effective_directory.py
  backend/tests/app/utils/test_workspace_store_snapshots.py
  electron/main/terminal.ts
  electron/preload/index.ts
  src/components/Session/PreviewPanel/tabKinds.tsx
  src/components/Session/PreviewPanel/tabs/ChooserTab.tsx
  src/components/Session/PreviewPanel/tabs/terminal/ShellTerminal.tsx
  src/components/Session/PreviewPanel/tabs/terminal/TerminalTab.tsx
  src/lib/shellSessions.ts
  src/lib/terminalTransport.ts
  src/service/workspaceApi.ts
  src/store/pageTabStore.ts
  src/store/projectStore.test.ts
  src/store/projectStore.ts
  src/store/spaceStore.test.ts
  src/store/spaceStore.ts
  src/types/electron.d.ts
  test/unit/components/Session/TerminalTab.test.tsx
  test/unit/electron/main/terminal.test.ts
  test/unit/store/pageTabStore.preview.test.ts
Due: node licenses/update_license.js, prettier --write

feat: add durable desktop run journal foundation
  backend/app/controller/chat_controller.py
  backend/app/run_journal/__init__.py
  backend/app/run_journal/models.py
  backend/app/run_journal/paths.py
  backend/app/run_journal/recorder.py
  backend/app/run_journal/runtime.py
  backend/app/run_journal/store.py
  backend/app/service/task.py
  backend/app/utils/server/sync_step.py
  backend/main.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/run_journal/__init__.py
  backend/tests/app/run_journal/test_store.py
  backend/tests/app/service/test_task.py
  backend/tests/app/utils/server/test_sync_step_journal.py
Due: node licenses/update_license.js

feat: detach run execution from transport lifecycle
  backend/app/controller/chat_controller.py
  backend/app/run_runtime/__init__.py
  backend/app/run_runtime/coordinator.py
  backend/app/run_runtime/runtime.py
  backend/app/service/chat_service.py
  backend/app/service/single_agent_service.py
  backend/app/utils/server/sync_step.py
  backend/main.py
  backend/tests/app/controller/test_run_stream_lifecycle.py
  backend/tests/app/run_runtime/__init__.py
  backend/tests/app/run_runtime/test_coordinator.py
  backend/tests/app/service/test_chat_service.py
  backend/tests/app/utils/server/test_sync_step_journal.py
Due: node licenses/update_license.js

fix: make run admission idempotent
  backend/app/controller/chat_controller.py
  backend/app/run_runtime/coordinator.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/run_runtime/test_coordinator.py
Due: node licenses/update_license.js

feat: add durable run admission and replay APIs
  backend/app/controller/chat_controller.py
  backend/app/controller/run_controller.py
  backend/app/router.py
  backend/app/run_journal/recorder.py
  backend/app/run_journal/store.py
  backend/app/run_runtime/coordinator.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/controller/test_run_controller.py
  backend/tests/app/controller/test_run_stream_lifecycle.py
  backend/tests/app/run_journal/test_store.py
  backend/tests/app/run_runtime/test_coordinator.py
Due: node licenses/update_license.js

feat: sync durable run events to cloud
  backend/app/controller/chat_controller.py
  backend/app/run_journal/__init__.py
  backend/app/run_journal/models.py
  backend/app/run_journal/recorder.py
  backend/app/run_journal/runtime.py
  backend/app/run_journal/store.py
  backend/app/run_sync/__init__.py
  backend/app/run_sync/cloud_sync.py
  backend/app/run_sync/middleware.py
  backend/app/run_sync/runtime.py
  backend/main.py
  backend/tests/app/run_journal/test_store.py
  backend/tests/app/run_sync/test_cloud_sync.py
  src/api/http.ts
  src/lib/desktopIdentity.ts
  src/lib/remoteControl.ts
Due: node licenses/update_license.js, prettier --write

feat: add durable remote command inbox
  backend/app/controller/remote_command_controller.py
  backend/app/router.py
  backend/app/run_journal/__init__.py
  backend/app/run_journal/models.py
  backend/app/run_journal/store.py
  backend/app/run_sync/cloud_sync.py
  backend/app/run_sync/command_sync.py
  backend/app/run_sync/runtime.py
  backend/tests/app/run_journal/test_command_inbox.py
  backend/tests/app/run_sync/test_command_sync.py
  src/hooks/useRemoteControlBridge.ts
Due: node licenses/update_license.js, prettier --write

feat: add pure frontend event projector
  src/lib/projector/decode.ts
  src/lib/projector/effects.ts
  src/lib/projector/importers.ts
  src/lib/projector/index.ts
  src/lib/projector/normalize.ts
  src/lib/projector/reduce.ts
  src/lib/projector/types.ts
  src/lib/remoteControl.ts
  src/pages/RemoteControl.tsx
  test/unit/lib/projector.test.ts
Due: node licenses/update_license.js, prettier --write

feat: add safe run recovery and checkpoints
  backend/app/agent/listen_chat_agent.py
  backend/app/agent/toolkit/human_toolkit.py
  backend/app/controller/chat_controller.py
  backend/app/controller/run_controller.py
  backend/app/run_context/context.py
  backend/app/run_journal/__init__.py
  backend/app/run_journal/models.py
  backend/app/run_journal/store.py
  backend/app/run_policy.py
  backend/app/run_runtime/__init__.py
  backend/app/run_runtime/coordinator.py
  backend/app/run_runtime/tool_checkpoint.py
  backend/app/service/task.py
  backend/main.py
  backend/tests/app/controller/test_run_control_api.py
  backend/tests/app/run_journal/test_recovery.py
  backend/tests/app/run_runtime/test_deadline.py
  backend/tests/app/run_runtime/test_policy.py
  backend/tests/app/run_runtime/test_tool_checkpoint.py
Due: node licenses/update_license.js

fix: harden durable run state transitions
  backend/app/run_journal/store.py
  backend/app/run_journal/transitions.py
  backend/tests/app/run_journal/test_recovery.py
  backend/tests/app/run_sync/test_command_sync.py
Due: node licenses/update_license.js

fix: enforce tool safety and dynamic deadlines
  backend/app/agent/listen_chat_agent.py
  backend/app/controller/run_controller.py
  backend/app/run_runtime/coordinator.py
  backend/app/run_runtime/tool_checkpoint.py
  backend/tests/app/agent/test_listen_chat_agent.py
  backend/tests/app/run_runtime/test_deadline.py
  backend/tests/app/run_runtime/test_tool_checkpoint.py
Due: node licenses/update_license.js

fix: make remote commands crash-safe
  backend/app/controller/remote_command_controller.py
  backend/app/run_journal/store.py
  backend/app/run_sync/cloud_sync.py
  backend/app/run_sync/command_sync.py
  backend/tests/app/run_journal/test_command_inbox.py
  backend/tests/app/run_sync/test_cloud_sync.py
  backend/tests/app/run_sync/test_command_sync.py
  src/hooks/useRemoteControlBridge.test.ts
  src/hooks/useRemoteControlBridge.ts
Due: node licenses/update_license.js, prettier --write

fix: make run admission retry-safe
  backend/app/controller/chat_controller.py
  backend/app/controller/run_controller.py
  backend/app/run_journal/recorder.py
  backend/app/run_runtime/admission.py
  backend/app/service/chat_service.py
  backend/app/service/single_agent_service.py
  backend/app/service/task.py
  backend/app/utils/server/sync_step.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/controller/test_run_controller.py
  backend/tests/app/run_journal/test_store.py
  backend/tests/app/service/test_chat_service.py
Due: node licenses/update_license.js

fix: close admission retry edge cases
  backend/app/controller/chat_controller.py
  backend/app/memory/local_store.py
  backend/app/memory/service.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/memory/test_service_lifecycle.py
Due: node licenses/update_license.js

fix: keep remote history projection contiguous
  src/lib/projector/effects.ts
  src/lib/projector/index.ts
  src/lib/projector/reduce.ts
  src/lib/projector/selectors.ts
  src/lib/projector/types.ts
  src/pages/RemoteControl.tsx
  test/unit/lib/projector.test.ts
Due: node licenses/update_license.js, prettier --write

fix: keep remote projections monotonic
  src/lib/projector/effects.ts
  test/unit/lib/projector.test.ts
Due: node licenses/update_license.js, prettier --write

fix: authenticate local run control APIs
  backend/app/auth/__init__.py
  backend/app/auth/local_control.py
  backend/app/controller/remote_command_controller.py
  backend/app/controller/run_controller.py
  backend/tests/app/auth/test_local_control.py
  electron/main/index.ts
  electron/preload/index.ts
  src/api/http.ts
  src/hooks/useRemoteControlBridge.ts
  src/types/electron.d.ts
  test/unit/api/http.test.ts
  test/unit/hooks/useRemoteControlBridge.test.ts
Due: node licenses/update_license.js, prettier --write

fix: authenticate local run control
  backend/app/router.py
Due: node licenses/update_license.js

fix: order mixed projection lanes safely
  src/lib/projector/index.ts
  src/lib/projector/reduce.ts
  src/lib/projector/types.ts
  test/unit/lib/projector.test.ts
Due: node licenses/update_license.js, prettier --write

test: stabilize full regression fixtures
  backend/tests/app/agent/factory/test_browser.py
  test/mocks/authStore.mock.ts
Due: node licenses/update_license.js, prettier --write

fix: distinguish known tool failures from unknown outcomes
  backend/app/agent/factory/toolkit_assembler.py
  backend/app/agent/listen_chat_agent.py
  backend/app/run_runtime/tool_checkpoint.py
  backend/tests/app/agent/test_listen_chat_agent.py
  backend/tests/app/run_runtime/test_tool_checkpoint.py
Due: node licenses/update_license.js

fix: retry remote command creation idempotently
  src/lib/remoteControl.ts
  test/unit/lib/remoteControl.test.ts
Due: node licenses/update_license.js, prettier --write
