Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

fix: include local Tasks in Home Session cleanup
  src/components/Home/hooks/useHomeHubProjects.ts
  test/unit/components/HomeSessionDeletion.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: drain unpublished warm admission before Stop cancellation
  backend/app/controller/chat_controller.py
  backend/app/run_runtime/admission.py
  backend/app/run_runtime/coordinator.py
  backend/app/service/chat_service.py
  backend/app/service/single_agent_service.py
  backend/app/service/task.py
  backend/tests/app/controller/test_warm_follow_up_git.py
  backend/tests/app/run_runtime/test_coordinator.py
Due: node licenses/update_license.js

fix: preflight bundle references during desktop authoring
  backend/app/controller/workspace_config_controller.py
  backend/app/workspace_bundle/authoring.py
  backend/tests/app/controller/test_workspace_config_controller.py
  backend/tests/app/workspace_bundle/test_authoring.py
  src/components/WorkspaceConfiguration/WorkspaceBundleSaveDialog.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/service/spaceModelDiscovery.ts
  src/service/workspaceBundleReferencePreflight.ts
  src/service/workspaceConfigurationApi.ts
  test/unit/components/WorkspaceConfiguration/WorkspaceBundleSaveDialog.test.tsx
  test/unit/service/spaceModelDiscovery.test.ts
  test/unit/service/workspaceBundleReferencePreflight.test.ts
Due: node licenses/update_license.js, prettier --write

fix: reject drifting model catalog pagination
  src/service/spaceModelDiscovery.ts
  test/unit/service/spaceModelDiscovery.test.ts
Due: node licenses/update_license.js, prettier --write

fix: preserve warm Stop identity and cold admission retries
  backend/app/controller/chat_controller.py
  backend/app/run_runtime/admission.py
  backend/app/service/chat_service.py
  backend/app/service/single_agent_service.py
  backend/app/service/task.py
  backend/tests/app/controller/test_warm_follow_up_git.py
Due: node licenses/update_license.js

fix: reconcile historical confirmed input mirrors
  src/components/ChatBox/EventTimeline/presentationPolicy.ts
  test/fixtures/failedFollowupHistory.json
  test/unit/components/ChatBox/EventTimeline/transcriptFallbacks.test.ts
  test/unit/components/ChatBox/failedFollowupHistory.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: reconcile Session navigation with canonical Run status
  backend/tests/app/run_journal/test_session_status_fixture.py
  src/components/SpaceSidebar/index.tsx
  src/lib/sessionNavLead.test.ts
  src/lib/sessionNavLead.ts
  src/service/sessionNavStatus.ts
  src/store/projectStore.ts
  test/fixtures/session-status/journal-outcomes.json
  test/unit/lib/projectAchievement.test.ts
  test/unit/store/projectStore.test.ts
  test/unit/store/sessionNavStatus.test.tsx
Due: node licenses/update_license.js, prettier --write

test: align transcript contract with exact input matching
  test/unit/lib/chatProjectionContract.test.ts
Due: node licenses/update_license.js, prettier --write

fix: format quota failure messages safely
  backend/tests/app/component/test_error_format.py
  src/api/http.ts
  src/components/ChatBox/MessageItem/AgentMessageCard.tsx
  src/components/ChatBox/index.tsx
  src/components/ChatBox/taskErrorPresentation.ts
  src/components/Trigger/ExecutionLogs.tsx
  src/components/Workspace/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/lib/notifyError.ts
  src/lib/usageErrors.ts
  test/unit/api/http.quotaPresentation.test.tsx
  test/unit/components/ChatBox/MessageItem/AgentMessageCardFeedback.test.tsx
  test/unit/components/ChatBox/TimelineModes.test.tsx
  test/unit/components/Workspace.test.tsx
  test/unit/lib/errorPresentation.test.ts
  test/unit/lib/notifyError.test.ts
Due: node licenses/update_license.js, prettier --write

fix: scope browser preview handoff to each run
  src/store/chatStore.ts
  test/e2e/preview-browser/verify.mjs
  test/unit/components/Session/PreviewBrowserLayer.test.tsx
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: guard Session status refresh races
  src/components/SpaceSidebar/index.tsx
  src/hooks/useSessionNavStatuses.ts
  src/service/projectRunsApi.ts
  src/service/sessionNavStatus.ts
  src/store/projectStore.ts
  test/unit/store/projectStore.test.ts
  test/unit/store/sessionNavStatus.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: reject stale browser activations before handoff
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: harden admission failure presentation
  src/api/http.ts
  src/lib/errorEnvelope.ts
  src/lib/notifyError.ts
  src/lib/responseError.ts
  src/lib/usageErrors.ts
  src/store/chatStore.ts
  test/unit/lib/errorPresentation.test.ts
  test/unit/lib/notifyError.test.ts
  test/unit/store/chatStore.quotaAdmission.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: preserve trusted local model error guidance
  src/lib/localError.ts
  src/lib/notifyError.ts
  src/lib/spaceModelBinding.ts
  src/store/chatStore.ts
  test/unit/components/Workspace.modelSelection.test.tsx
  test/unit/lib/notifyError.localCopy.test.tsx
  test/unit/store/chatStore.quotaAdmission.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: resolve Teach Mode annotation review findings
  src/components/Session/PreviewPanel/tabs/AnnotationTab.test.tsx
  src/components/Session/PreviewPanel/tabs/AnnotationTab.tsx
  src/components/Session/PreviewPanel/tabs/ReviewTab.tsx
  src/components/TeachMode/TeachCommentPopover.tsx
  src/lib/themeTokens/types.ts
  src/store/teachModeStore.ts
  test/unit/components/Session/ReviewTab.test.tsx
Due: node licenses/update_license.js, prettier --write

feat: show model count in home sidebar
  src/components/Settings/SettingsSidebar.tsx
  test/unit/components/SettingsPage.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: correct model availability counts
  src/components/Settings/Models/index.tsx
  src/components/Settings/SettingsSidebar.tsx
  test/unit/components/Settings/ModelsNavigation.test.tsx
  test/unit/components/SettingsPage.test.tsx
Due: node licenses/update_license.js, prettier --write

docs: remove model configuration plan
  docs/plans/model-config-enhancement.md
Due: none

fix: gate unavailable Eigent models
  src/components/Settings/Models/index.tsx
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  test/unit/components/Settings/ModelsNavigation.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: animate unavailable model upgrade prompt
  src/components/Settings/Models/index.tsx
  test/unit/components/Settings/ModelsNavigation.test.tsx
Due: node licenses/update_license.js, prettier --write

copy: explain default model behavior
  src/components/Settings/Models/index.tsx
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  test/unit/components/Settings/ModelsNavigation.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: preserve configured model selection across settings
  src/components/AddWorker/index.tsx
  src/components/ChatBox/BottomBox/ModelAndThinkingEffortSelect.tsx
  src/components/Settings/Models/index.tsx
  src/components/Settings/Models/localModels.ts
  src/components/Settings/SettingsSidebar.tsx
  src/hooks/useConfiguredModels.ts
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/setting.json
  src/lib/cloudModelAvailability.ts
  src/lib/configuredModels.ts
  src/lib/workerModelOptions.ts
  src/store/chatStore.ts
  test/unit/components/ChatBox/BottomBox/ModelAndThinkingEffortSelect.test.tsx
  test/unit/components/Settings/ModelsNavigation.test.tsx
  test/unit/hooks/useConfiguredModels.test.tsx
  test/unit/lib/configuredModels.test.ts
  test/unit/lib/workerModelOptions.test.ts
  test/unit/store/cloudModelTransport.test.ts
Due: node licenses/update_license.js, prettier --write

fix: address ChatTimeline review findings
  src/components/ChatBox/TimelineModes/CallRow.tsx
  src/components/ChatBox/TimelineModes/NarrativeTimeline.tsx
  src/components/SpaceSidebar/index.tsx
  src/components/ui/alertDialog.tsx
  src/components/ui/range-slider.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/layout.json
  src/lib/projector/chat/presentation/timelineCalls.ts
  test/unit/components/ChatBox/TimelineModes.test.tsx
  test/unit/components/ui/alertDialog.test.tsx
Due: node licenses/update_license.js, prettier --write

chore: keep merged backend identical to main
  backend/app/workspace_runtime/__init__.py
  backend/app/workspace_runtime/store.py
  backend/tests/app/workspace_runtime/test_core_review.py
  backend/tests/app/workspace_runtime/test_merge.py
Due: node licenses/update_license.js

feat: send structured Teach Mode annotations in follow-ups
  src/components/ChatBox/BottomBox/InputBox.annotation.test.tsx
  src/components/ChatBox/BottomBox/InputBox.tsx
  src/components/ChatBox/BottomBox/QueuedBox.tsx
  src/components/ChatBox/MessageItem/UserMessageCard.annotation.test.tsx
  src/components/ChatBox/MessageItem/UserMessageCard.tsx
  src/components/ChatBox/SessionExecutionChat.tsx
  src/components/ChatBox/index.tsx
  src/components/Session/PreviewPanel/tabs/AnnotationTab.test.tsx
  src/components/Session/PreviewPanel/tabs/AnnotationTab.tsx
  src/components/TeachMode/TeachAnnotationCard.tsx
  src/components/TeachMode/TeachCommentPopover.test.tsx
  src/components/TeachMode/TeachCommentPopover.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/lib/teachAnnotationContext.test.ts
  src/lib/teachAnnotationContext.ts
  src/store/teachModeStore.test.ts
  src/store/teachModeStore.ts
Due: node licenses/update_license.js, prettier --write

feat: add profile step to onboarding and profile setting
  src/components/InstallStep/OnboardingSteps.tsx
  src/components/Settings/General/index.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/layout.json
  src/i18n/locales/zh-Hant/setting.json
  src/lib/workProfiles.ts
  src/store/authStore.ts
  test/unit/components/OnboardingProfileStep.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: tighten control recovery states after review
  src/components/ChatBox/ControlRecovery.tsx
  src/components/ChatBox/MessageItem/HumanInteractionCard.tsx
  src/components/ChatBox/index.tsx
  src/service/controlOperations.ts
  test/unit/api/controlRecovery.test.tsx
  test/unit/components/ChatBox/MessageItem/HumanInteractionCard.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: retire warm admission markers on restart and reject rebinding
  backend/app/controller/chat_controller.py
  backend/app/run_journal/store.py
  backend/tests/app/controller/test_warm_follow_up_git.py
Due: node licenses/update_license.js

fix: share dormant-skipping promotion with legacy target settlement
  backend/app/run_journal/store.py
  backend/app/workspace_runtime/store.py
  backend/tests/app/workspace_git/test_scheduler.py
Due: node licenses/update_license.js

fix: hold shell fitting while the display panel exits
  package.json
  src/components/Session/PreviewPanel/index.tsx
  src/components/Session/PreviewPanel/tabs/terminal/ShellTerminal.tsx
  test/e2e/terminal-scrollback/verify.mjs
  test/unit/components/Session/PreviewPanel.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: keep provable truncation for local previews of growing files
  electron/main/fileReader.ts
  test/unit/electron/fileReaderPreview.test.ts
Due: node licenses/update_license.js, prettier --write

fix: keep unchanged direct Task boundaries technical-only
  backend/app/workspace_git/advanced.py
  backend/tests/app/workspace_git/history_fixture.py
Due: node licenses/update_license.js

fix: skip ambiguous legacy storage identities instead of failing cleanup
  electron/main/utils/taskFileCleanup.ts
  test/unit/electron/taskFileCleanup.test.ts
Due: node licenses/update_license.js, prettier --write

feat(brain): add guarded Session workdir delete endpoint
  backend/app/controller/workspace_controller.py
  backend/app/utils/workspace_resolver.py
  backend/tests/app/controller/test_workspace_project_workdir.py
Due: node licenses/update_license.js

feat: stop Sessions before deleting files and offer workdir removal
  src/components/Home/hooks/useHomeHubProjects.ts
  src/components/Home/index.tsx
  src/components/Session/DeleteSessionDialog.tsx
  src/components/SpaceSidebar/index.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/lib/sessionFileCleanup.ts
  src/lib/sessionStop.ts
  src/service/projectRunsApi.ts
  src/service/workspaceApi.ts
  test/unit/components/HomeSessionDeletion.test.tsx
  test/unit/components/SidebarSessionDeletion.test.tsx
  test/unit/lib/sessionFileCleanup.test.ts
  test/unit/lib/sessionStop.test.ts
Due: node licenses/update_license.js, prettier --write

fix: keep Session navigation from allocating event stores
  src/store/projectEventStore.ts
  src/store/projectStore.ts
  test/unit/store/sessionNavStatus.test.tsx
Due: node licenses/update_license.js, prettier --write

test: drop unwired Bundle sharing e2e probe
  test/e2e/bundle-sharing/fixtures.ts
  test/e2e/bundle-sharing/main.cjs
  test/e2e/bundle-sharing/renderer.tsx
  test/e2e/bundle-sharing/verify.mjs
Due: node licenses/update_license.js, prettier --write

fix: abandon Bundle imports missing from the journal
  src/components/WorkspaceBundle/WorkspaceBundleInstallWizard.tsx
  test/unit/components/WorkspaceBundle/WorkspaceBundleInstallWizard.test.tsx
Due: node licenses/update_license.js, prettier --write

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
