Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

update
  backend/app/agent/listen_chat_agent.py
  backend/app/agent/listen_chat_agent_callback.py
Due: node licenses/update_license.js

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

refactor electron style setting for mac only
  .gitignore
  electron/main/index.ts
  electron/preload/index.ts
  src/pages/Setting/General.tsx
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

Address review feedback: align health endpoint and diagnostics page
  backend/app/controller/health_controller.py
  src/pages/Diagnostics.tsx
Due: node licenses/update_license.js, prettier --write

add health endpoint
  backend/app/router.py
  server/main.py
Due: node licenses/update_license.js

move threading import to module level in tool_controller
  backend/app/controller/tool_controller.py
Due: node licenses/update_license.js

Fix HistorySidebar useEffect dependency causing excessive API calls
  src/components/HistorySidebar/index.tsx
Due: node licenses/update_license.js, prettier --write

add VITE_PROXY_URL
  .github/workflows/build-view.yml
Due: none

fix too many open files
  .github/workflows/build-view.yml
Due: none

delete Inspect app payload before signing
  .github/workflows/build-view.yml
Due: none

fix build-view
  .github/workflows/build-view.yml
Due: none

chore: prevent long task text from overflowing the ChatBox task card (#1505)
  src/components/ChatBox/TaskBox/TaskCard.tsx
Due: node licenses/update_license.js, prettier --write

Revert "Electron style - MacOs (#1110)"
  electron/main/index.ts
  electron/main/native/macos-window.ts
  src/components/ui/select.tsx
  src/style/token.css
Due: node licenses/update_license.js, prettier --write

keep rounded cornor setting for the mac system
  electron/main/index.ts
  electron/main/native/macos-window.ts
  test/unit/electron/main/index.test.ts
Due: node licenses/update_license.js, prettier --write

Revert "Electron style - MacOs (#1110)" (#1512)
  electron/main/index.ts
  electron/main/native/macos-window.ts
  src/components/ui/select.tsx
  src/style/token.css
  test/unit/electron/main/index.test.ts
Due: node licenses/update_license.js, prettier --write

release 0.0.89
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
Due: node licenses/update_license.js

add auto scroll animation for the worker log
  src/components/WorkFlow/node.tsx
Due: node licenses/update_license.js, prettier --write

update error loading unwrapped ui bugs
  .storybook/preview.tsx
  src/App.tsx
  src/components/AddWorker/ToolSelect.tsx
  src/components/AddWorker/index.tsx
  src/components/IntegrationList/index.tsx
  src/components/ui/button.stories.tsx
  src/components/ui/button.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input-select.tsx
  src/components/ui/input.tsx
  src/components/ui/sonner.tsx
  src/hooks/useIntegrationManagement.ts
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/en-us/setting.json
  src/pages/Browser/CDP.tsx
  src/pages/Connectors/components/MCPAddDialog.tsx
  src/pages/Connectors/components/MCPEnvDialog.tsx
  src/pages/Connectors/components/MCPListItem.tsx
  src/pages/Connectors/components/MCPMarket.tsx
  src/style/index.css
Due: node licenses/update_license.js, prettier --write

add language translate
  src/i18n/locales/ar/layout.json
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/layout.json
  src/i18n/locales/zh-Hant/setting.json
Due: none

feat(provider): add endpoint to retrieve models for a provider
  server/app/domains/model_provider/api/provider_controller.py
Due: node licenses/update_license.js

project side bar and new layout design
  electron/main/index.ts
  src/components/ChatBox/BottomBox/index.tsx
  src/components/ChatBox/HeaderBox/index.tsx
  src/components/ChatBox/ProjectChatContainer.tsx
  src/components/ChatBox/index.tsx
  src/components/GlobalSearch/index.tsx
  src/components/HistorySidebar/index.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/TopBar/index.tsx
  src/components/ui/button.tsx
  src/components/ui/command.tsx
  src/components/ui/dialog.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/resizable.tsx
  src/hooks/useInitialChatPanelLayout.ts
  src/i18n/locales/en-us/agents.json
  src/i18n/locales/en-us/layout.json
  src/lib/taskLifecycleUi.ts
  src/pages/Agents/Skills.tsx
  src/pages/Agents/components/SkillUploadDialog.tsx
  src/pages/Agents/index.tsx
  src/pages/Browser/CDP.tsx
  src/pages/Browser/index.tsx
  src/pages/Connectors/MCP.tsx
  src/pages/Home.tsx
  src/pages/Project/Workspace.tsx
  src/store/pageTabStore.ts
  src/style/token.css
  tailwind.config.js
  test/unit/electron/main/index.test.ts
Due: node licenses/update_license.js, prettier --write

feat(provider): expand updatable fields and improve model handling in UI
  server/app/domains/model_provider/service/provider_service.py
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

Releases v0.0.89 (#1516)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
Due: node licenses/update_license.js

feat: implement cloud configuration for AWS Bedrock Converse models
  backend/app/agent/agent_model.py
  backend/app/agent/factory/mcp.py
  backend/app/component/model_validation.py
  backend/app/model/model_platform.py
  src/lib/llm.ts
  src/pages/Agents/Models.tsx
  src/types/index.ts
Due: node licenses/update_license.js, prettier --write

feat: implement cloud configuration for AWS Bedrock Converse models
  backend/app/agent/agent_model.py
  backend/app/component/model_validation.py
Due: node licenses/update_license.js

feat: detect stale local server and notify developer to restart
  server/Dockerfile
  server/README_CN.md
  server/README_EN.md
  server/doc/server-refactor-v1.md
  server/doc/server-refactor-v1_CN.md
  server/docker-compose.yml
  server/main.py
  server/start.sh
  server/uv.lock
  src/api/http.ts
  src/pages/Home.tsx
  vite.config.ts
Due: node licenses/update_license.js, prettier --write

Update index.tsx
  src/components/ChatBox/index.tsx
Due: node licenses/update_license.js, prettier --write

feat: update AWS Bedrock configurations and enhance validation message handling
  src/lib/llm.ts
  src/pages/Agents/Models.tsx
  src/types/index.ts
Due: node licenses/update_license.js, prettier --write

fix: update cloud API URL check to use 'eigent-proxy'
  backend/app/model/chat.py
Due: node licenses/update_license.js

fix: use loguru logger for public dir warnings
  server/main.py
Due: node licenses/update_license.js

fix: use loguru logger for public dir warnings (#1520)
  server/main.py
Due: node licenses/update_license.js

update content
  src/components/BottomBar/index.tsx
  src/components/Folder/index.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/TopBar/index.tsx
  src/components/WorkSpaceMenu/index.tsx
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/en-us/triggers.json
  src/pages/Home.tsx
  src/pages/Project/Triggers.tsx
  src/pages/Project/Workspace.tsx
Due: node licenses/update_license.js, prettier --write

fix webview show
  electron/main/webview.ts
  test/unit/electron/main/webview.test.ts
Due: node licenses/update_license.js, prettier --write

update
  backend/app/agent/listen_chat_agent_callback.py
  backend/tests/app/agent/test_listen_chat_agent.py
  backend/tests/app/agent/test_listen_chat_agent_callback.py
Due: node licenses/update_license.js

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
