Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

drop passive image timestamp and keep docker hash fallback
  server/Dockerfile
  server/main.py
  server/start.sh
Due: node licenses/update_license.js

update
  backend/app/utils/single_agent_worker.py
  backend/tests/app/utils/test_single_agent_worker.py
Due: node licenses/update_license.js

feature all updated
  src/components/BottomBar/index.tsx
  src/components/ChatBox/BottomBox/ExpandedInputBox.tsx
  src/components/ChatBox/BottomBox/InputBox.tsx
  src/components/ChatBox/ProjectChatContainer.tsx
  src/components/ChatBox/index.tsx
  src/components/Folder/index.tsx
  src/components/HistorySidebar/index.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/TopBar/index.tsx
  src/components/WorkSpaceMenu/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/layout.json
  src/pages/Home.tsx
  src/pages/Project/Triggers.tsx
  src/store/pageTabStore.ts
  src/style/index.css
Due: node licenses/update_license.js, prettier --write

update language
  src/components/ChatBox/MessageItem/UserMessageCard.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/layout.json
  src/i18n/locales/ar/triggers.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/de/triggers.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/es/triggers.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/fr/triggers.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/it/triggers.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ja/triggers.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ko/triggers.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/ru/triggers.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hans/triggers.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/layout.json
  src/i18n/locales/zh-Hant/triggers.json
Due: node licenses/update_license.js, prettier --write

review and fix bug for hardcoded state
  src/components/ChatBox/index.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/pages/Home.tsx
  test/unit/components/ChatBox.test.tsx
Due: node licenses/update_license.js, prettier --write

iteration change for the workforce window interaction
  src/components/ChatBox/ProjectChatContainer.tsx
  src/components/ChatBox/ProjectSection.tsx
  src/components/ChatBox/index.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/pages/Home.tsx
Due: node licenses/update_license.js, prettier --write

feat: detect stale local server and notify developer to restart (#1517)
  server/Dockerfile
  server/README_CN.md
  server/README_EN.md
  server/doc/server-refactor-v1.md
  server/doc/server-refactor-v1_CN.md
  server/docker-compose.yml
  server/main.py
  server/uv.lock
  src/api/http.ts
  src/pages/Home.tsx
  vite.config.ts
Due: node licenses/update_license.js, prettier --write

restrucutre components
  src/components/BottomBar/index.tsx
  src/components/ChatBox/index.tsx
  src/components/ProjectPageSidebar/BottomAction.tsx
  src/components/ProjectPageSidebar/HeaderAction.tsx
  src/components/ProjectPageSidebar/NavTab.tsx
  src/components/ProjectPageSidebar/TaskList.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/WorkspaceMenu/index.tsx
  src/components/ui/button.tsx
Due: node licenses/update_license.js, prettier --write

fix model missing notification layout
  src/components/ChatBox/index.tsx
Due: node licenses/update_license.js, prettier --write

revert background color for visibility
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/style/token.css
Due: none

update bug fix for texting, and missing margins
  src/components/ChatBox/BottomBox/InputBox.tsx
  src/components/ChatBox/BottomBox/RichChatInput.tsx
  src/components/ChatBox/MessageItem/AgentMessageCard.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/index.tsx
  src/components/Folder/index.tsx
  src/components/ProjectPageSidebar/TaskList.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/lib/taskLifecycleUi.ts
  src/pages/Home.tsx
  src/store/chatStore.ts
  src/store/pageTabStore.ts
  tailwind.config.js
Due: node licenses/update_license.js, prettier --write

check language translation
  package.json
  src/components/ChatBox/BottomBox/RichChatInput.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/layout.json
Due: node licenses/update_license.js, prettier --write

bug fix
  src/components/AddWorker/ToolSelect.tsx
  src/components/AddWorker/index.tsx
  src/components/ProjectPageSidebar/NavTab.tsx
Due: node licenses/update_license.js, prettier --write

upload file browser
  backend/app/agent/factory/browser.py
Due: node licenses/update_license.js

ux improvement for starting new project
  src/components/ProjectPageSidebar/index.tsx
Due: node licenses/update_license.js, prettier --write

Add Upload File tool to browser agent (#1528)
  backend/app/agent/factory/browser.py
Due: node licenses/update_license.js

initial push
  src/components/ProjectPageSidebar/TaskList.tsx
  src/components/Trigger/Triggers.tsx
  src/components/WorkFlow/TaskLogPanelContent.tsx
  src/components/WorkFlow/agentToolkitLabels.ts
  src/components/WorkFlow/baseWorkers.ts
  src/components/WorkFlow/index.tsx
  src/components/WorkFlow/node.tsx
  src/components/WorkforceFoldedPanel/AgentDetailPane.tsx
  src/components/WorkforceFoldedPanel/index.tsx
  src/components/ui/HoverScrollText.tsx
  src/hooks/useInitialWorkforceFoldedLayout.ts
  src/pages/Home.tsx
  src/pages/Project/Workspace.tsx
Due: node licenses/update_license.js, prettier --write

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

Update workforce.py
  backend/app/utils/workforce.py
Due: node licenses/update_license.js

fix: sync tab ID from extension to prevent CDP errors
  backend/app/service/extension_chat_service.py
Due: node licenses/update_license.js

update
  extensions/chrome_extension/sidepanel.css
  extensions/chrome_extension/sidepanel.html
Due: none

refector ui ux
  extensions/chrome_extension/background.js
  extensions/chrome_extension/content.js
  extensions/chrome_extension/manifest.json
  extensions/chrome_extension/overlay/aurora.js
  extensions/chrome_extension/overlay/bridge.js
  extensions/chrome_extension/overlay/cursor.js
  extensions/chrome_extension/overlay/events.js
  extensions/chrome_extension/overlay/highlight.js
  extensions/chrome_extension/overlay/motion.js
  extensions/chrome_extension/overlay/store.js
  extensions/chrome_extension/overlay/summary.js
Due: prettier --write

fix: address PR review - remove bridge.js, clean debug logs, dedup element resolver
  extensions/chrome_extension/background.js
  extensions/chrome_extension/content.js
  extensions/chrome_extension/manifest.json
  extensions/chrome_extension/overlay/bridge.js
Due: prettier --write

fix: restore aurora overlay after page navigation
  extensions/chrome_extension/background.js
Due: prettier --write

fix: add WebSocket keep-alive to prevent service worker sleep
  backend/camel/toolkits/hybrid_browser_toolkit/extension_proxy_wrapper.py
  extensions/chrome_extension/background.js
Due: node licenses/update_license.js, prettier --write

refector ui ux (#1537)
  backend/camel/toolkits/hybrid_browser_toolkit/extension_proxy_wrapper.py
  extensions/chrome_extension/background.js
  extensions/chrome_extension/content.js
  extensions/chrome_extension/manifest.json
  extensions/chrome_extension/overlay/aurora.js
  extensions/chrome_extension/overlay/cursor.js
  extensions/chrome_extension/overlay/events.js
  extensions/chrome_extension/overlay/highlight.js
  extensions/chrome_extension/overlay/motion.js
  extensions/chrome_extension/overlay/store.js
  extensions/chrome_extension/overlay/summary.js
Due: node licenses/update_license.js, prettier --write

fix: show human-readable action names in overlay summary
  extensions/chrome_extension/background.js
Due: prettier --write

fix: hide internal ref IDs from action detail display
  backend/app/service/extension_chat_service.py
Due: node licenses/update_license.js

feat: resolve ref IDs to element names in action display
  backend/app/service/extension_chat_service.py
Due: node licenses/update_license.js

fix: strip ref=eXXX from overlay summary on frontend
  extensions/chrome_extension/background.js
Due: prettier --write

fix: show human-readable action names, hide ref IDs in overlay
  backend/app/service/extension_chat_service.py
  extensions/chrome_extension/background.js
Due: node licenses/update_license.js, prettier --write

fix: show actions immediately when tool starts executing
  backend/app/service/extension_chat_service.py
  backend/camel/agents/chat_agent.py
Due: node licenses/update_license.js

fix: show human-readable action names, hide ref IDs in overlay (#1539)
  backend/app/service/extension_chat_service.py
  backend/camel/agents/chat_agent.py
  extensions/chrome_extension/background.js
Due: node licenses/update_license.js, prettier --write

feat(backend): enrich SSE error events with error_code
  backend/app/service/chat_service.py
Due: node licenses/update_license.js

feat: add proxyFetchPatch helper and error_code to AgentMessage type
  src/api/http.ts
  src/types/chatbox.d.ts
Due: node licenses/update_license.js, prettier --write

feat: add model error toast with settings link
  src/components/Toast/modelErrorToast.tsx
Due: node licenses/update_license.js, prettier --write

fix: show original model error message alongside friendly description
  src/components/ChatBox/MessageItem/ModelErrorCard.tsx
  src/components/Toast/modelErrorToast.tsx
Due: node licenses/update_license.js, prettier --write

fix: preserve original provider error message instead of generic text
  backend/app/component/error_format.py
  src/components/ChatBox/MessageItem/ModelErrorCard.tsx
Due: node licenses/update_license.js, prettier --write
