Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

Update Dahsboard UI (#1349)
  src/components/IntegrationList/index.tsx
  src/components/SearchInput/index.tsx
  src/components/animate-ui/icons/radio.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/pages/Agents/Models.tsx
  src/pages/Browser/CDP.tsx
  src/pages/Browser/Cookies.tsx
  src/pages/Browser/Extension.tsx
  src/pages/Browser/index.tsx
  src/pages/Channels/index.tsx
  src/pages/Connectors/MCP.tsx
  src/pages/Connectors/Search.tsx
  src/pages/Connectors/components/CookieManager.tsx
  src/pages/Connectors/components/MCPAddDialog.tsx
  src/pages/Connectors/components/MCPConfigDialog.tsx
  src/pages/Connectors/components/MCPDeleteDialog.tsx
  src/pages/Connectors/components/MCPEnvDialog.tsx
  src/pages/Connectors/components/MCPList.tsx
  src/pages/Connectors/components/MCPListItem.tsx
  src/pages/Connectors/components/MCPMarket.tsx
  src/pages/Connectors/components/types.ts
  src/pages/Connectors/components/utils.ts
  src/pages/Connectors/index.tsx
  src/pages/Dashboard/Browser.tsx
  src/pages/History.tsx
  src/pages/Projects/Project.tsx
  src/pages/Setting/MCP.tsx
  src/pages/Setting/components/SearchEngineConfigDialog.tsx
  src/pages/Setting/index.tsx
  test/unit/components/Setting/utils.test.ts
Due: node licenses/update_license.js, prettier --write

chore: update version tag to 0.0.86
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
Due: node licenses/update_license.js

chore: update version tag to 0.0.86 (#1353)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
Due: node licenses/update_license.js

feat: add global worker agent templates and improve agent config ui
  electron/main/index.ts
  electron/preload/index.ts
  src/components/AddWorker/index.tsx
  src/components/WorkFlow/node.tsx
  src/i18n/locales/en-us/agents.json
  src/i18n/locales/en-us/workforce.json
  src/pages/Agents/GlobalAgents.tsx
  src/pages/Agents/index.tsx
  src/store/globalAgentTemplatesStore.ts
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

feat: redesign and fix model suggestions
  backend/app/component/model_suggestions.py
  backend/tests/app/component/test_model_suggestions.py
  src/components/ModelTypeCombobox.tsx
  src/components/ui/combobox.tsx
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/lib/llm.ts
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

refactor: move HitlOptions and ApprovalRequest to app.hitl package
  backend/app/controller/chat_controller.py
  backend/app/hitl/__init__.py
  backend/app/model/chat.py
  backend/app/service/chat_service.py
  backend/app/service/task.py
  backend/tests/app/agent/toolkit/test_terminal_toolkit.py
  backend/tests/app/controller/test_chat_controller.py
Due: node licenses/update_license.js

refactor: move HITL models to app/hitl/config.py
  backend/app/controller/chat_controller.py
  backend/app/hitl/config.py
  backend/app/model/chat.py
  backend/app/service/task.py
  backend/tests/app/agent/toolkit/test_terminal_toolkit.py
  backend/tests/app/controller/test_chat_controller.py
Due: node licenses/update_license.js

refactor: move _request_user_approval to TerminalToolkit and clean up
  backend/app/agent/toolkit/abstract_toolkit.py
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/controller/chat_controller.py
  backend/app/hitl/terminal_command.py
  backend/tests/app/agent/toolkit/test_terminal_toolkit.py
Due: node licenses/update_license.js

refactor: clean up docstrings, use enums, and move _thread_local
  backend/app/agent/toolkit/abstract_toolkit.py
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/hitl/terminal_command.py
  backend/app/model/enums.py
  backend/app/service/chat_service.py
  backend/app/service/task.py
Due: node licenses/update_license.js

test: check version update
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
Due: node licenses/update_license.js

test pr
  docs/get_started/installation.md
Due: none

fix: read HITL setting on the fly and send it on follow-up tasks
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/controller/chat_controller.py
  backend/app/model/chat.py
  backend/tests/app/agent/toolkit/test_terminal_toolkit.py
  src/components/ChatBox/index.tsx
  src/pages/Setting/HumanInTheLoop.tsx
  src/store/chatStore.ts
  src/types/constants.ts
Due: node licenses/update_license.js, prettier --write

fix: pre-build release issue
  .github/workflows/build-view.yml
Due: none

fix: pre-build release issue (#1357)
  .github/workflows/build-view.yml
Due: none

chore: bump version to 0.0.85 (#1342)
  backend/app/agent/toolkit/terminal_toolkit.py
  src/components/IntegrationList/index.tsx
  src/components/SearchInput/index.tsx
  src/pages/Agents/Models.tsx
  src/pages/Agents/index.tsx
  src/pages/Browser/Cookies.tsx
  src/pages/Browser/Extension.tsx
  src/pages/Browser/index.tsx
  src/pages/Channels/index.tsx
  src/pages/Connectors/MCP.tsx
  src/pages/Connectors/Search.tsx
  src/pages/Connectors/components/CookieManager.tsx
  src/pages/Connectors/components/MCPAddDialog.tsx
  src/pages/Connectors/components/MCPConfigDialog.tsx
  src/pages/Connectors/components/MCPDeleteDialog.tsx
  src/pages/Connectors/components/MCPEnvDialog.tsx
  src/pages/Connectors/components/MCPListItem.tsx
  src/pages/Connectors/components/MCPMarket.tsx
  src/pages/Connectors/index.tsx
  src/pages/Projects/Project.tsx
  src/pages/Setting/index.tsx
Due: node licenses/update_license.js, prettier --write

Revert "chore: bump version to 0.0.85 (#1342)"
  backend/app/agent/toolkit/terminal_toolkit.py
  src/components/IntegrationList/index.tsx
  src/components/SearchInput/index.tsx
  src/pages/Agents/Models.tsx
  src/pages/Agents/index.tsx
  src/pages/Browser/Cookies.tsx
  src/pages/Browser/Extension.tsx
  src/pages/Browser/index.tsx
  src/pages/Channels/index.tsx
  src/pages/Connectors/MCP.tsx
  src/pages/Connectors/Search.tsx
  src/pages/Connectors/components/CookieManager.tsx
  src/pages/Connectors/components/MCPAddDialog.tsx
  src/pages/Connectors/components/MCPConfigDialog.tsx
  src/pages/Connectors/components/MCPDeleteDialog.tsx
  src/pages/Connectors/components/MCPEnvDialog.tsx
  src/pages/Connectors/components/MCPListItem.tsx
  src/pages/Connectors/components/MCPMarket.tsx
  src/pages/Connectors/index.tsx
  src/pages/Projects/Project.tsx
  src/pages/Setting/index.tsx
Due: node licenses/update_license.js, prettier --write

Revert "chore: bump version to 0.0.85" (#1358)
  backend/app/agent/toolkit/terminal_toolkit.py
  src/components/IntegrationList/index.tsx
  src/components/SearchInput/index.tsx
  src/pages/Agents/Models.tsx
  src/pages/Agents/index.tsx
  src/pages/Browser/Cookies.tsx
  src/pages/Browser/Extension.tsx
  src/pages/Browser/index.tsx
  src/pages/Channels/index.tsx
  src/pages/Connectors/MCP.tsx
  src/pages/Connectors/Search.tsx
  src/pages/Connectors/components/CookieManager.tsx
  src/pages/Connectors/components/MCPAddDialog.tsx
  src/pages/Connectors/components/MCPConfigDialog.tsx
  src/pages/Connectors/components/MCPDeleteDialog.tsx
  src/pages/Connectors/components/MCPEnvDialog.tsx
  src/pages/Connectors/components/MCPListItem.tsx
  src/pages/Connectors/components/MCPMarket.tsx
  src/pages/Connectors/index.tsx
  src/pages/Projects/Project.tsx
  src/pages/Setting/index.tsx
Due: node licenses/update_license.js, prettier --write

version to 0.0.85
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
Due: none

revert format
  backend/app/agent/toolkit/terminal_toolkit.py
Due: node licenses/update_license.js

feat: replace per-agent Queue with per-call Future for concurrent HITL approvals
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/controller/chat_controller.py
  backend/app/hitl/config.py
  backend/app/service/task.py
  backend/tests/app/agent/toolkit/test_terminal_toolkit.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/service/test_task.py
  src/components/ChatBox/index.tsx
  src/i18n/locales/en-us/chat.json
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

docs: replace 'dangerous' with neutral wording in approval-related docstrings and comments
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/service/task.py
  src/store/chatStore.ts
  src/types/constants.ts
Due: node licenses/update_license.js, prettier --write

i18n: add missing approval-pending key to all locales
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
Due: none

fix: remove duplicate terminal-approval keys in en-us setting.json
  src/i18n/locales/en-us/setting.json
Due: none

feat(login): Remember Me / auto-fill for email & password (#1316)
  src/i18n/locales/en-us/layout.json
  src/pages/Login.tsx
  src/store/savedLoginStore.ts
  test/unit/store/savedLoginStore.test.ts
Due: node licenses/update_license.js, prettier --write

feat(cli): implement CLI run and config commands for backend
  backend/app/command/__init__.py
  backend/app/command/config.py
  backend/app/command/run.py
Due: node licenses/update_license.js

update
  .github/PULL_REQUEST_TEMPLATE.md
  backend/app/agent/listen_chat_agent.py
  backend/app/service/chat_service.py
  backend/app/service/task.py
  server/tests/test_auth.py
  server/tests/test_chat_share.py
  server/tests/test_proxy_controller.py
  src/store/chatStore.ts
  src/types/chatbox.d.ts
  src/types/constants.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix(cli): fix Windows GBK encoding and correct task flow for simple questions
  backend/app/command/config.py
  backend/app/command/run.py
Due: node licenses/update_license.js

use background processor
  backend/app/agent/agent_model.py
  backend/app/agent/factory/browser.py
  backend/app/agent/factory/developer.py
  backend/app/agent/factory/document.py
  backend/app/agent/factory/mcp.py
  backend/app/agent/factory/multi_modal.py
  backend/app/agent/factory/social_media.py
  backend/app/controller/chat_controller.py
  backend/app/model/chat.py
  backend/app/service/chat_service.py
  backend/app/utils/file_utils.py
  backend/app/utils/server/sync_step.py
  src/App.tsx
  src/components/ChatBox/HeaderBox/index.tsx
  src/components/ChatBox/ProjectChatContainer.tsx
  src/components/ChatBox/ProjectSection.tsx
  src/components/ChatBox/index.tsx
  src/components/Layout/index.tsx
  src/components/TopBar/index.tsx
  src/hooks/useBackgroundTaskProcessor.ts
  src/hooks/useExecutionSubscription.ts
  src/hooks/useTriggerTaskExecutor.ts
  src/service/triggerApi.ts
  src/store/activityLogStore.ts
  src/store/chatStore.ts
  src/store/projectStore.ts
  src/store/triggerTaskStore.ts
Due: node licenses/update_license.js, prettier --write

fix(cli): auto-send start signal after task decomposition
  backend/app/command/run.py
Due: node licenses/update_license.js

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: add search toolkit to non-browser agents
  backend/app/agent/factory/developer.py
  backend/app/agent/factory/document.py
  backend/app/agent/factory/multi_modal.py
  backend/app/agent/factory/social_media.py
  backend/app/agent/toolkit/search_toolkit.py
Due: node licenses/update_license.js

fix: preserve per-task questions when loading multi-task projects from history
  src/components/GroupedHistoryView/ProjectGroup.tsx
  src/components/HistorySidebar/index.tsx
  src/components/SearchHistoryDialog.tsx
  src/lib/replay.ts
  src/store/projectStore.ts
Due: node licenses/update_license.js, prettier --write

update
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

publish never when build
  package.json
Due: none

chore: remove duplicate add worker
  src/components/AddWorker/index.tsx
Due: node licenses/update_license.js, prettier --write

feat: add toolkit name to icon mapping helper
  src/lib/toolkitIcons.tsx
Due: node licenses/update_license.js, prettier --write

feat: display toolkit-specific icons in workflow nodes
  src/components/WorkFlow/node.tsx
Due: node licenses/update_license.js, prettier --write

feat: add URL bar to browser webview and extend terminal workspace routing
  electron/main/index.ts
  electron/main/webview.ts
  electron/preload/index.ts
  src/components/BrowserAgentWorkspace/index.tsx
  src/pages/Home.tsx
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

:fire: remove --
  package.json
Due: none

chore: bump version to 0.0.85 (#1359)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
Due: node licenses/update_license.js

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
