Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

fix(ci): pin setup-uv to resolvable revision (#1879)
  .github/workflows/build-view.yml
  .github/workflows/build.yml
  .github/workflows/pre-build-view.yml
  .github/workflows/pre-build.yml
Due: none

release v1.0.3
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/run_journal/store.py
  package.json
  test/unit/electron/githubReleaseCdnProvider.test.ts
Due: node licenses/update_license.js, prettier --write

release v1.0.3 (#1880)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/run_journal/store.py
  package.json
  test/unit/electron/githubReleaseCdnProvider.test.ts
Due: node licenses/update_license.js, prettier --write

fix: preserve responses instructions across chained turns
  backend/app/agent/agent_model.py
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/tests/app/agent/test_agent_model.py
  package.json
Due: node licenses/update_license.js

chore: leave version updates to release branches
  package.json
Due: none

chore: keep backend runtime version at 1.0.3
  backend/app/agent/toolkit/terminal_toolkit.py
Due: node licenses/update_license.js

fix: preserve Responses instructions across chained turns (#1883)
  backend/app/agent/agent_model.py
  backend/tests/app/agent/test_agent_model.py
Due: node licenses/update_license.js

fix: keep web search connector visible
  src/components/Settings/Connectors/ConnectorGateway.tsx
  test/unit/components/ConnectorGateway.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: avoid unbinding destroyed web contents
  electron/main/closeCoordinator.ts
  test/unit/electron/main/closeCoordinator.test.ts
Due: node licenses/update_license.js, prettier --write

fix: hide built-in Slack when gateway is enabled
  src/components/AddWorker/ToolSelect.tsx
  src/components/ChatBox/BottomBox/PickerPanel.tsx
  src/components/Settings/Connectors/ConnectorGateway.tsx
  src/lib/builtInConnectorPolicy.ts
  test/unit/lib/builtInConnectorPolicy.test.ts
Due: node licenses/update_license.js, prettier --write

fix: add reset action for network proxy edits
  src/components/Settings/General/index.tsx
  test/unit/components/GeneralSettingsProxy.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: restrict ~/.eigent env files to owner-only (0600)
  backend/app/component/environment.py
  backend/tests/app/component/test_environment.py
  electron/main/index.ts
  electron/main/utils/envUtil.ts
  test/unit/electron/main/envUtil.test.ts
Due: node licenses/update_license.js, prettier --write

fix: keep web search connector visible (#1890)
  src/components/Settings/Connectors/ConnectorGateway.tsx
  test/unit/components/ConnectorGateway.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: quit app when its window closes
  electron/main/commands/applicationMenu.ts
  electron/main/index.ts
  test/unit/electron/applicationMenu.test.ts
  test/unit/electron/main/closeCoordinator.test.ts
  test/unit/electron/main/index.test.ts
  test/unit/shared/shortcutCatalogParity.test.ts
Due: node licenses/update_license.js, prettier --write

chore: bump camel-ai to 0.2.91a7
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix(ci): speed up frontend guardrails
  .github/workflows/test.yml
  scripts/check-vitest-regressions.mjs
  scripts/run-changed-vitest.mjs
Due: none

fix: quit Eigent safely when its window closes (#1891)
  electron/main/closeCoordinator.ts
  electron/main/commands/applicationMenu.ts
  electron/main/index.ts
  test/unit/electron/applicationMenu.test.ts
  test/unit/electron/main/closeCoordinator.test.ts
  test/unit/electron/main/index.test.ts
  test/unit/shared/shortcutCatalogParity.test.ts
Due: node licenses/update_license.js, prettier --write

fix(ci): support installs without a lockfile
  .github/workflows/test.yml
Due: none

fix(ci): reduce frontend guardrail runtime (#1898)
  .github/workflows/test.yml
  scripts/check-vitest-regressions.mjs
  scripts/run-changed-vitest.mjs
Due: none

fix: hide built-in Slack when gateway is enabled (#1892)
  src/components/AddWorker/ToolSelect.tsx
  src/components/ChatBox/BottomBox/PickerPanel.tsx
  src/components/Settings/Connectors/ConnectorGateway.tsx
  src/lib/builtInConnectorPolicy.ts
  test/unit/lib/builtInConnectorPolicy.test.ts
Due: node licenses/update_license.js, prettier --write

chore: bump camel-ai to 0.2.91a7 (#1897)
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix: address skills and connectors review findings
  backend/app/controller/skill_controller.py
  backend/app/service/skill_service.py
  backend/tests/app/controller/test_skill_controller.py
  backend/tests/app/service/test_skill_package_files.py
  src/api/brain.ts
  src/components/Settings/Connectors/ConnectorGateway.tsx
  src/components/Settings/Connectors/ConnectorsNavigationContext.tsx
  src/components/Settings/SettingsSidebar.tsx
  src/components/Settings/Skills/SkillsProvider.tsx
  src/components/Settings/Skills/components/SkillDetail.tsx
  src/components/Settings/Skills/components/SkillFiles.tsx
  src/components/Settings/Skills/index.tsx
  src/service/workspaceConfigurationApi.ts
  test/unit/components/ConnectorGateway.test.tsx
  test/unit/components/Settings/Skills/SkillFiles.test.tsx
  test/unit/components/Settings/Skills/SkillsProvider.test.tsx
Due: node licenses/update_license.js, prettier --write

wire reward thumbupdown with event bus
  src/components/ChatBox/MessageItem/AgentMessageCard.tsx
  src/components/ChatBox/TimelineModes/NarrativeTimeline.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/lib/events/appEvents.ts
  test/unit/components/ChatBox/MessageItem/AgentMessageCardFeedback.test.tsx
  test/unit/components/ChatBox/TimelineModes.test.tsx
  test/unit/components/ChatBox/UserQueryGroup.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: support nested repositories in workspace checkpoints
  backend/app/workspace_git/backend.py
  backend/tests/app/workspace_git/test_mutation.py
Due: node licenses/update_license.js

fix: collapse network proxy actions into one dynamic button
  src/components/Settings/General/index.tsx
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  test/unit/components/GeneralSettingsProxy.test.tsx
Due: node licenses/update_license.js, prettier --write

feat: add Meta Model API provider
  backend/app/agent/agent_model.py
  backend/app/component/model_validation.py
  backend/app/model/model_platform.py
  backend/tests/app/controller/test_model_controller.py
  backend/tests/app/model/test_chat.py
  backend/tests/app/model/test_model_platform.py
  src/assets/model/meta.svg
  src/components/Settings/Models/components/ProviderModelCombobox.tsx
  src/components/Settings/Models/index.tsx
  src/lib/llm.ts
  src/lib/providerModels.ts
  src/shared/modelProviderImages.ts
  src/types/index.ts
  test/unit/lib/llm.test.ts
  test/unit/lib/providerModels.test.ts
Due: node licenses/update_license.js, prettier --write

refactor: require Meta model selection
  src/components/Settings/Models/index.tsx
  src/lib/llm.ts
  test/unit/lib/llm.test.ts
Due: node licenses/update_license.js, prettier --write

fix: address Skills and Connectors redesign review findings (#1899)
  backend/app/controller/skill_controller.py
  backend/app/service/skill_service.py
  backend/tests/app/controller/test_skill_controller.py
  backend/tests/app/service/test_skill_package_files.py
  src/api/brain.ts
  src/components/Settings/Connectors/ConnectorGateway.tsx
  src/components/Settings/Connectors/ConnectorsNavigationContext.tsx
  src/components/Settings/SettingsSidebar.tsx
  src/components/Settings/Skills/SkillsProvider.tsx
  src/components/Settings/Skills/components/SkillDetail.tsx
  src/components/Settings/Skills/components/SkillFiles.tsx
  src/components/Settings/Skills/index.tsx
  src/service/workspaceConfigurationApi.ts
  test/unit/components/ConnectorGateway.test.tsx
  test/unit/components/Settings/Skills/SkillFiles.test.tsx
  test/unit/components/Settings/Skills/SkillsProvider.test.tsx
Due: node licenses/update_license.js, prettier --write

fix(ci): stabilize frontend and deadline tests
  backend/tests/app/run_runtime/test_deadline.py
  scripts/run-changed-vitest.mjs
Due: node licenses/update_license.js

fix(ci): serialize changed frontend tests
  scripts/run-changed-vitest.mjs
Due: none

fix(test): avoid costly jsdom pointer checks
  scripts/run-changed-vitest.mjs
  test/unit/components/HomeTasksControls.test.tsx
  test/unit/components/Settings/Skills/SkillActions.test.tsx
  test/unit/components/Settings/Skills/SkillsLibraryNotice.test.tsx
  test/unit/components/SettingsPage.test.tsx
Due: node licenses/update_license.js, prettier --write

test: trace frontend CI timeouts
  test/unit/components/HomeTasksControls.test.tsx
  test/unit/components/Settings/Skills/SkillActions.test.tsx
  test/unit/components/Settings/Skills/SkillsLibraryNotice.test.tsx
  test/unit/components/SettingsPage.test.tsx
Due: node licenses/update_license.js, prettier --write

test: harden Meta provider integration
  backend/app/model/model_platform.py
  backend/tests/app/agent/test_agent_model.py
  backend/tests/app/component/test_model_validation.py
  backend/tests/app/model/test_model_platform.py
  scripts/check-i18n-source-usage.mjs
Due: node licenses/update_license.js

fix(test): avoid delayed async event wrappers
  test/unit/components/HomeTasksControls.test.tsx
  test/unit/components/Settings/Skills/SkillActions.test.tsx
  test/unit/components/Settings/Skills/SkillsLibraryNotice.test.tsx
  test/unit/components/SettingsPage.test.tsx
Due: node licenses/update_license.js, prettier --write

fix(test): isolate settings layout from animation timing
  test/unit/components/SettingsPage.test.tsx
Due: node licenses/update_license.js, prettier --write

fix(test): remove runtime timing races
  backend/tests/app/agent/toolkit/test_human_toolkit.py
  backend/tests/app/run_runtime/test_deadline.py
Due: node licenses/update_license.js

fix(test): avoid async flushes in settings layout test
  test/unit/components/SettingsPage.test.tsx
Due: node licenses/update_license.js, prettier --write

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
