Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

publish never when build (#1369)
  package.json
Due: none

Update markdown-styles.css
  src/style/markdown-styles.css
Due: none

refactor: move IDE selection to inline dropdown in Folder view (#1254) (#1261)
  src/components/Folder/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Setting/General.tsx
Due: node licenses/update_license.js, prettier --write

fix(ui): scope file viewer CSS so CSV/MD renderers don't affect app l… (#1275)
  src/components/Folder/index.tsx
  src/lib/htmlFontStyles.ts
  src/style/index.css
  src/style/markdown-styles.css
Due: node licenses/update_license.js, prettier --write

fix(hitl): make approval future resolution thread-safe and correct compound cd path validation
  backend/app/hitl/terminal_command.py
  backend/app/service/task.py
  backend/tests/app/hitl/test_terminal_command.py
  backend/tests/app/service/test_task.py
Due: node licenses/update_license.js

skip resources file when lint markdown
  .github/workflows/lint-markdown.yml
  backend/.pre-commit-config.yaml
Due: none

feat(oauth_state_manager): public cleanup API, TTL cleanup, and tests
  backend/app/controller/tool_controller.py
  backend/app/utils/oauth_state_manager.py
  backend/tests/app/utils/test_oauth_state_manager.py
Due: node licenses/update_license.js

add enable/disable
  src/pages/Agents/components/SkillListItem.tsx
Due: node licenses/update_license.js, prettier --write

ui update
  src/pages/Agents/components/SkillListItem.tsx
Due: node licenses/update_license.js, prettier --write

style(tests): fix ruff lint in test_oauth_state_manager (import order, remove unused)
  backend/tests/app/utils/test_oauth_state_manager.py
Due: node licenses/update_license.js

feat: Disable streaming for completion report in project view
  src/components/ChatBox/ProjectSection.tsx
  src/components/ChatBox/UserQueryGroup.tsx
Due: node licenses/update_license.js, prettier --write

feat: add Radix UI Checkbox component
  src/components/ui/checkbox.tsx
Due: node licenses/update_license.js, prettier --write

refactor: replace Settings Privacy 4-toggle with Help Improve toggle
  src/pages/Setting/Privacy.tsx
Due: node licenses/update_license.js, prettier --write

chore: delete unused Dialog/Privacy component
  src/components/Dialog/Privacy.tsx
Due: node licenses/update_license.js, prettier --write

refactor: remove privacy prop from InputBox
  src/components/ChatBox/BottomBox/InputBox.tsx
Due: node licenses/update_license.js, prettier --write

test: update ChatBox tests for privacy consent migration
  test/integration/components/ChatBox.integration.test.tsx
  test/unit/components/ChatBox.test.tsx
Due: node licenses/update_license.js, prettier --write

feat: add privacy consent checkbox to Login page
  src/pages/Login.tsx
Due: node licenses/update_license.js, prettier --write

refactor: remove privacy gating from ChatBox
  src/components/ChatBox/index.tsx
Due: node licenses/update_license.js, prettier --write

feat: add help_improve field to UserPrivacySettings
  server/app/model/user/privacy.py
Due: node licenses/update_license.js

feat: add i18n keys for privacy consent and help improve toggle
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
Due: none

feat: add privacy consent checkbox to SignUp page
  src/pages/SignUp.tsx
Due: node licenses/update_license.js, prettier --write

fix: restore missing en-us i18n keys and improve checkbox visibility
  src/components/ChatBox/index.tsx
  src/components/ui/checkbox.tsx
  src/i18n/locales/en-us/setting.json
Due: node licenses/update_license.js, prettier --write

refactor: remove privacy consent checkbox from Login/SignUp pages
  src/pages/Login.tsx
  src/pages/SignUp.tsx
Due: node licenses/update_license.js, prettier --write

fix: remove permissions install step, translate i18n keys, update docs
  docs/get_started/quick_start.md
  src/components/InstallStep/InstallDependencies.tsx
  src/components/InstallStep/Permissions.tsx
  src/hooks/useInstallationSetup.ts
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/store/authStore.ts
Due: node licenses/update_license.js, prettier --write

chore: remove orphaned privacy i18n keys and unused asset
  src/assets/privacy_settings.png
  src/i18n/locales/ar/layout.json
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/layout.json
  src/i18n/locales/zh-Hant/setting.json
Due: none

feat: add toolkit name to icon mapping helper
  src/lib/toolkitIcons.tsx
Due: node licenses/update_license.js, prettier --write

feat: add proxyFetchPatch helper and error_code to AgentMessage type
  src/api/http.ts
  src/types/chatbox.d.ts
Due: node licenses/update_license.js, prettier --write

feat: display toolkit-specific icons in workflow nodes
  src/components/WorkFlow/node.tsx
Due: node licenses/update_license.js, prettier --write

feat(backend): enrich SSE error events with error_code
  backend/app/service/chat_service.py
Due: node licenses/update_license.js

feat: show toast and invalidate provider on model errors
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

feat: add model error toast with settings link
  src/components/Toast/modelErrorToast.tsx
Due: node licenses/update_license.js, prettier --write

fix: correct is_valid mapping and show provider status in UI
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

feat(server): add PATCH /provider/{id}/invalidate endpoint
  server/app/controller/provider/provider_controller.py
Due: node licenses/update_license.js

fix: propagate model errors from all backend code paths to SSE stream
  backend/app/service/chat_service.py
  backend/app/service/task.py
  backend/app/utils/workforce.py
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

feat: add inline model error card with settings CTA in chat flow
  src/components/ChatBox/MessageItem/ModelErrorCard.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/store/chatStore.ts
  src/types/chatbox.d.ts
Due: node licenses/update_license.js, prettier --write

feat(i18n): add model error and provider status locale keys
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/setting.json
Due: none

fix: use PUT fallback for provider invalidation and clean up debug logs
  backend/app/utils/workforce.py
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

feat: add search toolkit to non-browser agents (#1364)
  backend/app/agent/factory/developer.py
  backend/app/agent/factory/document.py
  backend/app/agent/factory/multi_modal.py
  backend/app/agent/factory/social_media.py
  backend/app/agent/toolkit/search_toolkit.py
Due: node licenses/update_license.js
