Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

update
  backend/app/model/model_platform.py
  backend/app/utils/single_agent_worker.py
  backend/pyproject.toml
  backend/uv.lock
  server/pyproject.toml
  server/uv.lock
Due: node licenses/update_license.js

Update test_model_platform.py
  backend/tests/app/model/test_model_platform.py
Due: node licenses/update_license.js

fix: use WithinWindow blending mode for macOS vibrancy effect
  electron/main/native/macos-window.ts
Due: node licenses/update_license.js, prettier --write

fix: use WithinWindow blending mode for macOS vibrancy effect (#1496)
  electron/main/native/macos-window.ts
Due: node licenses/update_license.js, prettier --write

feat: local auto-login + eigent.ai callback for Electron hybrid login
  electron/main/index.ts
  server/app/controller/user/login_controller.py
  server/app/model/user/user.py
  src/pages/History.tsx
  src/pages/Login.tsx
  src/pages/SignUp.tsx
  src/routers/index.tsx
Due: node licenses/update_license.js, prettier --write

chore: update camel version (#1495)
  backend/app/model/model_platform.py
  backend/app/utils/single_agent_worker.py
  backend/pyproject.toml
  backend/tests/app/model/test_model_platform.py
  backend/uv.lock
  server/pyproject.toml
  server/uv.lock
Due: node licenses/update_license.js

fix(login): require user click to open signin, fix auth init state
  src/pages/Login.tsx
  src/routers/index.tsx
Due: node licenses/update_license.js, prettier --write

feat: Format token counts with locale-aware thousands separators (#1475)
  src/components/ChatBox/HeaderBox/index.tsx
  src/components/HistorySidebar/index.tsx
Due: node licenses/update_license.js, prettier --write

fix: show trigger action after markdown finishes typing (#1474)
  src/components/ChatBox/UserQueryGroup.tsx
Due: node licenses/update_license.js, prettier --write

feat: add Claude Haiku 4.5 cloud model support
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Agents/Models.tsx
  src/store/authStore.ts
Due: node licenses/update_license.js, prettier --write

added claude haiku-4.5 support (#854)
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Agents/Models.tsx
  src/store/authStore.ts
Due: node licenses/update_license.js, prettier --write

Update model_setting.png
  docs/images/model_setting.png
Due: none

chore: Update model_setting.png (#1498)
  docs/images/model_setting.png
Due: none

release v0.0.88
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
Due: node licenses/update_license.js

feat: local auto-login + eigent.ai callback for Electron hybrid login (#1497)
  electron/main/index.ts
  server/app/controller/user/login_controller.py
  server/app/model/user/user.py
  src/pages/History.tsx
  src/pages/Login.tsx
  src/pages/SignUp.tsx
  src/routers/index.tsx
Due: node licenses/update_license.js, prettier --write

Releases v0.0.88 (#1499)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
Due: node licenses/update_license.js

feat: Enhance provider model handling and UI integration
  server/alembic/versions/2026_03_16_1200-add_model_types_to_provider.py
  server/app/controller/provider/provider_controller.py
  server/app/model/provider/provider.py
  src/components/AddWorker/index.tsx
  src/lib/llm.ts
  src/pages/Agents/Models.tsx
  src/types/index.ts
Due: node licenses/update_license.js, prettier --write

fix placeholder and config
  resources/example-skills/skill-security-auditor/LICENSE.txt
  resources/example-skills/skill-security-auditor/scripts/scan_project.py
  resources/example-skills/skill-security-auditor/scripts/scan_secrets.py
Due: node licenses/update_license.js

feat(chat): clarify token usage in header with tooltip and project total
  src/components/ChatBox/HeaderBox/index.tsx
  src/components/ChatBox/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
Due: node licenses/update_license.js, prettier --write

update
  resources/example-skills/docx/LICENSE.txt
  resources/example-skills/docx/SKILL.md
  resources/example-skills/docx/scripts/comment.py
  resources/example-skills/docx/scripts/office/helpers/simplify_redlines.py
  resources/example-skills/docx/scripts/office/pack.py
  resources/example-skills/docx/scripts/office/validate.py
  resources/example-skills/docx/scripts/office/validators/redlining.py
  resources/example-skills/pdf/LICENSE.txt
  resources/example-skills/pdf/SKILL.md
  resources/example-skills/pptx/LICENSE.txt
  resources/example-skills/pptx/SKILL.md
  resources/example-skills/pptx/scripts/office/validate.py
  resources/example-skills/xlsx/LICENSE.txt
  resources/example-skills/xlsx/SKILL.md
  resources/example-skills/xlsx/scripts/office/helpers/simplify_redlines.py
Due: node licenses/update_license.js

update
  resources/example-skills/pptx/scripts/office/pack.py
  resources/example-skills/pptx/scripts/office/validators/redlining.py
  resources/example-skills/xlsx/scripts/office/pack.py
  resources/example-skills/xlsx/scripts/office/validators/redlining.py
Due: node licenses/update_license.js

update
  resources/example-skills/pptx/scripts/office/helpers/simplify_redlines.py
  resources/example-skills/xlsx/scripts/office/validate.py
Due: node licenses/update_license.js

update
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

update
  resources/example-skills/skill-creator/LICENSE.txt
  resources/example-skills/skill-creator/SKILL.md
Due: none

Revert unrelated example skill changes
  resources/example-skills/docx/LICENSE.txt
  resources/example-skills/docx/SKILL.md
  resources/example-skills/pdf/LICENSE.txt
  resources/example-skills/pdf/SKILL.md
  resources/example-skills/pptx/LICENSE.txt
  resources/example-skills/skill-creator/LICENSE.txt
  resources/example-skills/xlsx/LICENSE.txt
  resources/example-skills/xlsx/SKILL.md
Due: none

update
  resources/example-skills/pptx/editing.md
Due: none

Reduce markdown formatting noise in pptx docs
  resources/example-skills/pptx/SKILL.md
  resources/example-skills/pptx/editing.md
Due: none

Update SKILL.md
  resources/example-skills/pptx/SKILL.md
Due: none

chore: update skill creator (#1431)
  resources/example-skills/pptx/SKILL.md
  resources/example-skills/pptx/editing.md
  resources/example-skills/skill-creator/SKILL.md
  resources/example-skills/skill-creator/references/output-patterns.md
  resources/example-skills/skill-creator/references/workflows.md
  resources/example-skills/skill-creator/scripts/init_skill.py
Due: node licenses/update_license.js

feat: add skill-security-auditor as default example skill (#1479)
  resources/example-skills/skill-security-auditor/LICENSE.txt
  resources/example-skills/skill-security-auditor/SKILL.md
  resources/example-skills/skill-security-auditor/references/secrets-patterns.md
  resources/example-skills/skill-security-auditor/references/vulnerability-patterns.md
  resources/example-skills/skill-security-auditor/scripts/scan_project.py
  resources/example-skills/skill-security-auditor/scripts/scan_secrets.py
Due: node licenses/update_license.js

chore: address review feedback for history delete
  src/components/GroupedHistoryView/ProjectGroup.tsx
  src/components/SearchHistoryDialog.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/pages/Projects/Project.tsx
Due: node licenses/update_license.js, prettier --write

feat: improve the token usage with new design
  src/assets/token-dark.svg
  src/assets/token-light.svg
  src/components/ChatBox/HeaderBox/index.tsx
  src/components/ChatBox/TokenUtils.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
Due: node licenses/update_license.js, prettier --write

feat: long file scrollable & PDF viewer (#1374)
  package.json
  src/components/Folder/PdfViewer.tsx
  src/components/Folder/index.tsx
  test/unit/components/Folder/FileTree.test.tsx
  test/unit/components/Folder/LongFileScroll.test.tsx
Due: node licenses/update_license.js, prettier --write

feat: update model suggestions in llm.ts and improve model type handling in Models.tsx
  src/lib/llm.ts
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

front refactor
  src/components/AddWorker/ToolSelect.tsx
  src/components/ChatBox/index.tsx
  src/components/Folder/index.tsx
  src/components/GroupedHistoryView/index.tsx
  src/components/HistorySidebar/index.tsx
  src/components/IntegrationList/index.tsx
  src/components/TopBar/index.tsx
  src/components/Trigger/DynamicTriggerConfig.tsx
  src/hooks/useExecutionSubscription.ts
  src/hooks/useIntegrationManagement.ts
  src/hooks/useTriggerTaskExecutor.ts
  src/lib/oauth.ts
  src/lib/share.ts
  src/pages/Agents/Models.tsx
  src/pages/Connectors/MCP.tsx
  src/pages/Connectors/Search.tsx
  src/pages/Connectors/components/MCPMarket.tsx
  src/pages/Login.tsx
  src/pages/Projects/Project.tsx
  src/pages/Setting/API.tsx
  src/pages/Setting/Privacy.tsx
  src/pages/SignUp.tsx
  src/routers/index.tsx
  src/service/historyApi.ts
  src/service/triggerApi.ts
  src/stack/client.ts
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

refactor: adapt listen chat agent to camel callbacks
  backend/app/agent/listen_chat_agent.py
  backend/app/agent/listen_chat_agent_callback.py
  backend/tests/app/agent/test_listen_chat_agent.py
Due: node licenses/update_license.js

Update TaskCard.tsx
  src/components/ChatBox/TaskBox/TaskCard.tsx
Due: node licenses/update_license.js, prettier --write

update
  backend/app/agent/listen_chat_agent.py
  backend/app/agent/listen_chat_agent_callback.py
  backend/tests/app/agent/test_listen_chat_agent.py
Due: node licenses/update_license.js

update
  src/components/ChatBox/TokenUtils.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/index.tsx
Due: node licenses/update_license.js, prettier --write

feat(chat): Clarify token usage in chat header (tooltip + task & project total) (#1501)
  src/assets/token-dark.svg
  src/assets/token-light.svg
  src/components/ChatBox/HeaderBox/index.tsx
  src/components/ChatBox/TokenUtils.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
Due: node licenses/update_license.js, prettier --write

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
