Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

feat: add immutable folder workspace binding
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/controller/chat_controller.py
  backend/app/controller/file_controller.py
  backend/app/controller/workspace_controller.py
  backend/app/hands/environment_hands.py
  backend/app/router.py
  backend/app/service/chat_service.py
  backend/app/service/task.py
  backend/app/service/upload/__init__.py
  backend/app/service/upload/file_access.py
  backend/app/service/upload/service.py
  backend/app/service/upload/user_uploads.py
  backend/app/utils/file_utils.py
  backend/app/utils/server/session.py
  backend/app/utils/server/sync_step.py
  backend/app/utils/server/url.py
  backend/app/utils/workspace_paths.py
  backend/app/utils/workspace_resolver.py
  backend/pyproject.toml
  backend/tests/app/controller/test_workspace_controller.py
  backend/tests/app/hands/test_environment_workspace_binding.py
  backend/tests/app/service/upload/test_brain_upload_service.py
  backend/tests/app/service/upload/test_user_uploads.py
  backend/tests/app/utils/test_workspace_resolver.py
  backend/uv.lock
  electron/main/index.ts
  electron/preload/index.ts
  server/app/domains/chat/service/chat_service.py
  src/components/Folder/index.tsx
  src/components/Workspace/WorkspaceProjectPicker.tsx
  src/store/chatStore.ts
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

restructure ux rendering flow and ui bugs for single agent harness
  src/components/ChatBox/MessageItem/PreparingToExecuteTasks.tsx
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/index.tsx
  src/components/Session/index.tsx
  src/components/Workspace/index.tsx
  src/lib/sessionMode.ts
  src/lib/sessionNavLead.ts
  src/lib/taskLifecycleUi.ts
  src/store/chatStore.ts
  src/store/pageTabStore.ts
  src/types/chatbox.d.ts
  test/unit/components/TaskWorkLogAccordion.test.tsx
Due: node licenses/update_license.js, prettier --write

unify sessionmode call naming
  src/components/ChatBox/index.tsx
  src/components/Session/index.tsx
Due: node licenses/update_license.js, prettier --write

fix task log interaction animation
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
  src/components/WorkFlow/MarkDown.tsx
Due: node licenses/update_license.js, prettier --write

restructure ux rendering flow and ui bugs for single agent harness (#1648)
  src/components/ChatBox/MessageItem/PreparingToExecuteTasks.tsx
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/index.tsx
  src/components/Session/index.tsx
  src/components/WorkFlow/MarkDown.tsx
  src/components/Workspace/index.tsx
  src/lib/sessionMode.ts
  src/lib/sessionNavLead.ts
  src/lib/taskLifecycleUi.ts
  src/store/chatStore.ts
  src/store/pageTabStore.ts
  src/types/chatbox.d.ts
  test/unit/components/TaskWorkLogAccordion.test.tsx
Due: node licenses/update_license.js, prettier --write

experiment with runtime ui toolkit
  .env.development
  backend/app/agent/factory/developer.py
  backend/app/agent/factory/task_summary.py
  backend/app/agent/factory/toolkit_assembler.py
  backend/app/agent/prompt.py
  backend/app/agent/toolkit/runtime_ui_toolkit.py
  backend/app/model/runtime_ui.py
  backend/app/service/chat_service.py
  backend/app/service/single_agent_service.py
  backend/app/service/task.py
  backend/tests/test_runtime_ui_toolkit.py
  package.json
  src/components/Artifacts/ArtifactRenderer.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/store/chatStore.ts
  src/types/chatbox.d.ts
  src/types/constants.ts
  src/types/runtimeArtifact.ts
  test/unit/components/ArtifactRenderer.test.tsx
Due: node licenses/update_license.js, prettier --write

feat: add frontend render-session layer with inline HITL QuestionBlock
  src/components/ChatBox/MessageItem/blocks/QuestionBlock.tsx
  src/components/ChatBox/ProjectSection.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/index.tsx
  src/components/ChatBox/renderSession/ChatTurnView.tsx
  src/components/ChatBox/renderSession/MessageBlockRenderer.tsx
  src/components/ChatBox/renderSession/RenderSessionProvider.tsx
  src/components/ChatBox/renderSession/normalizeMessages.ts
  src/components/ChatBox/renderSession/types.ts
  test/unit/components/ChatBox/QuestionBlock.test.tsx
  test/unit/components/renderSession/normalizeMessages.test.ts
Due: node licenses/update_license.js, prettier --write

Normalize Windows drive-letter localfile URLs before resolving file paths and improve local HTML asset inlining for rendered project content.
  electron/main/index.ts
  src/components/ChatBox/MessageItem/MarkDown.tsx
  src/components/Folder/index.tsx
  src/lib/htmlLocalAssets.ts
  src/lib/htmlSanitization.ts
  test/unit/electron/main/index.test.ts
  test/unit/lib/htmlLocalAssets.test.ts
  test/unit/lib/htmlSanitization.test.ts
Due: node licenses/update_license.js, prettier --write

chore: ignore camel_logs in repo + backend roots
  .gitignore
  backend/.gitignore
Due: none

feat(server): add Space + Project ORM models and migration
  server/alembic/env.py
  server/alembic/versions/2026_05_25_1200-add_space_layer_foundation.py
  server/app/model/chat/chat_history.py
  server/app/model/chat/chat_history_grouped.py
  server/app/model/chat/chat_snpshot.py
  server/app/model/chat/chat_step.py
  server/app/model/memory/__init__.py
  server/app/model/memory/memory.py
  server/app/model/project/__init__.py
  server/app/model/project/project.py
  server/app/model/space/__init__.py
  server/app/model/space/apply.py
  server/app/model/space/file_index.py
  server/app/model/space/space.py
  server/app/model/space/user_id_canonicalization.py
  server/app/model/trigger/trigger.py
  server/app/model/trigger/trigger_execution.py
  server/app/shared/types/space_types.py
  server/scripts/space_migration_preflight.py
Due: node licenses/update_license.js

feat(server): add Space domain services and REST API
  server/app/domains/space/__init__.py
  server/app/domains/space/api/__init__.py
  server/app/domains/space/api/space_controller.py
  server/app/domains/space/service/__init__.py
  server/app/domains/space/service/apply_service.py
  server/app/domains/space/service/folder_binding.py
  server/app/domains/space/service/overlay_service.py
  server/app/domains/space/service/space_service.py
  server/app/domains/trigger/service/trigger_crud_service.py
Due: node licenses/update_license.js

feat(server): wire ChatHistory + snapshots + steps into Space layer
  server/app/domains/chat/api/history_controller.py
  server/app/domains/chat/api/snapshot_controller.py
  server/app/domains/chat/api/step_controller.py
  server/app/domains/chat/service/chat_service.py
  server/lang/zh_CN/LC_MESSAGES/messages.po
  server/messages.pot
Due: node licenses/update_license.js

feat(backend): introduce RunContext + workspace_resolver runtime
  backend/app/component/environment.py
  backend/app/run_context/__init__.py
  backend/app/run_context/context.py
  backend/app/utils/cdp_browser_state.py
  backend/app/utils/file_utils.py
  backend/app/utils/space_overlay_client.py
  backend/app/utils/workspace_paths.py
  backend/app/utils/workspace_resolver.py
  backend/main.py
Due: node licenses/update_license.js

feat(backend): add Brain auth scaffold + workspace controller + router
  backend/app/auth/__init__.py
  backend/app/auth/brain_auth.py
  backend/app/controller/health_controller.py
  backend/app/controller/workspace_controller.py
  backend/app/router.py
  backend/app/router_layer/message_router.py
Due: node licenses/update_license.js

feat(backend): wire chat_controller into RunContext + Space workspace
  backend/app/controller/chat_controller.py
  backend/app/controller/file_controller.py
  backend/app/model/chat.py
  backend/app/service/task.py
Due: node licenses/update_license.js

feat(backend): Single Agent CDP browser + RunContext-aware toolkits
  backend/app/agent/factory/single_agent.py
  backend/app/agent/factory/toolkit_assembler.py
  backend/app/agent/prompt.py
  backend/app/agent/toolkit/file_write_toolkit.py
  backend/app/agent/toolkit/google_calendar_toolkit.py
  backend/app/agent/toolkit/hybrid_browser_toolkit.py
  backend/app/agent/toolkit/linkedin_toolkit.py
  backend/app/agent/toolkit/search_toolkit.py
  backend/app/controller/tool_controller.py
  backend/app/hands/capabilities.py
  backend/app/service/single_agent_service.py
Due: node licenses/update_license.js

test(backend): RunContext post-conditions + file_save_path fallback
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/model/test_chat.py
Due: node licenses/update_license.js

feat(frontend): add Space store, service clients, and shared lib
  src/api/http.ts
  src/lib/agentFileFilters.ts
  src/lib/replay.ts
  src/lib/spaceProject.ts
  src/service/historyApi.ts
  src/service/spaceApi.ts
  src/service/triggerApi.ts
  src/service/workspaceApi.ts
  src/store/authStore.ts
  src/store/chatStore.ts
  src/store/pageTabStore.ts
  src/store/projectRuntimeStore.ts
  src/store/projectStore.ts
  src/store/spaceStore.ts
  src/store/triggerStore.ts
  src/store/triggerTaskStore.ts
  src/types/history.d.ts
  src/types/index.ts
Due: node licenses/update_license.js, prettier --write

feat: stabilize space layer navigation
  server/app/domains/space/service/apply_service.py
  server/tests/test_space_write_lock.py
  src/components/ChatBox/ProjectChatContainer.tsx
  src/components/ChatBox/ProjectSection.tsx
  src/components/ChatBox/index.tsx
  src/components/Dashboard/GroupedHistoryView/ProjectGroup.tsx
  src/components/Dashboard/GroupedHistoryView/index.tsx
  src/components/Dashboard/HistoryTabsNav.tsx
  src/components/Dialog/SearchHistoryDialog.tsx
  src/components/HistorySidebar/index.tsx
  src/components/ProjectPageSidebar/ProjectNavListRows.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/Session/SessionGroup.tsx
  src/components/Session/index.tsx
  src/components/SpacesHub/index.tsx
  src/components/TopBar/index.tsx
  src/components/Workspace/WorkspaceProjectPicker.tsx
  src/hooks/useChatStoreAdapter.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/lib/index.ts
  src/lib/replay.ts
  src/pages/History.tsx
  src/pages/Home.tsx
  src/pages/Projects/Project.tsx
  src/pages/Setting/General.tsx
  src/store/chatStore.ts
  src/store/projectStore.test.ts
  src/store/projectStore.ts
Due: node licenses/update_license.js, prettier --write

feat: cloud-agnostic folder Space + filesystem-aware run gates
  backend/app/controller/workspace_controller.py
  backend/app/utils/workspace_resolver.py
  server/app/domains/space/api/space_controller.py
  server/app/domains/space/service/apply_service.py
  server/app/domains/space/service/folder_binding.py
  server/app/domains/space/service/space_service.py
  server/app/model/project/project.py
  server/app/model/space/space.py
  server/lang/zh_CN/LC_MESSAGES/messages.po
  server/messages.pot
  server/tests/test_space_folder_reference.py
  src/components/AddWorker/index.tsx
  src/components/ChatBox/index.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/TopBar/index.tsx
  src/components/Workspace/WorkspaceProjectPicker.tsx
  src/components/Workspace/index.tsx
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

create branch for ui change
  .env.development
Due: none

feat(frontend): add space utilities and update stores
  src/lib/createSpaceFromFolder.ts
  src/lib/sessionNavLead.ts
  src/lib/spaceLabel.ts
  src/service/spaceApi.ts
  src/store/pageTabStore.ts
  src/store/projectStore.ts
  src/store/spaceStore.ts
Due: node licenses/update_license.js, prettier --write

feat(frontend): add Home hub for spaces, projects, tasks, and triggers
  src/pages/Home/Projects.tsx
  src/pages/Home/Spaces.tsx
  src/pages/Home/Tasks.tsx
  src/pages/Home/Triggers.tsx
  src/pages/Home/components/HomeHubCard.tsx
  src/pages/Home/components/HomeHubItemShared.tsx
  src/pages/Home/components/HomeHubListItem.tsx
  src/pages/Home/components/SectionHeader.tsx
  src/pages/Home/context.tsx
  src/pages/Home/hooks/useHomeHubCounts.ts
  src/pages/Home/hooks/useHomeHubNavigation.ts
  src/pages/Home/hooks/useHomeHubProjects.ts
  src/pages/Home/hooks/useSpaceLabel.ts
  src/pages/Home/index.tsx
  src/pages/Home/utils.ts
Due: node licenses/update_license.js, prettier --write

refactor(frontend): rename workspace route and remove legacy project page
  src/pages/Projects/Project.tsx
  src/pages/Workspace.tsx
  src/routers/index.tsx
Due: node licenses/update_license.js, prettier --write

feat(frontend): add space switch dropdown and refresh project sidebar
  src/components/ProjectPageSidebar/NavTab.tsx
  src/components/ProjectPageSidebar/ProjectNavList.tsx
  src/components/ProjectPageSidebar/ProjectNavListRows.tsx
  src/components/ProjectPageSidebar/SpaceSwitchDropdown.tsx
  src/components/ProjectPageSidebar/constants.ts
  src/components/ProjectPageSidebar/index.tsx
Due: node licenses/update_license.js, prettier --write

refactor(frontend): simplify workspace panel and top bar for space navigation
  src/components/TopBar/index.tsx
  src/components/Workspace/WorkspaceProjectPicker.tsx
  src/components/Workspace/index.tsx
Due: node licenses/update_license.js, prettier --write

feat(frontend): wire session, dashboard, and nav to space-centric flows
  src/components/AddWorker/index.tsx
  src/components/ChatBox/index.tsx
  src/components/Dashboard/GroupedHistoryView/index.tsx
  src/components/Dashboard/HistoryTabsNav.tsx
  src/components/Dashboard/VerticalNav.tsx
  src/components/Folder/index.tsx
  src/components/Session/HeaderBox/index.tsx
  src/components/Session/index.tsx
  src/components/SpacesHub/index.tsx
  src/pages/Agents/index.tsx
  src/pages/History.tsx
Due: node licenses/update_license.js, prettier --write

chore(i18n): add space and home hub layout translations
  src/i18n/locales/ar/dashboard.json
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/dashboard.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/dashboard.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/dashboard.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/dashboard.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/dashboard.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/dashboard.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/dashboard.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/dashboard.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/dashboard.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/dashboard.json
  src/i18n/locales/zh-Hant/layout.json
Due: none

feat: local-first Project memory + direct-write folder Spaces
  backend/app/controller/chat_controller.py
  backend/app/memory/__init__.py
  backend/app/memory/context_builder.py
  backend/app/memory/events.py
  backend/app/memory/local_store.py
  backend/app/memory/paths.py
  backend/app/memory/service.py
  backend/app/service/chat_service.py
  backend/app/service/single_agent_service.py
  backend/app/service/task.py
  backend/app/utils/agent_memory.py
  backend/app/utils/workspace_resolver.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/memory/__init__.py
  backend/tests/app/memory/test_context_builder.py
  backend/tests/app/memory/test_local_store.py
  backend/tests/app/memory/test_service_lifecycle.py
  backend/tests/app/service/test_chat_service.py
  backend/tests/app/service/test_single_agent_service.py
  backend/tests/app/utils/test_workspace_resolver_direct_write.py
  server/app/domains/chat/api/history_controller.py
  server/app/domains/space/service/space_service.py
  server/app/model/chat/chat_history.py
  server/lang/zh_CN/LC_MESSAGES/messages.po
  server/messages.pot
  server/tests/test_space_default_workdir_mode.py
  src/components/ChatBox/ProjectChatContainer.tsx
  src/components/ChatBox/ProjectSection.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/SpacesHub/index.tsx
  src/components/TopBar/index.tsx
  src/components/Workspace/WorkspaceProjectPicker.tsx
  src/components/Workspace/index.tsx
  src/store/chatStore.ts
  src/store/spaceStore.ts
Due: node licenses/update_license.js, prettier --write

fix(frontend): avoid stale history nav spinners
  src/lib/sessionNavLead.ts
  src/store/projectStore.ts
Due: node licenses/update_license.js, prettier --write
