Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

fix: make auto reviewer risk driven
  backend/app/permission_policy/engine.py
  backend/app/permission_policy/tool_actions.py
  backend/tests/app/permission_policy/test_engine.py
  backend/tests/app/permission_policy/test_service.py
  src/components/ChatBox/BottomBox/ApprovalModeSelect.tsx
Due: node licenses/update_license.js, prettier --write

fix: classify uploads by storage lane
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

update inline chat ui components
  .env.development
  src/components/ChatBox/UserQueryGroup.tsx
Due: node licenses/update_license.js, prettier --write

fix: reconcile event bus rebase contracts
  src/hooks/useInterruptedRunStatus.ts
  src/lib/projector/index.ts
  src/lib/projector/types.ts
  test/setup.ts
  test/unit/lib/projector.test.ts
  test/unit/service/followUpQueueApi.test.ts
Due: node licenses/update_license.js, prettier --write

revert env development change
  .env.development
Due: none

Connect session side panel to durable event bus
  src/components/ChatBox/EventNativeProjectTimeline.tsx
  src/components/ChatBox/index.tsx
  src/components/Folder/index.tsx
  src/components/Session/SidePanel/components/ActivityPanel.tsx
  src/components/Session/SidePanel/sections/buildProjectSessionPanelData.ts
  src/components/Session/index.tsx
  src/hooks/useProjectEventRuntime.tsx
  src/hooks/useProjectSessionOverview.ts
  src/store/chatEventProjectionBridge.ts
  src/store/chatStore.ts
  test/unit/components/ChatBox/EventNativeProjectTimeline.test.tsx
  test/unit/components/Session/SidePanelSections/collectSidePanelOutputFiles.test.ts
  test/unit/components/Session/SidePanelSections/useProjectOutputFiles.test.tsx
  test/unit/components/buildProjectSessionPanelData.test.ts
  test/unit/hooks/useProjectEventRuntime.test.tsx
  test/unit/hooks/useProjectSessionOverview.test.tsx
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

Fix session panel cross-project progress leakage
  src/components/Session/SidePanel/sections/buildProjectSessionPanelData.ts
  test/unit/components/buildProjectSessionPanelData.test.ts
Due: node licenses/update_license.js, prettier --write

Fix session panel skill usage detection
  src/components/Session/SidePanel/sections/buildProjectSessionPanelData.ts
  test/unit/components/buildProjectSessionPanelData.test.ts
Due: node licenses/update_license.js, prettier --write

Fix session panel agent grouping
  src/components/Session/SidePanel/components/ActivityPanel.tsx
  src/components/Session/SidePanel/sections/buildProjectSessionPanelData.ts
  test/unit/components/buildProjectSessionPanelData.test.ts
Due: node licenses/update_license.js, prettier --write

Fix session panel project progress isolation
  src/components/Session/SidePanel/components/ActivityPanel.tsx
  src/components/Session/index.tsx
  test/unit/hooks/useProjectEventRuntime.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: retry malformed model JSON responses
  backend/app/agent/listen_chat_agent.py
  backend/tests/app/agent/test_listen_chat_agent.py
Due: node licenses/update_license.js

fix: normalize memory tool arguments
  backend/app/agent/toolkit/memory_toolkit.py
  backend/tests/app/agent/toolkit/test_memory_toolkit.py
Due: node licenses/update_license.js

fix: upload managed space task outputs
  backend/app/artifacts.py
  backend/tests/app/test_artifacts.py
Due: node licenses/update_license.js

fix: stop remote control owner mismatch storms
  backend/app/run_sync/command_sync.py
  backend/tests/app/run_sync/test_command_sync.py
  src/components/Dispatch/index.tsx
  src/hooks/useRemoteControlBridge.test.ts
  src/hooks/useRemoteControlBridge.ts
  src/lib/remoteControl.bridge.test.ts
  src/lib/remoteControl.ts
Due: node licenses/update_license.js, prettier --write

fix: bound terminal cleanup for safe resume
  backend/app/agent/factory/toolkit_assembler.py
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/tests/app/agent/factory/test_toolkit_safety.py
  backend/tests/app/agent/toolkit/test_terminal_toolkit.py
  backend/tests/app/agent/toolkit/test_terminal_workspace.py
Due: node licenses/update_license.js

fix: harden durable run recovery and model transport
  backend/app/agent/agent_model.py
  backend/app/controller/chat_controller.py
  backend/app/model/model_platform.py
  backend/app/run_journal/store.py
  backend/tests/app/agent/test_agent_model.py
  backend/tests/app/controller/test_continuation_admission.py
  backend/tests/app/run_journal/test_recovery.py
  backend/tests/app/run_journal/test_store.py
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
  src/lib/taskLifecycleUi.test.ts
  src/lib/taskLifecycleUi.ts
  src/store/chatStore.durableReplay.test.ts
  src/store/chatStore.ts
  src/store/projectStore.test.ts
  src/store/projectStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: replace memory snapshot polling with heartbeats
  backend/app/run_sync/cloud_sync.py
  backend/tests/app/run_sync/test_cloud_sync.py
Due: node licenses/update_license.js

revert development setting
  .env.development
Due: none

feat: persist model invocations in run journal
  backend/app/agent/agent_model.py
  backend/app/run_journal/__init__.py
  backend/app/run_journal/model_capture.py
  backend/app/run_journal/models.py
  backend/app/run_journal/store.py
  backend/main.py
  backend/tests/app/agent/test_agent_model.py
  backend/tests/app/run_journal/test_model_capture.py
  backend/tests/app/run_journal/test_model_invocations.py
  backend/tests/app/run_journal/test_store.py
  index.html
  src/lib/workspacePanelLayout.test.ts
  src/lib/workspacePanelLayout.ts
  src/pages/Workspace.tsx
Due: node licenses/update_license.js, prettier --write

fix: harden durable model invocation capture
  backend/app/controller/chat_controller.py
  backend/app/run_context/context.py
  backend/app/run_journal/model_capture.py
  backend/app/run_journal/store.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/run_journal/test_model_capture.py
  backend/tests/app/run_journal/test_model_invocations.py
Due: node licenses/update_license.js

fix: honor cloud model response transport
  backend/app/agent/agent_model.py
  backend/tests/app/agent/test_agent_model.py
  src/store/chatStore.ts
  src/store/cloudModelStore.ts
  test/unit/store/cloudModelTransport.test.ts
Due: node licenses/update_license.js, prettier --write

fix: route cloud responses through compatible client
  backend/app/agent/agent_model.py
  backend/app/model/model_platform.py
  backend/tests/app/agent/test_agent_model.py
  backend/tests/app/model/test_model_platform.py
Due: node licenses/update_license.js

test: repair moved store suite and add vitest coverage
  .env.development
  .github/workflows/test.yml
  test/unit/store/projectStore.test.ts
Due: node licenses/update_license.js, prettier --write

test: retain remote bridge conflict coverage
  test/unit/hooks/useRemoteControlBridge.test.ts
Due: node licenses/update_license.js, prettier --write

fix: classify canonical chat events before rendering
  src/components/ChatBox/EventTimeline/DefaultEventRenderers.tsx
  src/components/ChatBox/EventTimeline/activityGrouping.ts
  src/lib/projector/chat/adapter.ts
  src/lib/projector/chat/reduce.ts
  src/lib/projector/chat/selectors.ts
  src/lib/projector/chat/types.ts
  test/unit/components/ChatBox/EventTimeline/EventTimeline.test.tsx
  test/unit/lib/chatProjectionActivity.test.ts
Due: node licenses/update_license.js, prettier --write

fix: give canonical chat families single-lane semantics
  src/components/ChatBox/EventNativeProjectTimeline.tsx
  src/components/ChatBox/EventTimeline/presentationPolicy.ts
  src/store/chatEventProjectionBridge.ts
  test/unit/lib/chatProjectionContract.test.ts
Due: node licenses/update_license.js, prettier --write

ci: enforce chatbox event projection contract
  .github/workflows/test.yml
  src/lib/projector/chat/adapter.ts
  test/unit/components/ChatBox.test.tsx
  test/unit/lib/chatProjectionContract.test.ts
Due: node licenses/update_license.js, prettier --write

fix: close remaining chatbox review gaps
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
  scripts/check-changed-format.mjs
  scripts/check-vitest-regressions.mjs
  src/components/ChatBox/BottomBox/index.tsx
  src/components/ChatBox/EventTimeline/UnknownEventFallback.tsx
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
  src/lib/projector/chat/adapter.ts
  src/lib/projector/control/types.ts
  src/service/permissionProfileApi.ts
  src/store/projectStore.ts
  test/unit/components/Dialog/ReportBugDialog.test.tsx
  test/unit/components/Session/PreviewPanel.test.tsx
  test/unit/components/Session/TerminalTab.test.tsx
  test/unit/hooks/useTriggerTaskExecutor.test.ts
  test/unit/lib/chatProjectionContract.test.ts
Due: node licenses/update_license.js, prettier --write

fix: make CI guardrails reliable
  scripts/check-electron-access.sh
  scripts/smoke-web-local-brain.sh
Due: none

fix: expose run outputs in owned spaces
  backend/app/artifacts.py
  backend/app/run_journal/store.py
  backend/app/run_runtime/coordinator.py
  backend/app/workspace_git/backend.py
  backend/app/workspace_git/content.py
  backend/app/workspace_git/lifecycle.py
  backend/tests/app/workspace_git/test_content_repository.py
  backend/tests/app/workspace_git/test_lifecycle.py
  src/hooks/useWorkspaceSavePoint.ts
  src/service/workspaceGitApi.test.ts
  src/service/workspaceGitApi.ts
Due: node licenses/update_license.js, prettier --write

ci: stabilize frontend regression guardrails
  package.json
  scripts/check-vitest-regressions.mjs
Due: none

fix: preserve interactive HTML preview styles
  src/components/Folder/index.tsx
  src/lib/htmlSanitization.test.ts
  src/lib/htmlSanitization.ts
Due: node licenses/update_license.js, prettier --write

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
