Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

chore: update camel version to 0287 (#1230)
  backend/pyproject.toml
  backend/uv.lock
  server/pyproject.toml
  server/uv.lock
Due: none

chore: add plotly as init env for terminal agent
  electron/main/utils/process.ts
  scripts/preinstall-deps.js
Due: node licenses/update_license.js, prettier --write

chore: add plotly as init env for terminal agent (#1231)
  electron/main/utils/process.ts
  scripts/preinstall-deps.js
Due: node licenses/update_license.js, prettier --write

feat: add mock toolkits
  backend/tests/app/agent/factory/test_browser.py
  backend/tests/app/agent/factory/test_developer.py
  backend/tests/app/agent/factory/test_document.py
Due: node licenses/update_license.js

Implement prevent task auto refresh
  src/components/GroupedHistoryView/ProjectDialog.tsx
  src/components/GroupedHistoryView/ProjectGroup.tsx
  src/components/GroupedHistoryView/index.tsx
  src/components/HistorySidebar/index.tsx
  src/components/SearchHistoryDialog.tsx
  src/lib/index.ts
  src/lib/replay.ts
  src/pages/Dashboard/Project.tsx
  src/store/chatStore.ts
  src/store/projectStore.ts
  test/unit/lib/replay.test.ts
Due: node licenses/update_license.js, prettier --write

Delete replay.test.ts
  test/unit/lib/replay.test.ts
Due: node licenses/update_license.js, prettier --write

update browser wrapper
  backend/app/agent/toolkit/hybrid_browser_toolkit.py
Due: node licenses/update_license.js

chore: Update browser wrapper (#1235)
  backend/app/agent/toolkit/hybrid_browser_toolkit.py
Due: node licenses/update_license.js

fix: allow js scipts for any https origin
  index.html
Due: none

fix
  index.html
Due: none

fix
  index.html
  src/components/Folder/index.tsx
Due: node licenses/update_license.js, prettier --write

Add comment for future update
  src/components/WorkFlow/workflowWheelHandler.ts
Due: node licenses/update_license.js, prettier --write

Fix Duplicate task execution after network reconnection (#1214)
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix(Folder): align file list entries and unify spacing in file explorer (#1224)
  src/components/Folder/index.tsx
  test/unit/components/Folder/FileTree.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: restore accidentally removed files in pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

remove allow-same-origin
  src/components/Folder/index.tsx
Due: node licenses/update_license.js, prettier --write

fix: allow js scipts for most https origin (#1236)
  index.html
  src/components/Folder/index.tsx
Due: node licenses/update_license.js, prettier --write

minor fix
  backend/benchmark/checker/1.py
  backend/benchmark/checker/2.py
Due: node licenses/update_license.js

benchmark: update benchmark (#1207)
  .github/workflows/pre-commit.yml
  .markdownlintignore
  backend/.pre-commit-config.yaml
  backend/benchmark/.env.example
  backend/benchmark/README.md
  backend/benchmark/answer/0/hello_world.py
  backend/benchmark/answer/1/python313_features.md
  backend/benchmark/answer/2/yc_w25_b2b_ai.csv
  backend/benchmark/checker/1.py
  backend/benchmark/checker/2.py
  backend/benchmark/dataset/0.json
  backend/benchmark/dataset/1.json
  backend/benchmark/dataset/2.json
  backend/benchmark/environment.py
  backend/benchmark/grader/0.py
  backend/benchmark/grader/1.py
  backend/benchmark/grader/2.py
  backend/benchmark/main.py
  backend/pyproject.toml
Due: node licenses/update_license.js

chore: update camel version to 0289
  backend/pyproject.toml
  backend/uv.lock
  server/pyproject.toml
  server/uv.lock
Due: none

chore: update camel version to 0289 (#1238)
  backend/pyproject.toml
  backend/uv.lock
  server/pyproject.toml
  server/uv.lock
Due: none

minor update
  server/app/type/config_group.py
  src/i18n/locales/en-us/setting.json
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

fix
  backend/app/utils/codex_oauth.py
  backend/tests/app/utils/test_codex_oauth.py
Due: node licenses/update_license.js

fix(codex-oauth): correct OAuth parameters and remove env var side effects
  backend/app/utils/codex_oauth.py
  backend/tests/app/utils/test_codex_oauth.py
Due: node licenses/update_license.js

feat: add OpenAI Codex OAuth PKCE install flow (#1129)
  backend/app/controller/codex_controller.py
  backend/app/router.py
  backend/app/utils/codex_oauth.py
  backend/tests/app/utils/test_codex_oauth.py
  server/app/model/config/config.py
  src/components/AddWorker/ToolSelect.tsx
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/en-us/setting.json
  src/pages/Setting/MCP.tsx
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

feat: add privacy consent checkbox to Login page
  src/pages/Login.tsx
Due: node licenses/update_license.js, prettier --write

feat: add i18n keys for privacy consent and help improve toggle
  src/i18n/locales/ar/layout.json
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/layout.json
  src/i18n/locales/zh-Hant/setting.json
Due: none

test: update ChatBox tests for privacy consent migration
  test/integration/components/ChatBox.integration.test.tsx
  test/unit/components/ChatBox.test.tsx
Due: node licenses/update_license.js, prettier --write

refactor: remove privacy gating from ChatBox
  src/components/ChatBox/index.tsx
Due: node licenses/update_license.js, prettier --write

feat: add help_improve field to UserPrivacySettings
  server/app/model/user/privacy.py
Due: node licenses/update_license.js

chore: delete unused Dialog/Privacy component
  src/components/Dialog/Privacy.tsx
Due: node licenses/update_license.js, prettier --write

feat: add Radix UI Checkbox component
  src/components/ui/checkbox.tsx
Due: node licenses/update_license.js, prettier --write

feat: add privacy consent checkbox to SignUp page
  src/pages/SignUp.tsx
Due: node licenses/update_license.js, prettier --write

refactor: remove privacy prop from InputBox
  src/components/ChatBox/BottomBox/InputBox.tsx
Due: node licenses/update_license.js, prettier --write

refactor: replace Settings Privacy 4-toggle with Help Improve toggle
  src/pages/Setting/Privacy.tsx
Due: node licenses/update_license.js, prettier --write

revert: codex feature
  backend/app/controller/codex_controller.py
  backend/app/router.py
  backend/app/utils/codex_oauth.py
  backend/tests/app/utils/test_codex_oauth.py
  server/app/model/config/config.py
  src/components/AddWorker/ToolSelect.tsx
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/en-us/setting.json
  src/pages/Setting/MCP.tsx
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

revert: codex feature (#1240)
  backend/app/controller/codex_controller.py
  backend/app/router.py
  backend/app/utils/codex_oauth.py
  backend/tests/app/utils/test_codex_oauth.py
  server/app/model/config/config.py
  src/components/AddWorker/ToolSelect.tsx
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/en-us/setting.json
  src/pages/Setting/MCP.tsx
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

update input text color bug
  src/components/ChatBox/BottomBox/InputBox.tsx
  src/style/token.css
Due: node licenses/update_license.js, prettier --write
