Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

refacotr: add model sorting function
  backend/app/controller/model_controller.py
Due: node licenses/update_license.js

feat: support grok,mistral,sambanova
  backend/app/controller/model_controller.py
  backend/app/model/chat.py
  backend/app/model/model_platform.py
  backend/pyproject.toml
  backend/tests/app/controller/test_model_controller.py
  backend/tests/app/model/test_chat.py
  backend/tests/app/model/test_model_platform.py
  backend/uv.lock
  server/pyproject.toml
  server/uv.lock
  src/lib/llm.ts
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

feat: support grok,mistral,sambanova (#1321)
  backend/app/controller/model_controller.py
  backend/app/model/chat.py
  backend/app/model/model_platform.py
  backend/pyproject.toml
  backend/tests/app/controller/test_model_controller.py
  backend/tests/app/model/test_chat.py
  backend/tests/app/model/test_model_platform.py
  backend/uv.lock
  server/pyproject.toml
  server/uv.lock
  src/lib/llm.ts
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

chore: update camel version
  backend/pyproject.toml
  backend/uv.lock
  server/pyproject.toml
  server/uv.lock
Due: none

chore: enhance ollama model url setting
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

chore: enhance ollama model url setting (#1322)
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

fix: add pip back in builder
  electron-builder.json
Due: none

fix(agent): require explicit screenshot toolkit agent name
  backend/app/agent/factory/browser.py
  backend/app/agent/factory/developer.py
  backend/app/agent/factory/document.py
  backend/app/agent/toolkit/screenshot_toolkit.py
  backend/tests/app/agent/factory/test_browser.py
  backend/tests/app/agent/factory/test_developer.py
  backend/tests/app/agent/factory/test_document.py
Due: node licenses/update_license.js

feat: add multi-modal attachment propagation to all worker agents thr… (#1196)
  backend/app/agent/factory/browser.py
  backend/app/agent/factory/developer.py
  backend/app/agent/factory/document.py
  backend/app/agent/prompt.py
  backend/app/agent/toolkit/screenshot_toolkit.py
  backend/tests/app/agent/factory/test_browser.py
  backend/tests/app/agent/factory/test_developer.py
  backend/tests/app/agent/factory/test_document.py
  src/components/Navigation/index.tsx
  src/components/SearchInput/index.tsx
  src/components/ui/alertDialog.tsx
  src/components/ui/toggle-group.tsx
  src/pages/Agents/components/SkillUploadDialog.tsx
Due: node licenses/update_license.js, prettier --write

inital_fix
  backend/app/utils/workforce.py
Due: node licenses/update_license.js

add connect existing browser
  backend/app/agent/factory/browser.py
  backend/app/agent/listen_chat_agent.py
  backend/app/controller/tool_controller.py
  electron/main/index.ts
  electron/preload/index.ts
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/pages/Dashboard/Browser.tsx
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

fe style change
  backend/app/agent/factory/browser.py
  backend/app/controller/tool_controller.py
  src/components/Layout/index.tsx
  src/components/TopBar/index.tsx
  src/components/WindowControls/index.tsx
  src/components/WorkSpaceMenu/index.tsx
  src/components/update/index.tsx
  src/hooks/useInstallationSetup.ts
  src/pages/Dashboard/Browser.tsx
  src/pages/Home.tsx
Due: node licenses/update_license.js, prettier --write

fix: enforce authentication on unauthenticated endpoints and harden auth_must (#1294)
  server/app/component/auth.py
  server/app/controller/chat/share_controller.py
  server/app/controller/chat/snapshot_controller.py
  server/tests/test_auth.py
Due: node licenses/update_license.js

useful
  backend/app/agent/factory/browser.py
  backend/app/agent/listen_chat_agent.py
Due: node licenses/update_license.js

fix: restore accidentally removed skills section in index.ts
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

fix: patch 5 security vulnerabilities across electron, server, and proxy layers (#1292)
  electron/main/index.ts
  server/app/controller/mcp/proxy_controller.py
  server/app/model/chat/chat_share.py
  server/tests/__init__.py
  server/tests/test_chat_share.py
  server/tests/test_proxy_controller.py
  test/unit/electron/main/index.test.ts
Due: node licenses/update_license.js, prettier --write

refactor: address review feedback on server security PR
  server/app/controller/redirect_controller.py
  server/tests/app/component/auth.py
  server/tests/app/controller/chat/history_controller.py
  server/tests/app/controller/mcp/mcp_controller.py
  server/tests/app/controller/mcp/user_controller.py
  server/tests/app/controller/redirect_controller.py
  server/tests/app/controller/user/login_controller.py
  server/tests/app/model/chat/chat_snpshot.py
  server/tests/test_security_fixes.py
Due: node licenses/update_license.js

fix: address review feedback for backend security hardening
  backend/app/component/environment.py
  backend/app/service/task.py
  backend/tests/app/component/test_environment.py
  backend/tests/app/service/test_task.py
  backend/tests/app/service/test_task_lock_mutex.py
Due: node licenses/update_license.js

style: fix ruff lint and format issues
  backend/app/service/task.py
  backend/tests/app/utils/test_cookie_manager.py
  backend/tests/app/utils/test_oauth_state_manager.py
Due: node licenses/update_license.js

delete openmybrowser
  backend/app/controller/tool_controller.py
  electron/main/index.ts
  electron/preload/index.ts
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/pages/Dashboard/Browser.tsx
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

style: fix ruff format in test_listen_chat_agent.py
  backend/tests/app/agent/test_listen_chat_agent.py
Due: node licenses/update_license.js

fix(test): correct regex match for None-response RuntimeError tests
  backend/tests/app/agent/test_listen_chat_agent.py
Due: node licenses/update_license.js

language
  backend/app/controller/tool_controller.py
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/pages/Dashboard/Browser.tsx
Due: node licenses/update_license.js, prettier --write

no?
  src/components/Layout/index.tsx
  src/components/TopBar/index.tsx
  src/components/WindowControls/index.tsx
  src/components/WorkSpaceMenu/index.tsx
  src/components/update/index.tsx
  src/hooks/useInstallationSetup.ts
  src/pages/Home.tsx
Due: node licenses/update_license.js, prettier --write

refactor: fix Workspace component naming typos
  src/components/BottomBar/index.tsx
  src/components/BrowserAgentWorkspace/index.tsx
  src/components/TerminalAgentWorkspace/index.tsx
  src/components/WorkspaceMenu/index.tsx
  src/pages/Home.tsx
Due: node licenses/update_license.js, prettier --write

refactor: fix Workspace component naming typos (#1333)
  src/components/BottomBar/index.tsx
  src/components/BrowserAgentWorkspace/index.tsx
  src/components/TerminalAgentWorkspace/index.tsx
  src/components/WorkspaceMenu/index.tsx
  src/pages/Home.tsx
Due: node licenses/update_license.js, prettier --write

refactor: align workspace component export names
  src/components/BrowserAgentWorkspace/index.tsx
  src/components/TerminalAgentWorkspace/index.tsx
Due: node licenses/update_license.js, prettier --write

fix: align workspace component export names (#1334)
  src/components/BrowserAgentWorkspace/index.tsx
  src/components/TerminalAgentWorkspace/index.tsx
Due: node licenses/update_license.js, prettier --write

test: fix invalid assertions in encrypt and time_friendly tests
  server/tests/app/component/test_encrypt.py
  server/tests/app/component/test_time_friendly.py
Due: node licenses/update_license.js

feat(test): add unit tests for encrypt and time_friendly modules (#1163)
  server/pyproject.toml
  server/tests/app/component/test_encrypt.py
  server/tests/app/component/test_time_friendly.py
  server/tests/conftest.py
Due: node licenses/update_license.js

update
  backend/app/utils/file_utils.py
  backend/tests/app/utils/test_file_utils.py
Due: node licenses/update_license.js

update
  backend/app/exception/exception.py
  backend/app/service/chat_service.py
  backend/app/utils/file_utils.py
  backend/tests/app/service/test_chat_service.py
  backend/tests/app/utils/test_file_utils.py
Due: node licenses/update_license.js

feat(file_utils): robust path handling and safe directory listing (#1195)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  backend/app/exception/exception.py
  backend/app/service/chat_service.py
  backend/app/utils/file_utils.py
  backend/tests/app/service/test_chat_service.py
  backend/tests/app/utils/test_file_utils.py
Due: node licenses/update_license.js

simplify and fix
  backend/app/component/model_suggestions.py
  backend/app/controller/model_controller.py
  backend/app/service/chat_service.py
  backend/tests/app/component/test_model_suggestions.py
  src/components/ModelTypeCombobox.tsx
  src/components/ui/combobox.tsx
  src/pages/Agents/Models.tsx
  test/unit/components/Combobox.test.tsx
  test/unit/components/ModelTypeCombobox.test.tsx
Due: node licenses/update_license.js, prettier --write

refactor: standardize workspace casing
  src/components/ChatBox/TaskBox/TaskCard.tsx
  src/components/Folder/index.tsx
  src/store/chatStore.ts
  test/unit/components/ChatBox.test.tsx
Due: node licenses/update_license.js, prettier --write

update
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
Due: none

fix some bugs
  backend/app/agent/agent_model.py
  backend/app/component/model_validation.py
  backend/app/service/chat_service.py
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

feat: add model type autocomplete with api based suggestions and plat… (#1204)
  .vscode/settings.json
  backend/app/agent/agent_model.py
  backend/app/component/model_suggestions.py
  backend/app/component/model_validation.py
  backend/app/controller/model_controller.py
  backend/app/service/chat_service.py
  backend/tests/app/component/test_model_suggestions.py
  src/components/ModelTypeCombobox.tsx
  src/components/ui/combobox.tsx
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Agents/Models.tsx
  test/unit/components/Combobox.test.tsx
  test/unit/components/ModelTypeCombobox.test.tsx
Due: node licenses/update_license.js, prettier --write

refactor: standardize workspace casing (#1337)
  src/components/ChatBox/TaskBox/TaskCard.tsx
  src/components/Folder/index.tsx
  src/store/chatStore.ts
  test/unit/components/ChatBox.test.tsx
Due: node licenses/update_license.js, prettier --write

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
