Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node licenses/update_license.js

fix image render in markdown
  package.json
  src/components/ChatBox/MessageItem/MarkDown.tsx
  src/components/ChatBox/MessageItem/markdown-styles.css
  src/components/Folder/index.tsx
Due: eslint --fix, prettier --write, node licenses/update_license.js

move markdown style to style folder
  src/components/ChatBox/MessageItem/MarkDown.tsx
  src/style/markdown-styles.css
Due: eslint --fix, prettier --write, node licenses/update_license.js

chore: update endpoint
  src/service/triggerApi.ts
Due: eslint --fix, prettier --write, node licenses/update_license.js

fix: resolve LinkedIn OAuth token expiration and routing bugs
  backend/app/utils/toolkit/linkedin_toolkit.py
  src/components/IntegrationList/index.tsx
  src/hooks/useIntegrationManagement.ts
Due: eslint --fix, prettier --write, node licenses/update_license.js

update
  backend/app/agent/factory/browser.py
  backend/app/agent/factory/developer.py
  backend/app/agent/factory/document.py
  backend/app/agent/factory/mcp.py
  backend/app/agent/factory/multi_modal.py
  backend/app/agent/factory/social_medium.py
Due: node licenses/update_license.js

refactor: refactor agent and modify sys prompt for terminal ls (#1106)
  backend/app/agent/README.md
  backend/app/agent/__init__.py
  backend/app/agent/agent_model.py
  backend/app/agent/factory/__init__.py
  backend/app/agent/factory/browser.py
  backend/app/agent/factory/developer.py
  backend/app/agent/factory/document.py
  backend/app/agent/factory/mcp.py
  backend/app/agent/factory/multi_modal.py
  backend/app/agent/factory/question_confirm.py
  backend/app/agent/factory/social_medium.py
  backend/app/agent/factory/task_summary.py
  backend/app/agent/listen_chat_agent.py
  backend/app/agent/prompt.py
  backend/app/agent/tools.py
  backend/app/agent/utils.py
  backend/app/service/chat_service.py
  backend/app/utils/agent.py
  backend/app/utils/single_agent_worker.py
  backend/app/utils/workforce.py
  backend/tests/app/agent/factory/test_browser.py
  backend/tests/app/agent/factory/test_developer.py
  backend/tests/app/agent/factory/test_document.py
  backend/tests/app/agent/factory/test_mcp.py
  backend/tests/app/agent/factory/test_multi_modal.py
  backend/tests/app/agent/factory/test_question_confirm.py
  backend/tests/app/agent/factory/test_social_medium.py
  backend/tests/app/agent/factory/test_task_summary.py
  backend/tests/app/agent/test_agent_model.py
  backend/tests/app/agent/test_listen_chat_agent.py
  backend/tests/app/agent/test_tools.py
  backend/tests/unit/service/test_chat_service.py
  backend/tests/unit/utils/test_agent.py
  backend/tests/unit/utils/test_single_agent_worker.py
  backend/tests/unit/utils/test_workforce.py
Due: prettier --write, node licenses/update_license.js

fix: correct import statements in browser agent integration tests
  backend/tests/integration/agents/test_browser_agent.py
Due: node licenses/update_license.js

fix: update browser_agent import to new location after refactoring
  backend/app/utils/agent.py
  backend/tests/integration/agents/test_browser_agent.py
Due: node licenses/update_license.js

fix: use placeholder for venv script shebangs to ensure portability
  electron/main/utils/process.ts
  scripts/fix-symlinks.js
Due: eslint --fix, prettier --write, node licenses/update_license.js

update design for default setting & dropdown visibility
  src/pages/History.tsx
  src/pages/Setting/Models.tsx
Due: eslint --fix, prettier --write, node licenses/update_license.js

enhance upload to s3
  .github/workflows/build-view.yml
  .github/workflows/build.yml
Due: none

feat: Add LinkedIn OAuth integration with CAMEL-AI toolkit (#1104)
  backend/app/controller/tool_controller.py
  backend/app/utils/toolkit/linkedin_toolkit.py
  server/app/component/oauth_adapter.py
  server/app/model/config/config.py
  src/components/IntegrationList/index.tsx
  src/hooks/useIntegrationManagement.ts
Due: eslint --fix, prettier --write, node licenses/update_license.js

Fix markdown render (#1108)
  package.json
  src/components/ChatBox/MessageItem/MarkDown.tsx
  src/components/Folder/index.tsx
  src/style/markdown-styles.css
Due: eslint --fix, prettier --write, node licenses/update_license.js

fix: 3 bugs in chatStore refactor (handleEditQuery, replay, replay.ts)
  src/components/ChatBox/index.tsx
  src/lib/replay.ts
  src/pages/Dashboard/Project.tsx
  src/store/chatStore.ts
  src/store/projectStore.ts
Due: eslint --fix, prettier --write, node licenses/update_license.js

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

update
  docs/core/models/kimi.md
  docs/images/kimi_1.png
  docs/images/kimi_2.png
  docs/images/kimi_3.png
Due: prettier --write

Update docs.json
  docs/docs.json
Due: prettier --write

refactor: rename social media and add pre-commit
  .github/workflows/pre-commit.yml
  .lintstagedrc.json
  .prettierrc
  backend/app/agent/README.md
  backend/app/agent/__init__.py
  backend/app/agent/factory/__init__.py
  backend/app/agent/factory/social_media.py
  backend/app/service/chat_service.py
  backend/app/service/task.py
  backend/app/utils/toolkit/google_calendar_toolkit.py
  backend/app/utils/toolkit/google_gmail_mcp_toolkit.py
  backend/app/utils/toolkit/linkedin_toolkit.py
  backend/app/utils/toolkit/reddit_toolkit.py
  backend/app/utils/toolkit/slack_toolkit.py
  backend/app/utils/toolkit/twitter_toolkit.py
  backend/app/utils/toolkit/whatsapp_toolkit.py
  backend/pyproject.toml
  backend/tests/app/agent/factory/test_social_media.py
  backend/tests/unit/service/test_task.py
  package.json
  src/components/BrowserAgentWorkSpace/index.tsx
  src/components/BrowserAgentWrokSpace/index.tsx
  src/components/TerminalAgentWrokSpace/index.tsx
  src/components/WorkFlow/index.tsx
  src/components/WorkFlow/node.tsx
  src/components/WorkSpaceMenu/index.tsx
  src/pages/Dashboard/Project.tsx
  src/store/chatStore.ts
  src/types/chatbox.d.ts
  src/types/workspace.d.ts
Due: eslint --fix, prettier --write, node licenses/update_license.js

refactor: rename social media and add pre-commit
  .github/workflows/pre-commit.yml
  backend/pyproject.toml
Due: none

refactor: rename social media and add pre-commit
  .github/workflows/pre-commit.yml
Due: none

feat(windows): improve native Windows appearance and theme support
  electron/main/index.ts
  src/components/TopBar/index.tsx
  src/components/WindowControls/index.tsx
Due: eslint --fix, prettier --write, node licenses/update_license.js

docs: add README for AUR packaging scripts
  packaging/aur/README.md
Due: prettier --write

feat(aur): add desktop integration, uninstall script, and auto-update workflow
  .github/workflows/aur-update.yml
  packaging/aur/README.md
  packaging/aur/install-appimage.sh
  packaging/aur/uninstall-appimage.sh
Due: prettier --write

feat: add Flatpak packaging, release notes automation, and packaging tests
  .github/workflows/release-notes.yml
  .github/workflows/test-packaging.yml
  packaging/flatpak/README.md
  packaging/flatpak/ai.eigent.Eigent.yml
Due: prettier --write

feat: add AppStream metadata, deb packaging, Nix flake, and shell completions
  packaging/completions/README.md
  packaging/completions/eigent.bash
  packaging/completions/eigent.zsh
  packaging/deb/.gitignore
  packaging/deb/README.md
  packaging/deb/build-deb.sh
  packaging/flatpak/ai.eigent.Eigent.metainfo.xml
  packaging/flatpak/ai.eigent.Eigent.yml
  packaging/nix/.gitignore
  packaging/nix/README.md
  packaging/nix/flake.nix
Due: prettier --write

feat: add unified update script, RPM spec, man page, and autostart entry
  .github/workflows/aur-update.yml
  packaging/autostart/README.md
  packaging/autostart/eigent-autostart.desktop
  packaging/man/README.md
  packaging/man/eigent.1
  packaging/rpm/.gitignore
  packaging/rpm/README.md
  packaging/rpm/eigent.spec
  packaging/update-all.sh
Due: prettier --write

feat(aur): add desktop integration, uninstall script, and auto-update workflow
  .github/workflows/packaging-update.yml
  packaging/tests/README.md
  packaging/tests/test-packaging.sh
Due: prettier --write

docs: add README for AUR packaging scripts
  .github/workflows/packaging-test.yml
  packaging/README.md
Due: prettier --write

feat(gpg): add GPG signing key and release signing script
  packaging/gpg/README.md
  packaging/gpg/eigent-public.asc
  packaging/gpg/sign-release.sh
Due: prettier --write

fix: correct license to Apache-2.0 and remove shell completions
  packaging/README.md
  packaging/aur/.SRCINFO
  packaging/aur/PKGBUILD
  packaging/completions/README.md
  packaging/completions/eigent.bash
  packaging/completions/eigent.zsh
  packaging/flatpak/ai.eigent.Eigent.metainfo.xml
  packaging/man/eigent.1
  packaging/nix/flake.nix
  packaging/rpm/eigent.spec
Due: prettier --write

fix: remove unverified CLI flags and non-existent screenshot
  packaging/autostart/README.md
  packaging/autostart/eigent-autostart.desktop
  packaging/flatpak/ai.eigent.Eigent.metainfo.xml
  packaging/man/eigent.1
Due: prettier --write

fix: update all packaging to v0.0.82 with correct SHA256
  packaging/aur/.SRCINFO
  packaging/aur/PKGBUILD
  packaging/deb/build-deb.sh
  packaging/flatpak/ai.eigent.Eigent.metainfo.xml
  packaging/flatpak/ai.eigent.Eigent.yml
  packaging/nix/flake.nix
  packaging/rpm/eigent.spec
  packaging/rpm/sha256sum.txt
Due: none

chore: remove outdated hash comments from Nix flake
  packaging/nix/flake.nix
Due: none

fix: remove more vibe-coded assumptions
  packaging/aur/.SRCINFO
  packaging/aur/PKGBUILD
  packaging/flatpak/ai.eigent.Eigent.yml
  packaging/rpm/eigent.spec
Due: none

fix(flatpak): update runtime from EOL 23.08 to 24.08
  packaging/flatpak/ai.eigent.Eigent.yml
Due: none

docs: update packaging README with GPG and automation sections
  packaging/README.md
Due: prettier --write

chore: continue incoming merge
  src/pages/Dashboard/Trigger.tsx
Due: eslint --fix, prettier --write, node licenses/update_license.js

enhance: input size limits
  src/components/Trigger/TriggerDialog.tsx
  src/components/Trigger/TriggerTaskInput.tsx
  src/store/triggerStore.ts
Due: eslint --fix, prettier --write, node licenses/update_license.js

chore: update merge
  src/components/TopBar/index.tsx
Due: eslint --fix, prettier --write, node licenses/update_license.js

chore: simplify webhook url ui
  src/components/Trigger/TriggerDialog.tsx
Due: eslint --fix, prettier --write, node licenses/update_license.js

Path conditions:
  eslint --fix: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})) or (any of: *.{json,css,md})
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
