Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

fix(history): prevent settings content from overlapping tab bar on sc… (#1186)
  src/pages/History.tsx
Due: node licenses/update_license.js, prettier --write

minor enhance
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

update based on review
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

chore: remove unused mcpLocal code in chatStore (#1194)
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

fix: address Codex OAuth review feedback
  backend/app/agent/toolkit/codex_toolkit.py
  server/app/model/config/config.py
  src/components/AddWorker/ToolSelect.tsx
  src/hooks/useIntegrationManagement.ts
  src/pages/Setting/MCP.tsx
Due: node licenses/update_license.js, prettier --write

feat: add Codex installed detection, uninstall, and install handling
  src/components/IntegrationList/index.tsx
  src/hooks/useIntegrationManagement.ts
Due: node licenses/update_license.js, prettier --write

test: add unit tests for codex_toolkit.py
  backend/tests/app/agent/toolkit/test_codex_toolkit.py
Due: node licenses/update_license.js

fix: remove unused Optional import to pass ruff lint
  backend/app/controller/tool_controller.py
Due: node licenses/update_license.js

refactor: save Codex OAuth token as OpenAI provider instead of toolkit config
  backend/app/controller/tool_controller.py
  server/app/model/config/config.py
  src/components/AddWorker/ToolSelect.tsx
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/en-us/setting.json
  src/pages/Setting/MCP.tsx
Due: node licenses/update_license.js, prettier --write

feat: add OAuth state parameter for CSRF protection
  backend/app/agent/toolkit/codex_toolkit.py
  backend/tests/app/agent/toolkit/test_codex_toolkit.py
Due: node licenses/update_license.js

refactor: remove Codex OAuth flow from MCP and ToolSelect pages
  src/components/AddWorker/ToolSelect.tsx
  src/pages/Setting/MCP.tsx
Due: node licenses/update_license.js, prettier --write

feat: add Codex config group and OPENAI_API_KEY env var mapping
  server/app/model/config/config.py
  server/app/type/config_group.py
Due: node licenses/update_license.js

feat: encrypt OAuth tokens using machine-derived key
  backend/app/agent/toolkit/codex_toolkit.py
Due: node licenses/update_license.js

style: apply ruff formatting fixes
  backend/app/agent/toolkit/codex_toolkit.py
  backend/app/controller/tool_controller.py
Due: node licenses/update_license.js

feat: add CodexOAuthManager for OpenAI Codex PKCE OAuth flow
  backend/app/agent/toolkit/codex_toolkit.py
Due: node licenses/update_license.js

feat: add Codex OAuth install flow in Settings and AddWorker
  src/components/AddWorker/ToolSelect.tsx
  src/pages/Setting/MCP.tsx
Due: node licenses/update_license.js, prettier --write

fix: replace undefined Optional with int | None in CodexTokenRequest
  backend/app/controller/tool_controller.py
Due: node licenses/update_license.js

style: fix pre-commit lint errors (E501, yapf formatting)
  backend/app/agent/toolkit/codex_toolkit.py
  backend/app/controller/tool_controller.py
Due: node licenses/update_license.js

refactor: move imports to top of codex_toolkit.py
  backend/app/agent/toolkit/codex_toolkit.py
Due: node licenses/update_license.js

refactor: address PR #1129 review comments
  backend/app/agent/toolkit/codex_toolkit.py
  backend/app/controller/tool_controller.py
  src/components/AddWorker/ToolSelect.tsx
  src/pages/Setting/MCP.tsx
Due: node licenses/update_license.js, prettier --write

fix: add missing blank line to pass ruff lint
  backend/app/controller/tool_controller.py
Due: node licenses/update_license.js

refactor: remove Codex from MCP config registry and integration hooks
  server/app/model/config/config.py
  src/components/IntegrationList/index.tsx
  src/hooks/useIntegrationManagement.ts
Due: node licenses/update_license.js, prettier --write

feat: add Codex OAuth connect to Model/Provider settings page
  src/i18n/locales/en-us/setting.json
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

feat: add Codex install/uninstall/save-token/status endpoints
  backend/app/controller/tool_controller.py
Due: node licenses/update_license.js

Update backend/app/controller/tool_controller.py
  backend/app/controller/tool_controller.py
Due: node licenses/update_license.js

refactor: move Codex OAuth manager out of agent/toolkit to utils
  backend/app/controller/tool_controller.py
  backend/app/utils/codex_oauth.py
  backend/tests/app/utils/test_codex_oauth.py
Due: node licenses/update_license.js

refactor: move Codex OAuth endpoints from tool_controller to codex_controller
  backend/app/controller/codex_controller.py
  backend/app/controller/tool_controller.py
  backend/app/router.py
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

fix: make logos visible in dark mode (#1197)
  backend/app/model/chat.py
  src/lib/llm.ts
  src/pages/Setting.tsx
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

fix: temporal fix and update benchmark
  .github/workflows/pre-commit.yml
  backend/app/patches/__init__.py
  backend/app/patches/strip_think_tags.py
  backend/benchmark/.env.example
  backend/benchmark/README.md
  backend/benchmark/dataset/0.json
  backend/benchmark/environment.py
  backend/benchmark/main.py
  backend/main.py
Due: node licenses/update_license.js

chore: update usecase to bank transfer
  src/components/ChatBox/index.tsx
Due: node licenses/update_license.js, prettier --write

Update
  .env.development
  backend/benchmark/__init__.py
Due: node licenses/update_license.js

Update
  .env.development
Due: none

Update
  backend/benchmark/README.md
Due: none

Update
  backend/benchmark/grader/0.py
Due: node licenses/update_license.js

chore: update topbar justify
  src/components/TopBar/index.tsx
Due: node licenses/update_license.js, prettier --write

update
  backend/pyproject.toml
  backend/uv.lock
  server/pyproject.toml
  server/uv.lock
Due: none

fix: move imports to top of file and fix platform name normalization inconsistencies in model_controller.py
  backend/app/controller/model_controller.py
Due: node licenses/update_license.js

chore: optimize apple sign
  .github/workflows/build-view.yml
  .github/workflows/build.yml
Due: none

Remove Python cache and test directories from site-packages to reduce file count
  .github/workflows/build-view.yml
  .github/workflows/build.yml
  config/before-sign.cjs
Due: none

chore: revert using local mcp config
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
