Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

fix: keep dialogs centered while closing
  src/components/ui/dialog.tsx
  test/unit/components/Settings/ModelsNavigation.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: explain why thinking effort cannot be saved in model parameters
  src/components/Settings/Models/ModelConfigurationDialog.tsx
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  test/unit/components/Settings/ModelsNavigation.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: tell repeated model configurations apart
  src/components/AddWorker/index.tsx
  src/components/ChatBox/BottomBox/ModelAndThinkingEffortSelect.tsx
  src/components/Settings/Models/index.tsx
  src/lib/configuredModels.ts
  src/lib/workerModelOptions.ts
  test/unit/components/ChatBox/BottomBox/ModelAndThinkingEffortSelect.test.tsx
  test/unit/lib/configuredModels.test.ts
  test/unit/lib/workerModelOptions.test.ts
Due: node licenses/update_license.js, prettier --write

test: cover pinned Session model configuration startup
  test/unit/store/chatStore.spaceModelSelection.test.ts
Due: node licenses/update_license.js, prettier --write

fix: use design-system focus, badge and menu rows for models
  src/components/ChatBox/BottomBox/ModelAndThinkingEffortSelect.tsx
  src/components/Settings/Models/index.tsx
Due: node licenses/update_license.js, prettier --write

fix: scope Bundle install proposals to the caller Space binding (#2010)
  backend/app/controller/workspace_bundle_controller.py
  backend/tests/app/controller/test_workspace_bundle_controller.py
Due: node licenses/update_license.js

fix: reclaim writer leases held by lost Attempts (#2011)
  backend/app/run_journal/__init__.py
  backend/app/run_journal/models.py
  backend/app/run_journal/store.py
  backend/app/workspace_git/__init__.py
  backend/app/workspace_git/content.py
  backend/app/workspace_git/mutation.py
  backend/app/workspace_git/scheduler.py
  backend/main.py
  backend/tests/app/agent/toolkit/test_terminal_workspace.py
  backend/tests/app/agent/toolkit/test_writer_lifecycle.py
  backend/tests/app/workspace_git/test_scheduler.py
  backend/tests/app/workspace_runtime/test_send_now.py
  backend/tests/app/workspace_runtime/test_session_entry.py
  backend/tests/app/workspace_runtime/test_store.py
Due: node licenses/update_license.js

fix: guard legacy Brain routes with the Desktop capability (#2014)
  backend/app/__init__.py
  backend/app/auth/__init__.py
  backend/app/auth/local_control.py
  backend/app/controller/mcp_controller.py
  backend/app/controller/message_controller.py
  backend/app/controller/model_controller.py
  backend/app/controller/remote_sub_agent_controller.py
  backend/app/controller/skill_controller.py
  backend/app/controller/task_controller.py
  backend/app/controller/tool_controller.py
  backend/app/controller/workspace_controller.py
  backend/tests/app/auth/test_local_control.py
Due: node licenses/update_license.js

fix: deliver committed human decisions despite request cancellation (#2015)
  backend/app/controller/chat_controller.py
  backend/app/controller/run_controller.py
  backend/app/service/task.py
  backend/tests/app/controller/test_resumed_gui_input.py
  backend/tests/app/controller/test_run_control_api.py
Due: node licenses/update_license.js

fix: preview local files from the Session summary
  src/components/ChatBox/TimelineModes/RunFiles.tsx
  src/components/Folder/FilePreview.tsx
  src/components/Session/SidePanel/sections/buildProjectSessionPanelData.ts
  src/lib/sessionOutputFiles.ts
  test/unit/components/buildProjectSessionPanelData.test.ts
Due: node licenses/update_license.js, prettier --write

fix: remove the stray Monaco outline from file previews
  src/style/codeEditor.css
Due: none

fix: share one stop deadline across isolated runtime shutdown
  backend/app/workspace_runtime/bound_runtime.py
  backend/tests/app/workspace_runtime/test_bound_runtime.py
Due: node licenses/update_license.js

fix: finish isolated finalization when its caller is cancelled
  backend/app/workspace_runtime/finalizer.py
  backend/app/workspace_runtime/service.py
  backend/tests/app/workspace_runtime/test_service.py
Due: node licenses/update_license.js

fix: start follow-ups cold when the chat stream is gone
  src/components/ChatBox/index.tsx
  src/hooks/useBackgroundTaskProcessor.ts
  src/hooks/useRemoteControlBridge.ts
  src/lib/legacyRuntimeAdmission.ts
  test/unit/components/ChatBox.test.tsx
  test/unit/hooks/useRemoteControlBridge.followup.test.ts
  test/unit/hooks/useRemoteControlBridge.test.ts
  test/unit/lib/legacyRuntimeAdmission.test.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix(runtime): name the blocking Session and unsafe Resume tool calls
  backend/app/controller/run_controller.py
  backend/app/run_journal/store.py
  backend/app/workspace_git/scheduler.py
  backend/tests/app/controller/test_run_control_api.py
  backend/tests/app/workspace_git/test_scheduler.py
Due: node licenses/update_license.js

fix(chat): explain blocked Space writes and unsafe Resume
  src/components/ChatBox/InterruptedRunBanner.tsx
  src/components/ChatBox/MessageItem/SpaceWaitNotice.tsx
  src/components/ChatBox/TimelineModes/NarrativeTimeline.tsx
  src/components/ChatBox/TimelineModes/TrajectoryTimeline.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/index.tsx
  src/hooks/useInterruptedRunStatus.ts
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/lib/approvalPresentation.ts
  src/lib/projector/chat/adapter.ts
  src/lib/projector/chat/types.ts
  src/lib/projector/reduce.ts
  src/lib/projector/runSummary.ts
  src/lib/projector/types.ts
  src/lib/runEvents/react.ts
  src/store/chatStore.ts
  test/unit/components/ChatBox.spaceModelSelection.test.tsx
  test/unit/components/ChatBox/InterruptedRunBanner.test.tsx
  test/unit/components/ChatBox/UserQueryGroup.test.tsx
  test/unit/hooks/useInterruptedRunStatus.test.tsx
  test/unit/lib/chatProjectionContract.test.ts
  test/unit/lib/projector.test.ts
  test/unit/store/chatStore.durableReplay.test.ts
  test/unit/store/chatStore.feedbackIdentity.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: interrupt unanswered agent questions on restart
  backend/app/run_journal/store.py
  backend/tests/app/run_journal/test_human_interactions.py
Due: node licenses/update_license.js

fix: return a typed 409 when another Run holds the Session
  backend/app/controller/chat_controller.py
  backend/app/run_journal/__init__.py
  backend/app/run_journal/store.py
  backend/tests/app/controller/test_chat_controller.py
Due: node licenses/update_license.js

fix: keep the error receipt when a new task is refused at admission
  src/lib/taskLifecycleUi.test.ts
  src/lib/taskLifecycleUi.ts
  src/store/chatStore.ts
  test/unit/store/chatStore.freshDelivery.test.ts
Due: node licenses/update_license.js, prettier --write

fix(chat): offer Open session only for another Session
  src/components/ChatBox/MessageItem/SpaceWaitNotice.tsx
  test/unit/components/ChatBox/UserQueryGroup.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: keep the approval asked again after Resume actionable
  src/components/ChatBox/index.tsx
  src/lib/projector/control/adapter.ts
  src/store/chatStore.ts
  test/unit/components/ChatBox.spaceModelSelection.test.tsx
  test/unit/store/chatStore.durableReplay.test.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: show unconfirmed approvals disabled and retry the pending check
  src/components/ChatBox/MessageItem/HumanInteractionCard.tsx
  src/components/ChatBox/index.tsx
  src/lib/events/durableRunEvents.ts
  src/service/humanInteractionPendingCheck.ts
  src/store/chatStore.ts
  test/unit/components/ChatBox.spaceModelSelection.test.tsx
  test/unit/components/ChatBox/MessageItem/HumanInteractionCard.test.tsx
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: preview local files from the Session summary (#2017)
  src/components/ChatBox/TimelineModes/RunFiles.tsx
  src/components/Folder/FilePreview.tsx
  src/components/Session/SidePanel/sections/buildProjectSessionPanelData.ts
  src/lib/sessionOutputFiles.ts
  src/style/codeEditor.css
  test/unit/components/buildProjectSessionPanelData.test.ts
Due: node licenses/update_license.js, prettier --write

fix: start follow-ups cold when the chat stream is gone (#2019)
  src/components/ChatBox/index.tsx
  src/hooks/useBackgroundTaskProcessor.ts
  src/hooks/useRemoteControlBridge.ts
  src/lib/legacyRuntimeAdmission.ts
  test/unit/components/ChatBox.test.tsx
  test/unit/hooks/useRemoteControlBridge.followup.test.ts
  test/unit/hooks/useRemoteControlBridge.test.ts
  test/unit/lib/legacyRuntimeAdmission.test.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: release finished Run streams and reclaim idle ones
  src/lib/runEvents/registry.test.ts
  src/lib/runEvents/registry.ts
  src/store/chatStore.ts
  src/store/projectStore.ts
  test/unit/store/finishedRunStreams.test.ts
  test/unit/store/projectStore.test.ts
Due: node licenses/update_license.js, prettier --write

test: verify the event stream relay in Electron
  .github/workflows/test.yml
  package.json
  test/e2e/stream-relay/main.cjs
  test/e2e/stream-relay/renderer.ts
  test/e2e/stream-relay/verify.mjs
Due: node licenses/update_license.js, prettier --write

fix: relay event streams through the main process
  electron/main/brainStreamRelay.ts
  electron/main/index.ts
  electron/preload/index.ts
  src/api/brainStreamRelay.ts
  src/api/http.ts
  src/shared/brainStreamRelay.ts
  src/types/electron.d.ts
  test/fixtures/brainEventStreamServer.ts
  test/mocks/brainStreamRelayBridge.ts
  test/unit/api/brainStreamRelay.integration.test.ts
  test/unit/api/brainStreamRelay.test.ts
  test/unit/api/http.sseTransport.relay.test.ts
  test/unit/electron/main/brainStreamRelay.test.ts
Due: node licenses/update_license.js, prettier --write

fix: keep live approvals actionable after Resume and slow checks (#2022)
  src/components/ChatBox/MessageItem/HumanInteractionCard.tsx
  src/components/ChatBox/index.tsx
  src/lib/events/durableRunEvents.ts
  src/lib/projector/control/adapter.ts
  src/service/humanInteractionPendingCheck.ts
  src/store/chatStore.ts
  test/unit/components/ChatBox.spaceModelSelection.test.tsx
  test/unit/components/ChatBox/MessageItem/HumanInteractionCard.test.tsx
  test/unit/store/chatStore.durableReplay.test.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: interrupt unanswered questions on restart so Resume asks again (#2021)
  backend/app/controller/chat_controller.py
  backend/app/run_journal/__init__.py
  backend/app/run_journal/store.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/run_journal/test_human_interactions.py
  src/lib/taskLifecycleUi.test.ts
  src/lib/taskLifecycleUi.ts
  src/store/chatStore.ts
  test/unit/store/chatStore.freshDelivery.test.ts
Due: node licenses/update_license.js, prettier --write

fix: explain blocked Space writes and unsafe Resume (#2020)
  backend/app/controller/run_controller.py
  backend/app/run_journal/store.py
  backend/app/workspace_git/scheduler.py
  backend/tests/app/controller/test_run_control_api.py
  backend/tests/app/workspace_git/test_scheduler.py
  src/components/ChatBox/InterruptedRunBanner.tsx
  src/components/ChatBox/MessageItem/SpaceWaitNotice.tsx
  src/components/ChatBox/TimelineModes/NarrativeTimeline.tsx
  src/components/ChatBox/TimelineModes/TrajectoryTimeline.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/index.tsx
  src/hooks/useInterruptedRunStatus.ts
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/lib/approvalPresentation.ts
  src/lib/projector/chat/adapter.ts
  src/lib/projector/chat/types.ts
  src/lib/projector/reduce.ts
  src/lib/projector/runSummary.ts
  src/lib/projector/types.ts
  src/lib/runEvents/react.ts
  src/store/chatStore.ts
  test/unit/components/ChatBox.spaceModelSelection.test.tsx
  test/unit/components/ChatBox/InterruptedRunBanner.test.tsx
  test/unit/components/ChatBox/UserQueryGroup.test.tsx
  test/unit/hooks/useInterruptedRunStatus.test.tsx
  test/unit/lib/chatProjectionContract.test.ts
  test/unit/lib/projector.test.ts
  test/unit/store/chatStore.durableReplay.test.ts
  test/unit/store/chatStore.feedbackIdentity.test.tsx
Due: node licenses/update_license.js, prettier --write

test: stop the browser preview Electron test from hanging in CI
  .github/workflows/test.yml
  test/e2e/preview-browser/verify.mjs
Due: none

fix: release finished Run streams and reclaim idle ones (#2023)
  src/lib/runEvents/registry.test.ts
  src/lib/runEvents/registry.ts
  src/store/chatStore.ts
  src/store/projectStore.ts
  test/unit/store/finishedRunStreams.test.ts
  test/unit/store/projectStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: finish isolated finalization when its caller is cancelled (#2018)
  backend/app/workspace_runtime/bound_runtime.py
  backend/app/workspace_runtime/finalizer.py
  backend/app/workspace_runtime/service.py
  backend/tests/app/workspace_runtime/test_bound_runtime.py
  backend/tests/app/workspace_runtime/test_service.py
Due: node licenses/update_license.js

fix: keep relayed idle chat streams open for warm follow-ups
  src/api/brainStreamRelay.ts
  src/store/chatStore.ts
  src/store/projectStore.ts
  test/unit/api/brainStreamRelay.test.ts
  test/unit/store/finishedRunStreams.test.ts
  test/unit/store/projectStore.test.ts
Due: node licenses/update_license.js, prettier --write

test: stop the browser preview Electron test from hanging in CI (#2025)
  .github/workflows/test.yml
  test/e2e/preview-browser/verify.mjs
Due: none

fix: relay event streams through the main process (#2024)
  .github/workflows/test.yml
  electron/main/brainStreamRelay.ts
  electron/main/index.ts
  electron/preload/index.ts
  package.json
  src/api/brainStreamRelay.ts
  src/api/http.ts
  src/shared/brainStreamRelay.ts
  src/store/chatStore.ts
  src/store/projectStore.ts
  src/types/electron.d.ts
  test/e2e/stream-relay/main.cjs
  test/e2e/stream-relay/renderer.ts
  test/e2e/stream-relay/verify.mjs
  test/fixtures/brainEventStreamServer.ts
  test/mocks/brainStreamRelayBridge.ts
  test/unit/api/brainStreamRelay.integration.test.ts
  test/unit/api/brainStreamRelay.test.ts
  test/unit/api/http.sseTransport.relay.test.ts
  test/unit/electron/main/brainStreamRelay.test.ts
  test/unit/store/finishedRunStreams.test.ts
  test/unit/store/projectStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: show approvals raised after a running Session is reloaded
  src/components/ChatBox/UserQueryGroup.tsx
  src/lib/runEvents/react.ts
  test/unit/components/ChatBox/UserQueryGroup.test.tsx
  test/unit/store/restoredRunApproval.test.ts
Due: node licenses/update_license.js, prettier --write

fix: start tasks with aliased model providers in new Sessions
  backend/app/controller/chat_controller.py
  backend/app/model/model_platform.py
  backend/app/workspace_config/model_selection.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/model/test_model_platform.py
  backend/tests/app/workspace_config/test_session_model_recovery.py
Due: node licenses/update_license.js
