Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

feat: unify code display styling (#1860)
  package.json
  scripts/design-token-usage.allowlist
  src/components/ChatBox/MessageItem/MarkDown.tsx
  src/components/CodeViewer/MonacoSourceCodeViewer.tsx
  src/components/CodeViewer/SourceCodeViewer.tsx
  src/components/Folder/index.tsx
  src/components/Session/PreviewPanel/tabs/ReviewTab.tsx
  src/components/Session/PreviewPanel/tabs/review/DiffFileCard.tsx
  src/components/Session/PreviewPanel/tabs/review/diffMetrics.ts
  src/components/Session/PreviewPanel/tabs/review/reviewDiff.css
  src/components/WorkFlow/MarkDown.tsx
  src/lib/codePresentation.ts
  src/lib/markdownSyntaxHighlight.ts
  src/main.tsx
  src/style/codeEditor.css
  src/style/fontStacks.json
  src/style/markdown-styles.css
  test/unit/components/ChatBox/MessageItem/MarkDown.test.tsx
  test/unit/components/Folder/FileViewerPanel.test.tsx
  test/unit/components/Session/ReviewTab.test.tsx
  test/unit/components/Session/reviewDiffMetrics.test.ts
Due: node licenses/update_license.js, prettier --write

fix: gate local recovery on backend readiness
  src/App.tsx
  src/hooks/useRemoteControlBridge.ts
  src/store/installationStore.ts
  src/store/spaceStore.ts
  test/unit/hooks/useRemoteControlBridge.readiness.test.tsx
  test/unit/store/backendReadiness.test.ts
  test/unit/store/spaceStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: recover orphaned tool approvals on resume
  backend/app/controller/workspace_git_controller.py
  backend/app/run_journal/store.py
  backend/tests/app/controller/test_workspace_git_controller.py
  backend/tests/app/run_journal/test_recovery.py
  src/components/Session/PreviewPanel/tabs/review/useReviewChanges.ts
  src/lib/projector/reduce.ts
  src/service/workspaceGitApi.ts
  test/unit/components/Session/useReviewChanges.test.tsx
  test/unit/lib/projector.test.ts
Due: node licenses/update_license.js, prettier --write

fix: avoid dynamic SQL in approval recovery
  backend/app/run_journal/store.py
Due: node licenses/update_license.js

fix: recover orphaned tool approvals on resume (#1862)
  backend/app/controller/workspace_git_controller.py
  backend/app/run_journal/store.py
  backend/tests/app/controller/test_workspace_git_controller.py
  backend/tests/app/run_journal/test_recovery.py
  src/components/Session/PreviewPanel/tabs/review/useReviewChanges.ts
  src/lib/projector/reduce.ts
  src/service/workspaceGitApi.ts
  test/unit/components/Session/useReviewChanges.test.tsx
  test/unit/lib/projector.test.ts
Due: node licenses/update_license.js, prettier --write

update design system plan
  docs/design-system/current-token-usage/MIGRATION_DIFF.md
  docs/design-system/current-token-usage/baseline.html
  docs/design-system/current-token-usage/index.html
  docs/design-system/current-token-usage/usage-report.json
  docs/design-system/migration-plan/MIGRATION_PLAN.md
  docs/design-system/migration-plan/TAILWIND_4_RISKS.md
  docs/design-system/new-design-system-plan/DESIGN.md
  docs/design-system/new-design-system-plan/index.html
  docs/design-system/scripts/build-viewers.ts
  docs/design-system/viewer.css
  docs/design-system/viewer.generated.css
Due: node licenses/update_license.js, prettier --write

docs: require inverse text AA and merge caution into error
  docs/design-system/migration-plan/MIGRATION_PLAN.md
  docs/design-system/new-design-system-plan/DESIGN.md
  docs/design-system/new-design-system-plan/README.md
Due: none

feat: publish inverse-text tokens and the 10/14 spacing scale
  scripts/generate-design-tokens.mjs
  src/lib/themeTokens/catalog.ts
  src/lib/themeTokens/engine.ts
  src/lib/themeTokens/seedAdmission.ts
  src/lib/themeTokens/types.ts
  src/lib/themeTokens/verifier.ts
  src/style/generated/declared-tokens.json
  src/style/generated/tokens.css
  src/style/generated/tokens.tailwind.cjs
  src/style/generated/tokens.types.ts
  src/style/index.css
  src/style/markdown-styles.css
  src/style/token.css
  src/style/tokens/base.color.json
  src/style/tokens/component.recipe.json
  src/style/tokens/exception.registry.json
  src/style/tokens/reference.dimension.json
  src/style/tokens/reference.typography.json
  src/style/tokens/semantic.color.json
  src/style/tokens/semantic.dimension.json
  src/style/tokens/semantic.elevation.json
  src/style/tokens/tone.assignment.json
  test/unit/lib/themeTokens/engine.v2.test.ts
Due: node licenses/update_license.js, prettier --write

ci: gate generated tokens, retired axes, and CSS writing
  .github/workflows/test.yml
  docs/design-system/scripts/build-token-usage-report.mjs
  docs/design-system/scripts/verify-tailwind4.mjs
  package.json
  scripts/check-css-writing-standard.mjs
  scripts/check-design-system-clean-tree.mjs
  scripts/check-retired-ds-axes.mjs
  tailwind.config.js
Due: prettier --write

ci: keep generated design-system artifacts SHA-stable
  docs/design-system/current-token-usage/MIGRATION_DIFF.md
  docs/design-system/current-token-usage/index.html
  docs/design-system/current-token-usage/usage-report.json
  docs/design-system/scripts/build-token-usage-report.mjs
  scripts/generate-design-tokens.mjs
Due: none

feat: add typed run semantics and isolate run state
  backend/app/agent/factory/toolkit_assembler.py
  backend/app/agent/listen_chat_agent.py
  backend/app/agent/toolkit/observable_todo_toolkit.py
  backend/app/artifacts.py
  backend/app/controller/chat_controller.py
  backend/app/run_journal/recorder.py
  backend/app/run_journal/semantic_events.py
  backend/app/run_journal/store.py
  backend/app/run_runtime/tool_checkpoint.py
  backend/app/service/single_agent_service.py
  backend/app/service/task.py
  backend/app/utils/listen/toolkit_listen.py
  backend/app/workspace_git/__init__.py
  backend/app/workspace_git/scheduler.py
  backend/app/workspace_git/workforce.py
  backend/main.py
  backend/tests/app/agent/toolkit/test_observable_todo_toolkit.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/run_journal/test_semantic_events.py
  backend/tests/app/run_journal/test_store.py
  backend/tests/app/run_runtime/test_tool_checkpoint.py
  backend/tests/app/utils/listen/test_toolkit_listen.py
  backend/tests/app/workspace_git/test_scheduler.py
  src/components/ChatBox/EventTimeline/presentationPolicy.ts
  src/components/ChatBox/MessageItem/ToolInputOutputDetails.tsx
  src/components/ChatBox/TimelineModes/CallRow.tsx
  src/hooks/useInterruptedRunStatus.ts
  src/lib/projector/chat/adapter.ts
  src/lib/projector/chat/presentation/composeTimelineRuns.ts
  src/lib/projector/chat/presentation/segmentTimeline.ts
  src/lib/projector/chat/presentation/timelineCalls.ts
  src/lib/projector/chat/types.ts
  src/lib/projector/types.ts
  test/unit/components/ChatBox/TimelineModes.test.tsx
  test/unit/hooks/useInterruptedRunStatus.test.tsx
  test/unit/lib/chatProjectionActivity.test.ts
  test/unit/lib/chatProjectionContract.test.ts
  test/unit/lib/chatTimelinePresentation.test.ts
  test/unit/lib/timelineSegmentation.test.ts
Due: node licenses/update_license.js, prettier --write

fix: space review diff status rail
  src/components/Session/PreviewPanel/tabs/review/DiffFileCard.tsx
  src/style/codeEditor.css
Due: node licenses/update_license.js, prettier --write

feat: improve git diff review workflow
  src/components/ChatBox/index.tsx
  src/components/Folder/index.tsx
  src/components/Session/PreviewPanel/tabs/ReviewTab.tsx
  src/components/Session/PreviewPanel/tabs/review/DiffFileCard.tsx
  src/components/Session/PreviewPanel/tabs/review/ReviewAccordionContent.tsx
  src/components/Session/PreviewPanel/tabs/review/ReviewFileTree.tsx
  src/components/Session/PreviewPanel/tabs/review/SemanticDiffView.tsx
  src/components/Session/PreviewPanel/tabs/review/reviewFixture.ts
  src/components/Session/PreviewPanel/tabs/review/useReviewChanges.ts
  src/store/pageTabStore.ts
  src/style/codeEditor.css
  test/unit/components/ChatBox.test.tsx
  test/unit/components/Session/ReviewAccordionContent.test.tsx
  test/unit/components/Session/ReviewFileTree.test.tsx
  test/unit/components/Session/ReviewTab.test.tsx
  test/unit/components/Session/SemanticDiffView.test.tsx
  test/unit/components/Session/useReviewChanges.test.tsx
  test/unit/store/pageTabStore.preview.test.ts
Due: node licenses/update_license.js, prettier --write

fix: harden resume after interrupted human input
  backend/app/agent/toolkit/human_toolkit.py
  backend/app/run_journal/store.py
  backend/app/workspace_git/mutation.py
  backend/tests/app/agent/toolkit/test_human_toolkit.py
  backend/tests/app/run_journal/test_human_interactions.py
  backend/tests/app/run_journal/test_recovery.py
  backend/tests/app/workspace_git/test_mutation.py
Due: node licenses/update_license.js

fix: skip approval for internal progress notices
  backend/app/agent/factory/toolkit_assembler.py
  backend/tests/app/agent/factory/test_toolkit_safety.py
Due: node licenses/update_license.js

feat: improve git diff review workflow and run recovery (#1864)
  backend/app/agent/factory/toolkit_assembler.py
  backend/app/agent/toolkit/human_toolkit.py
  backend/app/run_journal/store.py
  backend/app/workspace_git/mutation.py
  backend/tests/app/agent/factory/test_toolkit_safety.py
  backend/tests/app/agent/toolkit/test_human_toolkit.py
  backend/tests/app/run_journal/test_human_interactions.py
  backend/tests/app/run_journal/test_recovery.py
  backend/tests/app/workspace_git/test_mutation.py
  src/components/ChatBox/index.tsx
  src/components/Folder/index.tsx
  src/components/Session/PreviewPanel/tabs/ReviewTab.tsx
  src/components/Session/PreviewPanel/tabs/review/DiffFileCard.tsx
  src/components/Session/PreviewPanel/tabs/review/ReviewAccordionContent.tsx
  src/components/Session/PreviewPanel/tabs/review/ReviewFileTree.tsx
  src/components/Session/PreviewPanel/tabs/review/SemanticDiffView.tsx
  src/components/Session/PreviewPanel/tabs/review/reviewFixture.ts
  src/components/Session/PreviewPanel/tabs/review/useReviewChanges.ts
  src/store/pageTabStore.ts
  src/style/codeEditor.css
  test/unit/components/ChatBox.test.tsx
  test/unit/components/Session/ReviewAccordionContent.test.tsx
  test/unit/components/Session/ReviewFileTree.test.tsx
  test/unit/components/Session/ReviewTab.test.tsx
  test/unit/components/Session/SemanticDiffView.test.tsx
  test/unit/components/Session/useReviewChanges.test.tsx
  test/unit/store/pageTabStore.preview.test.ts
Due: node licenses/update_license.js, prettier --write

feat: refine app motion and global update UI
  plans/001-smooth-session-preview-panel.md
  plans/README.md
  src/components/Session/HeaderBox/index.tsx
  src/components/Session/index.tsx
  src/components/Settings/SettingsOverview/index.tsx
  src/components/TopBar/UpdateButton.tsx
  src/components/TopBar/index.tsx
  src/components/ui/alertDialog.tsx
  src/components/ui/dialog.tsx
  src/components/ui/sonner.tsx
  test/unit/components/Dialog/KeyboardShortcutsDialog.test.tsx
  test/unit/components/Session/HeaderBox.test.tsx
  test/unit/components/Session/SessionResize.test.tsx
  test/unit/components/TopBar/UpdateButton.test.tsx
  test/unit/components/ui/alertDialog.test.tsx
  test/unit/components/ui/sonner.test.tsx
Due: node licenses/update_license.js, prettier --write

design.md organise
  AGENTS.md
  docs/design-system/README.md
  docs/design-system/current-token-usage/CURRENT_STATE.md
  docs/design-system/current-token-usage/MIGRATION_DIFF.md
  docs/design-system/current-token-usage/README.md
  docs/design-system/current-token-usage/baseline.html
  docs/design-system/current-token-usage/index.html
  docs/design-system/current-token-usage/usage-report.json
  docs/design-system/design.md
  docs/design-system/index.html
  docs/design-system/migration-plan/MIGRATION_PLAN.md
  docs/design-system/migration-plan/TAILWIND_4_RISKS.md
  docs/design-system/new-design-system-plan/DESIGN.md
  docs/design-system/new-design-system-plan/README.md
  docs/design-system/reviews/v1/README.md
  docs/design-system/reviews/v1/REVIEW.md
  docs/design-system/scripts/build-token-usage-report.mjs
  docs/design-system/scripts/build-viewers.ts
  docs/design-system/scripts/morphicons-demo.ts
  docs/design-system/scripts/verify-tailwind4.mjs
  docs/design-system/viewer.css
  docs/design-system/viewer.generated.css
  package.json
  scripts/check-design-system-clean-tree.mjs
  tsconfig.json
Due: node licenses/update_license.js, prettier --write

prototype
  docs/design-system/design.md
  docs/design-system/index.html
  electron/main/fileReader.ts
  electron/main/index.ts
  src/components/Workspace/WorkspaceDashboard.tsx
  src/components/Workspace/index.tsx
  src/components/Workspace/useWorkspaceDashboardFiles.ts
  src/components/Workspace/workspaceDashboardModel.ts
  src/i18n/locales/ar/dashboard.json
  src/i18n/locales/de/dashboard.json
  src/i18n/locales/en-us/dashboard.json
  src/i18n/locales/es/dashboard.json
  src/i18n/locales/fr/dashboard.json
  src/i18n/locales/it/dashboard.json
  src/i18n/locales/ja/dashboard.json
  src/i18n/locales/ko/dashboard.json
  src/i18n/locales/ru/dashboard.json
  src/i18n/locales/zh-Hans/dashboard.json
  src/i18n/locales/zh-Hant/dashboard.json
  test/unit/components/Workspace.test.tsx
  test/unit/components/workspaceDashboard.test.ts
  test/unit/electron/fileReaderPreview.test.ts
Due: node licenses/update_license.js, prettier --write

update design.md
  docs/design-system/design.md
  docs/design-system/index.html
Due: none

ci: stabilize camel import classification
  backend/app/agent/factory/toolkit_assembler.py
  backend/app/agent/listen_chat_agent.py
  backend/app/agent/toolkit/observable_todo_toolkit.py
  backend/app/service/single_agent_service.py
  backend/app/service/task.py
  backend/pyproject.toml
Due: node licenses/update_license.js

test: align assertions with public design tokens
  test/unit/components/AppearanceSettingsLayout.test.tsx
  test/unit/components/ChatBox/BottomBox/BottomBox.test.tsx
  test/unit/components/ChatBox/BottomBox/ControlInput.test.tsx
  test/unit/components/ChatBox/MessageItem/UserMessageCard.test.tsx
  test/unit/components/MemoryScopeDirectory.test.tsx
  test/unit/components/SettingsMemory.test.tsx
  test/unit/components/SettingsPage.test.tsx
  test/unit/components/SpaceSwitchDropdown.test.tsx
  test/unit/components/TaskWorkLogAccordion.test.tsx
  test/unit/components/Workspace.test.tsx
  test/unit/components/WorkspaceConfiguration/WorkspaceConfigurationEditor.test.tsx
  test/unit/lib/richText.test.ts
Due: node licenses/update_license.js, prettier --write

fix: enforce durable timeline review contracts
  backend/app/agent/toolkit/human_toolkit.py
  backend/app/controller/chat_controller.py
  backend/app/model/chat.py
  backend/app/run_journal/models.py
  backend/app/run_journal/recorder.py
  backend/app/run_journal/store.py
  backend/app/service/chat_service.py
  backend/app/service/single_agent_service.py
  backend/app/service/task.py
  backend/tests/app/agent/toolkit/test_human_toolkit.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/run_journal/test_context_projection.py
  backend/tests/app/run_journal/test_follow_up_queue.py
  backend/tests/app/service/test_single_agent_service.py
  src/components/ChatBox/index.tsx
  src/components/Session/PreviewPanel/tabs/ReviewTab.tsx
  src/components/Session/PreviewPanel/tabs/review/useReviewChanges.ts
  src/lib/projector/chat/adapter.ts
  src/lib/projector/chat/presentation/segmentTimeline.ts
  src/lib/projector/chat/types.ts
  src/service/followUpQueueApi.ts
  src/store/chatStore.ts
  src/store/pageTabStore.ts
  src/store/projectStore.ts
  test/unit/components/ChatBox.test.tsx
  test/unit/components/Session/useReviewChanges.test.tsx
  test/unit/lib/chatProjectionActivity.test.ts
  test/unit/lib/chatTimelinePresentation.test.ts
  test/unit/lib/timelineSegmentation.test.ts
  test/unit/store/pageTabStore.preview.test.ts
Due: node licenses/update_license.js, prettier --write

fix: keep external HTML consent preview readable
  src/components/Folder/index.tsx
  test/unit/components/Folder/FileViewerPanel.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: preserve app shortcuts across secondary loads
  electron/main/appShellReadinessGate.ts
  electron/main/index.ts
  test/unit/electron/main/appShellReadinessGate.test.ts
Due: node licenses/update_license.js, prettier --write

Design new agent icon and add subagent identity
  src/assets/agent/browser.png
  src/assets/agent/camel.png
  src/assets/agent/cat.png
  src/assets/agent/crab.png
  src/assets/agent/custom.png
  src/assets/agent/document.png
  src/assets/agent/dog.png
  src/assets/agent/dragon.png
  src/assets/agent/multimodal.png
  src/assets/agent/oasis.png
  src/assets/agent/owl.png
  src/assets/agent/social.png
  src/assets/agent/terminal.png
  src/components/Session/SidePanel/components/AccordionBox.tsx
  src/components/Session/SidePanel/components/ActivityPanel.tsx
  src/components/Session/SidePanel/sections/SessionSidePanelDialogs.tsx
  src/components/Session/SidePanel/sections/buildProjectSessionPanelData.ts
  src/components/Settings/settingsNavigation.ts
  src/components/WorkFlow/agents.tsx
  src/components/WorkforceMenu/index.tsx
  src/components/Workspace/AgentAvatar.tsx
  src/components/Workspace/FoldedAgentCard.tsx
  src/components/Workspace/SingleAgentList.tsx
  src/components/ui/menu-button.tsx
  src/hooks/useProjectSessionOverview.ts
  src/i18n/locales/en-us/agents.json
  src/lib/projector/chat/adapter.ts
  src/lib/projector/chat/types.ts
  test/unit/components/AgentAvatar.test.tsx
  test/unit/components/Session/ActivityPanel.test.tsx
  test/unit/components/buildProjectSessionPanelData.test.ts
  test/unit/components/sessionPanelPrimitives.test.tsx
  test/unit/lib/chatProjectionActivity.test.ts
Due: node licenses/update_license.js, prettier --write

Design new agent icon and add subagent identity (#1867)
  src/assets/agent/browser.png
  src/assets/agent/camel.png
  src/assets/agent/cat.png
  src/assets/agent/crab.png
  src/assets/agent/custom.png
  src/assets/agent/document.png
  src/assets/agent/dog.png
  src/assets/agent/dragon.png
  src/assets/agent/multimodal.png
  src/assets/agent/oasis.png
  src/assets/agent/owl.png
  src/assets/agent/social.png
  src/assets/agent/terminal.png
  src/components/Session/SidePanel/components/AccordionBox.tsx
  src/components/Session/SidePanel/components/ActivityPanel.tsx
  src/components/Session/SidePanel/sections/SessionSidePanelDialogs.tsx
  src/components/Session/SidePanel/sections/buildProjectSessionPanelData.ts
  src/components/Settings/settingsNavigation.ts
  src/components/WorkFlow/agents.tsx
  src/components/WorkforceMenu/index.tsx
  src/components/Workspace/AgentAvatar.tsx
  src/components/Workspace/FoldedAgentCard.tsx
  src/components/Workspace/SingleAgentList.tsx
  src/components/ui/menu-button.tsx
  src/hooks/useProjectSessionOverview.ts
  src/i18n/locales/en-us/agents.json
  src/lib/projector/chat/adapter.ts
  src/lib/projector/chat/types.ts
  test/unit/components/AgentAvatar.test.tsx
  test/unit/components/Session/ActivityPanel.test.tsx
  test/unit/components/buildProjectSessionPanelData.test.ts
  test/unit/components/sessionPanelPrimitives.test.tsx
  test/unit/lib/chatProjectionActivity.test.ts
Due: node licenses/update_license.js, prettier --write

fix: stabilize workspace runs and event timeline semantics
  backend/app/agent/prompt.py
  backend/app/agent/toolkit/human_toolkit.py
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/controller/workspace_controller.py
  backend/app/permission_policy/runtime.py
  backend/app/run_journal/semantic_events.py
  backend/app/run_runtime/active_timeout.py
  backend/app/service/chat_service.py
  backend/app/service/single_agent_service.py
  backend/app/service/task.py
  backend/app/utils/server/sync_step.py
  backend/app/utils/telemetry/workforce_metrics.py
  backend/app/utils/workforce.py
  backend/app/workspace_git/backend.py
  backend/app/workspace_git/content.py
  backend/tests/app/agent/toolkit/test_human_toolkit.py
  backend/tests/app/agent/toolkit/test_terminal_output_queue.py
  backend/tests/app/agent/toolkit/test_terminal_toolkit.py
  backend/tests/app/agent/toolkit/test_terminal_workspace.py
  backend/tests/app/controller/test_workspace_controller.py
  backend/tests/app/run_journal/test_semantic_events.py
  backend/tests/app/run_runtime/test_step_coordinator.py
  backend/tests/app/service/test_chat_service.py
  backend/tests/app/service/test_single_agent_service.py
  backend/tests/app/utils/server/test_sync_step_journal.py
  backend/tests/app/utils/telemetry/test_workforce_metrics.py
  backend/tests/app/utils/test_workforce.py
  backend/tests/app/workspace_git/test_content_repository.py
  backend/tests/app/workspace_git/test_coordinator.py
  src/components/ChatBox/EventTimeline/DefaultEventRenderers.tsx
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
  src/components/ChatBox/TimelineModes/NarrativeTimeline.tsx
  src/lib/projector/chat/adapter.ts
  src/lib/projector/chat/presentation/composeTimelineRuns.ts
  src/lib/projector/chat/types.ts
  src/service/workspaceApi.ts
  src/types/chatbox.d.ts
  test/unit/lib/chatProjectionActivity.test.ts
  test/unit/lib/chatTimelinePresentation.test.ts
Due: node licenses/update_license.js, prettier --write

fix/work task log counting to support hours mins seconds
  src/components/ChatBox/MessageItem/TokenUtils.tsx
  src/components/ChatBox/TimelineModes/NarrativeTimeline.tsx
  test/setup.ts
  test/unit/components/ChatBox/TimelineModes.test.tsx
  test/unit/components/ChatBox/TokenUtils.test.ts
Due: node licenses/update_license.js, prettier --write
