Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

test(rag): update tests for new get_can_use_tools signature
  backend/tests/app/utils/toolkit/test_rag_toolkit.py
Due: node licenses/update_license.js

refactor(rag): remove OPENAI_API_KEY check from get_can_use_tools
  backend/app/utils/toolkit/rag_toolkit.py
  backend/tests/app/utils/toolkit/test_rag_toolkit.py
Due: node licenses/update_license.js

fix: raise RuntimeError if for_failure in _analyze_task
  backend/app/utils/workforce.py
  backend/tests/app/utils/test_workforce.py
Due: node licenses/update_license.js

fix: raise RuntimeError if for_failure in _analyze_task
  backend/tests/unit/utils/test_workforce.py
Due: node licenses/update_license.js

update
  .github/workflows/pre-commit.yml
Due: none

chore: add missing translation keys
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/workforce.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/workforce.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/workforce.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/workforce.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/workforce.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/workforce.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/workforce.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/workforce.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/workforce.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/workforce.json
Due: none

fix: Windows venv initialization issues
  electron/main/init.ts
  electron/main/install-deps.ts
  electron/main/utils/process.ts
  package.json
  scripts/compile-babel.js
  scripts/fix-symlinks.js
  scripts/preinstall-deps.js
Due: node licenses/update_license.js, prettier --write

test: add basic benchmark (#1138)
  backend/.gitignore
  backend/benchmark/.gitignore
  backend/benchmark/Makefile
  backend/benchmark/README.md
  backend/benchmark/__init__.py
  backend/benchmark/checker/0.py
  backend/benchmark/client.py
  backend/benchmark/dataset/0.json
  backend/benchmark/environment.py
  backend/benchmark/grader/0.py
  backend/benchmark/main.py
Due: node licenses/update_license.js

chore: enhance task queue
  src/components/ChatBox/index.tsx
  src/hooks/useTriggerTaskExecutor.ts
  src/store/chatStore.ts
  src/store/projectStore.ts
  src/store/triggerTaskStore.ts
Due: node licenses/update_license.js, prettier --write

update new design layout and fix components problem
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Setting/General.tsx
  src/pages/Setting/Models.tsx
  src/pages/Setting/Privacy.tsx
Due: node licenses/update_license.js, prettier --write

minor update
  backend/app/utils/toolkit/rag_toolkit.py
Due: node licenses/update_license.js

feat: add RAG toolkit for knowledge base queries (#1003)
  CONTRIBUTING.md
  README.md
  README_CN.md
  README_JA.md
  README_PT-BR.md
  backend/app/agent/tools.py
  backend/app/utils/toolkit/rag_toolkit.py
  backend/pyproject.toml
  backend/tests/app/utils/toolkit/test_rag_toolkit.py
  backend/uv.lock
  docs/core/models/gemini.md
  docs/core/models/kimi.md
  docs/core/models/minimax.md
  server/README_CN.md
  server/README_EN.md
  server/README_PT-BR.md
Due: node licenses/update_license.js

fix: bug introduced by PR1097
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
Due: none

fix: bug introduced by PR1097 (#1161)
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
Due: none

fixed wrong usage of color token to improve visibility
  src/components/ChatBox/MessageItem/UserMessageCard.tsx
  src/pages/History.tsx
  src/style/token.css
Due: node licenses/update_license.js, prettier --write

chore: add RAG toolkit to frontend tool setting part
  server/app/model/config/config.py
  server/app/type/config_group.py
  src/components/IntegrationList/index.tsx
Due: node licenses/update_license.js, prettier --write

chore: add RAG toolkit to frontend tool setting part (#1162)
  server/app/model/config/config.py
  server/app/type/config_group.py
  src/components/IntegrationList/index.tsx
Due: node licenses/update_license.js, prettier --write

minor enhance
  backend/app/utils/workforce.py
  src/components/AddWorker/ToolSelect.tsx
Due: node licenses/update_license.js, prettier --write

chore: recover slack (#1153)
  backend/app/component/environment.py
  backend/app/utils/workforce.py
  src/components/AddWorker/ToolSelect.tsx
  src/components/IntegrationList/index.tsx
  src/hooks/useIntegrationManagement.ts
Due: node licenses/update_license.js, prettier --write

feat: add open agent folder in IDE from Folder view (#996)
  electron/main/index.ts
  electron/preload/index.ts
  src/components/Folder/index.tsx
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/setting.json
  src/pages/Setting/General.tsx
  src/store/authStore.ts
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

chore: enhance task queue
  src/components/ChatBox/index.tsx
  src/hooks/useTriggerTaskExecutor.ts
  src/service/triggerApi.ts
  src/store/triggerTaskStore.ts
Due: node licenses/update_license.js, prettier --write

chore: fix infinite rerender
  src/store/projectStore.ts
Due: node licenses/update_license.js, prettier --write

feat(test): add unit tests for encrypt and time_friendly modules
  server/pyproject.toml
  server/tests/__init__.py
  server/tests/app/__init__.py
  server/tests/app/component/__init__.py
  server/tests/app/component/test_encrypt.py
  server/tests/app/component/test_time_friendly.py
  server/tests/conftest.py
Due: node licenses/update_license.js

enhance: update status atomically
  src/components/ChatBox/index.tsx
  src/hooks/useTriggerTaskExecutor.ts
  src/store/triggerTaskStore.ts
Due: node licenses/update_license.js, prettier --write

enhance: refine the task trigger flow in replay, and normal flow
  src/components/ChatBox/index.tsx
  src/hooks/useTriggerTaskExecutor.ts
  src/store/chatStore.ts
  src/store/triggerTaskStore.ts
Due: node licenses/update_license.js, prettier --write

chore: fix linting errors
  src/components/Trigger/TriggerTaskInput.tsx
  src/hooks/useExecutionSubscription.ts
  src/pages/Project/Triggers.tsx
Due: node licenses/update_license.js, prettier --write

fix: fix for failure analyze task (#1156)
  .github/workflows/pre-commit.yml
  backend/app/utils/workforce.py
  backend/tests/app/utils/test_workforce.py
  backend/tests/unit/utils/test_workforce.py
Due: node licenses/update_license.js

enhance based on review
  src/components/Folder/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/setting.json
Due: node licenses/update_license.js, prettier --write

update based on comment
  electron/main/index.ts
  src/components/Folder/index.tsx
  src/pages/Setting/General.tsx
Due: node licenses/update_license.js, prettier --write

feat: add open agent folder in IDE from Folder view (#1159)
  electron/main/index.ts
  electron/preload/index.ts
  src/components/Folder/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Setting/General.tsx
  src/store/authStore.ts
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

fixed setting header transparency issue (#1154)
  src/pages/History.tsx
Due: node licenses/update_license.js, prettier --write

update based on review
  scripts/compile-babel.js
  scripts/fix-symlinks.js
Due: prettier --write

Fix win 0.0.82 prebuilt issue (#1109)
  .github/workflows/build-view.yml
  electron/main/init.ts
  electron/main/install-deps.ts
  electron/main/utils/process.ts
  package.json
  scripts/compile-babel.js
  scripts/fix-symlinks.js
  scripts/fix-venv-paths.js
  scripts/preinstall-deps.js
  scripts/test-prebuilt-deps.js
  scripts/test-venv-fix.js
Due: node licenses/update_license.js, prettier --write

feat: eigent server trigger implementation
  server/.env.example
  server/Dockerfile
  server/alembic/env.py
  server/alembic/versions/2026_02_06_0440-9464b9d89de7_feat_trigger.py
  server/app/__init__.py
  server/app/celery/beat/start
  server/app/celery/worker/start
  server/app/component/celery.py
  server/app/component/redis_utils.py
  server/app/component/schedule/trigger_schedule_task.py
  server/app/component/service/trigger/__init__.py
  server/app/component/service/trigger/app_handler_service.py
  server/app/component/service/trigger/trigger_schedule_service.py
  server/app/component/service/trigger/trigger_service.py
  server/app/component/trigger_utils.py
  server/app/controller/trigger/__init__.py
  server/app/controller/trigger/slack_controller.py
  server/app/controller/trigger/trigger_controller.py
  server/app/controller/trigger/trigger_execution_controller.py
  server/app/controller/trigger/webhook_controller.py
  server/app/model/trigger/__init__.py
  server/app/model/trigger/app_configs/__init__.py
  server/app/model/trigger/app_configs/base_config.py
  server/app/model/trigger/app_configs/config_registry.py
  server/app/model/trigger/app_configs/schedule_config.py
  server/app/model/trigger/app_configs/slack_config.py
  server/app/model/trigger/app_configs/webhook_config.py
  server/app/model/trigger/trigger.py
  server/app/model/trigger/trigger_execution.py
  server/app/schedule/trigger_schedule_task.py
  server/app/service/trigger/__init__.py
  server/app/service/trigger/app_handler_service.py
  server/app/service/trigger/trigger_schedule_service.py
  server/app/service/trigger/trigger_service.py
  server/app/type/trigger_types.py
  server/docker-compose.dev.yml
  server/docker-compose.yml
  server/pyproject.toml
  server/uv.lock
Due: node licenses/update_license.js

chore: update docker env
  server/.env.example
  server/Dockerfile
  server/celery/beat/start
  server/celery/worker/start
  server/docker-compose.yml
  server/pyproject.toml
  server/uv.lock
Due: none

chore: fix logging not found issue
  server/.env.example
  server/app/component/redis_utils.py
Due: node licenses/update_license.js

update
  backend/app/utils/agent.py
Due: node licenses/update_license.js

update
  backend/tests/app/service/test_task_validate.py
Due: node licenses/update_license.js

PR feedback: remove KB from chat context, rename tool to store_project_knowledge, docstrings/args, get_context_for_prompt returns None, SEP constant, controller list/delete args
  backend/app/controller/knowledge_controller.py
  backend/app/router.py
  backend/app/service/chat_service.py
  backend/app/utils/sqlite_toolkit.py
  backend/app/utils/toolkit/knowledge_base_toolkit.py
  backend/tests/unit/utils/test_knowledge_base.py
Due: node licenses/update_license.js

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
