Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

fix: active multi-modal agent icon remains gray in workspace dock (#1256)
  src/components/WorkSpaceMenu/index.tsx
Due: node licenses/update_license.js, prettier --write

update
  .env.development
Due: none

update
  CONTRIBUTING.md
Due: none

update
  .github/workflows/pre-commit.yml
Due: none

update
  backend/.pre-commit-config.yaml
Due: none

tests: fix and refactor tests (#1262)
  .github/workflows/pre-commit.yml
  backend/app/utils/telemetry/workforce_metrics.py
  backend/tests/app/agent/factory/test_browser.py
  backend/tests/app/agent/factory/test_developer.py
  backend/tests/app/agent/factory/test_document.py
  backend/tests/app/agent/factory/test_multi_modal.py
  backend/tests/app/agent/factory/test_social_media.py
  backend/tests/app/component/test_environment.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/controller/test_model_controller.py
  backend/tests/app/controller/test_task_controller.py
  backend/tests/app/controller/test_tool_controller.py
  backend/tests/app/model/test_chat.py
  backend/tests/app/service/test_chat_service.py
  backend/tests/app/service/test_task.py
  backend/tests/app/utils/telemetry/test_workforce_metrics.py
  backend/tests/app/utils/test_single_agent_worker.py
  backend/tests/conftest.py
  src/assets/model/anthropic.svg
  src/assets/model/azure.svg
  src/assets/model/bedrock.svg
  src/assets/model/deepseek.svg
  src/assets/model/gemini.svg
  src/assets/model/lmstudio.svg
  src/assets/model/minimax.svg
  src/assets/model/moonshot.svg
  src/assets/model/ollama.svg
  src/assets/model/openrouter.svg
  src/assets/model/qwen.svg
  src/assets/model/vllm.svg
  src/assets/model/zai.svg
Due: node licenses/update_license.js

implemented for "Reached the limit" Feature
  backend/app/component/error_format.py
  server/app/model/user/key.py
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

release: v0084 for intel mac
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
Due: node licenses/update_license.js

release: v0084 for intel mac (#1270)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
Due: node licenses/update_license.js

Address review: docstrings, logger, raise on empty path, Path, DEFAULT_SKIP_EXTENSIONS
  backend/app/utils/file_utils.py
  backend/tests/unit/utils/test_file_utils.py
Due: node licenses/update_license.js

chore(update): address feedback and remove design file\n\n- Remove toast.pen as requested by maintainer\n- Fix alignment: increase toast body padding to align text with header icon
  src/components/update/index.tsx
  src/i18n/locales/en-us/update.json
Due: node licenses/update_license.js, prettier --write

style(update): tweak toast text styles\n\n- Remove underline from 'Click to stop'\n- Mute status text color to match design spec\n- Ensure action text remains primary color
  src/components/update/index.tsx
Due: node licenses/update_license.js, prettier --write

finalised toast
  src/components/update/index.tsx
Due: node licenses/update_license.js, prettier --write

chore: update build pipleline adding clean
  .github/workflows/build.yml
Due: none

chore: update build pipeline to add file clean (#1272)
  .github/workflows/build.yml
Due: none

Fix tests: patch file_utils.logger for collect_previous_task_context fs error tests
  backend/tests/app/service/test_chat_service.py
Due: node licenses/update_license.js

refactor(knowledge-base): address PR review – rename to long_term_memory, move tests, add continuation note
  backend/app/model/chat.py
  backend/app/service/chat_service.py
  backend/app/service/task.py
  backend/app/utils/long_term_memory.py
  backend/tests/app/utils/test_long_term_memory.py
Due: node licenses/update_license.js

fix: prevent subtask text from overflowing container
  src/components/ChatBox/TaskBox/TaskCard.tsx
Due: node licenses/update_license.js, prettier --write

fix(html): harden inline script deferral behavior
  src/lib/htmlFontStyles.ts
  test/unit/lib/htmlFontStyles.test.ts
Due: node licenses/update_license.js, prettier --write

fix: defer inline scripts in HTML preview so Chart.js and CDN scripts load before chart code runs (#1228) (#1247)
  src/components/Folder/index.tsx
  src/lib/htmlFontStyles.ts
  test/unit/lib/htmlFontStyles.test.ts
Due: node licenses/update_license.js, prettier --write

refactor: update path for symlinks and add helper function
  electron/main/index.ts
  src/components/ChatBox/BottomBox/InputBox.tsx
  src/lib/fileUtils.ts
Due: node licenses/update_license.js, prettier --write

fix(ui): scope file viewer CSS so CSV/MD renderers don't affect app layout
  src/components/Folder/index.tsx
  src/lib/htmlFontStyles.ts
  src/style/index.css
  src/style/markdown-styles.css
Due: node licenses/update_license.js, prettier --write

fix(electron): skip single-instance lock in dev to prevent dev server exit
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

update
  backend/app/agent/listen_chat_agent.py
  backend/app/utils/listen/toolkit_listen.py
  backend/app/utils/single_agent_worker.py
  backend/app/utils/telemetry/__init__.py
  backend/app/utils/workforce.py
Due: node licenses/update_license.js

fix skill load
  src/lib/skillToolkit.ts
Due: node licenses/update_license.js, prettier --write

Fix: skill load (#1277)
  src/lib/skillToolkit.ts
Due: node licenses/update_license.js, prettier --write

feat(skills): example skills no delete, agents tab reorder, SkillToolkit for new worker, description overflow fix
  backend/app/service/chat_service.py
  src/pages/Agents/Skills.tsx
  src/pages/Agents/components/SkillListItem.tsx
  src/pages/History.tsx
  src/store/skillsStore.ts
Due: node licenses/update_license.js, prettier --write

Potential fix for code scanning alert no. 103: Incomplete string escaping or encoding
  src/lib/skillToolkit.ts
Due: node licenses/update_license.js, prettier --write

fix: apply ruff lint and format fixes
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  backend/app/agent/factory/social_media.py
  backend/app/agent/toolkit/skill_toolkit.py
Due: node licenses/update_license.js

fix: apply ruff lint and format fixes
  resources/example-skills/code-reviewer/SKILL.md
  resources/example-skills/data-analyzer/SKILL.md
  resources/example-skills/report-writer/SKILL.md
Due: none

fix skill upload bug
  electron/main/index.ts
  src/pages/Agents/components/SkillUploadDialog.tsx
Due: node licenses/update_license.js, prettier --write

feat: add search tool kit for all agents
  .env.development
  backend/app/agent/factory/developer.py
  backend/app/agent/factory/document.py
  backend/app/agent/factory/multi_modal.py
  backend/app/agent/factory/social_media.py
Due: node licenses/update_license.js

fix: revert eng file
  .env.development
Due: none

fix(ui): prevent install screen flash when already on main content
  src/components/Layout/index.tsx
  src/hooks/useInstallationSetup.ts
Due: node licenses/update_license.js, prettier --write

feat: resolve Zustand persist hydration causing redirect/layout flicker
  src/components/Layout/index.tsx
  src/hooks/useAuthHydration.ts
  src/routers/index.tsx
Due: node licenses/update_license.js, prettier --write

feat: add rate limiting to API endpoints to mitigate abuse and Dos
  backend/app/__init__.py
  backend/app/controller/health_controller.py
  backend/app/rate_limit.py
  backend/pyproject.toml
  server/.env.example
  server/app/controller/health_controller.py
  server/app/middleware/__init__.py
  server/app/rate_limit.py
  server/pyproject.toml
Due: node licenses/update_license.js

fix(backend): restrict CORS to configurable origins and explicit methods/headers
  backend/README.md
  backend/app/__init__.py
Due: node licenses/update_license.js

update
  backend/app/agent/factory/browser.py
  backend/app/agent/listen_chat_agent.py
  backend/app/model/chat.py
  backend/app/utils/workforce.py
Due: node licenses/update_license.js

enhance: enhance cdp (#1094)
  backend/app/agent/factory/browser.py
  backend/app/agent/listen_chat_agent.py
  backend/app/model/chat.py
  backend/app/utils/workforce.py
Due: node licenses/update_license.js

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
