Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

fix: task completed shortcut
  src/components/ChatBox/MessageItem/TaskCompletionCard.tsx
Due: node licenses/update_license.js, prettier --write

feat: knowledge base for long-term memory (issue #1099)
  backend/app/controller/knowledge_controller.py
  backend/app/router.py
  backend/app/service/chat_service.py
  backend/app/utils/agent.py
  backend/app/utils/knowledge_base.py
  backend/app/utils/toolkit/knowledge_base_toolkit.py
Due: node licenses/update_license.js

fix: use os.environ in knowledge_base for testability; add unit and API tests
  backend/app/utils/knowledge_base.py
  backend/tests/unit/utils/test_knowledge_base.py
Due: node licenses/update_license.js

add immutable for all versioned files
  .github/workflows/build.yml
Due: none

ci: guard AWS steps and simplify S3 upload logic
  .github/workflows/build-view.yml
  .github/workflows/build.yml
Due: none

update
  .lintstagedrc.json
  .prettierrc
Due: none

enhance: add lint PR1093
  electron/main/init.ts
  electron/main/install-deps.ts
  tsconfig.json
Due: node licenses/update_license.js, prettier --write

enhance: add lint PR1093 (#1119)
  electron/main/init.ts
  electron/main/install-deps.ts
  tsconfig.json
Due: node licenses/update_license.js, prettier --write

enhance upload to s3 (#1111)
  .github/workflows/build-view.yml
  .github/workflows/build.yml
Due: none

fix: resolve Linux regression, dark mode bg, and remove dead code
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

feat(windows): improve native Windows appearance and theme support (#1114)
  electron/main/index.ts
  src/components/TopBar/index.tsx
  src/components/WindowControls/index.tsx
Due: node licenses/update_license.js, prettier --write

minor fix
  eslint.config.js
  package.json
  src/components/BrowserAgentWorkSpace/index.tsx
Due: node licenses/update_license.js, prettier --write

fix
  docs/core/models/kimi.md
Due: none

docs: kimi doc (#1112)
  docs/core/models/kimi.md
  docs/docs.json
  docs/images/kimi_1.png
  docs/images/kimi_2.png
  docs/images/kimi_3.png
Due: none

minor update
  backend/app/utils/cookie_manager.py
Due: node licenses/update_license.js

fix(cookie_manager): robustness — None-safe value, search_cookies domain, temp DB cleanup (#1098)
  backend/app/utils/cookie_manager.py
Due: node licenses/update_license.js

update
  src/components/WorkFlow/index.tsx
  src/components/WorkSpaceMenu/index.tsx
Due: node licenses/update_license.js, prettier --write

refactor: rename social media and add pre-commit (#1113)
  .github/workflows/pre-commit.yml
  backend/app/agent/README.md
  backend/app/agent/__init__.py
  backend/app/agent/factory/__init__.py
  backend/app/agent/factory/social_media.py
  backend/app/service/chat_service.py
  backend/app/service/task.py
  backend/app/utils/toolkit/google_calendar_toolkit.py
  backend/app/utils/toolkit/google_gmail_mcp_toolkit.py
  backend/app/utils/toolkit/linkedin_toolkit.py
  backend/app/utils/toolkit/reddit_toolkit.py
  backend/app/utils/toolkit/slack_toolkit.py
  backend/app/utils/toolkit/twitter_toolkit.py
  backend/app/utils/toolkit/whatsapp_toolkit.py
  backend/pyproject.toml
  backend/tests/app/agent/factory/test_social_media.py
  backend/tests/unit/service/test_task.py
  package.json
  src/components/BrowserAgentWorkSpace/index.tsx
  src/components/TerminalAgentWrokSpace/index.tsx
  src/components/WorkFlow/index.tsx
  src/components/WorkFlow/node.tsx
  src/components/WorkSpaceMenu/index.tsx
  src/pages/Dashboard/Project.tsx
  src/store/chatStore.ts
  src/types/chatbox.d.ts
  src/types/workspace.d.ts
Due: node licenses/update_license.js, prettier --write

minor enhance
  electron/main/fileReader.ts
Due: node licenses/update_license.js, prettier --write

Fix symlink traversal in task uploads (#1103)
  docs/core/models/kimi.md
  electron/main/fileReader.ts
Due: node licenses/update_license.js, prettier --write

fix: address PR feedback for pptx toolkit (refactor path resolution and styling)
  backend/app/utils/toolkit/pptx_toolkit.py
  scripts/generate_pptx.js
Due: node licenses/update_license.js, prettier --write

fix: readEnvValue quote/whitespace handling, double /api guard, use app.getAppPath
  electron/main/init.ts
Due: node licenses/update_license.js, prettier --write

fix(proxy): regex injection, race condition, duplicated logic
  electron/main/index.ts
  electron/main/init.ts
  electron/main/utils/envUtil.ts
  src/pages/Setting/General.tsx
Due: node licenses/update_license.js, prettier --write

minor update
  electron/main/init.ts
Due: node licenses/update_license.js, prettier --write

chore: fix replay when self host (#1102)
  electron/main/init.ts
Due: node licenses/update_license.js, prettier --write

env quote handling, IPC whitelist, credential masking, URL validation, missing i18n
  electron/main/index.ts
  electron/main/init.ts
  electron/main/utils/envUtil.ts
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Setting/General.tsx
Due: node licenses/update_license.js, prettier --write

minor fix
  src/pages/Setting/General.tsx
Due: node licenses/update_license.js, prettier --write

feat: add proxy configuration (#1096)
  electron/main/index.ts
  electron/main/init.ts
  electron/main/utils/envUtil.ts
  electron/preload/index.ts
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Setting/General.tsx
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

fix: dark mode theme fallback, transparent mode icons, and duplicate CSS tokens
  src/components/SideBar/index.tsx
  src/components/ThemeProvider.tsx
  src/components/TopBar/index.tsx
  src/style/token.css
Due: node licenses/update_license.js, prettier --write

fix: slack dialog not opening
  src/components/Trigger/DynamicTriggerConfig.tsx
  src/components/Trigger/TriggerDialog.tsx
Due: node licenses/update_license.js, prettier --write

Upgrade GitHub Actions for Node 24 compatibility (#1079)
  .github/workflows/build-view.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/lint-markdown.yml
Due: none

fix: edit secrets
  src/components/Trigger/DynamicTriggerConfig.tsx
Due: node licenses/update_license.js, prettier --write

unify the trunction
  backend/app/utils/listen/toolkit_listen.py
  backend/tests/app/utils/listen/test_toolkit_listen.py
Due: node licenses/update_license.js

refactor: fix note taking toolkit minor bug and refactor toolkit listen (#1091)
  backend/app/utils/listen/toolkit_listen.py
  backend/app/utils/toolkit/note_taking_toolkit.py
  backend/tests/app/utils/listen/test_toolkit_listen.py
  backend/tests/app/utils/toolkit/test_note_taking_toolkit.py
Due: node licenses/update_license.js

Revert "add authentication (login/signup) and improve search history management"
  .gitignore
  .vscode/.debug.script.mjs
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  src/components/SearchHistoryDialog.tsx
  src/pages/Login.tsx
  src/pages/SignUp.tsx
  src/service/stackAuthApi.ts
  src/store/authStore.ts
  test/unit/components/SearchHistoryDialog.test.tsx
  test/unit/service/stackAuthApi.test.ts
  vite.config.ts
Due: node licenses/update_license.js, prettier --write

Revert "add authentication (login/signup) and improve search history management" (#1120)
  .gitignore
  .vscode/.debug.script.mjs
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  src/components/SearchHistoryDialog.tsx
  src/pages/Login.tsx
  src/pages/SignUp.tsx
  src/service/stackAuthApi.ts
  src/store/authStore.ts
  test/unit/components/SearchHistoryDialog.test.tsx
  test/unit/service/stackAuthApi.test.ts
  vite.config.ts
Due: node licenses/update_license.js, prettier --write

chore: simplify trigger crud flow
  src/components/ChatBox/BottomBox/InputBox.tsx
  src/components/ChatBox/MessageItem/TaskCompletionCard.tsx
  src/components/Trigger/TriggerDialog.tsx
  src/pages/Home.tsx
  src/pages/Project/Triggers.tsx
Due: node licenses/update_license.js, prettier --write

enhance: input optional lable
  src/components/Trigger/SchedulePicker.tsx
  src/components/ui/input.tsx
Due: node licenses/update_license.js, prettier --write

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
