Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

fix: stop saving one-off requests that name a Space as memory (#2032)
  backend/app/lightweight_memory/maintainer.py
  backend/tests/app/lightweight_memory/test_lightweight_memory_service.py
Due: node licenses/update_license.js

fix: require a capability to read files from the local backend
  backend/app/auth/__init__.py
  backend/app/auth/file_access.py
  backend/app/auth/local_control.py
  backend/app/controller/chat_controller.py
  backend/app/controller/file_controller.py
  backend/tests/app/auth/test_file_access.py
  backend/tests/app/auth/test_local_control.py
  backend/tests/app/controller/test_file_controller.py
  src/components/Folder/FilePreview.tsx
  src/components/Folder/index.tsx
  src/lib/brainFileAccess.ts
  test/unit/lib/brainFileAccess.test.ts
Due: node licenses/update_license.js, prettier --write

fix: show the same Session name in the header as in the Session list
  src/components/Session/index.tsx
  src/lib/spaceLabel.ts
  src/store/spaceStore.ts
  test/unit/components/Session/SessionResize.test.tsx
  test/unit/lib/sessionDisplayName.test.ts
Due: node licenses/update_license.js, prettier --write

fix: keep the Automation schedule preview in order across month and year ends
  src/components/Trigger/SchedulePicker.tsx
  test/unit/components/Trigger/SchedulePicker.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: type the monthly preview date explicitly
  src/components/Trigger/SchedulePicker.tsx
Due: node licenses/update_license.js, prettier --write

fix: show Home created times in the app language
  src/components/Home/components/HomeHubCard.tsx
  src/components/Home/utils.ts
  test/unit/components/HomeRelativeTimes.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: translate the unsupported preview message in Italian
  src/i18n/locales/it/folder.json
Due: none

fix: repair the German review progress label
  src/i18n/locales/de/layout.json
Due: none

fix: send follow-ups after a window reload through follow-up admission (#2038)
  src/components/ChatBox/index.tsx
  test/unit/components/ChatBox.test.tsx
Due: node licenses/update_license.js, prettier --write

refactor: keep composer admission claims with the other composer stores
  src/components/ChatBox/index.tsx
  src/store/followUpAdmissionClaims.ts
  test/unit/components/ChatBox.test.tsx
Due: node licenses/update_license.js, prettier --write

test: keep the real Session name helpers in the sidebar Automations test
  test/unit/components/SidebarAutomationsEntry.test.tsx
Due: node licenses/update_license.js, prettier --write

test: make the durable approval timeout test deterministic (#2029)
  backend/tests/app/permission_policy/test_permission_runtime.py
Due: node licenses/update_license.js

fix: use the canonical 40px header for the Automations panels
  src/components/Trigger/AutomationMainPanel.tsx
  src/components/Trigger/Triggers.tsx
  src/stories/automation/Automations.stories.tsx
  src/style/tokens/exception.registry.json
Due: node licenses/update_license.js, prettier --write

fix: leave time spent waiting for approvals and answers out of the task timer
  backend/app/controller/run_controller.py
  backend/app/run_journal/store.py
  backend/tests/app/controller/test_run_control_api.py
  backend/tests/app/controller/test_run_controller.py
  src/components/ChatBox/README.md
  src/lib/projector/chat/presentation/reconcileProjectedRuns.ts
  src/lib/projector/index.ts
  src/lib/projector/reduce.ts
  src/lib/projector/runSummary.ts
  src/lib/projector/types.ts
  test/unit/components/ChatBox/runElapsedContinuity.test.tsx
  test/unit/lib/chatTimelinePresentation.test.ts
  test/unit/lib/projector.test.ts
  test/unit/service/runStateHistoryIntegration.test.ts
Due: node licenses/update_license.js, prettier --write

fix: re-check kept scratch roots with the backend after Cloud hydration
  src/lib/scratchSpaceWorkspace.ts
  src/store/spaceStore.ts
  test/unit/store/spaceStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: keep a slow artifact index from holding back terminal receipt recovery
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: keep last-day monthly schedules readable and unreadable schedules unchanged on edit
  src/components/Trigger/SchedulePicker.tsx
  src/components/Trigger/automationSchedule.ts
  src/i18n/locales/ar/triggers.json
  src/i18n/locales/de/triggers.json
  src/i18n/locales/en-us/triggers.json
  src/i18n/locales/es/triggers.json
  src/i18n/locales/fr/triggers.json
  src/i18n/locales/it/triggers.json
  src/i18n/locales/ja/triggers.json
  src/i18n/locales/ko/triggers.json
  src/i18n/locales/ru/triggers.json
  src/i18n/locales/zh-Hans/triggers.json
  src/i18n/locales/zh-Hant/triggers.json
  test/mocks/timeZone.ts
  test/unit/components/Trigger/SchedulePicker.test.tsx
  test/unit/components/Trigger/automationSchedule.test.ts
Due: node licenses/update_license.js, prettier --write

fix: read run waits with a bound JSON list instead of a formatted query
  backend/app/run_journal/store.py
Due: node licenses/update_license.js

fix: limit one-time automations to dates less than a year ahead
  src/components/Trigger/SchedulePicker.tsx
  src/components/Trigger/automationSchedule.ts
  src/i18n/locales/ar/triggers.json
  src/i18n/locales/de/triggers.json
  src/i18n/locales/en-us/triggers.json
  src/i18n/locales/es/triggers.json
  src/i18n/locales/fr/triggers.json
  src/i18n/locales/it/triggers.json
  src/i18n/locales/ja/triggers.json
  src/i18n/locales/ko/triggers.json
  src/i18n/locales/ru/triggers.json
  src/i18n/locales/zh-Hans/triggers.json
  src/i18n/locales/zh-Hant/triggers.json
  test/unit/components/Trigger/SchedulePicker.test.tsx
  test/unit/components/Trigger/automationSchedule.test.ts
Due: node licenses/update_license.js, prettier --write

fix: keep Review on the Project's own Space instead of the active one
  src/components/Session/PreviewPanel/tabs/review/useReviewChanges.ts
  src/lib/projectWorkspaceRoot.ts
  test/unit/components/Session/useReviewChanges.test.tsx
  test/unit/lib/projectWorkspaceRoot.test.ts
Due: node licenses/update_license.js, prettier --write

fix: name the automation switch, mark the current row and tell Resume from Run now
  src/components/Trigger/AutomationMainPanel.tsx
  src/components/Trigger/TriggerListItem.tsx
  test/unit/components/Trigger/AutomationDashboard.test.tsx
Due: node licenses/update_license.js, prettier --write

chore: translate the monthly time message and drop unused automation strings
  src/i18n/locales/ar/triggers.json
  src/i18n/locales/de/triggers.json
  src/i18n/locales/en-us/triggers.json
  src/i18n/locales/es/triggers.json
  src/i18n/locales/fr/triggers.json
  src/i18n/locales/it/triggers.json
  src/i18n/locales/ja/triggers.json
  src/i18n/locales/ko/triggers.json
  src/i18n/locales/ru/triggers.json
  src/i18n/locales/zh-Hans/triggers.json
  src/i18n/locales/zh-Hant/triggers.json
Due: none

style: restore the repository ruff format in the run controller tests
  backend/tests/app/controller/test_run_controller.py
Due: node licenses/update_license.js

fix: keep a user pause from shifting the task timer held during a wait
  src/components/ChatBox/README.md
  src/components/ChatBox/TimelineModes/shared.tsx
  test/unit/components/ChatBox/runElapsedContinuity.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: register MCP servers for cleanup before they start
  backend/app/agent/factory/toolkit_assembler.py
  backend/tests/app/agent/factory/test_toolkit_assembly_rollback.py
Due: node licenses/update_license.js

fix: cancel the Artifact download lookup when its file preview is replaced
  src/components/Folder/FilePreview.tsx
  src/components/Folder/index.tsx
  src/service/artifactAssetApi.test.ts
  src/service/artifactAssetApi.ts
  test/unit/components/Folder/FilePreview.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: release partially assembled Single Agent toolkits when startup fails
  backend/app/agent/factory/single_agent.py
  backend/app/agent/factory/toolkit_assembler.py
  backend/tests/app/agent/factory/test_toolkit_assembly_rollback.py
Due: node licenses/update_license.js

fix: run synchronous toolkit cleanup off the event loop
  backend/app/agent/factory/toolkit_assembler.py
  backend/app/service/single_agent_service.py
  backend/tests/app/agent/factory/test_toolkit_assembly_rollback.py
  backend/tests/app/service/test_single_agent_service.py
Due: node licenses/update_license.js

fix: hold the default chat view's task timer while the Run waits for the user
  src/components/ChatBox/README.md
  src/lib/taskRuntimeControl.ts
  src/service/legacyTaskTimer.ts
  src/store/chatStore.ts
  src/store/projectStore.ts
  test/unit/lib/taskRuntimeControl.test.ts
  test/unit/store/chatStore.test.ts
  test/unit/store/projectStore.test.ts
  test/unit/store/restoredRunApproval.test.ts
Due: node licenses/update_license.js, prettier --write

fix: show a completed Resume and a model outage on interrupted Runs (#2042)
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/index.tsx
  src/hooks/useInterruptedRunStatus.ts
  src/lib/approvalPresentation.ts
  src/lib/taskLifecycleUi.ts
  src/store/chatStore.ts
  src/types/chatbox.d.ts
  test/unit/components/ChatBox/UserQueryGroup.test.tsx
  test/unit/components/TaskWorkLogAccordion.test.tsx
  test/unit/lib/approvalTerminalReasons.test.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: release the Browser slot when its toolkit cannot be created
  backend/app/agent/factory/toolkit_assembler.py
  backend/tests/app/agent/factory/test_toolkit_assembly_rollback.py
Due: node licenses/update_license.js

feat(models): add Atlas Cloud as a model provider
  backend/app/model/model_platform.py
  scripts/check-i18n-source-usage.mjs
  src/assets/model/atlascloud.svg
  src/components/Settings/Models/localModels.ts
  src/lib/llm.ts
  src/shared/modelProviderImages.ts
Due: node licenses/update_license.js, prettier --write

fix: share the after-interruption admission claim across composer mounts
  src/components/ChatBox/index.tsx
  src/store/followUpAdmissionClaims.ts
  test/unit/components/ChatBox.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: keep chosen Session names that read like a default name
  src/components/Home/Projects.tsx
  src/components/Home/components/HomeHubCard.tsx
  src/components/Home/hooks/useHomeHubProjects.ts
  src/components/Settings/Memory/MemoryScopeNotice.tsx
  src/components/SpaceSidebar/index.tsx
  src/components/Workspace/WorkspaceVersionHistoryDialog.tsx
  src/lib/spaceLabel.ts
  src/types/history.d.ts
  test/unit/lib/sessionDisplayName.test.ts
Due: node licenses/update_license.js, prettier --write

feat: redesign Automations page around examples, queue and run dashboard (#2016)
  src/components/Trigger/AutomationDashboard.tsx
  src/components/Trigger/AutomationExamples.tsx
  src/components/Trigger/AutomationMainPanel.tsx
  src/components/Trigger/ExecutionLogs.tsx
  src/components/Trigger/SchedulePicker.tsx
  src/components/Trigger/TriggerDialog.tsx
  src/components/Trigger/TriggerListItem.tsx
  src/components/Trigger/Triggers.tsx
  src/components/Trigger/automationExampleData.ts
  src/components/Trigger/automationSchedule.ts
  src/components/Trigger/index.tsx
  src/i18n/locales/ar/triggers.json
  src/i18n/locales/de/triggers.json
  src/i18n/locales/en-us/triggers.json
  src/i18n/locales/es/triggers.json
  src/i18n/locales/fr/triggers.json
  src/i18n/locales/it/triggers.json
  src/i18n/locales/ja/triggers.json
  src/i18n/locales/ko/triggers.json
  src/i18n/locales/ru/triggers.json
  src/i18n/locales/zh-Hans/triggers.json
  src/i18n/locales/zh-Hant/triggers.json
  src/lib/utils.ts
  src/pages/Workspace.tsx
  src/service/triggerApi.ts
  src/store/triggerStore.ts
  src/stories/automation/Automations.stories.tsx
  src/types/index.ts
  test/mocks/timeZone.ts
  test/unit/components/Trigger/AutomationDashboard.test.tsx
  test/unit/components/Trigger/SchedulePicker.test.tsx
  test/unit/components/Trigger/automationSchedule.test.ts
  test/unit/lib/timeZoneConversion.test.ts
  test/unit/service/triggerApi.test.ts
Due: node licenses/update_license.js, prettier --write

fix: list automations created after the list failed to load
  src/components/Trigger/Triggers.tsx
  test/unit/components/Trigger/TriggersOverview.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: keep hour and minute fields level when only one shows an error
  src/components/Trigger/SchedulePicker.tsx
Due: node licenses/update_license.js, prettier --write

fix: restart a restored task clock after a cancelled request leaves one open
  src/service/legacyTaskTimer.ts
  test/unit/store/restoredRunApproval.test.ts
Due: node licenses/update_license.js, prettier --write

fix: keep the timeline timer level across a wait after an earlier pause
  src/components/ChatBox/TimelineModes/shared.tsx
  src/lib/projector/chat/presentation/reconcileProjectedRuns.ts
  src/lib/projector/chat/presentation/types.ts
  test/unit/components/ChatBox/runElapsedContinuity.test.tsx
  test/unit/lib/chatTimelinePresentation.test.ts
Due: node licenses/update_license.js, prettier --write

refactor: release the after-interruption claim by the submit that took it
  src/components/ChatBox/index.tsx
Due: node licenses/update_license.js, prettier --write
