Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

bug fix revert task review
  src/components/ChatBox/TimelineModes/RunFiles.tsx
  src/components/Session/PreviewPanel/tabs/ReviewTab.tsx
  src/components/Session/PreviewPanel/tabs/review/useReviewChanges.ts
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/store/pageTabStore.ts
  test/unit/components/ChatBox/TimelineModes/RunFiles.test.tsx
  test/unit/components/Session/ReviewTab.test.tsx
  test/unit/components/Session/useReviewChanges.test.tsx
  test/unit/store/pageTabStore.preview.test.ts
Due: node licenses/update_license.js, prettier --write

fix: improve single-agent progress and task review
  backend/app/controller/workspace_git_controller.py
  backend/app/service/chat_service.py
  backend/app/service/single_agent_service.py
  backend/tests/app/controller/test_workspace_git_controller.py
  backend/tests/app/service/test_single_agent_service.py
  src/api/http.ts
  src/components/ChatBox/TimelineModes/NarrativeTimeline.tsx
  src/components/ChatBox/TimelineModes/TrajectoryTimeline.tsx
  src/components/ChatBox/TimelineModes/shared.tsx
  src/components/Session/PreviewPanel/tabs/review/DiffFileCard.tsx
  src/components/Session/PreviewPanel/tabs/review/SemanticDiffView.tsx
  src/components/Session/PreviewPanel/tabs/review/monacoModelLifecycle.ts
  src/components/Session/PreviewPanel/tabs/review/useReviewChanges.ts
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/lib/projector/chat/adapter.ts
  src/service/workspaceGitApi.ts
  src/store/chatStore.ts
  src/types/chatbox.d.ts
  src/types/constants.ts
  test/unit/components/ChatBox/TimelineModes.test.tsx
  test/unit/components/Session/SemanticDiffView.test.tsx
  test/unit/components/Session/monacoModelLifecycle.test.ts
  test/unit/components/Session/useReviewChanges.test.tsx
  test/unit/lib/chatProjectionActivity.test.ts
Due: node licenses/update_license.js, prettier --write

update review tab wording
  src/components/Session/PreviewPanel/tabs/ReviewTab.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/store/pageTabStore.ts
  test/unit/components/Session/ReviewTab.test.tsx
  test/unit/store/pageTabStore.preview.test.ts
Due: node licenses/update_license.js, prettier --write

feat: add workload evidence foundation
  backend/app/run_journal/__init__.py
  backend/app/run_journal/model_capture.py
  backend/app/run_journal/models.py
  backend/app/run_journal/otel_projection.py
  backend/app/run_journal/recorder.py
  backend/app/run_journal/store.py
  backend/app/run_runtime/step_coordinator.py
  backend/app/utils/workforce.py
  backend/app/workload/__init__.py
  backend/tests/app/run_journal/test_model_capture.py
  backend/tests/app/run_journal/test_model_invocations.py
  backend/tests/app/run_journal/test_otel_projection.py
  backend/tests/app/run_journal/test_store.py
  backend/tests/app/run_journal/test_workload_evidence.py
  backend/tests/app/run_runtime/test_step_coordinator.py
  backend/tests/app/utils/test_workforce.py
Due: node licenses/update_license.js

feat: add workload evidence foundation (#1870)
  backend/app/run_journal/__init__.py
  backend/app/run_journal/model_capture.py
  backend/app/run_journal/models.py
  backend/app/run_journal/otel_projection.py
  backend/app/run_journal/recorder.py
  backend/app/run_journal/store.py
  backend/app/run_runtime/step_coordinator.py
  backend/app/utils/workforce.py
  backend/app/workload/__init__.py
  backend/tests/app/run_journal/test_model_capture.py
  backend/tests/app/run_journal/test_model_invocations.py
  backend/tests/app/run_journal/test_otel_projection.py
  backend/tests/app/run_journal/test_store.py
  backend/tests/app/run_journal/test_workload_evidence.py
  backend/tests/app/run_runtime/test_step_coordinator.py
  backend/tests/app/utils/test_workforce.py
Due: node licenses/update_license.js

fix: make task review image previews reliable
  backend/app/controller/workspace_git_controller.py
  backend/tests/app/controller/test_workspace_git_controller.py
  src/components/Session/PreviewPanel/tabs/review/DiffFileCard.tsx
  src/components/Session/PreviewPanel/tabs/review/SemanticDiffView.tsx
  src/components/Session/PreviewPanel/tabs/review/reviewContent.ts
  src/components/Session/PreviewPanel/tabs/review/useReviewChanges.ts
  src/components/Session/index.tsx
  test/unit/components/Session/SemanticDiffView.test.tsx
  test/unit/components/Session/useReviewChanges.test.tsx
Due: node licenses/update_license.js, prettier --write

fix revert pause action
  src/components/ChatBox/BottomBox/InputBox.tsx
Due: node licenses/update_license.js, prettier --write

remove planning files
  plans/001-smooth-session-preview-panel.md
  plans/README.md
Due: none

fix: pause cloud sync on rejected credentials
  backend/app/run_sync/cloud_sync.py
  backend/app/run_sync/command_sync.py
  backend/tests/app/run_sync/test_cloud_sync.py
  backend/tests/app/run_sync/test_command_sync.py
Due: node licenses/update_license.js

fix: align event timeline runtime semantics
  src/components/ChatBox/TimelineModes/NarrativeTimeline.tsx
  src/components/ChatBox/TimelineModes/TrajectoryTimeline.tsx
  src/components/ChatBox/TimelineModes/shared.tsx
  src/components/ChatBox/index.tsx
  src/components/ChatBox/runControlArbitration.ts
  src/lib/projector/chat/presentation/chronology.ts
  test/unit/components/ChatBox/TimelineModes.test.tsx
  test/unit/components/ChatBox/runControlArbitration.test.ts
  test/unit/lib/chatProjectionContract.test.ts
  test/unit/lib/chatTimelinePresentation.test.ts
Due: node licenses/update_license.js, prettier --write

chore: clean up log level
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

feat: add self-hosted remote command control
  .gitignore
  backend/app/run_sync/command_sync.py
  backend/app/run_sync/middleware.py
  backend/app/run_sync/runtime.py
  backend/app/utils/server/sync_step.py
  backend/tests/app/run_sync/test_command_sync.py
  backend/tests/app/run_sync/test_middleware.py
  backend/tests/app/utils/server/test_sync_step_journal.py
  server/.env.example
  server/alembic/env.py
  server/alembic/versions/2026_06_10_1200-hosted_schema_compatibility_marker.py
  server/alembic/versions/2026_08_27_1200-add_self_hosted_remote_command_control.py
  server/alembic/versions/2026_08_27_1230-merge_self_hosted_remote_command_lineages.py
  server/app/core/database.py
  server/app/domains/remote_control/api/command_control_controller.py
  server/app/domains/remote_control/api/remote_control_controller.py
  server/app/domains/remote_control/schema/schemas.py
  server/app/domains/remote_control/service/command_control_service.py
  server/app/domains/remote_control/service/command_notifier.py
  server/app/domains/remote_control/service/remote_control_service.py
  server/app/model/remote_control/__init__.py
  server/app/model/remote_control/command_control.py
  server/app/model/remote_control/remote_control.py
  server/app/shared/exception/handlers.py
  server/lang/zh_CN/LC_MESSAGES/messages.po
  server/messages.pot
  server/start_server.sh
  server/tests/test_command_control_service.py
  server/tests/test_database_safety.py
  server/tests/test_remote_control_bridge_errors.py
  server/tests/test_self_hosted_migration_scope.py
Due: node licenses/update_license.js

feat: add self-hosted remote command control (#1872)
  .gitignore
  backend/app/run_sync/command_sync.py
  backend/app/run_sync/middleware.py
  backend/app/run_sync/runtime.py
  backend/app/utils/server/sync_step.py
  backend/tests/app/run_sync/test_command_sync.py
  backend/tests/app/run_sync/test_middleware.py
  backend/tests/app/utils/server/test_sync_step_journal.py
  server/.env.example
  server/alembic/env.py
  server/alembic/versions/2026_06_10_1200-hosted_schema_compatibility_marker.py
  server/alembic/versions/2026_08_27_1200-add_self_hosted_remote_command_control.py
  server/alembic/versions/2026_08_27_1230-merge_self_hosted_remote_command_lineages.py
  server/app/core/database.py
  server/app/domains/remote_control/api/command_control_controller.py
  server/app/domains/remote_control/api/remote_control_controller.py
  server/app/domains/remote_control/schema/schemas.py
  server/app/domains/remote_control/service/command_control_service.py
  server/app/domains/remote_control/service/command_notifier.py
  server/app/domains/remote_control/service/remote_control_service.py
  server/app/model/remote_control/__init__.py
  server/app/model/remote_control/command_control.py
  server/app/model/remote_control/remote_control.py
  server/app/shared/exception/handlers.py
  server/lang/zh_CN/LC_MESSAGES/messages.po
  server/messages.pot
  server/start_server.sh
  server/tests/test_command_control_service.py
  server/tests/test_database_safety.py
  server/tests/test_remote_control_bridge_errors.py
  server/tests/test_self_hosted_migration_scope.py
Due: node licenses/update_license.js

fix/thinking effort with model control ui
  src/components/ChatBox/BottomBox/ApprovalModeSelect.tsx
  src/components/ChatBox/BottomBox/BoxFooter.tsx
  src/components/ChatBox/BottomBox/ModelAndThinkingEffortSelect.tsx
  src/components/ChatBox/BottomBox/ThinkingEffortSelect.tsx
  src/components/ChatBox/BottomBox/index.tsx
  src/components/ChatBox/README.md
  src/components/ModelSelection/DefaultModelMenuItem.tsx
  src/components/Settings/Models/index.tsx
  src/components/Workspace/index.tsx
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/store/projectStore.ts
  test/unit/components/ChatBox/BottomBox/BoxFooter.test.tsx
  test/unit/components/ChatBox/BottomBox/ModelAndThinkingEffortSelect.test.tsx
  test/unit/components/Workspace.test.tsx
  test/unit/store/projectStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix default effort
  src/components/ChatBox/BottomBox/ModelAndThinkingEffortSelect.tsx
  test/unit/components/ChatBox/BottomBox/BoxFooter.test.tsx
  test/unit/components/ChatBox/BottomBox/ModelAndThinkingEffortSelect.test.tsx
Due: node licenses/update_license.js, prettier --write

fix/thinking effort with model control ui (#1873)
  src/components/ChatBox/BottomBox/ApprovalModeSelect.tsx
  src/components/ChatBox/BottomBox/BoxFooter.tsx
  src/components/ChatBox/BottomBox/ModelAndThinkingEffortSelect.tsx
  src/components/ChatBox/BottomBox/ThinkingEffortSelect.tsx
  src/components/ChatBox/BottomBox/index.tsx
  src/components/ChatBox/README.md
  src/components/ModelSelection/DefaultModelMenuItem.tsx
  src/components/Settings/Models/index.tsx
  src/components/Workspace/index.tsx
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/store/projectStore.ts
  test/unit/components/ChatBox/BottomBox/BoxFooter.test.tsx
  test/unit/components/ChatBox/BottomBox/ModelAndThinkingEffortSelect.test.tsx
  test/unit/components/Workspace.test.tsx
  test/unit/store/projectStore.test.ts
Due: node licenses/update_license.js, prettier --write

feat/workspace status and onboarding flow
  docs/design-system/design.md
  src/components/Home/SpaceDetail.tsx
  src/components/Home/SpaceSnapshotStat.tsx
  src/components/Workspace/SpaceWorkspacePanel.tsx
  src/components/Workspace/index.tsx
  src/components/Workspace/spaceWorkspacePanelData.test.ts
  src/components/Workspace/spaceWorkspacePanelData.ts
  src/components/ui/tag.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/store/authStore.ts
  src/store/workspaceGuidePreferences.ts
  test/unit/components/Workspace.test.tsx
  test/unit/components/ui/designSystemPrimitives.test.tsx
  test/unit/store/authStore.workspaceGuide.test.ts
Due: node licenses/update_license.js, prettier --write

bug fix
  src/components/Workspace/SpaceWorkspacePanel.tsx
  src/components/Workspace/spaceWorkspacePanelData.test.ts
  src/components/Workspace/spaceWorkspacePanelData.ts
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/store/authStore.ts
  src/store/workspaceGuidePreferences.ts
  test/unit/components/Workspace.test.tsx
Due: node licenses/update_license.js, prettier --write

update responsive fix
  src/components/Workspace/SpaceWorkspacePanel.tsx
  src/components/Workspace/index.tsx
  src/components/Workspace/spaceWorkspacePanelData.test.ts
  src/components/Workspace/spaceWorkspacePanelData.ts
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  test/unit/components/SpaceWorkspacePanel.test.tsx
  test/unit/components/Workspace.test.tsx
Due: node licenses/update_license.js, prettier --write

update content
  src/components/Folder/index.tsx
  src/components/Workspace/SpaceWorkspacePanel.tsx
  src/components/Workspace/index.tsx
  src/components/Workspace/spaceWorkspacePanelData.test.ts
  src/components/Workspace/spaceWorkspacePanelData.ts
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/lib/spaceLabel.ts
  src/store/authStore.ts
  test/unit/components/SpaceWorkspacePanel.test.tsx
  test/unit/components/Workspace.test.tsx
Due: node licenses/update_license.js, prettier --write

chore: reduce sync log noise
  backend/app/run_sync/cloud_sync.py
  backend/app/run_sync/command_sync.py
Due: node licenses/update_license.js

fix: keep earned run boundary on resume admission
  backend/app/workspace_git/coordinator.py
  backend/tests/app/workspace_git/test_coordinator.py
Due: node licenses/update_license.js

fix: handle terminal side effect recovery
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/controller/chat_controller.py
  backend/tests/app/agent/toolkit/test_terminal_workspace.py
  backend/tests/app/controller/test_continuation_admission.py
Due: node licenses/update_license.js

fix: resolve workforce bundle CI failures
  backend/app/controller/run_controller.py
  backend/app/permission_policy/runtime.py
  backend/app/run_runtime/coordinator.py
  backend/app/workspace_config/models.py
  backend/app/workspace_git/advanced.py
  src/components/ChatBox/index.tsx
  src/components/ChatBox/runControlArbitration.ts
  src/lib/htmlLocalAssets.ts
  test/unit/components/ChatBox/runControlArbitration.test.ts
  test/unit/lib/htmlLocalAssets.test.ts
Due: node licenses/update_license.js, prettier --write

feat: integrate Querit search fallback
  backend/app/agent/prompt.py
  backend/app/agent/toolkit/search_toolkit.py
  backend/app/run_runtime/tool_checkpoint.py
  backend/tests/app/agent/toolkit/test_search_toolkit.py
  backend/tests/app/run_runtime/test_tool_checkpoint.py
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
  src/components/Session/SidePanel/sections/buildProjectSessionPanelData.ts
  src/components/Settings/Connectors/ConnectorGateway.tsx
  src/components/Settings/Connectors/components/ConnectorBrowserPage.tsx
  src/components/Settings/Connectors/components/GoogleSearchPanel.tsx
  src/components/Settings/Connectors/components/SearchSettingsPanel.tsx
  src/components/Settings/Models/index.tsx
  src/components/ui/input.tsx
  src/hooks/useIntegrationManagement.ts
  src/i18n/locales/ar/connectors.json
  src/i18n/locales/de/connectors.json
  src/i18n/locales/en-us/connectors.json
  src/i18n/locales/es/connectors.json
  src/i18n/locales/fr/connectors.json
  src/i18n/locales/it/connectors.json
  src/i18n/locales/ja/connectors.json
  src/i18n/locales/ko/connectors.json
  src/i18n/locales/ru/connectors.json
  src/i18n/locales/zh-Hans/connectors.json
  src/i18n/locales/zh-Hant/connectors.json
  src/lib/applyDefaultModelSelection.ts
  src/lib/searchConfig.ts
  src/store/chatStore.ts
  test/unit/components/SearchSettingsPanel.test.tsx
  test/unit/components/TaskWorkLogAccordion.test.tsx
  test/unit/components/buildProjectSessionPanelData.test.ts
  test/unit/lib/searchConfig.test.ts
Due: node licenses/update_license.js, prettier --write

style: apply Ruff formatting
  backend/app/agent/toolkit/search_toolkit.py
  backend/app/run_runtime/tool_checkpoint.py
Due: node licenses/update_license.js

chore: fix frontend formatting
  src/components/Settings/SettingsContentShell.tsx
  src/components/TopBar/TopBarPrimaryNavigation.tsx
  src/pages/Settings.tsx
Due: node licenses/update_license.js, prettier --write

style: apply frontend formatting
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
  src/components/Settings/Connectors/components/SearchSettingsPanel.tsx
  test/unit/components/buildProjectSessionPanelData.test.ts
Due: node licenses/update_license.js, prettier --write

feat: integrate Querit search fallback (#1875)
  backend/app/agent/prompt.py
  backend/app/agent/toolkit/search_toolkit.py
  backend/app/run_runtime/tool_checkpoint.py
  backend/tests/app/agent/toolkit/test_search_toolkit.py
  backend/tests/app/run_runtime/test_tool_checkpoint.py
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
  src/components/Session/SidePanel/sections/buildProjectSessionPanelData.ts
  src/components/Settings/Connectors/ConnectorGateway.tsx
  src/components/Settings/Connectors/components/ConnectorBrowserPage.tsx
  src/components/Settings/Connectors/components/GoogleSearchPanel.tsx
  src/components/Settings/Connectors/components/SearchSettingsPanel.tsx
  src/components/Settings/Models/index.tsx
  src/components/ui/input.tsx
  src/hooks/useIntegrationManagement.ts
  src/i18n/locales/ar/connectors.json
  src/i18n/locales/de/connectors.json
  src/i18n/locales/en-us/connectors.json
  src/i18n/locales/es/connectors.json
  src/i18n/locales/fr/connectors.json
  src/i18n/locales/it/connectors.json
  src/i18n/locales/ja/connectors.json
  src/i18n/locales/ko/connectors.json
  src/i18n/locales/ru/connectors.json
  src/i18n/locales/zh-Hans/connectors.json
  src/i18n/locales/zh-Hant/connectors.json
  src/lib/applyDefaultModelSelection.ts
  src/lib/searchConfig.ts
  src/store/chatStore.ts
  test/unit/components/SearchSettingsPanel.test.tsx
  test/unit/components/TaskWorkLogAccordion.test.tsx
  test/unit/components/buildProjectSessionPanelData.test.ts
  test/unit/lib/searchConfig.test.ts
Due: node licenses/update_license.js, prettier --write

fix(ci): install uv without upgrading pip
  .github/workflows/build-view.yml
  .github/workflows/build.yml
  .github/workflows/pre-build-view.yml
  .github/workflows/pre-build.yml
Due: none

fix(ci): install uv without upgrading pip (#1876)
  .github/workflows/build-view.yml
  .github/workflows/build.yml
  .github/workflows/pre-build-view.yml
  .github/workflows/pre-build.yml
Due: none

fix(ci): set up uv without Python dependency
  .github/workflows/build-view.yml
  .github/workflows/build.yml
  .github/workflows/pre-build-view.yml
  .github/workflows/pre-build.yml
Due: none

fix(ci): set up uv without Python dependency (#1877)
  .github/workflows/build-view.yml
  .github/workflows/build.yml
  .github/workflows/pre-build-view.yml
  .github/workflows/pre-build.yml
Due: none

fix(ci): pin setup-uv to resolvable revision
  .github/workflows/build-view.yml
  .github/workflows/build.yml
  .github/workflows/pre-build-view.yml
  .github/workflows/pre-build.yml
Due: none

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
