Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

fix(skills): narrow single agent alias matching
  backend/app/agent/toolkit/skill_toolkit.py
  backend/tests/app/service/test_skill_initialization.py
  src/components/WorkFlow/agents.tsx
  src/pages/Agents/components/SkillListItem.tsx
  test/unit/components/WorkFlow/skillScopeAgents.test.ts
Due: node licenses/update_license.js, prettier --write

fix: address review feedback for support logs
  .gitignore
  electron/main/fileReader.ts
  src/App.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/ar/update.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/de/update.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/es/update.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/fr/update.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/it/update.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ja/update.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ko/update.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/ru/update.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hans/update.json
  src/i18n/locales/zh-Hant/layout.json
  src/i18n/locales/zh-Hant/update.json
  tsconfig.node.tsbuildinfo
Due: node licenses/update_license.js, prettier --write

fix(chat): handle sandbox paths in output file cards
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix(chat): repair legacy output paths on replay
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix(electron): normalize legacy sandbox paths before file reads
  electron/main/fileReader.ts
  electron/main/utils/filePath.ts
  test/unit/electron/main/filePath.test.ts
Due: node licenses/update_license.js, prettier --write

chore: align non-analytics code with main
  backend/app/agent/agent_model.py
  backend/app/agent/listen_chat_agent.py
  backend/app/agent/toolkit/screenshot_toolkit.py
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/model/chat.py
  backend/app/service/chat_service.py
  backend/app/service/single_agent_service.py
  backend/app/service/task.py
  backend/tests/app/service/test_chat_service.py
  src/components/ChatBox/BottomBox/ChatInputModelDropdown.tsx
  src/components/ChatBox/BottomBox/InputBox.tsx
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
  src/components/ChatBox/index.tsx
  src/components/WorkFlow/MarkDown.tsx
Due: node licenses/update_license.js, prettier --write

fix(analytics): stop sending raw error text and mislabeled launch failures
  src/pages/Connectors/components/MCPMarket.tsx
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

feat(analytics): add UX-friction signals (dead clicks, per-screen context)
  src/lib/analytics/posthog.ts
  src/main.tsx
  src/vite-env.d.ts
Due: node licenses/update_license.js, prettier --write

Add tooltips fix for the new added button
  src/components/ChatBox/BottomBox/InputBox.tsx
Due: node licenses/update_license.js, prettier --write

test: cover stale project eviction with live SSE
  src/store/projectStore.test.ts
Due: node licenses/update_license.js, prettier --write

Ignore playback streams in close guard
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

Guard chat history completion updates
  server/app/domains/chat/api/history_controller.py
  server/tests/test_chat_history_update_guards.py
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

Make the pasted-file save path unique per file
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

fix: retry pending cloud key budget sync
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

feat: add Connector Gateway UI and MCP wiring
  backend/app/agent/factory/browser.py
  backend/app/agent/factory/developer.py
  backend/app/agent/factory/document.py
  backend/app/agent/factory/mcp.py
  backend/app/agent/factory/multi_modal.py
  backend/app/agent/factory/question_confirm.py
  backend/app/agent/factory/single_agent.py
  backend/app/agent/factory/social_media.py
  backend/app/agent/prompt.py
  backend/app/service/chat_service.py
  src/api/connectors.ts
  src/pages/Connectors/ConnectorGateway.tsx
  src/pages/Connectors/index.tsx
  src/store/chatStore.ts
  src/store/serverCapabilityStore.ts
Due: node licenses/update_license.js, prettier --write

fix: resolve user-scoped project output files
  backend/app/controller/file_controller.py
  backend/tests/app/controller/test_file_controller.py
  src/components/Session/SidePanelSections/useProjectOutputFiles.ts
Due: node licenses/update_license.js, prettier --write

fix: allow remote control background projects
  src/hooks/useRemoteControlBridge.ts
  test/unit/hooks/useRemoteControlBridge.test.ts
Due: node licenses/update_license.js, prettier --write

fix: harden local backend startup
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

chore: pass server image commit as build arg
  server/Dockerfile
  server/docker-compose.yml
Due: none

fix: support simple tooltips without global provider
  src/components/ui/tooltip.tsx
Due: node licenses/update_license.js, prettier --write

test: cover oauth authorize url encoding
  server/tests/test_oauth_adapter.py
Due: node licenses/update_license.js

test backend truststore startup injection
  backend/tests/app/test_main_truststore.py
Due: node licenses/update_license.js

test: cover terminal capability probe
  backend/tests/app/hands/test_capabilities.py
Due: node licenses/update_license.js

refactor: add app event boundary
  src/components/InstallStep/OnboardingSteps.tsx
  src/lib/events/appEventClassifiers.ts
  src/lib/events/appEvents.ts
  src/lib/oauth.ts
  src/pages/Agents/components/SkillUploadDialog.tsx
  src/pages/Connectors/components/MCPMarket.tsx
  src/pages/Login.tsx
  src/pages/SignUp.tsx
  src/service/triggerApi.ts
  src/store/authStore.ts
  src/store/chatStore.ts
  src/store/installationStore.ts
  test/unit/lib/appEvents.test.ts
Due: node licenses/update_license.js, prettier --write

fix: keep project output paths user-scoped
  backend/app/controller/file_controller.py
  backend/tests/app/controller/test_file_controller.py
  electron/main/fileReader.ts
  electron/main/index.ts
  electron/main/utils/projectStoragePath.ts
  electron/preload/index.ts
  src/components/Folder/index.tsx
  src/components/Session/SidePanelSections/useProjectOutputFiles.ts
  src/pages/Workspace.tsx
  src/types/electron.d.ts
  test/unit/electron/main/projectStoragePath.test.ts
Due: node licenses/update_license.js, prettier --write

docs: clarify app event identity scope
  src/lib/events/appEvents.ts
Due: node licenses/update_license.js, prettier --write

fix: hydrate background remote project history
  src/components/ProjectPageSidebar/index.tsx
  src/components/SpacesHub/index.tsx
  src/components/TopBar/index.tsx
  src/hooks/useRemoteControlBridge.ts
  src/store/chatStore.ts
  src/store/projectStore.test.ts
  src/store/projectStore.ts
  test/unit/hooks/useRemoteControlBridge.test.ts
Due: node licenses/update_license.js, prettier --write

fix: preserve backend restart failure semantics
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

fix: coordinate backend restart entrypoints
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

fix: avoid restart blocking app activation
  electron/main/index.ts
  electron/main/init.ts
Due: node licenses/update_license.js, prettier --write

fix: gate connector gateway in local proxy mode
  src/pages/Connectors/ConnectorGateway.tsx
  src/store/chatStore.ts
  src/store/serverCapabilityStore.ts
Due: node licenses/update_license.js, prettier --write

fix: ensure GIFs loop infinitely at generation level (fixes #1480)
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/service/chat_service.py
  backend/app/utils/file_utils.py
Due: node licenses/update_license.js

fix: avoid baking database_url into Docker image metadata (addresses #1677 review)
  server/docker-compose.dev.yml
  server/docker-compose.yml
Due: none

style: fix formatting in file_utils.py (ruff/trailing-whitespace)
  backend/app/utils/file_utils.py
Due: node licenses/update_license.js

style: apply ruff format fixes (pre-commit)
  backend/app/agent/toolkit/file_write_toolkit.py
  backend/app/agent/toolkit/mcp_search_toolkit.py
  backend/app/agent/toolkit/pptx_toolkit.py
  backend/app/agent/toolkit/search_toolkit.py
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/agent/toolkit/twitter_toolkit.py
  backend/app/service/chat_service.py
  backend/tests/app/agent/factory/test_browser.py
  backend/tests/app/hands/test_cluster_config.py
Due: node licenses/update_license.js

fix: map z.ai and deepseek to openai-compatible-model (#1556, #1578)
  backend/app/model/model_platform.py
  backend/tests/app/model/test_model_platform.py
  server/.gitignore
  server/docker-compose.dev.yml
  server/docker-compose.yml
Due: node licenses/update_license.js

fix(security): add alembic.ini to .gitignore (#1527)
  server/.gitignore
Due: none

fix(security): add alembic.ini to .gitignore (contains DB credentials)
  server/.gitignore
Due: none
