Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

fix: add read-only toolchain and recovery preflight
  backend/app/agent/prompt.py
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/permission_policy/tool_actions.py
  backend/app/utils/toolchain_preflight.py
  backend/tests/app/agent/toolkit/test_terminal_preflight_integration.py
  backend/tests/app/agent/toolkit/test_terminal_toolkit.py
  backend/tests/app/agent/toolkit/test_toolchain_preflight.py
Due: node licenses/update_license.js

fix: Reconcile Run state after stream interruptions
  backend/app/controller/run_controller.py
  backend/tests/app/controller/test_run_controller.py
  src/lib/projector/control/reduce.ts
  src/lib/projector/control/selectors.ts
  src/lib/projector/control/types.ts
  src/lib/projector/reduce.ts
  src/lib/projector/runSummary.ts
  src/lib/projector/types.ts
  src/lib/runEvents/projectionStore.ts
  src/lib/runEvents/registry.ts
  src/service/projectRunEventStream.ts
  src/service/reconcileLegacyRunState.ts
  src/service/runStateReconciliation.ts
  src/store/chatStore.ts
  src/store/projectEventStore.ts
  test/unit/service/projectRunEventStream.test.ts
  test/unit/service/runStateReconciliation.test.ts
Due: node licenses/update_license.js, prettier --write

fix: close terminal input pipes and read Docker outcomes
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/tests/app/agent/toolkit/test_writer_lifecycle.py
Due: node licenses/update_license.js

fix: preserve explicit Responses stream errors
  backend/app/model/responses_input.py
  backend/tests/app/agent/toolkit/test_image_tool_failure.py
  backend/tests/app/model/test_responses_input.py
Due: node licenses/update_license.js

fix: retain validated fallback artifacts within scan budgets
  backend/app/artifacts.py
  backend/app/utils/file_utils.py
  backend/tests/app/test_artifact_scan_budget.py
Due: node licenses/update_license.js

test: isolate image-tool fixture event collection
  backend/tests/app/agent/toolkit/test_image_tool_failure.py
Due: node licenses/update_license.js

fix: omit mismatched workspace resolver identities
  electron/main/fileReader.ts
  test/unit/components/Session/SidePanelSections/useProjectOutputFiles.test.tsx
  test/unit/electron/fileReaderPreview.test.ts
Due: node licenses/update_license.js, prettier --write

fix: refresh follow-up capabilities and honor bundle effort
  backend/app/controller/chat_controller.py
  backend/app/workspace_config/admission.py
  backend/tests/app/controller/test_model_effort_admission.py
  backend/tests/app/controller/test_model_effort_follow_up.py
Due: node licenses/update_license.js

fix: rebuild complete human control checkpoints
  src/hooks/useProjectEventStoreHydration.ts
  src/service/projectEventStoreHydration.ts
  src/store/projectEventStore.ts
  test/unit/hooks/useProjectEventStoreHydration.test.tsx
  test/unit/service/projectControlHistoryHydration.test.ts
Due: node licenses/update_license.js, prettier --write

test: isolate native modal lookup in folder menu case
  test/unit/components/Folder/FileViewerPanel.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: use static memory extraction queries
  backend/app/run_journal/store.py
  backend/tests/app/lightweight_memory/test_extraction_budget.py
Due: node licenses/update_license.js

fix: Preserve pending Run reconciliation boundaries
  backend/tests/app/controller/test_run_controller.py
  src/lib/runEvents/registry.ts
  test/unit/service/runStateReconciliation.test.ts
Due: node licenses/update_license.js, prettier --write

fix: preserve provider response lifecycle and correlation
  backend/app/agent/listen_chat_agent.py
  backend/app/model/provider_wait.py
  backend/app/run_journal/model_capture.py
  backend/tests/app/model/test_provider_wait_lifecycle.py
Due: node licenses/update_license.js

test: isolate provider lifecycle fixtures from package imports
  backend/tests/app/model/test_provider_wait_lifecycle.py
Due: node licenses/update_license.js

fix: install model observers before Responses input adapter
  backend/app/agent/agent_model.py
  backend/tests/app/model/test_responses_input.py
Due: node licenses/update_license.js

fix: keep terminal preflight free of runtime setup
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/tests/app/agent/toolkit/test_terminal_preflight_integration.py
Due: node licenses/update_license.js

fix: preserve terminal metadata across tool registration
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/tests/app/agent/toolkit/test_terminal_tool_schema.py
Due: node licenses/update_license.js

fix: scope Electron build cleanup to owned outputs (#1918)
  package.json
  scripts/run-changed-vitest.mjs
  test/unit/electron/buildConfig.test.ts
  vite.config.ts
Due: node licenses/update_license.js, prettier --write

fix: batch workspace file previews safely (#1917)
  electron/main/fileReader.ts
  electron/main/index.ts
  src/components/Session/SidePanel/sections/buildProjectSessionPanelData.ts
  src/components/Session/SidePanel/sections/useProjectOutputFiles.ts
  src/shared/filePreviewContract.ts
  test/unit/components/Folder/FilePreview.test.tsx
  test/unit/components/Folder/FileViewerPanel.test.tsx
  test/unit/components/Session/ActivityPanel.test.tsx
  test/unit/components/Session/SidePanelSections/useProjectOutputFiles.test.tsx
  test/unit/components/buildProjectSessionPanelData.test.ts
  test/unit/electron/fileReaderPreview.test.ts
  test/unit/lib/filePreviewContract.test.ts
  test/unit/lib/filePreviewLoader.test.ts
Due: node licenses/update_license.js, prettier --write

fix: isolate runtime files from workspace checkpoints (#1921)
  backend/app/agent/prompt.py
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/agent/toolkit/workspace_git_toolkit.py
  backend/app/artifacts.py
  backend/app/controller/workspace_git_controller.py
  backend/app/run_journal/store.py
  backend/app/run_runtime/tool_checkpoint.py
  backend/app/utils/file_utils.py
  backend/app/utils/runtime_storage.py
  backend/app/workspace_git/backend.py
  backend/app/workspace_git/mutation.py
  backend/app/workspace_git/path_policy.py
  backend/tests/app/agent/toolkit/test_terminal_tool_schema.py
  backend/tests/app/agent/toolkit/test_terminal_workspace.py
  backend/tests/app/run_runtime/test_tool_checkpoint.py
  backend/tests/app/test_artifact_scan_budget.py
  backend/tests/app/workspace_git/test_lifecycle.py
  backend/tests/app/workspace_git/test_path_budget.py
Due: node licenses/update_license.js

fix: normalize Responses images and propagate tool failures (#1923)
  backend/app/agent/agent_model.py
  backend/app/agent/toolkit/screenshot_toolkit.py
  backend/app/component/model_validation.py
  backend/app/model/responses_input.py
  backend/app/model/subscription_runtime/codex.py
  backend/tests/app/agent/toolkit/test_image_tool_failure.py
  backend/tests/app/model/test_codex_subscription_runtime.py
  backend/tests/app/model/test_responses_input.py
Due: node licenses/update_license.js

fix: restore session history and elapsed time (#1920)
  src/components/ChatBox/EventNativeProjectTimeline.tsx
  src/components/ChatBox/TimelineModes/NarrativeTimeline.tsx
  src/hooks/useProjectEventRuntime.tsx
  src/hooks/useProjectEventStoreHydration.ts
  src/lib/projector/chat/presentation/reconcileProjectedRuns.ts
  src/lib/projector/chat/selectors.ts
  src/lib/projector/chat/types.ts
  src/lib/projector/index.ts
  src/lib/projector/reduce.ts
  src/lib/projector/types.ts
  src/service/projectEventStoreHydration.ts
  src/store/projectEventStore.ts
  test/unit/components/ChatBox/EventNativeProjectTimeline.test.tsx
  test/unit/components/ChatBox/TimelineModes.test.tsx
  test/unit/hooks/useProjectEventStoreHydration.test.tsx
  test/unit/lib/chatTimelinePresentation.test.ts
  test/unit/lib/projector.test.ts
  test/unit/service/projectControlHistoryHydration.test.ts
  test/unit/service/projectEventStoreHydration.test.ts
  test/unit/store/sessionHistoryRetention.test.ts
Due: node licenses/update_license.js, prettier --write

fix: clarify queued task controls and preserve session identity
  backend/app/controller/chat_controller.py
  backend/app/service/chat_service.py
  backend/app/service/single_agent_service.py
  backend/app/service/task.py
  backend/tests/app/controller/test_chat_controller.py
  server/app/domains/chat/api/history_controller.py
  server/app/domains/space/service/space_service.py
  server/tests/test_chat_history_update_guards.py
  src/components/ChatBox/BottomBox/InputBox.tsx
  src/components/ChatBox/BottomBox/QueuedBox.css
  src/components/ChatBox/BottomBox/QueuedBox.tsx
  src/components/ChatBox/BottomBox/index.tsx
  src/components/ChatBox/BottomBox/useQueueReorder.ts
  src/components/ChatBox/index.tsx
  src/components/ChatBox/runControlArbitration.ts
  src/components/Home/hooks/useHomeHubProjects.ts
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/service/followUpQueueApi.ts
  src/store/chatStore.ts
  src/store/projectStore.ts
  src/store/spaceStore.ts
  test/unit/components/ChatBox.test.tsx
  test/unit/components/ChatBox/BottomBox/BottomBox.test.tsx
  test/unit/components/ChatBox/BottomBox/InputBox.test.tsx
  test/unit/components/ChatBox/BottomBox/QueuedBox.test.tsx
  test/unit/components/ChatBox/runControlArbitration.test.ts
  test/unit/service/followUpQueueApi.test.ts
  test/unit/store/queueReorder.test.ts
  test/unit/store/sessionName.test.ts
Due: node licenses/update_license.js, prettier --write

test: avoid jsdom modal selector stalls in queue menus
  test/unit/components/ChatBox/BottomBox/QueuedBox.test.tsx
Due: node licenses/update_license.js, prettier --write

docs: plan file preview classification and PDF recovery
  docs/issues/preview-panel/file-preview.md
Due: none

docs: plan browser preview handoff and server lifecycle
  docs/issues/preview-panel/browser-preview.md
Due: none

docs: plan terminal replay and agent output access
  docs/issues/preview-panel/terminal-preview.md
Due: none

fix: keep memory provenance rejections recoverable (#1919)
  backend/app/agent/listen_chat_agent.py
  backend/app/agent/toolkit/memory_toolkit.py
  backend/app/lightweight_memory/service.py
  backend/app/run_runtime/tool_checkpoint.py
  backend/app/tool_validation.py
  backend/tests/app/agent/toolkit/test_memory_provenance_rejection.py
Due: node licenses/update_license.js

fix: coordinate provider retries and cancellation (#1925)
  backend/app/agent/agent_model.py
  backend/app/agent/listen_chat_agent.py
  backend/app/model/provider_wait.py
  backend/app/run_journal/model_capture.py
  backend/app/run_runtime/active_timeout.py
  backend/app/run_runtime/execution_observation.py
  backend/app/run_runtime/tool_checkpoint.py
  backend/tests/app/agent/test_agent_model.py
  backend/tests/app/model/test_provider_wait.py
  backend/tests/app/model/test_provider_wait_lifecycle.py
Due: node licenses/update_license.js

fix: preserve model effort with versioned capabilities (#1916)
  backend/app/agent/agent_model.py
  backend/app/component/model_validation.py
  backend/app/controller/chat_controller.py
  backend/app/model/effort.py
  backend/app/service/task.py
  backend/app/workspace_config/__init__.py
  backend/app/workspace_config/admission.py
  backend/app/workspace_config/capabilities.py
  backend/app/workspace_config/model_capabilities.json
  backend/app/workspace_config/models.py
  backend/app/workspace_config/resolver.py
  backend/tests/app/agent/test_agent_model.py
  backend/tests/app/agent/test_model_effort_pipeline.py
  backend/tests/app/component/test_model_validation.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/controller/test_model_effort_admission.py
  backend/tests/app/controller/test_model_effort_follow_up.py
  backend/tests/app/model/test_effort.py
  backend/tests/app/workspace_config/test_admission.py
  backend/tests/app/workspace_config/test_capabilities.py
  backend/tests/app/workspace_config/test_models.py
  backend/tests/run_isolated.py
  docs/model-capabilities.md
Due: node licenses/update_license.js

fix: bound incremental memory extraction (#1922)
  backend/app/lightweight_memory/maintainer.py
  backend/app/lightweight_memory/service.py
  backend/app/run_journal/models.py
  backend/app/run_journal/store.py
  backend/tests/app/lightweight_memory/test_extraction_budget.py
  backend/tests/run_isolated_memory_tests.py
Due: node licenses/update_license.js

fix: serialize workspace writers and settle terminal lifecycle (#1924)
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/run_journal/store.py
  backend/app/run_runtime/coordinator.py
  backend/app/run_runtime/tool_checkpoint.py
  backend/app/service/task.py
  backend/app/utils/listen/toolkit_listen.py
  backend/app/workspace_git/lifecycle.py
  backend/app/workspace_git/mutation.py
  backend/tests/app/agent/toolkit/test_terminal_output_queue.py
  backend/tests/app/agent/toolkit/test_terminal_toolkit.py
  backend/tests/app/agent/toolkit/test_terminal_workspace.py
  backend/tests/app/agent/toolkit/test_writer_lifecycle.py
  backend/tests/app/run_runtime/test_coordinator.py
  backend/tests/app/run_runtime/test_tool_checkpoint.py
  backend/tests/app/service/test_task.py
  backend/tests/app/workspace_git/test_mutation.py
Due: node licenses/update_license.js

fix: Preserve Run aggregate authority during history refresh
  src/lib/projector/index.ts
  test/unit/service/runStateHistoryIntegration.test.ts
Due: node licenses/update_license.js, prettier --write

fix: Anchor history refreshes to explicit Run state
  src/lib/projector/index.ts
  test/unit/service/runStateHistoryIntegration.test.ts
Due: node licenses/update_license.js, prettier --write

fix: add read-only toolchain and recovery preflight (#1926)
  backend/app/agent/prompt.py
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/permission_policy/tool_actions.py
  backend/app/utils/toolchain_preflight.py
  backend/tests/app/agent/toolkit/test_terminal_preflight_integration.py
  backend/tests/app/agent/toolkit/test_terminal_tool_schema.py
  backend/tests/app/agent/toolkit/test_terminal_toolkit.py
  backend/tests/app/agent/toolkit/test_toolchain_preflight.py
Due: node licenses/update_license.js

fix: Reconcile Run state after stream interruptions (#1927)
  backend/app/controller/run_controller.py
  backend/tests/app/controller/test_run_controller.py
  src/hooks/useProjectEventStoreHydration.ts
  src/lib/projector/control/reduce.ts
  src/lib/projector/control/selectors.ts
  src/lib/projector/control/types.ts
  src/lib/projector/index.ts
  src/lib/projector/reduce.ts
  src/lib/projector/runSummary.ts
  src/lib/projector/types.ts
  src/lib/runEvents/projectionStore.ts
  src/lib/runEvents/registry.ts
  src/service/projectRunEventStream.ts
  src/service/reconcileLegacyRunState.ts
  src/service/runStateReconciliation.ts
  src/store/chatStore.ts
  src/store/projectEventStore.ts
  test/unit/hooks/useProjectEventStoreHydration.test.tsx
  test/unit/service/projectRunEventStream.test.ts
  test/unit/service/runStateHistoryIntegration.test.ts
  test/unit/service/runStateReconciliation.test.ts
Due: node licenses/update_license.js, prettier --write

fix: allow HTML previews up to 10 MiB
  src/lib/filePreviewLoader.ts
  src/shared/filePreviewContract.ts
  test/unit/electron/fileReaderPreview.test.ts
  test/unit/lib/filePreviewContract.test.ts
  test/unit/lib/filePreviewLoader.test.ts
Due: node licenses/update_license.js, prettier --write

fix: recover unsupported previews and render PDFs reliably
  docs/design-system/design.md
  docs/issues/preview-panel/file-preview.md
  electron/main/fileReader.ts
  package.json
  src/components/Folder/FileOpenActions.tsx
  src/components/Folder/FilePreview.tsx
  src/components/Folder/PdfPreview.tsx
  src/components/Folder/PreviewRecovery.tsx
  src/components/Folder/index.tsx
  src/components/ui/split-button.tsx
  src/i18n/locales/ar/folder.json
  src/i18n/locales/de/folder.json
  src/i18n/locales/en-us/folder.json
  src/i18n/locales/es/folder.json
  src/i18n/locales/fr/folder.json
  src/i18n/locales/it/folder.json
  src/i18n/locales/ja/folder.json
  src/i18n/locales/ko/folder.json
  src/i18n/locales/ru/folder.json
  src/i18n/locales/zh-Hans/folder.json
  src/i18n/locales/zh-Hant/folder.json
  src/lib/codePresentation.ts
  src/lib/filePreviewLoader.ts
  src/lib/pdfPreview.ts
  src/lib/pdfPreviewRange.ts
  src/shared/filePreviewContract.ts
  test/unit/components/Folder/FilePreview.test.tsx
  test/unit/components/Folder/FileViewerPanel.test.tsx
  test/unit/components/Folder/FolderLayout.test.tsx
  test/unit/components/Folder/PdfPreview.test.tsx
  test/unit/components/SplitButton.test.tsx
  test/unit/electron/fileReaderPreview.test.ts
  test/unit/lib/filePreviewContract.test.ts
  test/unit/lib/filePreviewLoader.test.ts
  test/unit/lib/pdfPreviewRange.test.ts
Due: node licenses/update_license.js, prettier --write

fix: reveal local browser previews and recover failed loads
  docs/issues/preview-panel/browser-preview.md
  src/components/Folder/index.tsx
  src/components/Session/PreviewPanel/index.tsx
  src/components/Session/PreviewPanel/tabs/browser/BrowserTab.tsx
  src/components/Session/PreviewPanel/tabs/browser/PreviewBrowserLayer.tsx
  src/components/Session/SidePanel/components/ActivityPanel.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/lib/browserPreviewHandoff.ts
  src/lib/htmlLocalAssets.ts
  src/store/chatStore.ts
  src/store/pageTabStore.ts
  test/e2e/preview-browser/main.cjs
  test/e2e/preview-browser/preload.cjs
  test/e2e/preview-browser/renderer.tsx
  test/e2e/preview-browser/verify.mjs
  test/screenshots/browser-preview/offline-html.png
  test/screenshots/browser-preview/unavailable-dark.png
  test/screenshots/browser-preview/unavailable-light.png
  test/unit/components/Session/PreviewBrowserLayer.test.tsx
  test/unit/lib/browserPreviewHandoff.test.ts
  test/unit/lib/htmlLocalAssets.test.ts
  test/unit/store/pageTabStore.preview.test.ts
Due: node licenses/update_license.js, prettier --write
