Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

fix: replace hardcoded credentials in docker-compose and harden server/.gitignore (#1527)
  server/.env.example
  server/.gitignore
  server/docker-compose.dev.yml
  server/docker-compose.yml
Due: none

fix: use per-task question when loading from history (#1366)
  src/components/HistorySidebar/index.tsx
  src/lib/replay.ts
  src/store/projectStore.ts
Due: node licenses/update_license.js, prettier --write

fix: improve dark mode code block contrast in markdown (#1253)
  src/style/markdown-styles.css
Due: none

docs: refine welcome, quick start, and open-source pages
  docs/docs.json
  docs/get_started/quick_start.md
  docs/get_started/welcome.md
  docs/images/logo-dark.png
  docs/images/logo-light.png
  docs/open-source/overview.md
Due: none

docs: refine welcome, quick start, and open-source pages (#1680)
  docs/docs.json
  docs/get_started/quick_start.md
  docs/get_started/welcome.md
  docs/images/logo-dark.png
  docs/images/logo-light.png
  docs/open-source/overview.md
Due: none

fix/human-in-the-loop respond loop
  src/components/ChatBox/index.tsx
Due: node licenses/update_license.js, prettier --write

feat: refine workforce trace rendering in TaskWorkLogAccordion
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
  test/unit/components/TaskWorkLogAccordion.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: align cloud model lists across ChatBox, AddWorker, and Settings
  src/components/AddWorker/index.tsx
  src/components/ChatBox/BottomBox/ChatInputModelDropdown.tsx
  src/store/authStore.ts
Due: node licenses/update_license.js, prettier --write

unblock event loop and narrow space file-list fanout
  backend/app/controller/file_controller.py
  backend/app/utils/file_utils.py
  src/api/http.ts
  src/components/Folder/index.tsx
Due: node licenses/update_license.js, prettier --write

block new Project creation in legacy Spaces
  src/components/SpacesHub/index.tsx
  src/components/Workspace/index.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/lib/spaceLabel.ts
  src/lib/spaceProject.ts
Due: node licenses/update_license.js, prettier --write

Fix/added icon fallback for custom and single agent mode
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
Due: node licenses/update_license.js, prettier --write

feat: refine workforce trace rendering (#1681)
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
  test/unit/components/TaskWorkLogAccordion.test.tsx
Due: node licenses/update_license.js, prettier --write

feat(project): cache reconstructed chat state to skip SSE replay on revisit
  src/components/Dashboard/GroupedHistoryView/ProjectGroup.tsx
  src/components/Dialog/SearchHistoryDialog.tsx
  src/components/HistorySidebar/index.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/Session/index.tsx
  src/components/SpacesHub/index.tsx
  src/components/TopBar/index.tsx
  src/lib/index.ts
  src/lib/projectCache.ts
  src/lib/replay.ts
  src/pages/Home/hooks/useHomeHubNavigation.ts
  src/store/authStore.ts
  src/store/chatStore.ts
  src/store/projectStore.ts
Due: node licenses/update_license.js, prettier --write

feat: cache reconstructed chat state to skip SSE replay on revisit (#1683)
  backend/app/controller/file_controller.py
  backend/app/utils/file_utils.py
  src/api/http.ts
  src/components/Dashboard/GroupedHistoryView/ProjectGroup.tsx
  src/components/Dialog/SearchHistoryDialog.tsx
  src/components/Folder/index.tsx
  src/components/HistorySidebar/index.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/Session/index.tsx
  src/components/SpacesHub/index.tsx
  src/components/TopBar/index.tsx
  src/lib/index.ts
  src/lib/projectCache.ts
  src/lib/replay.ts
  src/pages/Home/hooks/useHomeHubNavigation.ts
  src/store/authStore.ts
  src/store/chatStore.ts
  src/store/projectStore.ts
Due: node licenses/update_license.js, prettier --write

fix backend env live reload
  .gitignore
  backend/app/component/environment.py
  backend/tests/app/component/test_environment.py
Due: node licenses/update_license.js

fix task splitting plan display
  src/components/ChatBox/TaskBox/PlanTaskBox/utils.ts
  src/components/ChatBox/UserQueryGroup.tsx
  test/integration/components/ChatBox.integration.test.tsx
  test/unit/components/PlanTaskBoxUtils.test.ts
Due: node licenses/update_license.js, prettier --write

fix decompose stream chunk text
  backend/app/service/chat_service.py
  backend/tests/app/service/test_chat_service.py
  src/components/ChatBox/TaskBox/PlanTaskBox/utils.ts
  test/unit/components/PlanTaskBoxUtils.test.ts
Due: node licenses/update_license.js, prettier --write

fix task splitting plan display (#1685)
  backend/app/service/chat_service.py
  backend/tests/app/service/test_chat_service.py
  src/components/ChatBox/TaskBox/PlanTaskBox/utils.ts
  src/components/ChatBox/UserQueryGroup.tsx
  test/integration/components/ChatBox.integration.test.tsx
  test/unit/components/PlanTaskBoxUtils.test.ts
Due: node licenses/update_license.js, prettier --write

fix backend env live reload (#1684)
  .gitignore
  backend/app/component/environment.py
  backend/tests/app/component/test_environment.py
Due: node licenses/update_license.js

update ui chagnes
  .claude/launch.json
  electron/main/index.ts
  src/components/ChatBox/BottomBox/ChatInputModelDropdown.tsx
  src/components/ChatBox/BottomBox/InputBox.tsx
  src/components/Dialog/EndNotice.tsx
  src/components/Dialog/ReportBugDialog.tsx
  src/components/ProjectPageSidebar/ProjectNavList.tsx
  src/components/ProjectPageSidebar/ProjectNavListRows.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/TopBar/index.tsx
  src/pages/Home/components/HomeHubCard.tsx
  src/pages/Home/components/HomeHubItemShared.tsx
  src/pages/Home/components/HomeHubListTable.tsx
Due: node licenses/update_license.js, prettier --write

update ui chagnes (#1686)
  .claude/launch.json
  electron/main/index.ts
  src/components/ChatBox/BottomBox/ChatInputModelDropdown.tsx
  src/components/ChatBox/BottomBox/InputBox.tsx
  src/components/Dialog/EndNotice.tsx
  src/components/Dialog/ReportBugDialog.tsx
  src/components/ProjectPageSidebar/ProjectNavList.tsx
  src/components/ProjectPageSidebar/ProjectNavListRows.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/TopBar/index.tsx
  src/pages/Home/components/HomeHubCard.tsx
  src/pages/Home/components/HomeHubItemShared.tsx
  src/pages/Home/components/HomeHubListTable.tsx
Due: node licenses/update_license.js, prettier --write

fix zai platform alias
  backend/app/model/model_platform.py
  backend/tests/app/model/test_model_platform.py
Due: node licenses/update_license.js

[codex] fix zai platform alias (#1687)
  backend/app/model/model_platform.py
  backend/tests/app/model/test_model_platform.py
Due: node licenses/update_license.js

chore: reorder custom model providers in BYOK list
  src/lib/llm.ts
Due: node licenses/update_license.js, prettier --write

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

feat(frontend): load cloud models from server
  src/api/http.ts
  src/components/AddWorker/index.tsx
  src/components/ChatBox/BottomBox/ChatInputModelDropdown.tsx
  src/hooks/useModelConfigCheck.ts
  src/lib/providerStatus.ts
  src/pages/Agents/Models.tsx
  src/store/authStore.ts
  src/store/chatStore.ts
  src/store/cloudModelStore.ts
Due: node licenses/update_license.js, prettier --write

feat(frontend): load cloud models from server (#1689)
  src/api/http.ts
  src/components/AddWorker/index.tsx
  src/components/ChatBox/BottomBox/ChatInputModelDropdown.tsx
  src/hooks/useModelConfigCheck.ts
  src/lib/providerStatus.ts
  src/pages/Agents/Models.tsx
  src/store/authStore.ts
  src/store/chatStore.ts
  src/store/cloudModelStore.ts
Due: node licenses/update_license.js, prettier --write

feat/add thumbup&down visual response
  src/components/ChatBox/MessageItem/AgentMessageCard.tsx
Due: node licenses/update_license.js, prettier --write

fix(remote-control): fix multi-project deadlock, message loss & shared-browser tab collisions
  backend/app/agent/toolkit/hybrid_browser_toolkit.py
  backend/app/controller/chat_controller.py
  backend/app/controller/task_controller.py
  backend/app/utils/event_loop_utils.py
  backend/app/utils/listen/toolkit_listen.py
  src/components/Dispatch/index.tsx
  src/hooks/useRemoteControlBridge.ts
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/pages/RemoteControl.tsx
Due: node licenses/update_license.js, prettier --write

fix(remote-control): fix multi-project deadlock, message loss & shared-browser tab collisions
  backend/app/agent/toolkit/hybrid_browser_toolkit.py
  backend/app/controller/chat_controller.py
  backend/app/utils/event_loop_utils.py
  backend/app/utils/listen/toolkit_listen.py
Due: node licenses/update_license.js

fix(remote-control): fix multi-project deadlock and message loss (#1690)
  backend/app/agent/toolkit/hybrid_browser_toolkit.py
  backend/app/controller/chat_controller.py
  backend/app/controller/task_controller.py
  backend/app/utils/event_loop_utils.py
  backend/app/utils/listen/toolkit_listen.py
  src/components/Dispatch/index.tsx
  src/hooks/useRemoteControlBridge.ts
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/pages/RemoteControl.tsx
Due: node licenses/update_license.js, prettier --write

fix(electron): disable devtools shortcuts in packaged app
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

update content
  src/components/Dispatch/index.tsx
  src/components/Folder/index.tsx
  src/components/ProjectPageSidebar/NavTab.tsx
  src/components/ProjectPageSidebar/ProjectNavListRows.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/Trigger/index.tsx
  src/pages/Workspace.tsx
Due: node licenses/update_license.js, prettier --write

fix/layout iterate for clarity
  src/components/Folder/index.tsx
  src/components/ProjectPageSidebar/constants.ts
  src/components/ProjectPageSidebar/index.tsx
  src/pages/Workspace.tsx
Due: node licenses/update_license.js, prettier --write

chore(server): sync shared fixes
  server/app/domains/chat/api/history_controller.py
  server/app/domains/chat/api/snapshot_controller.py
  server/app/domains/chat/api/step_controller.py
  server/app/domains/chat/service/chat_service.py
  server/app/domains/model_provider/service/provider_service.py
  server/app/domains/remote_control/api/remote_control_controller.py
  server/app/domains/remote_control/service/remote_control_service.py
  server/app/domains/space/api/space_controller.py
  server/app/domains/space/service/apply_service.py
  server/app/domains/space/service/file_ops_guard.py
  server/app/domains/space/service/overlay_service.py
  server/app/domains/space/service/space_service.py
  server/app/domains/trigger/api/trigger_execution_controller.py
  server/app/model/chat/chat_step.py
  server/app/model/config/config.py
  server/app/model/provider/provider.py
  server/app/model/remote_sub_agent/provider.py
  server/app/shared/types/config_group.py
  server/tests/test_remote_sub_agent_provider.py
Due: node licenses/update_license.js

env set to production
  .env.development
Due: none

ci: pass remote control env vars to desktop builds
  .github/workflows/build-view.yml
  .github/workflows/build.yml
  .github/workflows/pre-build-view.yml
  .github/workflows/pre-build.yml
Due: none

fix: resolve release PR CI findings
  .claude/launch.json
  .claude/skills/animation-interface-demo.md
  .gitignore
  docs/agents/memory.md
  docs/core/models/local-model.md
  docs/models/provider-reference.md
  docs/settings/privacy.md
  src/components/Folder/index.tsx
  src/lib/htmlSanitization.ts
  test/unit/lib/htmlSanitization.test.ts
Due: node licenses/update_license.js, prettier --write

test: update backend tests for async queue contracts
  backend/tests/app/agent/test_agent_model.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/controller/test_task_controller.py
  backend/tests/app/controller/test_tool_controller.py
  backend/tests/app/service/test_chat_service.py
  backend/tests/app/utils/test_file_utils.py
  backend/tests/conftest.py
Due: node licenses/update_license.js

test: avoid browser launch in chat controller test
  backend/tests/app/controller/test_chat_controller.py
Due: node licenses/update_license.js
