Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

optimize code
  backend/app/agent/factory/browser.py
  backend/app/agent/listen_chat_agent.py
  backend/app/agent/toolkit/hybrid_browser_toolkit.py
  backend/app/utils/single_agent_worker.py
  backend/app/utils/workforce.py
  electron/main/index.ts
  src/pages/Dashboard/Browser.tsx
Due: node licenses/update_license.js, prettier --write

chore: exclude md files from lint-staged and revert formatting changes
  .lintstagedrc.json
  README.md
  README_CN.md
  README_JA.md
  README_PT-BR.md
  docs/core/models/gemini.md
  docs/core/models/kimi.md
  docs/core/models/minimax.md
  server/README_CN.md
  server/README_EN.md
  server/README_PT-BR.md
Due: none

style: fix ruff format in browser.py
  backend/app/agent/factory/browser.py
Due: node licenses/update_license.js

update frontend chore code
  backend/app/agent/factory/browser.py
  backend/app/model/chat.py
  backend/app/utils/workforce.py
  electron/preload/index.ts
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/pages/Dashboard/Browser.tsx
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

docs: add snapshot for subtask overflow-wrap fix
  docs/pr-assets/pr-1273-subtask-overflow-wrap.png
Due: none

feat: implement performance instrumentation v2
  backend/app/agent/listen_chat_agent.py
  backend/app/service/chat_service.py
  backend/app/utils/perf_timer.py
  backend/app/utils/single_agent_worker.py
  backend/app/utils/workforce.py
  backend/main.py
  backend/pyproject.toml
  backend/tests/unit/utils/test_perf_timer.py
  electron/main/init.ts
  sample_output.pptx
Due: node licenses/update_license.js, prettier --write

feat: add support for playing audio and video files
  src/components/Folder/index.tsx
Due: node licenses/update_license.js, prettier --write

fix: adjust layout and styling for audio loader component
  src/components/Folder/index.tsx
Due: node licenses/update_license.js, prettier --write

chore: highlight Testing Evidence in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: highlight Testing Evidence in PR template (#1287)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

minor enhance
  src/components/Folder/index.tsx
Due: node licenses/update_license.js, prettier --write

feat: add support for playing audio and video files (#1286)
  src/components/Folder/index.tsx
Due: node licenses/update_license.js, prettier --write

Potential fix for code scanning alert no. 104: Information exposure through an exception
  server/app/controller/trigger/webhook_controller.py
Due: node licenses/update_license.js

fix: production safety audit — 4 critical bugs across backend, server, and electron
  backend/app/agent/listen_chat_agent.py
  backend/app/controller/chat_controller.py
  backend/tests/app/agent/test_listen_chat_agent.py
  backend/tests/app/controller/test_chat_controller.py
  electron/main/index.ts
  server/app/component/auth.py
Due: node licenses/update_license.js, prettier --write

fix: patch 5 security vulnerabilities across electron, server, and proxy layers
  electron/main/index.ts
  server/app/controller/mcp/proxy_controller.py
  server/app/model/chat/chat_share.py
  server/tests/__init__.py
  server/tests/test_chat_share.py
  server/tests/test_proxy_controller.py
  test/unit/electron/main/index.test.ts
Due: node licenses/update_license.js, prettier --write

fix: enforce authentication on unauthenticated endpoints and harden auth_must
  server/app/component/auth.py
  server/app/controller/chat/share_controller.py
  server/app/controller/chat/snapshot_controller.py
  server/tests/test_auth.py
Due: node licenses/update_license.js

fix: cloud model platform match aws bedrock for claude 4.5
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

fix: cloud model platform match aws bedrock for claude 4.5 (#1295)
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

fix: clear copy timeout on unmount
  src/components/ChatBox/MessageItem/FeedbackCard.tsx
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
Due: node licenses/update_license.js, prettier --write

feat: add drag-drop file upload (#1258)
  electron/main/index.ts
  electron/preload/index.ts
  src/components/ChatBox/BottomBox/InputBox.tsx
  src/components/ChatBox/index.tsx
  src/lib/fileUtils.ts
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

fix: update pre-commit workflow to use git ls-files as requested by reviewer
  .github/workflows/pre-commit.yml
Due: none

update
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

fix: navigating into empty project with triggers
  src/components/GroupedHistoryView/ProjectGroup.tsx
  src/components/GroupedHistoryView/index.tsx
  src/components/HistorySidebar/index.tsx
Due: node licenses/update_license.js, prettier --write

Fix Reset button to restore default API host instead of clearing (#1183)
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

Feat #1255: update copy button status by displaying popup and setting… (#1259)
  src/components/ChatBox/MessageItem/AgentMessageCard.tsx
  src/components/ChatBox/MessageItem/FeedbackCard.tsx
  src/components/ChatBox/MessageItem/UserMessageCard.tsx
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
Due: node licenses/update_license.js, prettier --write

feat: enhance model validation with detailed error messages and diagnostics (#1155)
  .github/workflows/pre-commit.yml
  backend/app/component/model_validation.py
  backend/app/controller/model_controller.py
  backend/tests/app/component/test_model_validation.py
  backend/tests/app/controller/test_model_controller.py
Due: node licenses/update_license.js

fix: load final state on project entry; replay only on Replay button (Issue #1227) (#1234)
  src/components/GroupedHistoryView/ProjectDialog.tsx
  src/components/GroupedHistoryView/ProjectGroup.tsx
  src/components/GroupedHistoryView/index.tsx
  src/components/HistorySidebar/index.tsx
  src/components/SearchHistoryDialog.tsx
  src/lib/index.ts
  src/lib/replay.ts
  src/pages/Dashboard/Project.tsx
  src/store/chatStore.ts
  src/store/projectStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: comprehensive security hardening and bug fixes across all codebases
  backend/app/component/environment.py
  backend/app/controller/tool_controller.py
  backend/app/service/task.py
  backend/app/utils/cookie_manager.py
  backend/app/utils/oauth_state_manager.py
  backend/tests/app/component/test_environment.py
  backend/tests/app/service/test_task_lock_mutex.py
  backend/tests/app/utils/test_cookie_manager.py
  backend/tests/app/utils/test_oauth_state_manager.py
  electron/main/fileReader.ts
  electron/main/index.ts
  electron/main/update.ts
  server/app/component/auth.py
  server/app/controller/chat/history_controller.py
  server/app/controller/mcp/mcp_controller.py
  server/app/controller/mcp/user_controller.py
  server/app/controller/redirect_controller.py
  server/app/controller/user/login_controller.py
  server/app/model/chat/chat_snpshot.py
  server/tests/test_security_fixes.py
  src/components/ui/input.tsx
  src/components/ui/textarea.tsx
  src/lib/index.ts
  src/store/chatStore.ts
  test/unit/electron/fileReader.test.ts
  test/unit/lib/securityFixes.test.ts
  test/unit/store/chatStore-divisionByZero.test.ts
Due: node licenses/update_license.js, prettier --write

chore: remove PR asset image from docs folder
  docs/pr-assets/pr-1273-subtask-overflow-wrap.png
Due: none

fix: content section margin
  src/pages/Setting/General.tsx
Due: node licenses/update_license.js, prettier --write

sync from disk for zip
  src/pages/Agents/components/SkillUploadDialog.tsx
  src/store/skillsStore.ts
Due: node licenses/update_license.js, prettier --write

:fire: move example skills
  resources/example-skills/code-reviewer/SKILL.md
  resources/example-skills/data-analyzer/SKILL.md
  resources/example-skills/data-analyzer/scripts/analyze.py
  resources/example-skills/default-config.json
  resources/example-skills/report-writer/SKILL.md
Due: node licenses/update_license.js

update duplicated file detection and root-level files copying
  electron/main/index.ts
  electron/preload/index.ts
  src/pages/Agents/components/SkillUploadDialog.tsx
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

resolve edge cases, skip symliks, truncatest very long names, race condition
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

Fix skill upload bug (#1278)
  electron/main/index.ts
  electron/preload/index.ts
  src/pages/Agents/components/SkillUploadDialog.tsx
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

:fire: remove social_media_agent
  src/pages/Agents/components/SkillListItem.tsx
Due: node licenses/update_license.js, prettier --write

fix: prevent subtask text from overflowing container (#1273)
  src/components/ChatBox/TaskBox/TaskCard.tsx
Due: node licenses/update_license.js, prettier --write

fix(ui): restore subtask border in unfocused state
  src/components/ChatBox/TaskBox/TaskItem.tsx
Due: node licenses/update_license.js, prettier --write

fix(ui): subtask overflow/borders, settings Preferred IDE card, chat … (#1246)
  src/components/ChatBox/TaskBox/TaskCard.tsx
  src/components/ChatBox/TaskBox/TaskItem.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/pages/Setting/General.tsx
Due: node licenses/update_license.js, prettier --write

enhance and fix
  src/components/WorkFlow/node.tsx
Due: node licenses/update_license.js, prettier --write
