Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

fix: keep bundle reference preflight scoped to the referenced resources
  backend/app/workspace_bundle/authoring.py
  backend/tests/app/workspace_bundle/test_authoring.py
  src/service/spaceModelDiscovery.ts
  src/service/workspaceBundleReferencePreflight.ts
  test/unit/service/spaceModelDiscovery.test.ts
  test/unit/service/workspaceBundleReferencePreflight.test.ts
Due: node licenses/update_license.js, prettier --write

fix(brain): guard workdir deletion against active canonical Runs
  backend/app/artifacts.py
  backend/app/controller/workspace_controller.py
  backend/app/run_journal/__init__.py
  backend/app/run_journal/transitions.py
  backend/tests/app/controller/test_workspace_project_workdir.py
Due: node licenses/update_license.js

fix: state failure facts precisely for pending, timed-out, and long Runs
  src/components/ChatBox/MessageItem/TaskFailureSummary.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/service/runUsageReconciliation.ts
  test/unit/components/ChatBox/UserQueryGroup.test.tsx
  test/unit/service/runUsageReconciliation.test.ts
  test/unit/store/chatStore.failureFacts.test.ts
Due: node licenses/update_license.js, prettier --write

fix: restore per-Run ownership of confirmed input fallbacks
  src/components/ChatBox/EventTimeline/presentationPolicy.ts
  test/unit/components/ChatBox/EventTimeline/transcriptFallbacks.test.ts
  test/unit/components/ChatBox/failedFollowupHistory.test.tsx
  test/unit/lib/chatProjectionContract.test.ts
Due: node licenses/update_license.js, prettier --write

fix: align plan trial exhausted copy with trial notices
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  test/unit/components/TrialQuotaNotice.test.tsx
  test/unit/lib/trialQuotaCopy.test.ts
Due: node licenses/update_license.js, prettier --write

test: use production-shaped frames for superseded browser transport
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: keep readable and continuation guidance through response sanitization
  src/components/ChatBox/MessageItem/AgentMessageCard.tsx
  src/lib/localError.ts
  src/lib/notifyError.ts
  src/lib/responseError.ts
  src/lib/usageErrors.ts
  src/store/chatStore.ts
  test/unit/api/http.quotaPresentation.test.tsx
  test/unit/store/chatStore.quotaAdmission.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: record offline approval expiry before restart interruption
  backend/app/run_journal/store.py
  backend/tests/app/run_journal/test_approval_terminal_receipts.py
  test/unit/lib/approvalTerminalReasons.test.ts
Due: node licenses/update_license.js, prettier --write

fix: keep raw reasons out of the interrupted banner and revalidate BottomBox approvals
  src/components/ChatBox/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/lib/approvalPresentation.ts
  test/unit/components/ChatBox.spaceModelSelection.test.tsx
  test/unit/components/ChatBox/MessageItem/HumanInteractionCard.test.tsx
  test/unit/components/ChatBox/TimelineModes.test.tsx
Due: node licenses/update_license.js, prettier --write

fix(i18n): drop duplicated reuse note from approval receipt
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
Due: none

fix: note actions beyond the rendered failure list
  src/components/ChatBox/MessageItem/TaskFailureSummary.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  test/unit/components/ChatBox/UserQueryGroup.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: prevent interrupted waiters from taking the workspace writer (#1985)
  backend/app/run_journal/store.py
  backend/app/workspace_git/scheduler.py
  backend/app/workspace_runtime/store.py
  backend/tests/app/workspace_git/test_scheduler.py
Due: node licenses/update_license.js

fix: validate Workforce Resume context before routing
  backend/app/service/chat_service.py
  backend/tests/app/service/test_workforce_resume_context.py
Due: node licenses/update_license.js

fix: retain current Run context on legacy Resume
  backend/app/controller/chat_controller.py
  backend/app/run_journal/context_projection.py
  backend/app/service/chat_service.py
  backend/app/service/single_agent_service.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/run_journal/test_context_projection.py
Due: node licenses/update_license.js

fix: bound Resume context by mandatory recovery facts
  backend/app/run_journal/context_projection.py
  backend/app/service/chat_service.py
  backend/app/service/single_agent_service.py
  backend/tests/app/run_journal/test_context_projection.py
  backend/tests/app/service/test_single_agent_service.py
  backend/tests/app/service/test_workforce_resume_context.py
Due: node licenses/update_license.js

fix: validate bounded context before resuming a run (#1987)
  backend/app/controller/chat_controller.py
  backend/app/run_journal/context_projection.py
  backend/app/service/chat_service.py
  backend/app/service/single_agent_service.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/run_journal/test_context_projection.py
  backend/tests/app/service/test_single_agent_service.py
  backend/tests/app/service/test_workforce_resume_context.py
Due: node licenses/update_license.js

feat: align onboarding and profile work roles
  src/components/InstallStep/OnboardingSteps.tsx
  src/components/Settings/General/index.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/layout.json
  src/i18n/locales/zh-Hant/setting.json
  src/lib/workProfiles.ts
  src/store/authStore.ts
  test/unit/components/OnboardingProfileStep.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: recover bounded approval and stop requests (#1988)
  backend/app/controller/run_controller.py
  backend/app/run_journal/store.py
  backend/tests/app/controller/test_run_control_api.py
  src/api/http.ts
  src/components/ChatBox/BottomBox/useEventNativeHumanControl.ts
  src/components/ChatBox/ControlRecovery.tsx
  src/components/ChatBox/InterruptedRunBanner.tsx
  src/components/ChatBox/MessageItem/HumanInteractionCard.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/service/controlOperations.ts
  src/service/controlRequest.ts
  src/service/humanInteractionApi.ts
  src/service/humanInteractionCompletion.ts
  src/service/humanInteractionEventReconciliation.ts
  src/service/projectRunsApi.ts
  src/store/connectionStore.ts
  test/unit/api/controlRecovery.test.tsx
  test/unit/components/ChatBox.spaceModelSelection.test.tsx
  test/unit/components/ChatBox.test.tsx
  test/unit/components/ChatBox/BottomBox/useEventNativeHumanControl.test.tsx
  test/unit/components/ChatBox/MessageItem/HumanInteractionCard.test.tsx
  test/unit/service/humanInteractionApi.test.ts
  test/unit/service/humanInteractionCompletion.test.ts
  test/unit/service/humanInteractionEventReconciliation.test.ts
  test/unit/service/projectRunsApi.test.ts
Due: node licenses/update_license.js, prettier --write

fix: retain unlinked legacy replies as history evidence
  src/components/ChatBox/EventNativeProjectTimeline.tsx
  src/components/ChatBox/EventTimeline/EventTimeline.tsx
  src/components/ChatBox/EventTimeline/HistoryEvidence.tsx
  src/components/ChatBox/EventTimeline/legacyReplyEvidence.ts
  src/components/ChatBox/ProjectSection.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/store/chatStore.ts
  src/types/chatbox.d.ts
  test/fixtures/v104GuiInput.ts
  test/unit/components/ChatBox/EventNativeProjectTimeline.test.tsx
  test/unit/components/ChatBox/EventTimeline/HistoryEvidence.test.tsx
  test/unit/components/ChatBox/ProjectSection.test.tsx
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: retain resumed GUI input in durable history
  backend/app/controller/chat_controller.py
  backend/tests/app/controller/test_resumed_gui_input.py
  src/store/chatStore.ts
  test/unit/components/ChatBox/BottomBox/useEventNativeHumanControl.test.tsx
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: close resumed input retry and history gaps
  backend/app/controller/chat_controller.py
  backend/app/run_journal/store.py
  backend/tests/app/controller/test_resumed_gui_input.py
  src/components/ChatBox/EventTimeline/legacyReplyEvidence.ts
  src/components/ChatBox/EventTimeline/presentationPolicy.ts
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/lib/projectCache.ts
  test/unit/components/ChatBox/EventNativeProjectTimeline.test.tsx
  test/unit/components/ChatBox/EventTimeline/EventTimeline.test.tsx
  test/unit/components/ChatBox/EventTimeline/HistoryEvidence.test.tsx
  test/unit/lib/projectCache.test.ts
  test/unit/store/projectStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: gate legacy human replies on committed transition
  backend/app/controller/chat_controller.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/controller/test_resumed_gui_input.py
Due: node licenses/update_license.js

fix: identify remote human replies and keep reply conflicts as user errors
  backend/app/controller/chat_controller.py
  backend/tests/app/controller/test_resumed_gui_input.py
  src/hooks/useRemoteControlBridge.ts
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  test/unit/components/ChatBox/EventNativeProjectTimeline.test.tsx
  test/unit/components/ChatBox/EventTimeline/EventTimeline.test.tsx
  test/unit/components/ChatBox/EventTimeline/HistoryEvidence.test.tsx
  test/unit/components/ChatBox/ProjectSection.test.tsx
  test/unit/hooks/useRemoteControlBridge.test.ts
Due: node licenses/update_license.js, prettier --write

fix: memoize get_can_use_tools to prevent KeyError 'search_google' in parallel subtasks (#1741)
  backend/app/agent/toolkit/search_toolkit.py
Due: node licenses/update_license.js

fix(anthropic): coerce max_tokens through one shared normalizer
  backend/app/agent/agent_model.py
  backend/app/component/model_validation.py
  backend/app/model/max_tokens.py
  backend/tests/app/model/test_max_tokens.py
Due: node licenses/update_license.js

fix: prevent EROFS on Linux AppImage first launch (#1743)
  electron/main/utils/process.ts
Due: node licenses/update_license.js, prettier --write

feat: add DELETE project endpoint (#1699)
  server/app/domains/space/api/space_controller.py
  server/app/domains/space/service/space_service.py
Due: node licenses/update_license.js

fix(groq): ensure additionalProperties: false on all object schemas (#1511)
  backend/app/agent/agent_model.py
  backend/tests/app/agent/test_agent_model.py
Due: node licenses/update_license.js

fix: align profile cards with language step and trim roles
  src/components/InstallStep/OnboardingSteps.tsx
  src/components/Settings/General/index.tsx
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/lib/workProfiles.ts
  test/unit/components/OnboardingProfileStep.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: preserve resumed GUI input history (#1993)
  backend/app/controller/chat_controller.py
  backend/app/run_journal/store.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/controller/test_resumed_gui_input.py
  src/components/ChatBox/EventNativeProjectTimeline.tsx
  src/components/ChatBox/EventTimeline/EventTimeline.tsx
  src/components/ChatBox/EventTimeline/HistoryEvidence.tsx
  src/components/ChatBox/EventTimeline/legacyReplyEvidence.ts
  src/components/ChatBox/EventTimeline/presentationPolicy.ts
  src/components/ChatBox/ProjectSection.tsx
  src/hooks/useRemoteControlBridge.ts
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/lib/projectCache.ts
  src/store/chatStore.ts
  src/types/chatbox.d.ts
  test/fixtures/v104GuiInput.ts
  test/unit/components/ChatBox/BottomBox/useEventNativeHumanControl.test.tsx
  test/unit/components/ChatBox/EventNativeProjectTimeline.test.tsx
  test/unit/components/ChatBox/EventTimeline/EventTimeline.test.tsx
  test/unit/components/ChatBox/EventTimeline/HistoryEvidence.test.tsx
  test/unit/components/ChatBox/ProjectSection.test.tsx
  test/unit/hooks/useRemoteControlBridge.test.ts
  test/unit/lib/projectCache.test.ts
  test/unit/store/chatStore.test.ts
  test/unit/store/projectStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: ensure GIFs loop infinitely at generation level (fixes #1480)
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/service/chat_service.py
  backend/app/utils/file_utils.py
Due: node licenses/update_license.js

fix: log unrecoverable warm admission rollback
  backend/app/run_runtime/admission.py
Due: node licenses/update_license.js

fix(security): remove hardcoded credentials from docker-compose (#1527)
  server/docker-compose.dev.yml
  server/docker-compose.yml
Due: none

fix: Linux AppImage OAuth auth hang (#1525)
  electron-builder.json
  electron/main/index.ts
  electron/main/utils/linuxProtocol.ts
Due: node licenses/update_license.js, prettier --write

fix: make warm follow-up Git admission retryable (#1999)
  backend/app/controller/chat_controller.py
  backend/app/run_journal/models.py
  backend/app/run_journal/store.py
  backend/app/run_runtime/admission.py
  backend/app/run_runtime/coordinator.py
  backend/app/service/chat_service.py
  backend/app/service/single_agent_service.py
  backend/app/service/task.py
  backend/app/workspace_git/scheduler.py
  backend/tests/app/controller/test_warm_follow_up_git.py
  backend/tests/app/run_runtime/test_coordinator.py
Due: node licenses/update_license.js

fix: report accurate file preview state (#1989)
  electron/main/fileReader.ts
  src/components/Folder/index.tsx
  src/lib/filePreviewLoader.ts
  src/shared/filePreviewContract.ts
  test/unit/components/Folder/FileViewerPanel.test.tsx
  test/unit/electron/fileReaderPreview.test.ts
  test/unit/lib/filePreviewLoader.test.ts
Due: node licenses/update_license.js, prettier --write

feat: add profile step to onboarding and profile setting (#2009)
  src/components/InstallStep/OnboardingSteps.tsx
  src/components/Settings/General/index.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/layout.json
  src/i18n/locales/zh-Hant/setting.json
  src/lib/workProfiles.ts
  src/store/authStore.ts
  test/unit/components/OnboardingProfileStep.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: keep Session delete Run cancel retryable outside control recovery
  src/lib/sessionStop.ts
  test/unit/lib/sessionStop.test.ts
Due: node licenses/update_license.js, prettier --write

fix: clean up deleted Session files (#1997)
  backend/app/artifacts.py
  backend/app/controller/workspace_controller.py
  backend/app/run_journal/__init__.py
  backend/app/run_journal/transitions.py
  backend/app/utils/workspace_resolver.py
  backend/tests/app/controller/test_workspace_project_workdir.py
  electron/main/fileReader.ts
  electron/main/index.ts
  electron/main/utils/taskFileCleanup.ts
  src/components/Home/hooks/useHomeHubProjects.ts
  src/components/Home/index.tsx
  src/components/Session/DeleteSessionDialog.tsx
  src/components/SpaceSidebar/index.tsx
  src/components/ui/alertDialog.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/lib/sessionFileCleanup.ts
  src/lib/sessionStop.ts
  src/service/projectRunsApi.ts
  src/service/workspaceApi.ts
  test/unit/components/HomeSessionDeletion.test.tsx
  test/unit/components/SidebarSessionDeletion.test.tsx
  test/unit/electron/taskFileCleanup.test.ts
  test/unit/lib/sessionFileCleanup.test.ts
  test/unit/lib/sessionStop.test.ts
Due: node licenses/update_license.js, prettier --write

test: extend Session deletion mocks for nav status subscriptions
  test/unit/components/SidebarSessionDeletion.test.tsx
Due: node licenses/update_license.js, prettier --write

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
