Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

Update
  backend/benchmark/README.md
  backend/benchmark/dataset/0.json
  backend/benchmark/environment.py
Due: node licenses/update_license.js

chore: modify env development
  .env.development
Due: none

chore: modify env development (#1150)
  .env.development
Due: none

Update backend/app/agent/prompt.py
  backend/app/agent/prompt.py
Due: node licenses/update_license.js

fix: address PR review comments on cross-agent note sharing prompts
  backend/app/agent/prompt.py
Due: node licenses/update_license.js

refactor: apply pyupgrade --py311-plus syntax fixes
  backend/app/controller/chat_controller.py
  backend/app/service/chat_service.py
  backend/app/utils/workforce.py
Due: node licenses/update_license.js

chore: update Electron runtime to use Python 3.11
  electron/main/init.ts
  electron/main/install-deps.ts
  electron/main/utils/process.ts
Due: node licenses/update_license.js, prettier --write

ci: use Python 3.11 in test and pre-commit workflows
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
Due: none

style: fix isort, yapf, and autoflake issues in upgraded files
  backend/app/utils/toolkit/mcp_search_toolkit.py
Due: node licenses/update_license.js

chore: upgrade backend Python requirement to 3.11
  backend/.python-version
  backend/pyproject.toml
  backend/uv.lock
Due: none

chore: downgrade camel version to 0.2.85a0
  backend/pyproject.toml
  backend/uv.lock
  server/pyproject.toml
  server/uv.lock
Due: none

resolve broken SVG import issue
  src/components/AddWorker/ToolSelect.tsx
  src/pages/Setting/MCPMarket.tsx
Due: node licenses/update_license.js, prettier --write

fix: Windows venv initialization issues
  electron/main/utils/process.ts
  scripts/fix-symlinks.js
  scripts/fix-venv-paths.js
Due: node licenses/update_license.js, prettier --write

update
  backend/app/component/environment.py
  src/components/IntegrationList/index.tsx
  src/hooks/useIntegrationManagement.ts
Due: node licenses/update_license.js, prettier --write

fixed setting header transparentcy issue
  src/pages/History.tsx
Due: node licenses/update_license.js, prettier --write

minor update
  backend/pyproject.toml
Due: none

chore: fix app.tsx
  src/App.tsx
Due: node licenses/update_license.js, prettier --write

chore: hide ExpandedInputBox
  src/components/ChatBox/BottomBox/InputBox.tsx
Due: node licenses/update_license.js, prettier --write

fix: popover aschild recursive loop
  src/components/ui/popover.tsx
Due: node licenses/update_license.js, prettier --write

chore: splitting tasks translation
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
Due: none

refactor(rag): address PR review - extract constant, fix docstring, move tests, remove traceroot
  backend/app/utils/toolkit/rag_toolkit.py
  backend/tests/app/__init__.py
  backend/tests/app/utils/__init__.py
  backend/tests/app/utils/toolkit/__init__.py
  backend/tests/app/utils/toolkit/test_rag_toolkit.py
  backend/tests/unit/utils/toolkit/test_rag_toolkit.py
Due: node licenses/update_license.js

style: apply mdformat to markdown files
  CONTRIBUTING.md
  README.md
  README_CN.md
  README_JA.md
  README_PT-BR.md
  docs/core/models/gemini.md
  docs/core/models/kimi.md
  docs/core/models/minimax.md
  server/README_CN.md
  server/README_EN.md
  server/README_PT-BR.md
Due: none

pre commit fix
  backend/app/service/task.py
Due: node licenses/update_license.js

chore: upgrade backend Python to 3.11 (#1142)
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
  backend/.python-version
  backend/app/controller/chat_controller.py
  backend/app/service/chat_service.py
  backend/app/service/task.py
  backend/app/utils/toolkit/mcp_search_toolkit.py
  backend/app/utils/workforce.py
  backend/pyproject.toml
  backend/uv.lock
  electron/main/init.ts
  electron/main/install-deps.ts
  electron/main/utils/process.ts
Due: node licenses/update_license.js, prettier --write

fix(tests): remove __init__.py files from tests/app to fix import conflicts
  backend/tests/app/__init__.py
  backend/tests/app/utils/__init__.py
  backend/tests/app/utils/toolkit/__init__.py
Due: node licenses/update_license.js

fix: add create_note() alongside append_note() in prompt instructions
  backend/app/agent/prompt.py
Due: node licenses/update_license.js

feat: enhance model validation with detailed error messages and diagnostics
  backend/app/component/model_validation.py
  backend/app/controller/model_controller.py
Due: node licenses/update_license.js

style(tests): remove docstring from test_rag_toolkit.py
  backend/app/utils/toolkit/rag_toolkit.py
  backend/tests/app/utils/toolkit/test_rag_toolkit.py
Due: node licenses/update_license.js

Remove knowledge base from developer agent for now (per review)
  backend/app/agent/factory/developer.py
Due: node licenses/update_license.js

PR feedback: rename to sqlite_toolkit, FTS5/BM25 search, add tool only, remove remember_this prompt, ruff lint
  backend/app/agent/factory/developer.py
  backend/app/agent/prompt.py
  backend/app/controller/knowledge_controller.py
  backend/app/service/chat_service.py
  backend/app/utils/sqlite_toolkit.py
  backend/app/utils/toolkit/knowledge_base_toolkit.py
  backend/pyproject.toml
  backend/tests/unit/utils/test_knowledge_base.py
  backend/uv.lock
Due: node licenses/update_license.js

minor update
  backend/app/agent/prompt.py
Due: node licenses/update_license.js

feat: improve cross-agent file and note sharing (#1145)
  backend/app/agent/prompt.py
Due: node licenses/update_license.js

fix: apply pre-commit fixes (trailing whitespace and ruff format)
  backend/app/component/model_validation.py
  backend/app/controller/model_controller.py
Due: node licenses/update_license.js

fix: remove unused traceback_str variable
  backend/app/component/model_validation.py
Due: node licenses/update_license.js

feat(rag): make storage_type and embedding_model configurable
  backend/app/agent/tools.py
  backend/app/utils/toolkit/rag_toolkit.py
Due: node licenses/update_license.js

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
