Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

feat: add privacy consent checkbox to SignUp page
  src/pages/SignUp.tsx
Due: node licenses/update_license.js, prettier --write

feat: add i18n keys for privacy consent and help improve toggle
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
Due: none

refactor: remove privacy prop from InputBox
  src/components/ChatBox/BottomBox/InputBox.tsx
Due: node licenses/update_license.js, prettier --write

refactor: remove privacy gating from ChatBox
  src/components/ChatBox/index.tsx
Due: node licenses/update_license.js, prettier --write

refactor: replace Settings Privacy 4-toggle with Help Improve toggle
  src/pages/Setting/Privacy.tsx
Due: node licenses/update_license.js, prettier --write

refactor: remove privacy consent checkbox from Login/SignUp pages
  src/pages/Login.tsx
  src/pages/SignUp.tsx
Due: node licenses/update_license.js, prettier --write

test: update ChatBox tests for privacy consent migration
  test/integration/components/ChatBox.integration.test.tsx
  test/unit/components/ChatBox.test.tsx
Due: node licenses/update_license.js, prettier --write

feat: add help_improve field to UserPrivacySettings
  server/app/model/user/privacy.py
Due: node licenses/update_license.js

fix: restore missing en-us i18n keys and improve checkbox visibility
  src/components/ChatBox/index.tsx
  src/components/ui/checkbox.tsx
  src/i18n/locales/en-us/setting.json
Due: node licenses/update_license.js, prettier --write

fix: remove permissions install step, translate i18n keys, update docs
  docs/get_started/quick_start.md
  src/components/InstallStep/InstallDependencies.tsx
  src/components/InstallStep/Permissions.tsx
  src/hooks/useInstallationSetup.ts
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/store/authStore.ts
Due: node licenses/update_license.js, prettier --write

chore: delete unused Dialog/Privacy component
  src/components/Dialog/Privacy.tsx
Due: node licenses/update_license.js, prettier --write

chore: remove orphaned privacy i18n keys and unused asset
  src/assets/privacy_settings.png
  src/i18n/locales/ar/layout.json
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/layout.json
  src/i18n/locales/zh-Hant/setting.json
Due: none

chore: update test cases
  test/mocks/authStore.mock.ts
  test/unit/hooks/useInstallationSetup.test.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

chore: reset chatbox/index
  src/components/ChatBox/index.tsx
Due: node licenses/update_license.js, prettier --write

chore: update transilation
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
Due: none

enhance: remove privacy settings
  src/components/ChatBox/BottomBox/InputBox.tsx
  src/components/ChatBox/index.tsx
Due: node licenses/update_license.js, prettier --write

chore: revert missing model config check
  src/components/ChatBox/index.tsx
Due: node licenses/update_license.js, prettier --write

perf: implement bounded conversation history and caching optimizations
  backend/app/agent/factory/browser.py
  backend/app/agent/factory/developer.py
  backend/app/agent/factory/document.py
  backend/app/agent/prompt.py
  backend/app/agent/tools.py
  backend/app/agent/utils.py
  backend/app/service/chat_service.py
  backend/app/service/task.py
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

perf: add context compression for conversation history
  backend/app/service/task.py
Due: node licenses/update_license.js

fix: replace deprecated ImageAnalysisToolkit with ScreenshotToolkit in multi-modal
  backend/app/agent/factory/multi_modal.py
  backend/app/agent/prompt.py
  backend/app/agent/toolkit/image_analysis_toolkit.py
  backend/app/agent/tools.py
  backend/tests/app/agent/factory/test_multi_modal.py
  server/app/model/config/config.py
  server/app/type/config_group.py
  src/components/WorkFlow/index.tsx
  src/lib/toolkitIcons.tsx
  test/mocks/sse.mock.ts
Due: node licenses/update_license.js, prettier --write

fix: replace deprecated ImageAnalysisToolkit with ScreenshotToolkit i… (#1464)
  backend/app/agent/factory/multi_modal.py
  backend/app/agent/prompt.py
  backend/app/agent/toolkit/image_analysis_toolkit.py
  backend/app/agent/tools.py
  backend/tests/app/agent/factory/test_multi_modal.py
  server/app/model/config/config.py
  server/app/type/config_group.py
  src/components/WorkFlow/index.tsx
  src/lib/toolkitIcons.tsx
  test/mocks/sse.mock.ts
Due: node licenses/update_license.js, prettier --write

feat: add debug logging to build_conversation_context
  backend/app/service/chat_service.py
Due: node licenses/update_license.js

feat: improve compression with structured summary format
  backend/app/service/task.py
Due: node licenses/update_license.js

feat: add detailed logging for task resume context
  backend/app/controller/chat_controller.py
Due: node licenses/update_license.js

feat: add debug logging to get_recent_context
  backend/app/service/task.py
Due: node licenses/update_license.js

test: add tests for context compression and preservation
  backend/tests/app/service/test_task.py
Due: node licenses/update_license.js

update
  server/app/model/user/key.py
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Agents/Models.tsx
  src/store/authStore.ts
Due: node licenses/update_license.js, prettier --write

chore: add gpt-5.4 (#1465)
  server/app/model/user/key.py
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Agents/Models.tsx
  src/store/authStore.ts
Due: node licenses/update_license.js, prettier --write

feat: support benchmark + harbor
  backend/benchmark/harbor/adapter.py
  backend/benchmark/harbor/evaluate.py
  backend/benchmark/harbor/run_adapter.py
Due: node licenses/update_license.js

feat: support benchmark + harbor
  .github/workflows/lint-markdown.yml
  backend/benchmark/harbor/template/task.toml
Due: none

add dependency react-checkbox
  package.json
Due: none

add dependency react-checkbox (#1467)
  package.json
Due: none

enhance: support harbor for benchmark PR1466
  backend/benchmark/harbor/evaluate.py
  backend/benchmark/harbor/template/task.toml
Due: node licenses/update_license.js

release v0.0.87
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
Due: node licenses/update_license.js

fix scroll for html & pdf
  src/components/Folder/index.tsx
  src/style/index.css
Due: node licenses/update_license.js, prettier --write

fix scroll for html & pdf (#1470)
  src/components/Folder/index.tsx
  src/style/index.css
Due: node licenses/update_license.js, prettier --write

enhance: support harbor for benchmark PR1466 (#1468)
  backend/benchmark/harbor/evaluate.py
  backend/benchmark/harbor/template/task.toml
Due: node licenses/update_license.js

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
