Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

polish(frontend): refine sidebar navigation surfaces
  src/components/Dashboard/VerticalNav.tsx
  src/components/ProjectPageSidebar/ProjectNavList.tsx
  src/components/ProjectPageSidebar/SpaceSwitchDropdown.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/Workspace/index.tsx
  src/components/ui/tabs.tsx
  src/components/ui/tooltip.tsx
  src/pages/Workspace.tsx
Due: node licenses/update_license.js, prettier --write

add opus 4.8 model
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Agents/Models.tsx
  src/store/authStore.ts
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: enable draft file attachments before task creation
  src/components/Workspace/index.tsx
Due: node licenses/update_license.js, prettier --write

fix(chat): prevent follow-up prompts from reusing first task question
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix(chat): prevent follow-up prompts from reusing first task question (#1660)
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

feat: add Nebius Token Factory provider (#1646)
  backend/app/model/model_platform.py
  backend/tests/app/controller/test_model_controller.py
  backend/tests/app/model/test_chat.py
  backend/tests/app/model/test_model_platform.py
  docs/core/models/byok.md
  docs/get_started/quick_start.md
  src/lib/llm.ts
  src/pages/Agents/Models.tsx
  src/pages/Agents/localModels.ts
  test/unit/lib/llm.test.ts
Due: node licenses/update_license.js, prettier --write

feat: project-based workspace nav, Google Search connector, and chat UI polish
  .env.development
  src/components/ChatBox/BottomBox/InputBox.tsx
  src/components/ChatBox/BottomBox/RichChatInput.tsx
  src/components/ChatBox/MessageItem/AgentMessageCard.tsx
  src/components/ChatBox/MessageItem/UserMessageCard.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/index.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/Session/Workforce/FoldedPanel/AgentDetailPane.tsx
  src/components/TopBar/index.tsx
  src/components/Workspace/WorkspaceAllSessions.tsx
  src/components/Workspace/WorkspaceCoworkPanel.tsx
  src/components/Workspace/WorkspaceProjectPicker.tsx
  src/components/Workspace/WorkspaceRecentSessions.tsx
  src/components/Workspace/index.tsx
  src/components/ui/input.tsx
  src/components/ui/sonner.tsx
  src/components/ui/textarea.tsx
  src/pages/Connectors/MCP.tsx
  src/pages/Connectors/components/GoogleSearchPanel.tsx
  src/pages/History.tsx
  src/pages/Home/index.tsx
  src/style/markdown-styles.css
Due: node licenses/update_license.js, prettier --write

fix/ui refactor for remote control flow
  .env.development
  web-ui/src/components/remote/RemoteInputBox.tsx
  web-ui/src/components/remote/RemoteSidePanel.tsx
  web-ui/src/pages/ProfilePage.tsx
  web-ui/src/pages/ProjectDetailPage.tsx
  web-ui/src/pages/ProjectsPage.tsx
  web-ui/src/pages/RemoteControlPage.tsx
  web-ui/src/styles.css
Due: node licenses/update_license.js, prettier --write

feat: home hub space creation, MCP built-in connectors, and history nav polish
  src/assets/icon/google.svg
  src/components/AddWorker/ToolSelect.tsx
  src/components/Dashboard/VerticalNav.tsx
  src/components/TopBar/index.tsx
  src/components/Workspace/WorkspaceCoworkPanel.tsx
  src/components/ui/switch.tsx
  src/hooks/useIntegrationManagement.ts
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Agents/Skills.tsx
  src/pages/Agents/index.tsx
  src/pages/Browser/index.tsx
  src/pages/Channels/index.tsx
  src/pages/Connectors/MCP.tsx
  src/pages/Connectors/components/GoogleSearchPanel.tsx
  src/pages/History.tsx
  src/pages/Home/components/HomeHubToolbar.tsx
  src/pages/Setting/index.tsx
  src/store/spaceStore.ts
Due: node licenses/update_license.js, prettier --write

bug fix for agent folder file naming missalignment (#1633)
  electron/main/fileReader.ts
  src/components/Folder/index.tsx
Due: node licenses/update_license.js, prettier --write

fix: avoid reading unreferenced project images in HTML preview
  src/lib/htmlLocalAssets.ts
  test/unit/lib/htmlLocalAssets.test.ts
Due: node licenses/update_license.js, prettier --write

Normalize Windows drive-letter localfile URLs before resolving file p… (#1654)
  electron/main/index.ts
  src/components/ChatBox/MessageItem/MarkDown.tsx
  src/components/Folder/index.tsx
  src/lib/htmlLocalAssets.ts
  src/lib/htmlSanitization.ts
  test/unit/electron/main/index.test.ts
  test/unit/lib/htmlLocalAssets.test.ts
  test/unit/lib/htmlSanitization.test.ts
Due: node licenses/update_license.js, prettier --write

fix(chat): preserve per-task prompts during project history replay
  src/components/Dashboard/GroupedHistoryView/ProjectGroup.tsx
  src/components/Dialog/SearchHistoryDialog.tsx
  src/components/HistorySidebar/index.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/SpacesHub/index.tsx
  src/components/TopBar/index.tsx
  src/lib/historyPrompts.ts
  src/lib/index.ts
  src/lib/replay.ts
  src/pages/Home/hooks/useHomeHubNavigation.ts
  src/store/projectStore.ts
  test/unit/lib/replay.test.ts
Due: node licenses/update_license.js, prettier --write

feat: add TokenMix as a built-in OpenAI-compatible provider
  src/lib/llm.ts
Due: node licenses/update_license.js, prettier --write

fix(space): bind scratch spaces to Brain workspace roots
  backend/app/controller/workspace_controller.py
  src/components/Folder/index.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/SpacesHub/index.tsx
  src/components/TopBar/index.tsx
  src/components/Workspace/WorkspaceProjectPicker.tsx
  src/components/Workspace/index.tsx
  src/lib/scratchSpaceWorkspace.ts
  src/lib/spaceLabel.ts
  src/pages/Home/Spaces.tsx
  src/pages/Home/components/HomeHubToolbar.tsx
  src/service/workspaceApi.ts
  src/store/chatStore.ts
  src/store/spaceStore.ts
Due: node licenses/update_license.js, prettier --write

fix(remote-control): flush pending commands to desktop bridge
  server/app/domains/remote_control/api/remote_control_controller.py
  server/app/domains/remote_control/service/remote_control_service.py
  src/hooks/useRemoteControlBridge.ts
Due: node licenses/update_license.js, prettier --write

fix(remote-control): preserve remote follow-up prompt on desktop
  src/hooks/useRemoteControlBridge.ts
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

fix(folder): align local workspace breadcrumb label
  src/components/Folder/index.tsx
Due: node licenses/update_license.js, prettier --write

fix/adding run turn swtich for session side panel when runnign multi-turn task under one project
  .env.development
  src/components/BrowserAgentWorkspace/index.tsx
  src/components/ChatBox/MessageItem/MarkDown.tsx
  src/components/ChatBox/ProjectChatContainer.tsx
  src/components/ChatBox/ProjectSection.tsx
  src/components/ChatBox/TaskBox/TaskCard.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/index.tsx
  src/components/Folder/index.tsx
  src/components/ProjectPageSidebar/ProjectNavListRows.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/Session/SessionSidePanel.tsx
  src/components/Session/SessionSidePanelHeader.tsx
  src/components/Session/SidePanelSections/ProgressSection.tsx
  src/components/Session/SidePanelSections/useProjectOutputFiles.ts
  src/components/Session/SingleAgent/SingleAgentSidePanel.tsx
  src/components/Session/TurnTabs.tsx
  src/components/Session/Workforce/ExpandedOverlay.tsx
  src/components/Session/Workforce/WorkforceSidePanel.tsx
  src/components/TerminalAgentWorkspace/index.tsx
  src/components/Workspace/index.tsx
  src/hooks/useSelectedProjectTurn.ts
  src/lib/projectAchievement.ts
  src/lib/sessionNavLead.ts
  src/store/chatStore.ts
  src/store/pageTabStore.ts
  src/store/projectStore.ts
  test/unit/components/Workspace.test.tsx
  test/unit/hooks/useSelectedProjectTurn.test.tsx
  test/unit/lib/projectAchievement.test.ts
  test/unit/store/chatStore.test.ts
  test/unit/store/pageTabStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix provider configuration state
  server/app/domains/model_provider/service/provider_service.py
  server/app/model/provider/provider.py
  server/tests/test_provider_model.py
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

docs: complete BYOK provider list
  docs/core/models/byok.md
Due: none

docs: align workforce toolkit list
  docs/core/workforce.md
Due: none

docs: link SkillToolkit reference
  docs/core/workforce.md
Due: none

docs: fix Mintlify navigation and install warning
  docs/docs.json
  docs/get_started/installation.md
Due: none

docs: leave Mintlify config unchanged
  docs/docs.json
Due: none

docs: Update docs provider and toolkit references (#1667)
  docs/core/models/byok.md
  docs/core/workforce.md
  docs/get_started/installation.md
Due: none

fix(docs): update Python version requirement from 3.10 to 3.12 in server READMEs (#1579)
  server/README_CN.md
  server/README_EN.md
  server/README_PT-BR.md
Due: none

fix: correct PUT /api/v1/provider silently dropping model_type, endpoint_url, encrypted_config (#1627)
  server/app/domains/model_provider/service/provider_service.py
Due: node licenses/update_license.js

fix: replayActiveTask uses active task question instead of earliest across all tasks (fixes #1367)
  src/lib/replay.ts
Due: node licenses/update_license.js, prettier --write

fix: add DeepSeek, Z.ai, MiniMax, Moonshot, SambaNova to PLATFORM_ALIAS_MAPPING (fixes #1578, #1556)
  backend/app/model/model_platform.py
  backend/tests/app/model/test_model_platform.py
Due: node licenses/update_license.js

fix: add loop="infinite" to img tags to ensure GIFs play continuously (fixes #1480)
  src/components/ChatBox/MessageItem/MarkDown.tsx
Due: node licenses/update_license.js, prettier --write
