Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

fix: PEP8 line too long in task.py
  backend/app/service/task.py
Due: node licenses/update_license.js

style: yapf format task.py
  backend/app/service/task.py
Due: node licenses/update_license.js

fix: resolve chat_service.py conflict with main (keep KB integration)
  backend/app/service/chat_service.py
Due: node licenses/update_license.js

fix
  src/components/ThemeProvider.tsx
  src/pages/History.tsx
  src/pages/Home.tsx
Due: node licenses/update_license.js, prettier --write

Reapply "add authentication (login/signup) and improve search history management" (#1120)
  .gitignore
  .vscode/.debug.script.mjs
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  src/components/SearchHistoryDialog.tsx
  src/pages/Login.tsx
  src/pages/SignUp.tsx
  src/service/stackAuthApi.ts
  src/store/authStore.ts
  test/unit/components/SearchHistoryDialog.test.tsx
  test/unit/service/stackAuthApi.test.ts
  vite.config.ts
Due: node licenses/update_license.js, prettier --write

fix: resolve 4 bugs in PR #1021 auth and search history changes
  .vscode/tasks.json
  src/pages/Login.tsx
  src/pages/SignUp.tsx
Due: node licenses/update_license.js, prettier --write

update
  src/pages/Login.tsx
  src/pages/SignUp.tsx
Due: node licenses/update_license.js, prettier --write

update
  src/components/SearchHistoryDialog.tsx
  src/pages/Login.tsx
  src/pages/SignUp.tsx
Due: node licenses/update_license.js, prettier --write

fix
  src/pages/Login.tsx
  src/pages/SignUp.tsx
Due: node licenses/update_license.js, prettier --write

fix
  src/service/stackAuthApi.ts
  test/unit/service/stackAuthApi.test.ts
Due: node licenses/update_license.js, prettier --write

fix
  src/pages/Login.tsx
  src/pages/SignUp.tsx
  src/service/stackAuthApi.ts
Due: node licenses/update_license.js, prettier --write

enhance: dark mode icon
  backend/uv.lock
  src/components/Folder/FolderComponent.tsx
  src/components/Folder/ZoomControls.tsx
  src/components/Folder/index.tsx
  src/components/TopBar/index.tsx
  src/style/index.css
  src/style/markdown-styles.css
Due: node licenses/update_license.js, prettier --write

enhance: dark mode icon (#1122)
  backend/uv.lock
  src/components/Folder/FolderComponent.tsx
  src/components/Folder/ZoomControls.tsx
  src/components/Folder/index.tsx
  src/components/TopBar/index.tsx
  src/style/index.css
  src/style/markdown-styles.css
Due: node licenses/update_license.js, prettier --write

fix
  src/components/SearchHistoryDialog.tsx
  src/service/stackAuthApi.ts
  test/unit/components/SearchHistoryDialog.test.tsx
Due: node licenses/update_license.js, prettier --write

fix UI display issue
  src/components/ChatBox/BottomBox/InputBox.tsx
  src/components/ChatBox/MessageItem/AgentMessageCard.tsx
  src/components/ChatBox/MessageItem/MarkDown.tsx
  src/components/ChatBox/UserQueryGroup.tsx
Due: node licenses/update_license.js, prettier --write

chore(mcp): Add skills loader tooling
  mcp/skills-loader/index.js
  package.json
  scripts/get-skill.mjs
  skills/console-skill.md
  skills/pptx-skill.md
Due: prettier --write

chore(skills): Add placeholder README
  skills/README.md
  skills/console-skill.md
  skills/pptx-skill.md
Due: none

fix: enable proxy support to resolve
  electron/main/utils/process.ts
  resources/scripts/download.js
Due: node licenses/update_license.js, prettier --write

add callback methods for task updates/decomposition
  backend/app/utils/telemetry/workforce_metrics.py
  backend/tests/unit/utils/telemetry/test_workforce_metrics.py
Due: node licenses/update_license.js

Fix frozen TaskFailedEvent mutation in workforce failure handling
  backend/app/utils/workforce.py
Due: node licenses/update_license.js

chore: add consecutive_failures type to trigger
  src/i18n/locales/ar/triggers.json
  src/i18n/locales/de/triggers.json
  src/i18n/locales/en-us/triggers.json
  src/i18n/locales/es/triggers.json
  src/i18n/locales/fr/triggers.json
  src/i18n/locales/it/triggers.json
  src/i18n/locales/ja/triggers.json
  src/i18n/locales/ko/triggers.json
  src/i18n/locales/ru/triggers.json
  src/i18n/locales/zh-Hans/triggers.json
  src/i18n/locales/zh-Hant/triggers.json
  src/types/index.ts
Due: node licenses/update_license.js, prettier --write

chore: update dynamic fields configs
  src/components/Trigger/DynamicTriggerConfig.tsx
  src/components/Trigger/TriggerDialog.tsx
Due: node licenses/update_license.js, prettier --write

enhance: support date, expirationDate & max_failure_count of schedules
  src/components/Trigger/SchedulePicker.tsx
  src/components/Trigger/TriggerDialog.tsx
  src/lib/utils.ts
Due: node licenses/update_license.js, prettier --write

chore: update format
  src/components/Trigger/SchedulePicker.tsx
Due: node licenses/update_license.js, prettier --write

feat: generative inputNumberField with min max validation
  src/components/Trigger/DynamicTriggerConfig.tsx
  src/i18n/locales/ar/triggers.json
  src/i18n/locales/de/triggers.json
  src/i18n/locales/en-us/triggers.json
  src/i18n/locales/es/triggers.json
  src/i18n/locales/fr/triggers.json
  src/i18n/locales/it/triggers.json
  src/i18n/locales/ja/triggers.json
  src/i18n/locales/ko/triggers.json
  src/i18n/locales/ru/triggers.json
  src/i18n/locales/zh-Hans/triggers.json
  src/i18n/locales/zh-Hant/triggers.json
Due: node licenses/update_license.js, prettier --write

refactor: replace magic strings in ChatBox components with constants
  src/components/ChatBox/BottomBox/index.tsx
  src/components/ChatBox/FloatingAction.tsx
  src/components/ChatBox/ProjectSection.tsx
  src/components/ChatBox/TaskBox/TaskCard.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/index.tsx
Due: node licenses/update_license.js, prettier --write

refactor: add status and step constants with typed definitions
  src/types/chatbox.d.ts
  src/types/constants.ts
Due: node licenses/update_license.js, prettier --write

refactor: replace magic strings in WorkFlow, workspace, and sidebar components
  src/components/BrowserAgentWorkSpace/index.tsx
  src/components/HistorySidebar/index.tsx
  src/components/WorkFlow/node.tsx
Due: node licenses/update_license.js, prettier --write

refactor: replace magic strings in TopBar, history views, pages, and projectStore
  src/components/GroupedHistoryView/ProjectGroup.tsx
  src/components/GroupedHistoryView/TaskItem.tsx
  src/components/TopBar/index.tsx
  src/components/WorkFlow/node.tsx
  src/pages/Dashboard/Project.tsx
  src/pages/Home.tsx
  src/store/projectStore.ts
Due: node licenses/update_license.js, prettier --write

refactor: replace magic strings in chatStore with constants
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

fix: use correct constant categories for AgentStatus fields and convert remaining magic strings
  src/components/BrowserAgentWorkSpace/index.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/WorkFlow/node.tsx
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

fix: replace remaining `taskState === 'waiting'` magic strings with TaskStatus.WAITING
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

refactor: extract status and step enums from magic strings (#951)
  src/components/BrowserAgentWorkSpace/index.tsx
  src/components/ChatBox/BottomBox/index.tsx
  src/components/ChatBox/FloatingAction.tsx
  src/components/ChatBox/ProjectSection.tsx
  src/components/ChatBox/TaskBox/TaskCard.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/index.tsx
  src/components/GroupedHistoryView/ProjectGroup.tsx
  src/components/GroupedHistoryView/TaskItem.tsx
  src/components/HistorySidebar/index.tsx
  src/components/TopBar/index.tsx
  src/components/WorkFlow/node.tsx
  src/pages/Dashboard/Project.tsx
  src/pages/Home.tsx
  src/store/chatStore.ts
  src/store/projectStore.ts
  src/types/chatbox.d.ts
  src/types/constants.ts
Due: node licenses/update_license.js, prettier --write

refactor: format python backend code
  .github/workflows/pre-commit.yml
  backend/app/__init__.py
  backend/app/agent/agent_model.py
  backend/app/agent/factory/browser.py
  backend/app/agent/factory/developer.py
  backend/app/agent/factory/document.py
  backend/app/agent/factory/mcp.py
  backend/app/agent/factory/multi_modal.py
  backend/app/agent/listen_chat_agent.py
  backend/app/agent/prompt.py
  backend/app/agent/tools.py
  backend/app/component/__init__.py
  backend/app/component/debug.py
  backend/app/component/pydantic/__init__.py
  backend/app/controller/__init__.py
  backend/app/controller/chat_controller.py
  backend/app/controller/health_controller.py
  backend/app/controller/model_controller.py
  backend/app/controller/task_controller.py
  backend/app/controller/tool_controller.py
  backend/app/exception/__init__.py
  backend/app/exception/exception.py
  backend/app/exception/handler.py
  backend/app/middleware/__init__.py
  backend/app/model/__init__.py
  backend/app/model/chat.py
  backend/app/router.py
  backend/app/service/__init__.py
  backend/app/utils/listen/__init__.py
  backend/app/utils/server/__init__.py
  backend/app/utils/toolkit/__init__.py
  backend/tests/conftest.py
Due: node licenses/update_license.js

update
  backend/tests/app/agent/factory/test_browser.py
  backend/tests/app/agent/factory/test_developer.py
  backend/tests/app/agent/factory/test_document.py
  backend/tests/app/agent/factory/test_mcp.py
  backend/tests/app/agent/factory/test_multi_modal.py
  backend/tests/app/agent/factory/test_question_confirm.py
  backend/tests/app/agent/factory/test_task_summary.py
  backend/tests/app/agent/test_agent_model.py
  backend/tests/app/agent/test_listen_chat_agent.py
  backend/tests/app/agent/test_tools.py
  backend/tests/app/utils/listen/test_toolkit_listen.py
  backend/tests/app/utils/toolkit/test_note_taking_toolkit.py
Due: node licenses/update_license.js

update
  .github/workflows/test.yml
Due: none

chore: isolate set_main_event_loop & _schedule_async_task
  backend/app/agent/__init__.py
  backend/app/agent/agent_model.py
  backend/app/agent/listen_chat_agent.py
  backend/app/service/chat_service.py
  backend/app/utils/event_loop_utils.py
  backend/tests/app/agent/test_agent_model.py
Due: node licenses/update_license.js

refactor: remove streaming_agent_output feature, keep event_loop_utils and isolated functions
  backend/app/agent/listen_chat_agent.py
  backend/app/service/chat_service.py
  backend/app/service/task.py
  src/components/WorkFlow/node.tsx
  src/store/chatStore.ts
  src/types/chatbox.d.ts
  src/types/constants.ts
Due: node licenses/update_license.js, prettier --write

fix: add mock for _schedule_async_task in agent model test
  backend/tests/app/agent/test_agent_model.py
Due: node licenses/update_license.js

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
