Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

fix(ui): subtask overflow/borders, settings Preferred IDE card, chat alignment
  src/components/ChatBox/TaskBox/TaskCard.tsx
  src/components/ChatBox/TaskBox/TaskItem.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/pages/Setting/General.tsx
Due: node licenses/update_license.js, prettier --write

Fix Image asset included html rendering
  src/components/Folder/index.tsx
  src/lib/htmlFontStyles.ts
Due: node licenses/update_license.js, prettier --write

Fix html rendering script
  src/lib/htmlFontStyles.ts
Due: node licenses/update_license.js, prettier --write

add minimax m2.5
  server/app/model/user/key.py
  src/pages/Setting/Models.tsx
  src/store/authStore.ts
Due: node licenses/update_license.js, prettier --write

update
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
Due: none

add minimax m2.5 (#1248)
  server/app/model/user/key.py
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Setting/Models.tsx
  src/store/authStore.ts
Due: node licenses/update_license.js, prettier --write

fix: Mac trackpad horizontal scroll incorrectly triggers zoom in Agent Canvas (#1211) (#1220)
  src/components/WorkFlow/index.tsx
  src/components/WorkFlow/workflowWheelHandler.ts
  test/unit/components/WorkFlow/workflowWheelHandler.test.ts
Due: node licenses/update_license.js, prettier --write

fix(html): defer only classic inline scripts, preserve attrs, use DOMContentLoaded
  src/lib/htmlFontStyles.ts
Due: node licenses/update_license.js, prettier --write

fix: cancel load/replay if user switches project; replay SSE AbortError vs rethrow; replay tests
  src/store/chatStore.ts
  src/store/projectStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

Modification on unit test cases for chatstore
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

feat: add drag-drop file upload
  electron/main/index.ts
  electron/preload/index.ts
  src/components/ChatBox/BottomBox/InputBox.tsx
  src/components/ChatBox/index.tsx
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

Fix Dark Mode Code Contrast
  src/components/WorkFlow/MarkDown.tsx
  src/style/markdown-styles.css
  src/style/token.css
Due: node licenses/update_license.js, prettier --write

fix: enable multi-modal agent in workspace dock toggle
  src/components/WorkSpaceMenu/index.tsx
Due: node licenses/update_license.js, prettier --write

Feat #1255: update copy button status by displaying popup and setting copied state
  src/components/ChatBox/MessageItem/AgentMessageCard.tsx
  src/components/ChatBox/MessageItem/FeedbackCard.tsx
  src/components/ChatBox/MessageItem/UserMessageCard.tsx
Due: node licenses/update_license.js, prettier --write

refactor: replace IDE button with inline DropdownMenu in Folder view
  src/components/Folder/index.tsx
Due: node licenses/update_license.js, prettier --write

refactor: remove Preferred IDE section from Settings General page
  src/pages/Setting/General.tsx
Due: node licenses/update_license.js, prettier --write

refactor: update i18n keys for inline IDE dropdown
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/setting.json
Due: none

tests: fix and refactor tests
  .env.development
  .github/workflows/pre-commit.yml
  backend/app/utils/telemetry/workforce_metrics.py
  backend/tests/app/agent/factory/test_browser.py
  backend/tests/app/agent/factory/test_developer.py
  backend/tests/app/agent/factory/test_document.py
  backend/tests/app/agent/factory/test_multi_modal.py
  backend/tests/app/agent/factory/test_social_media.py
  backend/tests/app/component/test_environment.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/controller/test_model_controller.py
  backend/tests/app/controller/test_task_controller.py
  backend/tests/app/controller/test_tool_controller.py
  backend/tests/app/model/test_chat.py
  backend/tests/app/service/test_chat_service.py
  backend/tests/app/service/test_task.py
  backend/tests/app/utils/telemetry/test_workforce_metrics.py
  backend/tests/app/utils/test_single_agent_worker.py
  backend/tests/conftest.py
  src/assets/model/anthropic.svg
  src/assets/model/azure.svg
  src/assets/model/bedrock.svg
  src/assets/model/deepseek.svg
  src/assets/model/gemini.svg
  src/assets/model/lmstudio.svg
  src/assets/model/minimax.svg
  src/assets/model/moonshot.svg
  src/assets/model/ollama.svg
  src/assets/model/openrouter.svg
  src/assets/model/qwen.svg
  src/assets/model/vllm.svg
  src/assets/model/zai.svg
Due: node licenses/update_license.js

chore: bump up camel version to 0.2.90a1
  backend/pyproject.toml
  backend/uv.lock
  server/pyproject.toml
  server/uv.lock
Due: none

chore: bump up camel version to 0.2.90a1 (#1263)
  backend/pyproject.toml
  backend/uv.lock
  server/pyproject.toml
  server/uv.lock
Due: none

enhance: update contribution guideline to add policy for AI-generated code
  CONTRIBUTING.md
Due: none

update
  CONTRIBUTING.md
Due: none

update
  backend/.pre-commit-config.yaml
Due: none

Address PR review: tests, pre-commit, constants, remove unused helpers
  .github/workflows/pre-commit.yml
  backend/app/utils/file_utils.py
  backend/tests/unit/service/test_chat_service.py
  backend/tests/unit/utils/test_file_utils.py
Due: node licenses/update_license.js

refactor: modify ImageAnalysisToolkit to only accept file paths and simplify agent prompts
  backend/app/agent/prompt.py
  backend/app/agent/toolkit/image_analysis_toolkit.py
Due: node licenses/update_license.js

fix: refactor format
  backend/app/agent/toolkit/image_analysis_toolkit.py
Due: node licenses/update_license.js

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

refactor: replace ImageAnalysisToolkit with ScreenshotToolkit for worker agents
  backend/app/agent/factory/browser.py
  backend/app/agent/factory/developer.py
  backend/app/agent/factory/document.py
  backend/app/agent/prompt.py
  backend/tests/app/agent/factory/test_browser.py
  backend/tests/app/agent/factory/test_developer.py
  backend/tests/app/agent/factory/test_document.py
Due: node licenses/update_license.js

release 0083
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
Due: node licenses/update_license.js

release: v0.0.83 (#1265)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
Due: node licenses/update_license.js

add config for skills
  backend/app/agent/factory/social_media.py
  backend/app/agent/toolkit/skill_toolkit.py
  backend/app/service/chat_service.py
  electron/main/index.ts
  electron/preload/index.ts
  resources/example-skills/default-config.json
  src/pages/Agents/components/SkillListItem.tsx
  src/store/skillsStore.ts
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

prompt for SOCIAL_MEDIA_SYS_PROMPT
  backend/app/agent/prompt.py
Due: node licenses/update_license.js

:fire: remove skill_config_api.router
  backend/app/api/skill_config_api.py
  backend/app/router.py
Due: node licenses/update_license.js

chore: update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: update PR template (#1266)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: sync build pipeline with build-view
  .github/workflows/build.yml
Due: none

fix: sync build pipeline with build-view (#1268)
  .github/workflows/build.yml
Due: none

fix: revert image_analysis_toolkit
  backend/app/agent/toolkit/image_analysis_toolkit.py
Due: node licenses/update_license.js
