Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

feat: support benchmark + harbor
  backend/.pre-commit-config.yaml
Due: none

feat: support harbor for benchmark (#1466)
  .github/workflows/lint-markdown.yml
  .gitignore
  backend/.gitignore
  backend/.pre-commit-config.yaml
  backend/benchmark/harbor/.gitignore
  backend/benchmark/harbor/README.md
  backend/benchmark/harbor/__init__.py
  backend/benchmark/harbor/adapter.py
  backend/benchmark/harbor/evaluate.py
  backend/benchmark/harbor/run_adapter.py
  backend/benchmark/harbor/template/environment/Dockerfile
  backend/benchmark/harbor/template/instruction.md
  backend/benchmark/harbor/template/task.toml
  backend/benchmark/harbor/template/tests/test.sh
Due: node licenses/update_license.js

feat: add prompt caching support for different model platforms
  backend/app/agent/agent_model.py
Due: node licenses/update_license.js

fix: show trigger action after markdown finishes typing
  src/components/ChatBox/UserQueryGroup.tsx
Due: node licenses/update_license.js, prettier --write

feat: format token counts with thousands separators
  src/components/ChatBox/HeaderBox/index.tsx
  src/components/HistorySidebar/index.tsx
Due: node licenses/update_license.js, prettier --write

release v0.0.87 (#1469)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
Due: node licenses/update_license.js

feat: support cli
  CONTRIBUTING.md
  backend/app/controller/chat_controller.py
  backend/app/model/chat.py
  cli/.env.example
  cli/README.md
  cli/package.json
  cli/src/client.ts
  cli/src/collapsible.ts
  cli/src/config.ts
  cli/src/index.ts
  cli/src/renderer.ts
  cli/src/repl.ts
  cli/src/timer.ts
  cli/src/types.ts
  cli/src/vendor.d.ts
  cli/tsconfig.json
Due: node licenses/update_license.js, prettier --write

feat: support cli
  CONTRIBUTING.md
Due: none

update
  cli/.env.example
  cli/src/client.ts
  cli/src/config.ts
  cli/src/types.ts
Due: node licenses/update_license.js, prettier --write

update
  cli/src/repl.ts
Due: node licenses/update_license.js, prettier --write

update
  backend/app/controller/chat_controller.py
Due: node licenses/update_license.js

fix potential bug
  backend/app/agent/toolkit/hybrid_browser_toolkit.py
Due: node licenses/update_license.js

fix: potential bug (#1477)
  backend/app/agent/toolkit/hybrid_browser_toolkit.py
Due: node licenses/update_license.js

feat: add skill-security-auditor as default example skill
  resources/example-skills/skill-security-auditor/LICENSE.txt
  resources/example-skills/skill-security-auditor/SKILL.md
  resources/example-skills/skill-security-auditor/references/secrets-patterns.md
  resources/example-skills/skill-security-auditor/references/vulnerability-patterns.md
  resources/example-skills/skill-security-auditor/scripts/scan_project.py
  resources/example-skills/skill-security-auditor/scripts/scan_secrets.py
Due: node licenses/update_license.js

feat: implement support for AWS Bedrock Converse region and update related components
  backend/app/agent/agent_model.py
  backend/app/component/model_validation.py
  backend/app/model/model_platform.py
  backend/pyproject.toml
  backend/tests/app/component/test_model_validation.py
  backend/uv.lock
  src/lib/llm.ts
  src/pages/Agents/Models.tsx
  src/store/authStore.ts
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

update
  backend/app/agent/agent_model.py
Due: node licenses/update_license.js

feat: enhance AWS Bedrock Converse support with region handling and URL adjustments
  backend/app/agent/factory/mcp.py
  backend/app/component/model_validation.py
  backend/app/utils/single_agent_worker.py
Due: node licenses/update_license.js

refactor: async credential I/O, dropdown filtering, remove email masking
  electron/main/index.ts
  electron/preload/index.ts
  src/pages/Login.tsx
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

feat: add native macOS window effects via koffi FFI
  electron/main/index.ts
  electron/main/native/macos-window.ts
  src/components/ui/select.tsx
  src/style/token.css
Due: node licenses/update_license.js, prettier --write

fix: persist rememberMe checkbox
  src/pages/Login.tsx
Due: node licenses/update_license.js, prettier --write

fix empty example skills
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

Improve settings UX and tests
  src/i18n/locales/en-us/setting.json
  src/pages/Setting/General.tsx
  src/pages/Setting/Privacy.tsx
  test/unit/pages/Setting/GeneralProxy.test.tsx
  test/unit/pages/Setting/Privacy.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: reset state on activeTaskId change to handle new project creation
  src/components/Folder/index.tsx
Due: node licenses/update_license.js, prettier --write

update
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Agents/Models.tsx
  src/store/authStore.ts
Due: node licenses/update_license.js, prettier --write

update
  backend/app/controller/electron_browser.cjs
  backend/app/model/model_platform.py
  backend/tests/app/model/test_model_platform.py
  src/assets/model/ernie.png
  src/lib/llm.ts
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

feat: update Claude Sonnet model identifier by removing 'bedrock' suffix
  src/pages/Agents/Models.tsx
  src/store/authStore.ts
Due: node licenses/update_license.js, prettier --write

feat: add sonnet and opus 4.6 (#1486)
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Agents/Models.tsx
  src/store/authStore.ts
Due: node licenses/update_license.js, prettier --write

fix empty example skills (#1483)
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

feat: add ernie in custom model (#1487)
  backend/app/controller/electron_browser.cjs
  backend/app/model/model_platform.py
  backend/tests/app/model/test_model_platform.py
  src/assets/model/ernie.png
  src/lib/llm.ts
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

refactor: remove token-based password reset flow, redirect to /signin
  server/alembic/versions/2026_01_19_1200-add_password_reset_token_table.py
  server/app/controller/user/password_reset_controller.py
  server/app/model/user/password_reset.py
  src/pages/Login.tsx
  src/pages/ResetPassword.tsx
  src/routers/index.tsx
Due: node licenses/update_license.js, prettier --write

feat: use multiple electron instances in dev
  .env.development
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

Update chat_service.py
  backend/app/service/chat_service.py
Due: node licenses/update_license.js

update
  docs/core/models/ernie.md
  docs/docs.json
  docs/images/ernie.png
Due: none

chore：delete toolkit for task and coordinator agent (#1488)
  backend/app/service/chat_service.py
Due: node licenses/update_license.js

fix: Agent Folder state not cleared when creating a new project (#1485)
  src/components/Folder/index.tsx
Due: node licenses/update_license.js, prettier --write

docs: ernie doc (#1491)
  docs/core/models/ernie.md
  docs/docs.json
  docs/images/ernie.png
Due: none

Electron style - MacOs (#1110)
  electron/main/index.ts
  electron/main/native/macos-window.ts
  src/components/ui/select.tsx
  src/style/token.css
Due: node licenses/update_license.js, prettier --write

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
