Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

fix: enrich terminal trigger token receipts idempotently
  server/app/domains/trigger/service/trigger_crud_service.py
  server/app/domains/trigger/service/trigger_service.py
  server/tests/test_trigger_execution_status.py
  src/service/triggerApi.ts
  test/unit/service/triggerApi.test.ts
Due: node licenses/update_license.js, prettier --write

fix: guard follow-up stream transitions
  src/store/chatStore.ts
  src/store/projectStore.ts
  test/unit/store/chatStore.test.ts
  test/unit/store/projectStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: preserve follow-up ownership on stream reopen
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: retry terminal cleanup delivery
  backend/tests/app/agent/factory/test_developer.py
  src/store/chatStore.ts
  src/store/projectStore.ts
  test/unit/store/chatStore.test.ts
  test/unit/store/projectStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: transfer follow-up stream ownership
  backend/tests/app/agent/factory/test_developer.py
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: serialize run admission with cancellation
  backend/app/run_runtime/coordinator.py
  backend/tests/app/run_runtime/test_coordinator.py
Due: node licenses/update_license.js

fix: serialize background run consumers
  backend/app/controller/chat_controller.py
  backend/app/model/chat.py
  backend/app/run_runtime/coordinator.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/run_runtime/test_coordinator.py
  src/hooks/useBackgroundTaskProcessor.ts
  src/store/chatStore.ts
  src/store/projectStore.ts
  test/unit/hooks/useBackgroundTaskProcessor.test.tsx
  test/unit/store/chatStore.test.ts
  test/unit/store/projectStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: claim follow-up composer before runtime lookup
  src/components/ChatBox/index.tsx
  test/unit/components/ChatBox.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: retain terminal run store ownership
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: close idle streams before triggers
  src/hooks/useBackgroundTaskProcessor.ts
  src/store/chatStore.ts
  test/unit/hooks/useBackgroundTaskProcessor.test.tsx
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: guard follow-up admission during stale retirement
  src/components/ChatBox/index.tsx
  src/store/projectStore.ts
  test/unit/components/ChatBox.test.tsx
  test/unit/store/projectStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: keep terminal trigger receipts immutable
  server/app/domains/trigger/service/trigger_crud_service.py
  server/tests/test_trigger_execution_status.py
Due: node licenses/update_license.js

fix: finalize scheduled runs safely
  src/hooks/useBackgroundTaskProcessor.ts
  src/store/chatStore.ts
  src/store/projectStore.ts
  test/unit/hooks/useBackgroundTaskProcessor.test.tsx
  test/unit/store/chatStore.test.ts
  test/unit/store/projectStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: retain bounded terminal subtask display receipts
  backend/app/run_journal/semantic_events.py
  backend/tests/app/run_journal/test_semantic_events.py
  test/fixtures/completed-run-display.json
Due: node licenses/update_license.js

fix: preserve resumable execution and completion tails
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: preserve terminal display dependency tails
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: bound background runtime ownership requests
  src/api/http.ts
  src/hooks/useBackgroundTaskProcessor.ts
  test/unit/api/http.test.ts
  test/unit/hooks/useBackgroundTaskProcessor.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: reconcile terminal usage from durable receipts
  src/service/runUsageReconciliation.ts
  src/store/chatStore.ts
  test/unit/service/runUsageReconciliation.test.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: drain completed display before retiring idle streams
  src/hooks/useBackgroundTaskProcessor.ts
  src/service/completedRunDisplayRecovery.ts
  src/service/runUsageReconciliation.ts
  src/store/chatStore.ts
  src/store/projectStore.ts
  src/types/chatbox.d.ts
  test/unit/hooks/useBackgroundTaskProcessor.test.tsx
  test/unit/service/completedRunDisplayRecovery.test.ts
  test/unit/service/runUsageReconciliation.test.ts
  test/unit/store/chatStore.test.ts
  test/unit/store/projectStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: reconcile completed display ownership across retries
  src/service/completedRunDisplayRecovery.ts
  src/service/runUsageReconciliation.ts
  src/store/chatStore.ts
  test/unit/service/completedRunDisplayRecovery.test.ts
  test/unit/service/runUsageReconciliation.test.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

test: record actual single-agent display lifecycle
  backend/tests/app/run_journal/test_single_agent_display_fixture.py
  test/fixtures/completed-single-agent-display.json
Due: node licenses/update_license.js

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

feat: add optional Space category
  docs/plans/customised-example-prompts-pr-plan.md
  server/alembic/versions/2026_09_20_1200-add_space_category_key.py
  server/app/domains/space/service/space_service.py
  server/app/model/space/__init__.py
  server/app/model/space/space.py
  server/tests/fixtures/space_category_api.json
  server/tests/test_space_category.py
  server/tests/test_space_category_migration.py
  server/tests/test_space_legacy_behavior.py
Due: node licenses/update_license.js

docs: make personalised plan headings unique
  docs/plans/customised-example-prompts-pr-plan.md
Due: none

docs: make example content plan provider neutral
  docs/plans/customised-example-prompts-pr-plan.md
Due: none

feat: expand personalised work roles
  server/app/model/user/user.py
  server/tests/fixtures/user_work_role_api.json
  server/tests/test_user_work_role.py
Due: node licenses/update_license.js

feat: add user work role preference
  server/alembic/versions/2026_09_20_1300-add_user_work_role_key.py
  server/app/domains/user/api/user_controller.py
  server/app/model/user/user.py
  server/tests/fixtures/user_work_role_api.json
  server/tests/test_user_work_role.py
  server/tests/test_user_work_role_migration.py
Due: node licenses/update_license.js

fix: chain personalised profile migrations
  server/alembic/versions/2026_09_20_1300-add_user_work_role_key.py
  server/tests/test_user_work_role_migration.py
Due: node licenses/update_license.js

feat: add provider-neutral example content infrastructure
  .env.development
  docs/plans/customised-example-prompts-pr-plan.md
  server/.env.example
  server/app/domains/example_content/__init__.py
  server/app/domains/example_content/api/__init__.py
  server/app/domains/example_content/api/example_content_controller.py
  server/app/domains/example_content/bundled.py
  server/app/domains/example_content/provider.py
  server/app/domains/example_content/resolver.py
  server/app/domains/example_content/schema.py
  server/app/model/user/user.py
  server/app/model/user/work_role.py
  server/tests/test_example_content_resolver.py
  src/api/http.ts
  src/components/ExampleContent/ExampleRecommendations.test.tsx
  src/components/ExampleContent/ExampleRecommendations.tsx
  src/components/ExampleContent/fixtures.json
  src/components/ExampleContent/fixtures.ts
  src/components/ExampleContent/index.ts
  src/hooks/queries/useExampleContent.test.tsx
  src/hooks/queries/useExampleContent.ts
  src/lib/exampleCategoryCache.test.ts
  src/lib/exampleCategoryCache.ts
  src/lib/exampleContentAnalytics.ts
  src/lib/exampleContentFeature.test.ts
  src/lib/exampleContentFeature.ts
  src/service/exampleContentApi.test.ts
  src/service/exampleContentApi.ts
  src/service/spaceApi.category.test.ts
  src/service/spaceApi.ts
  src/service/userProfileApi.test.ts
  src/service/userProfileApi.ts
  src/store/authStore.ts
  src/store/spaceStore.ts
  src/store/userProfileStore.test.ts
  src/store/userProfileStore.ts
  src/types/exampleContent.ts
Due: node licenses/update_license.js, prettier --write

refactor: fetch example catalog directly from S3
  .env.development
  docs/plans/customised-example-prompts-pr-plan.md
  server/.env.example
  server/app/domains/example_content/__init__.py
  server/app/domains/example_content/api/__init__.py
  server/app/domains/example_content/api/example_content_controller.py
  server/app/domains/example_content/bundled.py
  server/app/domains/example_content/provider.py
  server/app/domains/example_content/resolver.py
  server/app/domains/example_content/schema.py
  server/app/model/user/user.py
  server/app/model/user/work_role.py
  server/tests/test_example_content_resolver.py
  src/api/http.ts
  src/components/ExampleContent/index.ts
  src/hooks/queries/useExampleContent.test.tsx
  src/hooks/queries/useExampleContent.ts
  src/service/exampleContentApi.test.ts
  src/service/exampleContentApi.ts
  src/types/exampleContent.ts
Due: node licenses/update_license.js, prettier --write

fix: harden example catalog delivery
  docs/plans/customised-example-prompts-pr-plan.md
  src/hooks/queries/useExampleContent.test.tsx
  src/hooks/queries/useExampleContent.ts
  src/lib/exampleContentAnalytics.test.ts
  src/lib/exampleContentAnalytics.ts
  src/service/exampleContentApi.test.ts
  src/service/exampleContentApi.ts
  src/service/spaceApi.category.test.ts
  src/service/spaceApi.ts
Due: node licenses/update_license.js, prettier --write

fix: align example content with versioned CDN
  .env.example
  docs/plans/customised-example-prompts-pr-plan.md
  src/service/exampleContentApi.test.ts
  src/service/exampleContentApi.ts
Due: node licenses/update_license.js, prettier --write

fix: preserve spaces and Unicode in pending Git file status (#1945)
  backend/app/workspace_git/backend.py
  backend/tests/app/workspace_git/test_backend.py
  backend/tests/app/workspace_git/test_content_repository.py
Due: node licenses/update_license.js

fix: restrict ~/.eigent env files to owner-only (0600) (#1895)
  backend/app/component/environment.py
  backend/tests/app/component/test_environment.py
  electron/main/index.ts
  electron/main/utils/envUtil.ts
  test/unit/electron/main/envUtil.test.ts
Due: node licenses/update_license.js, prettier --write

fix: atomically replace credential env files
  electron/main/utils/envUtil.ts
  test/unit/electron/main/envUtil.test.ts
Due: node licenses/update_license.js, prettier --write

fix: preserve carriage returns in Git status filenames
  backend/app/workspace_git/backend.py
  backend/tests/app/workspace_git/test_backend.py
  backend/tests/app/workspace_git/test_content_repository.py
Due: node licenses/update_license.js

fix: preserve CR and CRLF in Git status filenames (#1956)
  backend/app/workspace_git/backend.py
  backend/tests/app/workspace_git/test_backend.py
  backend/tests/app/workspace_git/test_content_repository.py
Due: node licenses/update_license.js

fix: atomically replace credential env files (#1955)
  electron/main/utils/envUtil.ts
  test/unit/electron/main/envUtil.test.ts
Due: node licenses/update_license.js, prettier --write

fix: add reset action for network proxy edits (#1893)
  src/components/Settings/General/index.tsx
  test/unit/components/GeneralSettingsProxy.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: prevent proxy edits during pending saves
  src/components/Settings/General/index.tsx
  test/unit/components/GeneralSettingsProxy.test.tsx
Due: node licenses/update_license.js, prettier --write

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
