Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

fix(ci): use correct electron-builder arch flags instead of --arch
  .github/workflows/build.yml
Due: none

docs: Add comprehensive triggers documentation
  docs/docs.json
  docs/images/triggers/execution_logs.png
  docs/images/triggers/schedule/Screenshot 2026-03-05 054330.png
  docs/images/triggers/schedule/Screenshot 2026-03-05 054354.png
  docs/images/triggers/schedule/Screenshot 2026-03-05 054418.png
  docs/images/triggers/schedule/Screenshot 2026-03-05 054441.png
  docs/images/triggers/slack/10_activate_trigger.png
  docs/images/triggers/slack/11_activate_trigger_click_copy.png
  docs/images/triggers/slack/12_enable_url.png
  docs/images/triggers/slack/13_paste_url.png
  docs/images/triggers/slack/14_listen_events_slack.png
  docs/images/triggers/slack/15_invite_bot.png
  docs/images/triggers/slack/16_send_chat.png
  docs/images/triggers/slack/1_create_app.png
  docs/images/triggers/slack/2_basic_info.png
  docs/images/triggers/slack/3_oauth_scopes.png
  docs/images/triggers/slack/4_install_app.png
  docs/images/triggers/slack/5_install_app_process.png
  docs/images/triggers/slack/6_get_bottoken.png
  docs/images/triggers/slack/7_select_slack.png
  docs/images/triggers/slack/8_enter_creds.png
  docs/images/triggers/slack/9_listen_events.png
  docs/images/triggers/task_queue.png
  docs/images/triggers/webhook/1_select_webhook.png
  docs/images/triggers/webhook/2_request_types.png
  docs/images/triggers/webhook/3_webhook_config.png
  docs/images/triggers/webhook/4_common_app_settings.png
  docs/images/triggers/webhook/5_webhook_created.png
  docs/images/triggers/webhook/6_trigger_webhook.png
  docs/images/triggers/webhook/7_task_running.png
  docs/triggers/main.md
  docs/triggers/schedule.md
  docs/triggers/slack.md
  docs/triggers/temp.md
  docs/triggers/webhook.md
Due: none

feat: Set Success Rate as - while waiting for execution (#1424)
  src/components/Trigger/ExecutionLogs.tsx
  tailwind.config.js
Due: node licenses/update_license.js, prettier --write

fix(ci): add VITE_PROXY_URL to build env for webhook URL
  .github/workflows/build.yml
Due: none

release v0.0.86 (#1445)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
Due: node licenses/update_license.js

refactor: refactor the chat service
  backend/app/agent/__init__.py
  backend/app/agent/factory/__init__.py
  backend/app/agent/factory/question_confirm.py
  backend/app/agent/factory/task_summary.py
  backend/app/agent/factory/workforce_agents.py
  backend/app/service/chat_service.py
  backend/app/service/chat_service/__init__.py
  backend/app/service/chat_service/_step_solve.py
  backend/app/service/chat_service/context.py
  backend/app/service/chat_service/decomposition.py
  backend/app/service/chat_service/lifecycle.py
  backend/app/service/chat_service/router.py
  backend/app/utils/context.py
  backend/tests/app/service/test_chat_service.py
Due: node licenses/update_license.js

Implement fix
  backend/app/hitl/terminal_command.py
  backend/app/service/task.py
Due: node licenses/update_license.js

refactor: refactor the chat service
  backend/app/agent/__init__.py
  backend/app/agent/factory/__init__.py
  backend/app/agent/factory/question_confirm.py
  backend/app/agent/factory/task_summary.py
  backend/app/agent/prompt.py
  backend/app/service/chat_service/__init__.py
  backend/app/service/chat_service/_step_solve.py
  backend/app/service/chat_service/context.py
  backend/app/service/chat_service/decomposition.py
  backend/app/service/chat_service/handlers.py
  backend/app/service/chat_service/lifecycle.py
  backend/app/service/chat_service/router.py
  backend/app/utils/context.py
  backend/tests/app/agent/factory/test_question_confirm.py
  backend/tests/app/agent/factory/test_task_summary.py
  backend/tests/app/service/test_chat_service.py
Due: node licenses/update_license.js

Fix unit test
  backend/tests/app/service/test_task.py
Due: node licenses/update_license.js

enhance: add_request_level_token_callback PR1362 (#1439)
  backend/app/agent/listen_chat_agent.py
Due: node licenses/update_license.js

address review feedback
  backend/app/model/chat.py
  backend/app/service/chat_service.py
  backend/tests/app/service/test_chat_service.py
Due: node licenses/update_license.js

update
  resources/example-skills/docx/LICENSE.txt
  resources/example-skills/docx/SKILL.md
  resources/example-skills/docx/scripts/comment.py
  resources/example-skills/docx/scripts/office/helpers/simplify_redlines.py
  resources/example-skills/docx/scripts/office/pack.py
  resources/example-skills/docx/scripts/office/validate.py
  resources/example-skills/docx/scripts/office/validators/redlining.py
  resources/example-skills/pdf/LICENSE.txt
  resources/example-skills/pdf/SKILL.md
  resources/example-skills/pptx/LICENSE.txt
  resources/example-skills/pptx/SKILL.md
  resources/example-skills/pptx/editing.md
  resources/example-skills/pptx/scripts/office/helpers/simplify_redlines.py
  resources/example-skills/pptx/scripts/office/pack.py
  resources/example-skills/pptx/scripts/office/validate.py
  resources/example-skills/pptx/scripts/office/validators/redlining.py
  resources/example-skills/skill-creator/references/output-patterns.md
  resources/example-skills/skill-creator/references/workflows.md
  resources/example-skills/skill-creator/scripts/init_skill.py
  resources/example-skills/xlsx/LICENSE.txt
  resources/example-skills/xlsx/SKILL.md
  resources/example-skills/xlsx/scripts/office/helpers/simplify_redlines.py
  resources/example-skills/xlsx/scripts/office/pack.py
  resources/example-skills/xlsx/scripts/office/validate.py
  resources/example-skills/xlsx/scripts/office/validators/redlining.py
Due: node licenses/update_license.js

chore: hide extra settings from schedule triggers
  src/components/Trigger/TriggerDialog.tsx
Due: node licenses/update_license.js, prettier --write

feat: long pdf
  src/components/Folder/PdfViewer.tsx
Due: node licenses/update_license.js, prettier --write

feat(process): use system uv from PATH in dev mode
  electron/main/utils/process.ts
Due: node licenses/update_license.js, prettier --write

chore: roll back
  server/app/controller/provider/provider_controller.py
Due: node licenses/update_license.js

chore: fix file scrolling issue
  src/components/Folder/index.tsx
Due: node licenses/update_license.js, prettier --write

chore: fix place holder layout
  src/components/Folder/index.tsx
Due: node licenses/update_license.js, prettier --write

chore: fix mark tab as unread on write event
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

fix: header spacing
  src/components/TopBar/index.tsx
Due: node licenses/update_license.js, prettier --write

chore: patch help_improve
  src/components/ChatBox/index.tsx
Due: node licenses/update_license.js, prettier --write

enhance: patch help_improve bug PR1455
  server/app/controller/user/user_controller.py
  server/app/model/user/privacy.py
  src/components/ChatBox/index.tsx
  src/pages/Setting/Privacy.tsx
Due: node licenses/update_license.js, prettier --write

chore: add http test
  server/tests/user.http
Due: none

enhance: patch help_improve bug PR1455 (#1456)
  server/app/controller/user/user_controller.py
  server/app/model/user/privacy.py
  server/tests/user.http
  src/components/ChatBox/index.tsx
  src/pages/Setting/Privacy.tsx
Due: node licenses/update_license.js, prettier --write

fix: patch help_improve bug (#1455)
  server/app/controller/user/user_controller.py
  server/app/model/user/privacy.py
  server/tests/user.http
  src/components/ChatBox/index.tsx
  src/pages/Setting/Privacy.tsx
Due: node licenses/update_license.js, prettier --write

fix: persistent privacy state and consistent parsing across ChatBox and Settings
  src/components/ChatBox/index.tsx
  src/lib/privacy.ts
  src/pages/Setting/Privacy.tsx
Due: node licenses/update_license.js, prettier --write

Update
  backend/app/agent/factory/question_confirm.py
  backend/app/agent/factory/workforce_agents.py
  backend/app/agent/prompt.py
  backend/app/controller/chat_controller.py
  backend/app/service/chat_service/decomposition.py
  backend/app/service/chat_service/handlers.py
  backend/app/service/chat_service/lifecycle.py
  backend/app/service/chat_service/question_router.py
  backend/app/service/chat_service/router.py
  backend/app/service/chat_service/step_solve.py
  backend/app/service/chat_service/types.py
  backend/tests/app/agent/factory/test_question_confirm.py
  backend/tests/app/agent/factory/test_task_summary.py
  backend/tests/app/agent/factory/test_workforce_agents.py
  backend/tests/app/service/chat_service/__init__.py
  backend/tests/app/service/chat_service/test_lifecycle.py
  backend/tests/app/service/chat_service/test_step_solve.py
  backend/tests/app/service/test_chat_service.py
  backend/tests/app/utils/test_context.py
Due: node licenses/update_license.js

minor enhance
  electron/main/utils/process.ts
Due: node licenses/update_license.js, prettier --write

stick to uv
  electron/main/utils/process.ts
Due: node licenses/update_license.js, prettier --write

feat: use system uv from PATH in dev mode (#1448)
  electron/main/utils/process.ts
Due: node licenses/update_license.js, prettier --write

fix wrapper version for npm
  electron/main/utils/process.ts
Due: node licenses/update_license.js, prettier --write

Update
  backend/app/agent/factory/task_summary.py
  backend/app/agent/factory/workforce_agents.py
  backend/app/service/chat_service/decomposition.py
  backend/app/service/chat_service/handlers.py
  backend/app/service/chat_service/lifecycle.py
  backend/app/service/chat_service/question_router.py
  backend/app/utils/context.py
Due: node licenses/update_license.js

Fix typos in README
  README.md
Due: none

Fix typos in README (#1461)
  README.md
Due: none

Update for udoc-viewer
  package.json
  src/components/Folder/PptxViewer.tsx
Due: node licenses/update_license.js, prettier --write

update
  resources/example-skills/pptx/SKILL.md
  resources/example-skills/pptx/editing.md
Due: none

fix wrapper version for npm (#1458)
  electron/main/utils/process.ts
Due: node licenses/update_license.js, prettier --write

fix: trigger induced UI issues (#1453)
  src/components/Folder/index.tsx
  src/components/TopBar/index.tsx
  src/components/Trigger/TriggerDialog.tsx
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

feat: add Radix UI Checkbox component
  src/components/ui/checkbox.tsx
Due: node licenses/update_license.js, prettier --write

feat: add privacy consent checkbox to Login page
  src/pages/Login.tsx
Due: node licenses/update_license.js, prettier --write

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
