Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

docs: define opt-in parallel Session execution contracts
  docs/plans/parallel-session-execution/IMPLEMENTATION.md
  docs/plans/parallel-session-execution/LOCAL_ACCEPTANCE.md
  docs/plans/parallel-session-execution/README.md
  docs/plans/parallel-session-execution/deployment.synthetic.example.json
Due: none

feat(server): add Session execution configuration control plane
  server/alembic/versions/2026_09_21_1200-provider_execution_revision.py
  server/app/domains/model_provider/api/execution_controller.py
  server/app/domains/model_provider/service/execution_configuration.py
  server/app/domains/space/service/space_service.py
  server/app/model/project/project.py
  server/app/model/provider/execution_revision.py
  server/app/model/provider/provider.py
  server/tests/test_execution_configuration.py
  server/tests/test_session_execution_configuration.py
Due: node licenses/update_license.js

release v1.0.5
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
  test/unit/electron/githubReleaseCdnProvider.test.ts
Due: node licenses/update_license.js, prettier --write

release v1.0.5 (#1968)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
  test/unit/electron/githubReleaseCdnProvider.test.ts
Due: node licenses/update_license.js, prettier --write

fix: keep Session completion and files in sync
  src/components/ChatBox/TimelineModes/RunFiles.tsx
  src/components/Layout/index.tsx
  src/components/Session/SidePanel/components/ActivityPanel.tsx
  src/components/Session/SidePanel/sections/collectSidePanelOutputFiles.ts
  src/lib/projectWorkspaceRoot.ts
  src/lib/runEvents/ingress.ts
  src/service/projectRunEventStream.ts
  src/store/chatStore.ts
  src/store/spaceStore.ts
  test/unit/components/ChatBox/TimelineModes/RunFiles.test.tsx
  test/unit/components/Session/ActivityPanel.test.tsx
  test/unit/components/Session/SidePanelSections/collectSidePanelOutputFiles.test.ts
  test/unit/components/Session/useReviewChanges.test.tsx
  test/unit/lib/projectWorkspaceRoot.test.ts
  test/unit/service/projectRunEventStream.test.ts
  test/unit/store/chatStore.test.ts
  test/unit/store/spaceStore.test.ts
Due: node licenses/update_license.js, prettier --write

chore: remove session planning artifacts from docs
  .gitignore
  backend/tests/app/workspace_runtime/fixtures/deployment.synthetic.example.json
  backend/tests/app/workspace_runtime/test_delivery_smoke.py
  docs/plans/notification-verification/service-light.png
  docs/plans/parallel-session-execution/IMPLEMENTATION.md
  docs/plans/parallel-session-execution/LOCAL_ACCEPTANCE.md
  docs/plans/parallel-session-execution/README.md
Due: node licenses/update_license.js

fix(anthropic): coerce max_tokens through one shared normalizer
  backend/app/agent/agent_model.py
  backend/app/component/model_validation.py
  backend/app/model/max_tokens.py
  backend/tests/app/model/test_max_tokens.py
Due: node licenses/update_license.js

docs: remove planning artifacts
  docs/plans/notification-verification/service-light.png
  docs/plans/parallel-session-execution/IMPLEMENTATION.md
  docs/plans/parallel-session-execution/LOCAL_ACCEPTANCE.md
  docs/plans/parallel-session-execution/README.md
  docs/plans/parallel-session-execution/deployment.synthetic.example.json
Due: none

fix(backend): verify the port is actually free after killing its owner
  electron/main/init.ts
  electron/main/utils/port.ts
  test/unit/electron/main/port.test.ts
Due: node licenses/update_license.js, prettier --write

fix(desktop): stop two accounts sharing one credential file
  electron/main/subscriptionAuth/credentialStore.ts
  electron/main/utils/accountPath.ts
  electron/main/utils/envUtil.ts
  test/mocks/electronMocks.ts
  test/unit/electron/main/accountPath.test.ts
Due: node licenses/update_license.js, prettier --write

fix(desktop): wait for the backend to actually exit before quitting
  backend/main.py
  backend/tests/app/test_shutdown_cleanup.py
  electron/main/index.ts
  electron/main/init.ts
  electron/main/utils/processTree.ts
  test/unit/electron/main/processTree.test.ts
Due: node licenses/update_license.js, prettier --write

test(backend): stop the shutdown test leaking stubs into sys.modules
  backend/tests/app/test_shutdown_cleanup.py
Due: node licenses/update_license.js

fix(test): restore the credential-file tests broken by bare builtin imports
  electron/main/copy.ts
  electron/main/index.ts
  electron/main/init.ts
  electron/main/install-deps.ts
  electron/main/native/macos-window.ts
  electron/main/utils/envUtil.ts
  electron/main/utils/mcpConfig.ts
  electron/main/utils/process.ts
  eslint.config.js
Due: node licenses/update_license.js, prettier --write

chore: remove session planning artifacts from docs (#1975)
  .gitignore
  backend/tests/app/workspace_runtime/fixtures/deployment.synthetic.example.json
  backend/tests/app/workspace_runtime/test_delivery_smoke.py
  docs/plans/notification-verification/service-light.png
  docs/plans/parallel-session-execution/IMPLEMENTATION.md
  docs/plans/parallel-session-execution/LOCAL_ACCEPTANCE.md
  docs/plans/parallel-session-execution/README.md
Due: node licenses/update_license.js

fix(runtime): fence settlement and preserve tool error recovery
  backend/app/agent/listen_chat_agent.py
  backend/app/controller/chat_controller.py
  backend/app/run_runtime/coordinator.py
  backend/app/run_runtime/owned_tasks.py
  backend/app/service/run_cancellation.py
  backend/app/service/single_agent_service.py
  backend/app/workspace_runtime/native_runtime.py
  backend/app/workspace_runtime/ordinary.py
  backend/tests/app/workspace_runtime/test_native_runtime.py
  backend/tests/app/workspace_runtime/test_ordinary_workspace.py
Due: node licenses/update_license.js

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

fix: skip interrupted legacy waiters during writer promotion
  backend/app/run_journal/store.py
  backend/app/workspace_git/scheduler.py
  backend/tests/app/workspace_git/test_scheduler.py
Due: node licenses/update_license.js

fix(chat): bound approval and stop recovery waits
  backend/app/controller/run_controller.py
  backend/tests/app/controller/test_run_control_api.py
  src/api/http.ts
  src/components/ChatBox/BottomBox/useEventNativeHumanControl.ts
  src/components/ChatBox/ControlRecovery.tsx
  src/components/ChatBox/MessageItem/HumanInteractionCard.tsx
  src/components/ChatBox/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/service/controlOperations.ts
  src/service/controlRequest.ts
  src/service/humanInteractionApi.ts
  src/service/humanInteractionEventReconciliation.ts
  src/service/projectRunsApi.ts
  src/store/connectionStore.ts
  test/unit/api/controlRecovery.test.tsx
  test/unit/components/ChatBox/BottomBox/useEventNativeHumanControl.test.tsx
  test/unit/components/ChatBox/MessageItem/HumanInteractionCard.test.tsx
  test/unit/service/humanInteractionApi.test.ts
  test/unit/service/humanInteractionEventReconciliation.test.ts
  test/unit/service/projectRunsApi.test.ts
Due: node licenses/update_license.js, prettier --write

fix: show durable failure facts for Tasks without a final reply
  backend/tests/app/controller/test_run_controller.py
  src/components/ChatBox/MessageItem/TaskFailureSummary.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/service/runUsageReconciliation.ts
  src/store/chatStore.ts
  test/unit/components/ChatBox/UserQueryGroup.test.tsx
  test/unit/service/runUsageReconciliation.test.ts
  test/unit/store/chatStore.failureFacts.test.ts
Due: node licenses/update_license.js, prettier --write

fix: clear stale tool display facts on outcome changes
  src/service/runUsageReconciliation.ts
  test/unit/service/runUsageReconciliation.test.ts
Due: node licenses/update_license.js, prettier --write

fix: complete control recovery without duplicate delivery
  backend/app/controller/run_controller.py
  backend/app/run_journal/store.py
  backend/tests/app/controller/test_run_control_api.py
  src/components/ChatBox/BottomBox/useEventNativeHumanControl.ts
  src/components/ChatBox/InterruptedRunBanner.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/index.tsx
  src/service/controlOperations.ts
  src/service/humanInteractionApi.ts
  src/service/humanInteractionCompletion.ts
  test/unit/api/controlRecovery.test.tsx
  test/unit/components/ChatBox.spaceModelSelection.test.tsx
  test/unit/components/ChatBox.test.tsx
  test/unit/components/ChatBox/BottomBox/useEventNativeHumanControl.test.tsx
  test/unit/service/humanInteractionApi.test.ts
  test/unit/service/humanInteractionCompletion.test.ts
Due: node licenses/update_license.js, prettier --write

fix: retain deferred interaction completion across navigation
  src/components/ChatBox/index.tsx
  src/service/controlOperations.ts
  src/service/humanInteractionCompletion.ts
  test/unit/api/controlRecovery.test.tsx
  test/unit/components/ChatBox.spaceModelSelection.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: report accurate file preview completeness
  src/components/Folder/index.tsx
  src/lib/filePreviewLoader.ts
  src/shared/filePreviewContract.ts
  test/unit/components/Folder/FileViewerPanel.test.tsx
  test/unit/electron/fileReaderPreview.test.ts
  test/unit/lib/filePreviewLoader.test.ts
Due: node licenses/update_license.js, prettier --write

fix: show approval terminal reasons and retire stale controls
  backend/app/permission_policy/runtime.py
  backend/tests/app/permission_policy/test_permission_runtime.py
  backend/tests/app/run_journal/test_approval_terminal_receipts.py
  src/components/ChatBox/EventTimeline/presentationPolicy.ts
  src/components/ChatBox/MessageItem/HumanInteractionCard.tsx
  src/components/ChatBox/index.tsx
  src/hooks/useHumanInteractionExpiry.ts
  src/hooks/useInterruptedRunStatus.ts
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/lib/approvalPresentation.ts
  src/lib/projector/chat/adapter.ts
  src/lib/projector/chat/presentation/timelineCalls.ts
  src/lib/projector/chat/types.ts
  src/lib/projector/reduce.ts
  src/lib/projector/runSummary.ts
  src/lib/projector/types.ts
  src/service/humanInteractionApi.ts
  src/store/chatStore.ts
  test/unit/components/ChatBox/MessageItem/HumanInteractionCard.test.tsx
  test/unit/hooks/useInterruptedRunStatus.test.tsx
  test/unit/lib/approvalTerminalReasons.test.ts
  test/unit/service/humanInteractionApi.test.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: validate local preview completeness against opened file
  electron/main/fileReader.ts
  test/unit/electron/fileReaderPreview.test.ts
Due: node licenses/update_license.js, prettier --write

fix: recover approval validation and enrich terminal receipts
  src/components/ChatBox/MessageItem/HumanInteractionCard.tsx
  src/components/ChatBox/TimelineModes/TrajectoryTimeline.tsx
  test/unit/components/ChatBox/MessageItem/HumanInteractionCard.test.tsx
  test/unit/components/ChatBox/TimelineModes.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: fence approval submission cleanup and terminal metadata
  src/components/ChatBox/MessageItem/HumanInteractionCard.tsx
  test/unit/components/ChatBox/MessageItem/HumanInteractionCard.test.tsx
Due: node licenses/update_license.js, prettier --write

test: reproduce warm follow-up admission and rollback gaps
  backend/tests/app/controller/test_warm_follow_up_git.py
Due: node licenses/update_license.js

fix: preserve shell scrollback during Session entrance
  src/components/Session/PreviewPanel/index.tsx
  src/components/Session/PreviewPanel/tabs/terminal/ShellTerminal.tsx
  src/components/Session/PreviewPanel/tabs/terminal/TerminalTab.tsx
  test/e2e/terminal-scrollback/main.cjs
  test/e2e/terminal-scrollback/preload.cjs
  test/e2e/terminal-scrollback/renderer.tsx
  test/e2e/terminal-scrollback/verify.mjs
  test/unit/components/Session/PreviewPanel.test.tsx
  test/unit/components/Session/ShellTerminal.test.tsx
  test/unit/components/Session/TerminalTab.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: include direct Task refs in version history
  backend/app/workspace_git/advanced.py
  backend/tests/app/workspace_git/history_fixture.py
  backend/tests/app/workspace_git/test_history.py
  src/components/Workspace/workspaceVersionHistoryView.ts
  test/integration/components/WorkspaceVersionHistory.test.tsx
  test/unit/components/WorkspaceVersionHistoryView.test.ts
Due: node licenses/update_license.js, prettier --write

fix: recover failed Bundle imports
  backend/app/run_journal/store.py
  backend/tests/app/controller/test_workspace_bundle_controller.py
  backend/tests/app/workspace_bundle/test_installer.py
  src/components/Home/NewSpaceDialog.tsx
  src/components/WorkspaceBundle/WorkspaceBundleInstallWizard.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/routers/LegacyRouteCompatibility.tsx
  test/unit/components/WorkspaceBundle/WorkspaceBundleInstallWizard.test.tsx
  test/unit/routers/LegacyRouteCompatibility.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: pair Bundle sharing text with its selected fill
  src/components/WorkspaceConfiguration/WorkspaceBundleSaveDialog.tsx
  test/e2e/bundle-sharing/fixtures.ts
  test/e2e/bundle-sharing/main.cjs
  test/e2e/bundle-sharing/renderer.tsx
  test/e2e/bundle-sharing/verify.mjs
  test/unit/components/WorkspaceConfiguration/WorkspaceBundleSaveDialog.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: retire Bundle recovery inputs on account changes
  src/components/WorkspaceBundle/WorkspaceBundleInstallWizard.tsx
  test/unit/components/WorkspaceBundle/WorkspaceBundleInstallWizard.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: admit warm follow-ups with retryable publication abort
  backend/app/controller/chat_controller.py
  backend/app/run_journal/models.py
  backend/app/run_journal/store.py
  backend/app/run_runtime/admission.py
  backend/app/service/task.py
  backend/app/workspace_git/scheduler.py
  backend/tests/app/controller/test_warm_follow_up_git.py
Due: node licenses/update_license.js

fix: clean up Session files with scoped identity and retryable failures
  electron/main/fileReader.ts
  electron/main/index.ts
  electron/main/utils/taskFileCleanup.ts
  src/components/Home/hooks/useHomeHubProjects.ts
  src/components/Home/index.tsx
  src/components/SpaceSidebar/index.tsx
  src/components/ui/alertDialog.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/lib/sessionFileCleanup.ts
  test/unit/components/HomeSessionDeletion.test.tsx
  test/unit/components/SidebarSessionDeletion.test.tsx
  test/unit/electron/taskFileCleanup.test.ts
  test/unit/lib/sessionFileCleanup.test.ts
Due: node licenses/update_license.js, prettier --write

fix: clarify subscription trial quota copy
  src/components/ChatBox/index.tsx
  src/hooks/useUsageIncidentBanner.ts
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/lib/trialQuotaCopy.ts
  src/lib/usageLimitBanner.ts
  src/store/usageNoticeStore.ts
  test/unit/components/ChatBox.test.tsx
  test/unit/components/TrialQuotaNotice.test.tsx
  test/unit/i18n/trialQuotaCopy.test.ts
  test/unit/lib/trialQuotaCopy.test.ts
Due: node licenses/update_license.js, prettier --write

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
