Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

chore: satisfy repository pre-commit hooks on workforce bundle branch
  backend/app/auth/__init__.py
  backend/app/auth/local_control.py
  backend/app/memory/local_store.py
  backend/app/run_journal/transitions.py
  backend/app/workspace_bundle/mcp_destination.py
  backend/app/workspace_bundle/runtime.py
  backend/app/workspace_git/__init__.py
  backend/tests/app/agent/factory/test_tool_descriptions.py
  backend/tests/app/agent/toolkit/test_hybrid_browser_tab_limits.py
  backend/tests/app/auth/test_local_control.py
  backend/tests/app/controller/test_workspace_git_controller.py
  backend/tests/app/service/test_single_agent_service.py
  backend/tests/app/workspace_bundle/test_mcp_destination.py
  backend/tests/app/workspace_config/__init__.py
  backend/tests/app/workspace_git/__init__.py
  backend/tests/app/workspace_git/test_configuration_repository.py
Due: node licenses/update_license.js

fix: reap terminated terminal process group
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/tests/app/agent/toolkit/test_terminal_toolkit.py
Due: node licenses/update_license.js

fix: stabilize background terminal workspace leases
  backend/app/agent/listen_chat_agent.py
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/run_journal/store.py
  backend/app/run_runtime/tool_checkpoint.py
  backend/app/workspace_git/mutation.py
  backend/app/workspace_git/workforce.py
  backend/tests/app/agent/test_listen_chat_agent.py
  backend/tests/app/agent/toolkit/test_terminal_workspace.py
  backend/tests/app/workspace_git/test_mutation.py
Due: node licenses/update_license.js

fix: prevent project history loading races
  src/components/ProjectPageSidebar/index.tsx
  src/store/projectStore.ts
  test/unit/store/projectStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: address session side panel review findings
  src/components/ChatBox/README.md
  src/components/Session/SidePanel/components/AccordionBox.tsx
  src/components/Session/SidePanel/components/ActivityPanel.tsx
  src/components/Session/SidePanel/sections/buildProjectSessionPanelData.ts
  src/components/Session/SidePanel/sections/useProjectOutputFiles.ts
  src/hooks/useProjectEventStoreHydration.ts
  src/hooks/useProjectSessionOverview.ts
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/lib/projector/chat/adapter.ts
  src/lib/projector/chat/types.ts
  src/lib/workspaceRelativePath.ts
  src/store/chatStore.ts
  test/unit/components/Session/ActivityPanel.test.tsx
  test/unit/components/Session/SidePanelSections/useProjectOutputFiles.test.tsx
  test/unit/components/buildProjectSessionPanelData.test.ts
  test/unit/hooks/useProjectEventRuntime.test.tsx
  test/unit/hooks/useProjectEventStoreHydration.test.tsx
  test/unit/hooks/useProjectSessionOverview.test.tsx
  test/unit/lib/chatProjectionActivity.test.ts
  test/unit/lib/workspaceRelativePath.test.ts
Due: node licenses/update_license.js, prettier --write

Connect session side panel to durable event bus
  src/components/ChatBox/EventNativeProjectTimeline.tsx
  src/components/ChatBox/index.tsx
  src/components/Folder/index.tsx
  src/components/Session/SidePanel/components/ActivityPanel.tsx
  src/components/Session/SidePanel/sections/buildProjectSessionPanelData.ts
  src/components/Session/index.tsx
  src/hooks/useProjectEventRuntime.tsx
  src/hooks/useProjectSessionOverview.ts
  src/store/chatEventProjectionBridge.ts
  src/store/chatStore.ts
  test/unit/components/ChatBox/EventNativeProjectTimeline.test.tsx
  test/unit/components/Session/SidePanelSections/collectSidePanelOutputFiles.test.ts
  test/unit/components/Session/SidePanelSections/useProjectOutputFiles.test.tsx
  test/unit/components/buildProjectSessionPanelData.test.ts
  test/unit/hooks/useProjectEventRuntime.test.tsx
  test/unit/hooks/useProjectSessionOverview.test.tsx
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

Fix session panel skill usage detection
  src/components/Session/SidePanel/sections/buildProjectSessionPanelData.ts
  test/unit/components/buildProjectSessionPanelData.test.ts
Due: node licenses/update_license.js, prettier --write

Fix session panel cross-project progress leakage
  src/components/Session/SidePanel/sections/buildProjectSessionPanelData.ts
  test/unit/components/buildProjectSessionPanelData.test.ts
Due: node licenses/update_license.js, prettier --write

fix: preserve realtime artifact identity
  backend/app/agent/toolkit/file_write_toolkit.py
  backend/app/agent/toolkit/pptx_toolkit.py
  backend/app/service/chat_service.py
  backend/app/service/single_agent_service.py
  backend/app/service/task.py
  backend/app/utils/space_overlay_client.py
  backend/tests/app/agent/toolkit/test_file_write_workspace.py
  backend/tests/app/agent/toolkit/test_pptx_workspace.py
  backend/tests/app/service/test_single_agent_service.py
  src/components/Session/SidePanel/sections/buildProjectSessionPanelData.ts
  test/unit/components/buildProjectSessionPanelData.test.ts
Due: node licenses/update_license.js, prettier --write

Fix session panel agent grouping
  src/components/Session/SidePanel/components/ActivityPanel.tsx
  src/components/Session/SidePanel/sections/buildProjectSessionPanelData.ts
  test/unit/components/buildProjectSessionPanelData.test.ts
Due: node licenses/update_license.js, prettier --write

Fix session panel project progress isolation
  src/components/Session/SidePanel/components/ActivityPanel.tsx
  src/components/Session/index.tsx
  test/unit/hooks/useProjectEventRuntime.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: restore running project history without blocking navigation
  src/components/ProjectPageSidebar/index.tsx
  src/store/chatStore.ts
  src/store/projectStore.ts
  test/unit/store/chatStore.test.ts
  test/unit/store/projectStore.test.ts
Due: node licenses/update_license.js, prettier --write

revert development setting
  .env.development
Due: none

cleanup unrelated changes
  .agents/skills/animate/RECIPES.md
  .agents/skills/animate/SKILL.md
  .agents/skills/animation-vocabulary/SKILL.md
  .agents/skills/apple-design/SKILL.md
  .agents/skills/ask-sonner/API.md
  .agents/skills/ask-sonner/SKILL.md
  .agents/skills/emil-design-eng/SKILL.md
  .agents/skills/find-animation-opportunities/SKILL.md
  .agents/skills/improve-animations/AUDIT.md
  .agents/skills/improve-animations/PLAN-TEMPLATE.md
  .agents/skills/improve-animations/SKILL.md
  .agents/skills/pick-ui-library/SKILL.md
  .agents/skills/prototype/PICKER.md
  .agents/skills/prototype/SKILL.md
  .agents/skills/review-animations/SKILL.md
  .agents/skills/review-animations/STANDARDS.md
  .gitignore
  electron/main/index.ts
  scripts/check-design-token-usage.mjs
  skills-lock.json
  src/assets/custom/AGENT_ICONS.md
  src/assets/custom/eigen-bird.svg
  src/assets/custom/eigen-browser.svg
  src/assets/custom/eigen-caret-aperture.svg
  src/assets/custom/eigen-caret-crossed.svg
  src/assets/custom/eigen-caret-interlocked.svg
  src/assets/custom/eigen-caret-mirrored.svg
  src/assets/custom/eigen-caret-nested.svg
  src/assets/custom/eigen-caret-offset.svg
  src/assets/custom/eigen-caret-split.svg
  src/assets/custom/eigen-caret-stacked.svg
  src/assets/custom/eigen-caret-wave.svg
  src/assets/custom/eigen-caret-woven.svg
  src/assets/custom/eigen-code.svg
  src/assets/custom/eigen-default.svg
  src/assets/custom/eigen-document.svg
  src/assets/custom/eigen-image.svg
  src/assets/custom/eigen-operators-samples.svg
  vitest.config.ts
Due: node licenses/update_license.js, prettier --write

mirror fix
  electron/main/index.ts
  src/components/Dialog/InviteCodeDialog.tsx
  src/components/Dialog/ReportBugDialog.tsx
  src/components/Settings/Connectors/components/MCPEnvDialog.tsx
  src/components/Trigger/TriggerDialog.tsx
  src/components/ui/alertDialog.tsx
  src/components/ui/dialog.tsx
Due: node licenses/update_license.js, prettier --write

fix: preserve workspace configuration changes during navigation
  src/components/Layout/index.tsx
  src/components/TopBar/UserMenu.tsx
  src/components/TopBar/index.tsx
  src/lib/workspaceConfigurationNavigationGuard.ts
  src/pages/Settings.tsx
  src/pages/WorkspaceConfiguration.tsx
  test/unit/components/WorkspaceConfiguration/WorkspaceConfigurationEditor.test.tsx
  test/unit/lib/workspaceConfigurationNavigationGuard.test.ts
Due: node licenses/update_license.js, prettier --write

fix: restore desktop updater lifecycle in settings
  src/components/Layout/index.tsx
  src/components/Settings/SettingsOverview/index.tsx
  src/hooks/useDesktopUpdater.ts
  src/store/updateStore.ts
  test/unit/components/SettingsOverviewUpdater.test.tsx
  test/unit/hooks/useDesktopUpdater.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: restore dashboard task pause and resume actions
  src/components/Home/Tasks.tsx
  src/components/Home/components/HomeHubCard.tsx
  src/components/Home/components/HomeHubItemShared.tsx
  src/components/Home/context.tsx
  src/components/Home/index.tsx
  src/components/Home/utils/boardStatus.ts
  src/lib/taskRuntimeControl.ts
  test/unit/components/HomeTasksControls.test.tsx
  test/unit/lib/taskRuntimeControl.test.ts
Due: node licenses/update_license.js, prettier --write

chore: satisfy dashboard frontend guardrails
  electron/main/index.ts
  scripts/check-design-token-usage.mjs
  src/components/ChatBox/index.tsx
  src/components/Dashboard/IntegrationList/index.tsx
  src/components/Dispatch/index.tsx
  src/components/Folder/index.tsx
  src/components/Home/NewSpaceDialog.tsx
  src/components/Settings/Connectors/components/MCPEnvDialog.tsx
  src/components/Settings/Skills/components/SkillListItem.tsx
  src/components/Trigger/ExecutionLogs.tsx
  src/components/Trigger/Triggers.tsx
  src/components/Workspace/index.tsx
  src/components/ui/input.tsx
  src/hooks/useWorkspaceConfiguration.ts
  src/service/memoryApi.ts
  test/unit/components/Workspace.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: load local media through workspace preview protocol
  src/components/Folder/index.tsx
  src/lib/filePreviewLoader.ts
  test/unit/lib/filePreviewLoader.test.ts
Due: node licenses/update_license.js, prettier --write

fix: restore workspace file previews
  electron/main/fileReader.ts
  electron/main/index.ts
  src/components/Session/SidePanel/components/ActivityPanel.tsx
  src/components/Session/SidePanel/sections/useProjectOutputFiles.ts
  test/unit/components/Session/ActivityPanel.test.tsx
  test/unit/components/Session/SidePanelSections/useProjectOutputFiles.test.tsx
  test/unit/electron/fileReaderPreview.test.ts
Due: node licenses/update_license.js, prettier --write

feat: make workspace version history user friendly
  backend/app/workspace_git/advanced.py
  backend/tests/app/workspace_git/test_advanced.py
  src/components/Workspace/WorkspaceCommitTimeline.tsx
  src/components/Workspace/WorkspaceVersionHistoryDialog.tsx
  src/components/Workspace/workspaceVersionHistoryView.ts
  src/service/workspaceGitApi.ts
  test/unit/components/WorkspaceCommitTimeline.test.tsx
  test/unit/components/WorkspaceVersionHistoryView.test.ts
Due: node licenses/update_license.js, prettier --write

fix: support unbounded long-running agent turns
  backend/app/agent/listen_chat_agent.py
  backend/app/agent/toolkit/screenshot_toolkit.py
  backend/app/run_runtime/active_timeout.py
  backend/app/run_runtime/timeout_config.py
  backend/app/service/task.py
  backend/app/utils/workforce.py
  backend/tests/app/agent/test_listen_chat_agent.py
  backend/tests/app/agent/toolkit/test_screenshot_toolkit.py
  backend/tests/app/run_runtime/test_active_timeout.py
  backend/tests/app/run_runtime/test_timeout_config.py
  backend/tests/app/service/test_task.py
  backend/tests/app/utils/test_workforce.py
Due: node licenses/update_license.js

feat: make scoped Memory discoverable and manageable
  backend/app/controller/memory_controller.py
  backend/tests/app/controller/test_memory_controller.py
  src/components/Settings/Memory/MemoryScopeNotice.tsx
  src/components/Settings/Memory/index.tsx
  src/service/memoryApi.ts
  test/unit/components/MemoryScopeDirectory.test.tsx
  test/unit/components/MemorySettingsLayout.test.tsx
  test/unit/components/SettingsMemory.test.tsx
  test/unit/service/memoryApi.test.ts
Due: node licenses/update_license.js, prettier --write

fix: bound background Space project syncs
  src/components/Home/Spaces.tsx
  src/components/SpacesHub/index.tsx
  src/store/spaceStore.ts
  test/unit/store/spaceStore.test.ts
Due: node licenses/update_license.js, prettier --write

feat: automate scoped memory extraction
  backend/app/controller/chat_controller.py
  backend/app/lightweight_memory/maintainer.py
  backend/app/run_journal/store.py
  backend/tests/app/lightweight_memory/test_lightweight_memory_service.py
  backend/tests/app/run_journal/test_memory_v2.py
  backend/tests/app/run_journal/test_model_invocations.py
  src/components/Settings/Memory/index.tsx
  test/unit/components/MemorySettingsLayout.test.tsx
  test/unit/components/SettingsMemory.test.tsx
Due: node licenses/update_license.js, prettier --write

perf: make project history hydration nonblocking
  backend/app/controller/run_controller.py
  backend/app/run_sync/cloud_sync.py
  backend/app/run_sync/runtime.py
  backend/tests/app/controller/test_run_control_api.py
  src/service/projectEventStoreHydration.ts
  src/service/projectRunsApi.ts
  src/store/projectStore.ts
  test/unit/service/projectEventStoreHydration.test.ts
  test/unit/service/projectRunsApi.test.ts
Due: node licenses/update_license.js, prettier --write

feat: back change review with project git diffs
  backend/app/controller/workspace_git_controller.py
  backend/app/workspace_git/__init__.py
  backend/app/workspace_git/backend.py
  backend/tests/app/controller/test_workspace_git_controller.py
  src/components/Session/PreviewPanel/tabs/ReviewTab.tsx
  src/components/Session/PreviewPanel/tabs/review/DiffFileCard.tsx
  src/components/Session/PreviewPanel/tabs/review/reviewSources.ts
  src/components/Session/PreviewPanel/tabs/review/useReviewChanges.ts
  src/service/workspaceGitApi.ts
  test/unit/components/Session/ReviewTab.test.tsx
  test/unit/components/Session/useReviewChanges.test.tsx
  test/unit/service/workspaceGitApi.test.ts
Due: node licenses/update_license.js, prettier --write

chore: drop local agent skills, animation plans, and env.development from the branch
  .agents/skills/animate/RECIPES.md
  .agents/skills/animate/SKILL.md
  .agents/skills/animation-vocabulary/SKILL.md
  .agents/skills/apple-design/SKILL.md
  .agents/skills/ask-sonner/API.md
  .agents/skills/ask-sonner/SKILL.md
  .agents/skills/emil-design-eng/SKILL.md
  .agents/skills/find-animation-opportunities/SKILL.md
  .agents/skills/improve-animations/AUDIT.md
  .agents/skills/improve-animations/PLAN-TEMPLATE.md
  .agents/skills/improve-animations/SKILL.md
  .agents/skills/pick-ui-library/SKILL.md
  .agents/skills/prototype/PICKER.md
  .agents/skills/prototype/SKILL.md
  .agents/skills/review-animations/SKILL.md
  .agents/skills/review-animations/STANDARDS.md
  .env.development
  animation-plans/001-smooth-current-timeline-event.md
  animation-plans/README.md
Due: none

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
