Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

fix: prevent proxy edits during pending saves (#1957)
  src/components/Settings/General/index.tsx
  test/unit/components/GeneralSettingsProxy.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: collapse network proxy actions into one dynamic button
  src/components/Settings/General/index.tsx
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  test/unit/components/GeneralSettingsProxy.test.tsx
Due: node licenses/update_license.js, prettier --write

wire reward thumbupdown with event bus
  src/components/ChatBox/MessageItem/AgentMessageCard.tsx
  src/components/ChatBox/TimelineModes/NarrativeTimeline.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/lib/events/appEvents.ts
  test/unit/components/ChatBox/MessageItem/AgentMessageCardFeedback.test.tsx
  test/unit/components/ChatBox/TimelineModes.test.tsx
  test/unit/components/ChatBox/UserQueryGroup.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: keep proxy actions stable and restart accessible
  src/components/Settings/General/index.tsx
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  test/unit/components/GeneralSettingsProxy.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: preserve source identity for message feedback
  src/components/ChatBox/MessageItem/AgentMessageCard.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/lib/events/appEvents.ts
  src/lib/messageIdentity.ts
  src/lib/projector/chat/adapter.ts
  src/store/chatStore.ts
  src/types/chatbox.d.ts
  test/unit/components/ChatBox/MessageItem/AgentMessageCardFeedback.test.tsx
  test/unit/components/ChatBox/UserQueryGroup.test.tsx
  test/unit/store/chatStore.durableReplay.test.ts
  test/unit/store/chatStore.feedbackIdentity.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: distinguish synthetic history ids in message feedback
  src/components/ChatBox/TimelineModes/NarrativeTimeline.tsx
  src/lib/projector/adapters/legacyChatStep.ts
  src/lib/projector/chat/adapter.ts
  src/lib/projector/chat/types.ts
  src/lib/projector/normalize.ts
  src/lib/projector/reduce.ts
  src/lib/projector/types.ts
  test/unit/components/ChatBox/TimelineModes.test.tsx
  test/unit/lib/chatProjectionContract.test.ts
Due: node licenses/update_license.js, prettier --write

feat: show model count in home sidebar
  src/components/Settings/SettingsSidebar.tsx
  test/unit/components/SettingsPage.test.tsx
Due: node licenses/update_license.js, prettier --write

docs: remove model configuration plan
  docs/plans/model-config-enhancement.md
Due: none

copy: explain default model behavior
  src/components/Settings/Models/index.tsx
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  test/unit/components/Settings/ModelsNavigation.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: animate unavailable model upgrade prompt
  src/components/Settings/Models/index.tsx
  test/unit/components/Settings/ModelsNavigation.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: correct model availability counts
  src/components/Settings/Models/index.tsx
  src/components/Settings/SettingsSidebar.tsx
  test/unit/components/Settings/ModelsNavigation.test.tsx
  test/unit/components/SettingsPage.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: gate unavailable Eigent models
  src/components/Settings/Models/index.tsx
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  test/unit/components/Settings/ModelsNavigation.test.tsx
Due: node licenses/update_license.js, prettier --write

Enhancement/network proxy single action (#1903)
  src/components/Settings/General/index.tsx
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  test/unit/components/GeneralSettingsProxy.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: correlate live message feedback with committed receipts
  backend/app/run_runtime/coordinator.py
  backend/app/utils/server/sync_step.py
  backend/tests/app/run_runtime/test_coordinator.py
  backend/tests/app/service/test_chat_service.py
  backend/tests/app/utils/server/test_sync_step_journal.py
  src/lib/messageIdentity.ts
  src/lib/projector/adapters/legacyChatStep.ts
  src/lib/projector/normalize.ts
  src/lib/projector/types.ts
  src/store/chatStore.ts
  src/types/chatbox.d.ts
  test/unit/components/ChatBox/TimelineModes.test.tsx
  test/unit/store/chatEventProjectionBridge.test.ts
  test/unit/store/chatStore.feedbackIdentity.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: retain feedback receipt identity in cloud playback
  backend/app/utils/server/sync_step.py
  backend/tests/app/utils/server/test_sync_step_journal.py
  server/tests/test_chat_step_feedback_identity.py
  src/lib/messageIdentity.ts
  test/unit/lib/messageIdentity.test.ts
  test/unit/store/chatStore.feedbackIdentity.test.tsx
Due: node licenses/update_license.js, prettier --write

wire reward thumbupdown with event bus (#1900)
  backend/app/run_runtime/coordinator.py
  backend/app/utils/server/sync_step.py
  backend/tests/app/run_runtime/test_coordinator.py
  backend/tests/app/service/test_chat_service.py
  backend/tests/app/utils/server/test_sync_step_journal.py
  server/tests/test_chat_step_feedback_identity.py
  src/components/ChatBox/MessageItem/AgentMessageCard.tsx
  src/components/ChatBox/TimelineModes/NarrativeTimeline.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/lib/events/appEvents.ts
  src/lib/messageIdentity.ts
  src/lib/projector/adapters/legacyChatStep.ts
  src/lib/projector/chat/adapter.ts
  src/lib/projector/chat/types.ts
  src/lib/projector/normalize.ts
  src/lib/projector/reduce.ts
  src/lib/projector/types.ts
  src/store/chatStore.ts
  src/types/chatbox.d.ts
  test/unit/components/ChatBox/MessageItem/AgentMessageCardFeedback.test.tsx
  test/unit/components/ChatBox/TimelineModes.test.tsx
  test/unit/components/ChatBox/UserQueryGroup.test.tsx
  test/unit/lib/chatProjectionContract.test.ts
  test/unit/lib/messageIdentity.test.ts
  test/unit/store/chatEventProjectionBridge.test.ts
  test/unit/store/chatStore.durableReplay.test.ts
  test/unit/store/chatStore.feedbackIdentity.test.tsx
Due: node licenses/update_license.js, prettier --write

test: tolerate floating-point pause budgets
  backend/tests/app/model/test_provider_wait.py
Due: node licenses/update_license.js

fix(journal): retain bounded terminal display receipts
  backend/app/run_journal/semantic_events.py
  backend/tests/app/run_journal/test_semantic_events.py
  test/fixtures/completed-run-display.json
Due: node licenses/update_license.js

test(journal): capture the real single-agent tool lifecycle
  backend/tests/app/run_journal/test_single_agent_display_fixture.py
  test/fixtures/completed-single-agent-display.json
Due: node licenses/update_license.js

fix(http): scope background requests to their original account
  src/api/http.ts
  src/lib/authEnvironment.ts
  test/unit/api/http.test.ts
Due: node licenses/update_license.js, prettier --write

fix(recovery): read bounded terminal journal results
  src/service/runUsageReconciliation.ts
  test/unit/service/runUsageReconciliation.test.ts
Due: node licenses/update_license.js, prettier --write

fix(recovery): preserve terminal display and tool ownership
  src/service/completedRunDisplayRecovery.ts
  src/types/chatbox.d.ts
  test/unit/service/completedRunDisplayRecovery.test.ts
Due: node licenses/update_license.js, prettier --write

fix(triggers): serialize terminal receipts and token enrichment
  server/app/domains/trigger/service/trigger_crud_service.py
  server/app/domains/trigger/service/trigger_schedule_task.py
  server/app/domains/trigger/service/trigger_service.py
  server/tests/test_trigger_execution_status.py
Due: node licenses/update_license.js

fix(triggers): recover scoped receipts after renderer loss
  src/service/runStateReconciliation.ts
  src/service/triggerApi.ts
  test/unit/service/triggerApi.test.ts
Due: node licenses/update_license.js, prettier --write

fix(runtime): reconcile terminal state and run ownership end to end
  backend/app/controller/chat_controller.py
  backend/app/model/chat.py
  backend/app/run_runtime/coordinator.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/run_runtime/test_coordinator.py
  src/components/ChatBox/index.tsx
  src/hooks/useBackgroundTaskProcessor.ts
  src/store/chatStore.ts
  src/store/projectStore.ts
  test/unit/components/ChatBox.test.tsx
  test/unit/hooks/useBackgroundTaskProcessor.test.tsx
  test/unit/store/chatStore.test.ts
  test/unit/store/projectStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix(triggers): await authoritative outcomes for running executions
  server/.env.example
  server/app/domains/trigger/service/trigger_schedule_task.py
  server/tests/test_trigger_execution_status.py
Due: node licenses/update_license.js

test: harden Meta provider integration
  backend/app/model/model_platform.py
  backend/tests/app/agent/test_agent_model.py
  backend/tests/app/component/test_model_validation.py
  backend/tests/app/model/test_model_platform.py
  scripts/check-i18n-source-usage.mjs
Due: node licenses/update_license.js

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
