Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

refactor spliting task ux and ui (#1620)
  src/components/ChatBox/BottomBox/BoxHeader.tsx
  src/components/ChatBox/BottomBox/index.tsx
  src/components/ChatBox/MessageItem/SplittingProgressRow.tsx
  src/components/ChatBox/TaskBox/PlanTaskBox/ExpandedOverlay.tsx
  src/components/ChatBox/TaskBox/PlanTaskBox/FoldedView.tsx
  src/components/ChatBox/TaskBox/PlanTaskBox/StatusRow.tsx
  src/components/ChatBox/TaskBox/PlanTaskBox/SubtaskEditor.tsx
  src/components/ChatBox/TaskBox/PlanTaskBox/index.tsx
  src/components/ChatBox/TaskBox/PlanTaskBox/utils.ts
  src/components/ChatBox/TaskBox/StreamingTaskList.tsx
  src/components/ChatBox/TaskBox/TypeCardSkeleton.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/index.tsx
  src/components/Session/SidePanelSections/ProgressSection.tsx
  src/components/Session/Workforce/FoldedPanel/index.tsx
  src/components/WorkFlow/node.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/lib/taskLifecycleUi.ts
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

adding task start countdown to indicate timeout auto start process
  src/components/ChatBox/BottomBox/BoxHeader.tsx
  src/components/ChatBox/BottomBox/index.tsx
  src/components/ChatBox/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

adding task start countdown to indicate timeout auto start process (#1621)
  src/components/ChatBox/BottomBox/BoxHeader.tsx
  src/components/ChatBox/BottomBox/index.tsx
  src/components/ChatBox/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

update naming
  src/components/ProjectPageSidebar/index.tsx
Due: node licenses/update_license.js, prettier --write

update
  backend/app/controller/file_controller.py
  backend/tests/app/controller/test_widget_controller.py
  src/components/Widget/WidgetHtmlFrame.tsx
  src/components/Widget/WorkspaceWidgetPage.tsx
  src/components/Widget/WorkspaceWidgetPreview.tsx
  src/components/Workspace/index.tsx
  src/pages/Home.tsx
  src/store/pageTabStore.ts
  src/store/widgetStore.ts
  test/unit/components/WorkspaceWidgetPreview.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: preserve task prompts in replay and history
  src/components/GroupedHistoryView/ProjectGroup.tsx
  src/components/HistorySidebar/index.tsx
  src/components/SearchHistoryDialog.tsx
  src/lib/replay.ts
  src/pages/Projects/Project.tsx
  src/store/projectStore.ts
  test/integration/chatStore/replayComplete.test.tsx
  test/mocks/authStore.mock.ts
  test/mocks/proxy.mock.ts
Due: node licenses/update_license.js, prettier --write

fix: auto-register Linux .desktop file with %u to unblock OAuth callback
  electron-builder.json
  electron/main/index.ts
  electron/main/utils/linuxProtocol.ts
Due: node licenses/update_license.js, prettier --write

add remote sub agent
  backend/app/remote_sub_agent/config.py
  backend/app/remote_sub_agent/constants.py
  backend/app/remote_sub_agent/provider_registry.py
  backend/app/remote_sub_agent/runtime.py
Due: node licenses/update_license.js

fix: provider update silently drops model_type and endpoint_url
  server/app/domains/model_provider/service/provider_service.py
Due: node licenses/update_license.js

feat: add OrcaRouter as a BYOK provider
  backend/app/model/model_platform.py
  docs/core/models/byok.md
  src/assets/model/orcarouter.svg
  src/lib/llm.ts
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

feat: searchable model picker dropdown for OrcaRouter
  src/lib/llm.ts
  src/lib/providerModels.ts
  src/pages/Agents/Models.tsx
  src/pages/Agents/components/ProviderModelCombobox.tsx
  src/types/index.ts
Due: node licenses/update_license.js, prettier --write

feat: inline website link on provider cards
  src/lib/llm.ts
  src/pages/Agents/Models.tsx
  src/types/index.ts
Due: node licenses/update_license.js, prettier --write

bug fix for agent folder file naming missalignment
  electron/main/fileReader.ts
  src/components/Folder/index.tsx
Due: node licenses/update_license.js, prettier --write

fix: correct social_medium_agent to social_media_agent in ExpandedInputBox
  src/components/ChatBox/BottomBox/ExpandedInputBox.tsx
Due: node licenses/update_license.js, prettier --write

fix: replace bare except clause with Exception in WebSocket heartbeat
  server/app/domains/trigger/api/trigger_execution_controller.py
Due: node licenses/update_license.js

fix: use urlencode for OAuth authorize URL parameters
  server/app/core/oauth_adapter.py
Due: node licenses/update_license.js

fix: remove hardcoded OAuth client_secret from frontend
  src/pages/Login.tsx
  src/vite-env.d.ts
Due: node licenses/update_license.js, prettier --write

feat: add configurable remote sub agents
  backend/app/agent/factory/browser.py
  backend/app/agent/factory/developer.py
  backend/app/agent/factory/document.py
  backend/app/agent/factory/mcp.py
  backend/app/agent/factory/multi_modal.py
  backend/app/agent/factory/remote_sub_agent.py
  backend/app/agent/factory/social_media.py
  backend/app/agent/prompt.py
  backend/app/agent/toolkit/remote_sub_agent_toolkit.py
  backend/app/service/chat_service.py
  backend/tests/app/remote_sub_agent/test_toolkit_config.py
Due: node licenses/update_license.js

fix: autosave remote sub agent toggle
  src/pages/Agents/SubAgents.tsx
Due: node licenses/update_license.js, prettier --write

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

docs(server): align Python prerequisite with pyproject (3.12) (closes #1579)
  server/README_CN.md
  server/README_EN.md
  server/README_PT-BR.md
Due: none

feat: defer optional Python deps from app bundle
  electron-builder.json
  electron/main/utils/process.ts
Due: node licenses/update_license.js, prettier --write

fix: cloud Claude + Azure GPT routing
  backend/app/agent/agent_model.py
  backend/app/agent/factory/mcp.py
  backend/app/model/chat.py
  backend/tests/app/model/test_chat.py
Due: node licenses/update_license.js

feat: add configurable provider init params (#1639)
  backend/app/agent/agent_model.py
  backend/app/agent/factory/mcp.py
  backend/app/model/chat.py
  backend/tests/app/model/test_chat.py
Due: node licenses/update_license.js

feat: clarify trial credits and upgrade prompts
  src/components/ChatBox/BottomBox/UsageLimitBanner.tsx
  src/components/ChatBox/BottomBox/index.tsx
  src/components/ChatBox/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

Add private pre-release workflows
  .github/workflows/pre-build-view.yml
  .github/workflows/pre-build.yml
Due: none

feat: add OrcaRouter as a BYOK provider with a searchable model picker (#1632)
  backend/app/model/model_platform.py
  docs/core/models/byok.md
  src/assets/model/orcarouter.svg
  src/lib/llm.ts
  src/lib/providerModels.ts
  src/pages/Agents/Models.tsx
  src/pages/Agents/components/ProviderModelCombobox.tsx
  src/types/index.ts
Due: node licenses/update_license.js, prettier --write

Add pre-release build workflows (#1640)
  .github/workflows/pre-build-view.yml
  .github/workflows/pre-build.yml
Due: none

feat: add CAMEL-based single agent mode
  backend/app/agent/factory/single_agent.py
  backend/app/agent/factory/toolkit_assembler.py
  backend/app/agent/prompt.py
  backend/app/agent/toolkit/depth_limited_agent_toolkit.py
  backend/app/agent/toolkit/observable_todo_toolkit.py
  backend/app/model/chat.py
  backend/app/service/chat_service.py
  backend/app/service/single_agent_service.py
  backend/app/service/task.py
  backend/app/utils/agent_memory.py
  backend/app/utils/single_agent_worker.py
  backend/tests/app/agent/toolkit/test_depth_limited_agent_toolkit.py
  backend/tests/app/agent/toolkit/test_observable_todo_toolkit.py
  backend/tests/app/utils/test_agent_memory.py
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/index.tsx
  src/components/Session/SidePanelSections/collectSidePanelOutputFiles.ts
  src/components/Session/SidePanelSections/useProjectOutputFiles.ts
  src/components/Session/SingleAgent/SingleAgentSidePanel.tsx
  src/components/Session/Workforce/WorkforceSidePanel.tsx
  src/components/Session/index.tsx
  src/components/WorkFlow/node.tsx
  src/components/Workspace/index.tsx
  src/lib/sessionMode.ts
  src/store/chatStore.ts
  src/types/chatbox.d.ts
  src/types/constants.ts
Due: node licenses/update_license.js, prettier --write

fix: handle cloud trial limit in chat input state
  src/components/ChatBox/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

version 0.0.91
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
  test/unit/electron/githubReleaseCdnProvider.test.ts
Due: node licenses/update_license.js, prettier --write

feat: free trial usage limit banner (#1642)
  src/components/ChatBox/BottomBox/UsageLimitBanner.tsx
  src/components/ChatBox/BottomBox/index.tsx
  src/components/ChatBox/index.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Agents/Models.tsx
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

add gemini 3.5 flash cloud model
  server/app/model/user/key.py
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Agents/Models.tsx
  src/store/authStore.ts
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

move default value
  backend/app/remote_sub_agent/providers/gemini_agents.py
  backend/tests/app/controller/test_remote_sub_agent_controller.py
  backend/tests/app/remote_sub_agent/test_gemini_agents_provider.py
  backend/tests/app/remote_sub_agent/test_provider_registry.py
  backend/tests/app/remote_sub_agent/test_toolkit_config.py
  server/app/model/remote_sub_agent/provider.py
  server/tests/test_remote_sub_agent_provider.py
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/lib/remoteSubAgent.ts
  src/pages/Agents/SubAgents.tsx
Due: node licenses/update_license.js, prettier --write

add changes to fix enhancement for layout ui
  src/components/Dashboard/HistoryTabsNav.tsx
  src/components/Dialog/InviteCodeDialog.tsx
  src/components/Notification/index.tsx
  src/components/TopBar/index.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/pages/Agents/ConfigModelCard.tsx
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

add changes to fix enhancement for layout ui (#1644)
  src/components/Dashboard/HistoryTabsNav.tsx
  src/components/Dialog/InviteCodeDialog.tsx
  src/components/Notification/index.tsx
  src/components/TopBar/index.tsx
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/pages/Agents/ConfigModelCard.tsx
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

feat: add Nebius Token Factory provider
  backend/app/model/model_platform.py
  backend/tests/app/controller/test_model_controller.py
  backend/tests/app/model/test_chat.py
  backend/tests/app/model/test_model_platform.py
  docs/core/models/byok.md
  docs/get_started/quick_start.md
  src/lib/llm.ts
  src/pages/Agents/Models.tsx
  src/pages/Agents/localModels.ts
  test/unit/lib/llm.test.ts
Due: node licenses/update_license.js, prettier --write
