Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

fix: tool result information's background is transparent
  src/components/ChatBox/MessageItem/AgentMessageCard.tsx
  src/components/WorkFlow/node.tsx
  src/style/markdown-styles.css
Due: node licenses/update_license.js, prettier --write

fix: Resolve tooltip background transparency issue (#1149) (#1174)
  src/components/ChatBox/MessageItem/AgentMessageCard.tsx
  src/components/WorkFlow/node.tsx
  src/style/markdown-styles.css
Due: node licenses/update_license.js, prettier --write

Revert " Fix macOS Intel CI build & improve first-launch UX (#1169)"
  .github/workflows/build-view.yml
  config/before-sign.cjs
  electron-builder.json
  electron/main/index.ts
  electron/main/install-deps.ts
  electron/main/utils/process.ts
  src/components/InstallStep/InstallDependencies.tsx
Due: node licenses/update_license.js, prettier --write

Revert PR #1169 (#1179)
  .github/workflows/build-view.yml
  config/before-sign.cjs
  electron-builder.json
  electron/main/index.ts
  electron/main/install-deps.ts
  electron/main/utils/process.ts
  src/components/InstallStep/InstallDependencies.tsx
Due: node licenses/update_license.js, prettier --write

refactor(knowledge-base): switch from SQLite to markdown file-based memory (#1099)
  backend/app/agent/toolkit/knowledge_base_toolkit.py
  backend/app/controller/knowledge_controller.py
  backend/app/router.py
  backend/app/utils/memory_file.py
  backend/app/utils/sqlite_toolkit.py
  backend/tests/unit/utils/test_knowledge_base.py
Due: node licenses/update_license.js

fix(history): sticky tab bar overlape
  src/pages/History.tsx
Due: node licenses/update_license.js, prettier --write

fix: comment
  src/pages/History.tsx
Due: node licenses/update_license.js, prettier --write

feat: add Ollama model dropdown with auto-fetch and validation fixes
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

enhance
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

feat: improve Ollama local model configuration UX (#991)
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

refactor(memory): index-only prompt, no dedicated tools (reviewer feedback)
  backend/app/agent/toolkit/knowledge_base_toolkit.py
  backend/app/utils/memory_file.py
  backend/tests/unit/utils/test_knowledge_base.py
Due: node licenses/update_license.js

fix: pass local MCP config to backend instead of empty object
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

feat(file_utils): add robust path handling and safe directory listing
  backend/app/service/chat_service.py
  backend/app/utils/file_utils.py
Due: node licenses/update_license.js

fix(file_utils): validate dir_path before path ops for CodeQL
  backend/app/utils/file_utils.py
Due: node licenses/update_license.js

style(file_utils): apply ruff lint and format for pre-commit
  backend/app/utils/file_utils.py
Due: node licenses/update_license.js

style(chat_service): remove unused os import for ruff
  backend/app/service/chat_service.py
Due: node licenses/update_license.js

fix(file_utils): build path for os.walk from base + os.listdir for CodeQL
  backend/app/utils/file_utils.py
Due: node licenses/update_license.js

fix(file_utils): use only trusted base in path ops for CodeQL
  backend/app/utils/file_utils.py
Due: node licenses/update_license.js

fix(codeql): exclude py/path-injection to fix false positives
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

style(chat_service): apply ruff format for pre-commit
  backend/app/service/chat_service.py
Due: node licenses/update_license.js

fix: make logos visible in dark mode
  src/pages/Setting.tsx
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

Update src/pages/Setting/Models.tsx
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

feature check after conflict resolved
  src/components/ChatBox/MessageItem/AgentMessageCard.tsx
  src/style/markdown-styles.css
Due: node licenses/update_license.js, prettier --write

installation-animation-fix
  src/components/InstallStep/InstallDependencies.tsx
Due: node licenses/update_license.js, prettier --write

Address nitpicker55555 review: remove unused memory helpers, wire prompt, doc toolkit
  backend/app/agent/toolkit/knowledge_base_toolkit.py
  backend/app/service/chat_service.py
  backend/app/utils/memory_file.py
  backend/tests/unit/utils/test_knowledge_base.py
Due: node licenses/update_license.js

chore(backend): remove ruff from dev dependencies
  backend/pyproject.toml
Due: none

udpate for model setting design
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

fix: browser toolkit npm/node on packaged app; optimize venv startup
  electron/main/init.ts
  electron/main/utils/process.ts
  src/components/InstallStep/InstallDependencies.tsx
Due: node licenses/update_license.js, prettier --write

fix: normalize Z.ai provider ID to lowercase and add openai-compatible-model to dark mode inversion
  backend/app/model/chat.py
  src/lib/llm.ts
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

Installation-animation-fix (#1199)
  src/components/InstallStep/InstallDependencies.tsx
Due: node licenses/update_license.js, prettier --write

fix: address Zephyroam's review comments
  backend/app/component/model_validation.py
  backend/app/controller/model_controller.py
Due: node licenses/update_license.js

fix: address Zephyroam's additional review comments
  backend/app/component/model_validation.py
Due: node licenses/update_license.js

feat: add model type autocomplete with api based suggestions and platform filtering
  backend/app/controller/model_controller.py
  src/components/ModelTypeCombobox.tsx
  src/components/ui/combobox.tsx
  src/i18n/locales/en-us/setting.json
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

Replace knowledge_base_toolkit with use_project_memory flag
  backend/app/agent/toolkit/knowledge_base_toolkit.py
  backend/app/agent/tools.py
  backend/app/model/chat.py
  backend/app/service/chat_service.py
  backend/app/service/task.py
  backend/tests/unit/utils/test_knowledge_base.py
  backend/uv.lock
Due: node licenses/update_license.js

Revert linter-only changes in router.py (review feedback)
  backend/app/router.py
Due: node licenses/update_license.js

[feat] handle expired SSE session in chat improvement
  backend/app/controller/chat_controller.py
  src/components/ChatBox/index.tsx
Due: node licenses/update_license.js, prettier --write

[chore] add tests for session expiration and task status reset
  backend/tests/unit/controller/test_chat_controller.py
Due: node licenses/update_license.js

[chore] use get_or_create_task_lock instead of get_task_lock
  backend/app/controller/chat_controller.py
Due: node licenses/update_license.js

feat: enhance proxy configuration with multi-source priority system and HTTPS_PROXY support
  electron/main/index.ts
  electron/main/utils/envUtil.ts
  electron/main/utils/process.ts
Due: node licenses/update_license.js, prettier --write

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
