Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node licenses/update_license.js

Update src/components/WorkFlow/MarkDown.tsx
  src/components/WorkFlow/MarkDown.tsx
Due: eslint --fix, prettier --write, node licenses/update_license.js

Update src/components/ChatBox/MessageItem/MarkDown.tsx
  src/components/ChatBox/MessageItem/MarkDown.tsx
Due: eslint --fix, prettier --write, node licenses/update_license.js

Update src/components/ChatBox/MessageItem/SummaryMarkDown.tsx
  src/components/ChatBox/MessageItem/SummaryMarkDown.tsx
Due: eslint --fix, prettier --write, node licenses/update_license.js

Add logo assets (black and white variants)
  src/assets/logo/icon_black.svg
  src/assets/logo/icon_white.svg
  src/assets/logo/logo_black.png
  src/assets/logo/logo_white.png
Due: none

time picker bug fix
  src/components/ui/input-select.tsx
Due: eslint --fix, prettier --write, node licenses/update_license.js

refactor: use for loop for model config attributes per Zephyroam's review
  backend/app/utils/agent.py
Due: node licenses/update_license.js

style: change leading-tight to leading-normal for better readability
  src/components/WorkFlow/node.tsx
Due: eslint --fix, prettier --write, node licenses/update_license.js

fix(security): avoid logging email in password reset flow
  backend/app/controller/password_reset_controller.py
Due: node licenses/update_license.js

fix: resolve router logging conflict and keep password reset router
  backend/app/controller/password_reset_controller.py
  backend/app/router.py
Due: node licenses/update_license.js

update
  backend/app/utils/agent.py
  backend/app/utils/toolkit/hybrid_browser_python_toolkit.py
Due: node licenses/update_license.js

fix: remove reference to non-existent utils directory in Dockerfile
  server/Dockerfile
Due: none

fix: batch decompose_text events in cloud sync to reduce API spam
  backend/app/utils/server/sync_step.py
Due: node licenses/update_license.js

redesigned settings section
  src/assets/model/anthropic.svg
  src/assets/model/azure.svg
  src/assets/model/bedrock.svg
  src/assets/model/deepseek.svg
  src/assets/model/eigent.svg
  src/assets/model/gemini.svg
  src/assets/model/lmstudio.svg
  src/assets/model/minimax.svg
  src/assets/model/modelark.svg
  src/assets/model/moonshot.svg
  src/assets/model/ollama.svg
  src/assets/model/openai.svg
  src/assets/model/openrouter.svg
  src/assets/model/qwen.svg
  src/assets/model/sglang.svg
  src/assets/model/vllm.svg
  src/assets/model/zai.svg
  src/components/IntegrationList/index.tsx
  src/components/Navigation/index.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/select.tsx
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Setting.tsx
  src/pages/Setting/General.tsx
  src/pages/Setting/Models.tsx
  src/pages/Setting/Privacy.tsx
  src/style/index.css
  src/style/token.css
Due: eslint --fix, prettier --write, node licenses/update_license.js

dashbaord page layout align
  src/pages/Dashboard/Browser.tsx
  src/pages/Dashboard/Project.tsx
  src/pages/Dashboard/Trigger.tsx
  src/pages/Dashboard/Worker.tsx
  src/pages/Setting/MCP.tsx
Due: eslint --fix, prettier --write, node licenses/update_license.js

fix wd
  backend/app/utils/server/sync_step.py
Due: node licenses/update_license.js

fix: batch decompose_text events in cloud sync to reduce API spam (#1064)
  backend/app/utils/server/sync_step.py
Due: node licenses/update_license.js

enhance wd
  backend/app/utils/agent.py
  src/components/AddWorker/index.tsx
Due: eslint --fix, prettier --write, node licenses/update_license.js

feat: support flexible model config for different agents (#1001)
  backend/app/model/chat.py
  backend/app/service/chat_service.py
  backend/app/service/task.py
  backend/app/utils/agent.py
  backend/tests/unit/model/test_agent_model_config.py
  src/components/AddWorker/index.tsx
  src/i18n/locales/en-us/workforce.json
Due: eslint --fix, prettier --write, node licenses/update_license.js

enhance schedule trigger logic
  src/components/Trigger/SchedulePicker.tsx
  src/components/Trigger/TriggerDialog.tsx
  src/components/ui/input.tsx
  src/i18n/locales/en-us/triggers.json
  src/i18n/locales/zh-Hans/triggers.json
Due: eslint --fix, prettier --write, node licenses/update_license.js

minor workforce completed order fix
  backend/app/utils/workforce.py
Due: node licenses/update_license.js

fix: minor change of workforce completion order (#1055)
  backend/app/utils/workforce.py
Due: node licenses/update_license.js

enhancement wd
  src/components/ChatBox/MessageItem/MarkDown.tsx
  src/components/ChatBox/MessageItem/SummaryMarkDown.tsx
  src/components/Folder/FolderComponent.tsx
  src/components/Folder/index.tsx
  src/components/WorkFlow/MarkDown.tsx
  src/lib/htmlFontStyles.ts
Due: eslint --fix, prettier --write, node licenses/update_license.js

Fix Consistent Font Rendering for HTML Content (#1032) (#1075)
  src/components/ChatBox/MessageItem/MarkDown.tsx
  src/components/ChatBox/MessageItem/SummaryMarkDown.tsx
  src/components/Folder/FolderComponent.tsx
  src/components/Folder/index.tsx
  src/components/WorkFlow/MarkDown.tsx
  src/lib/htmlFontStyles.ts
Due: eslint --fix, prettier --write, node licenses/update_license.js

refactor: remove AsyncChatCompletionStreamManager workaround
  backend/app/utils/agent.py
Due: node licenses/update_license.js

refactor: remove AsyncChatCompletionStreamManager workaround from single_agent_worker
  backend/app/utils/single_agent_worker.py
Due: node licenses/update_license.js

chore: update camel-ai to 0.2.85
  backend/pyproject.toml
Due: none

refactor: update clone preservation comment
  backend/app/utils/agent.py
Due: node licenses/update_license.js

refactor: fix notetaking and refactor toolkit listen
  backend/app/utils/listen/toolkit_listen.py
  backend/app/utils/toolkit/note_taking_toolkit.py
  backend/tests/app/utils/listen/test_toolkit_listen.py
  backend/tests/app/utils/toolkit/test_note_taking_toolkit.py
Due: node licenses/update_license.js

Update toolkit_listen.py
  backend/app/utils/listen/toolkit_listen.py
Due: node licenses/update_license.js

fix: task list should stay expanded until all tasks complete
  eslint.config.js
  src/components/ChatBox/TaskBox/TaskCard.tsx
Due: eslint --fix, prettier --write, node licenses/update_license.js

fix: resolve CodeQL security issues in oauth and install scripts
  resources/scripts/install-bun.js
  resources/scripts/install-uv.js
  src/lib/oauth.ts
Due: eslint --fix, prettier --write, node licenses/update_license.js

remove linting for prebuilt
  eslint.config.js
Due: eslint --fix, prettier --write

chore: optimize build config to exclude test files from type checking
  package.json
  tsconfig.build.json
Due: prettier --write

feat: add proxy configuration
  electron/main/index.ts
  electron/main/init.ts
  electron/preload/index.ts
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/pages/Setting/General.tsx
  src/types/electron.d.ts
Due: eslint --fix, prettier --write, node licenses/update_license.js

refactor(#884): Simplify Electron backend password reset to only reset_password_direct
  backend/app/controller/password_reset_controller.py
Due: node licenses/update_license.js

minor log update
  backend/app/controller/password_reset_controller.py
Due: node licenses/update_license.js

fix(#884): Remove traceroot_wrapper, simplify to only reset_password_direct
  backend/app/controller/password_reset_controller.py
Due: node licenses/update_license.js

feat(#884): Implement proxy to server backend for password reset
  backend/app/controller/password_reset_controller.py
Due: node licenses/update_license.js

minor log update & remove redundant func
  backend/app/controller/password_reset_controller.py
  backend/app/model/password_reset.py
  backend/app/router.py
  server/app/controller/user/password_reset_controller.py
  server/docker-compose.yml
  server/lang/zh_CN/LC_MESSAGES/messages.po
  server/messages.pot
Due: node licenses/update_license.js

Path conditions:
  eslint --fix: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})) or (any of: *.{json,css,md})
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
