Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

fix: silently backfill legacy run environments
  backend/app/controller/chat_controller.py
  backend/app/run_journal/store.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/run_journal/test_store.py
Due: node licenses/update_license.js

feat: validate MCP bundle destinations
  backend/app/controller/workspace_bundle_controller.py
  backend/app/workspace_bundle/installer.py
  backend/app/workspace_bundle/mcp_destination.py
  backend/app/workspace_bundle/runtime.py
  backend/tests/app/controller/test_workspace_bundle_controller.py
  backend/tests/app/workspace_bundle/test_installer.py
  backend/tests/app/workspace_bundle/test_mcp_destination.py
  backend/tests/app/workspace_bundle/test_workspace_bundle_runtime.py
  src/components/WorkspaceBundle/WorkspaceBundleInstallWizard.test.tsx
  src/components/WorkspaceBundle/WorkspaceBundleInstallWizard.tsx
  src/service/workspaceBundleInstallApi.ts
Due: node licenses/update_license.js, prettier --write

Fix local Brain routes and harden backend checks
  .github/workflows/pre-commit.yml
  .husky/pre-commit
  backend/.pre-commit-config.yaml
  backend/app/__init__.py
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/controller/file_controller.py
  backend/app/run_journal/store.py
  backend/app/run_runtime/tool_checkpoint.py
  backend/tests/app/controller/test_file_controller.py
  backend/tests/app/controller/test_permission_controller.py
  backend/tests/app/run_journal/test_store.py
  backend/tests/app/run_runtime/test_tool_checkpoint.py
  backend/tests/app/workspace_bundle/test_workspace_bundle_runtime.py
  electron/main/index.ts
  electron/main/localFileSecurity.ts
  src/components/Folder/index.tsx
  src/components/Layout/index.tsx
  src/hooks/useRemoteControlBridge.ts
  src/lib/filePreviewLoader.ts
  src/lib/localFileSecurity.test.ts
  src/service/agentPluginImportApi.test.ts
  src/service/agentPluginImportApi.ts
  src/service/humanInteractionApi.test.ts
  src/service/humanInteractionApi.ts
  src/service/permissionProfileApi.test.ts
  src/service/permissionProfileApi.ts
  src/service/workspaceBundleInstallApi.test.ts
  src/service/workspaceBundleInstallApi.ts
  src/service/workspaceConfigurationApi.test.ts
  src/service/workspaceConfigurationApi.ts
  src/service/workspaceGitApi.test.ts
  src/service/workspaceGitApi.ts
  test/unit/lib/filePreviewLoader.test.ts
Due: node licenses/update_license.js, prettier --write

feat: distinguish bundle install and runtime readiness
  src/components/WorkspaceBundle/WorkspaceBundleInstallWizard.test.tsx
  src/components/WorkspaceBundle/WorkspaceBundleInstallWizard.tsx
  src/service/workspaceBundleInstallApi.ts
Due: node licenses/update_license.js, prettier --write

add agent step event fallback design
  src/components/ChatBox/BottomBox/useEventNativeHumanControl.test.tsx
  src/components/ChatBox/BottomBox/useEventNativeHumanControl.ts
  src/components/ChatBox/EventNativeProjectTimeline.test.tsx
  src/components/ChatBox/EventNativeProjectTimeline.tsx
  src/components/ChatBox/EventTimeline/EventTimeline.test.tsx
  src/components/ChatBox/EventTimeline/EventTimeline.tsx
  src/components/ChatBox/EventTimeline/presentationPolicy.ts
  src/components/ChatBox/MessageItem/AgentStepUnavailableFallback.tsx
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.test.tsx
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
  src/components/ChatBox/UserQueryGroup.test.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/index.tsx
  src/components/ChatBox/runControlArbitration.test.ts
  src/components/ChatBox/runControlArbitration.ts
  src/hooks/useInterruptedRunStatus.test.tsx
  src/hooks/useInterruptedRunStatus.ts
  src/hooks/useProjectEventStoreHydration.test.tsx
  src/hooks/useProjectEventStoreHydration.ts
  src/hooks/useProjectEventView.test.tsx
  src/hooks/useProjectEventView.ts
  src/hooks/useProjectRunEventStreams.ts
  src/lib/projector/control/reduce.ts
  src/lib/projector/control/types.ts
  src/lib/projector/index.ts
  src/lib/projector/reduce.ts
  src/lib/projector/types.ts
  src/service/projectEventStoreHydration.test.ts
  src/service/projectEventStoreHydration.ts
  src/service/projectRunEventStream.test.ts
  src/service/projectRunEventStream.ts
  src/store/projectEventStore.ts
  src/store/projectStore.test.ts
  src/store/projectStore.ts
Due: node licenses/update_license.js, prettier --write

update inline chat ui components
  .env.development
  src/components/ChatBox/UserQueryGroup.tsx
Due: node licenses/update_license.js, prettier --write

Revert "add agent step event fallback design"
  src/components/ChatBox/BottomBox/useEventNativeHumanControl.test.tsx
  src/components/ChatBox/BottomBox/useEventNativeHumanControl.ts
  src/components/ChatBox/EventNativeProjectTimeline.test.tsx
  src/components/ChatBox/EventNativeProjectTimeline.tsx
  src/components/ChatBox/EventTimeline/EventTimeline.test.tsx
  src/components/ChatBox/EventTimeline/EventTimeline.tsx
  src/components/ChatBox/EventTimeline/presentationPolicy.ts
  src/components/ChatBox/MessageItem/AgentStepUnavailableFallback.tsx
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.test.tsx
  src/components/ChatBox/MessageItem/TaskWorkLogAccordion.tsx
  src/components/ChatBox/UserQueryGroup.test.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/components/ChatBox/index.tsx
  src/components/ChatBox/runControlArbitration.test.ts
  src/components/ChatBox/runControlArbitration.ts
  src/hooks/useInterruptedRunStatus.test.tsx
  src/hooks/useInterruptedRunStatus.ts
  src/hooks/useProjectEventStoreHydration.test.tsx
  src/hooks/useProjectEventStoreHydration.ts
  src/hooks/useProjectEventView.test.tsx
  src/hooks/useProjectEventView.ts
  src/hooks/useProjectRunEventStreams.ts
  src/lib/projector/control/reduce.ts
  src/lib/projector/control/types.ts
  src/lib/projector/index.ts
  src/lib/projector/reduce.ts
  src/lib/projector/types.ts
  src/service/projectEventStoreHydration.test.ts
  src/service/projectEventStoreHydration.ts
  src/service/projectRunEventStream.test.ts
  src/service/projectRunEventStream.ts
  src/store/projectEventStore.ts
  src/store/projectStore.test.ts
  src/store/projectStore.ts
Due: node licenses/update_license.js, prettier --write

feat: add lightweight memory journal foundation
  backend/app/run_journal/__init__.py
  backend/app/run_journal/models.py
  backend/app/run_journal/store.py
  backend/tests/app/run_journal/test_memory_v2.py
  backend/tests/app/run_journal/test_project_execution_state.py
  backend/tests/app/run_journal/test_store.py
Due: node licenses/update_license.js

feat: add lightweight memory tools and center
  backend/app/agent/factory/browser.py
  backend/app/agent/factory/developer.py
  backend/app/agent/factory/document.py
  backend/app/agent/factory/mcp.py
  backend/app/agent/factory/multi_modal.py
  backend/app/agent/factory/social_media.py
  backend/app/agent/factory/toolkit_assembler.py
  backend/app/agent/toolkit/memory_toolkit.py
  backend/app/controller/memory_controller.py
  backend/app/lightweight_memory/__init__.py
  backend/app/lightweight_memory/maintainer.py
  backend/app/lightweight_memory/service.py
  backend/app/memory/service.py
  backend/app/router.py
  backend/app/run_journal/store.py
  backend/app/run_runtime/coordinator.py
  backend/tests/app/agent/factory/test_mcp.py
  backend/tests/app/controller/test_memory_controller.py
  backend/tests/app/lightweight_memory/test_service.py
  src/pages/Agents/Memory.test.tsx
  src/pages/Agents/Memory.tsx
  src/service/memoryApi.test.ts
  src/service/memoryApi.ts
Due: node licenses/update_license.js, prettier --write

Connect session side panel to durable event bus
  src/components/ChatBox/EventNativeProjectTimeline.tsx
  src/components/ChatBox/index.tsx
  src/components/Folder/index.tsx
  src/components/Session/SidePanel/components/ActivityPanel.tsx
  src/components/Session/SidePanel/sections/buildProjectSessionPanelData.ts
  src/components/Session/index.tsx
  src/hooks/useProjectEventRuntime.tsx
  src/hooks/useProjectSessionOverview.ts
  src/store/chatEventProjectionBridge.ts
  src/store/chatStore.ts
  test/unit/components/ChatBox/EventNativeProjectTimeline.test.tsx
  test/unit/components/Session/SidePanelSections/collectSidePanelOutputFiles.test.ts
  test/unit/components/Session/SidePanelSections/useProjectOutputFiles.test.tsx
  test/unit/components/buildProjectSessionPanelData.test.ts
  test/unit/hooks/useProjectEventRuntime.test.tsx
  test/unit/hooks/useProjectSessionOverview.test.tsx
  test/unit/lib/projector.test.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

Fix session panel project progress isolation
  src/components/Session/SidePanel/components/ActivityPanel.tsx
  src/components/Session/index.tsx
  test/unit/hooks/useProjectEventRuntime.test.tsx
Due: node licenses/update_license.js, prettier --write

Fix session panel cross-project progress leakage
  src/components/Session/SidePanel/sections/buildProjectSessionPanelData.ts
  test/unit/components/buildProjectSessionPanelData.test.ts
Due: node licenses/update_license.js, prettier --write

Fix session panel agent grouping
  src/components/Session/SidePanel/components/ActivityPanel.tsx
  src/components/Session/SidePanel/sections/buildProjectSessionPanelData.ts
  test/unit/components/buildProjectSessionPanelData.test.ts
Due: node licenses/update_license.js, prettier --write

feat: complete lightweight memory lifecycle and sync
  backend/app/agent/toolkit/memory_toolkit.py
  backend/app/controller/chat_controller.py
  backend/app/controller/memory_controller.py
  backend/app/lightweight_memory/__init__.py
  backend/app/lightweight_memory/legacy_importer.py
  backend/app/lightweight_memory/maintainer.py
  backend/app/lightweight_memory/service.py
  backend/app/memory/service.py
  backend/app/run_journal/__init__.py
  backend/app/run_journal/models.py
  backend/app/run_journal/store.py
  backend/app/run_sync/cloud_sync.py
  backend/main.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/lightweight_memory/test_legacy_importer.py
  backend/tests/app/lightweight_memory/test_lightweight_memory_service.py
  backend/tests/app/memory/test_service_lifecycle.py
  backend/tests/app/run_journal/test_memory_v2.py
  backend/tests/app/run_sync/test_cloud_sync.py
  src/components/Workspace/WorkspaceCoworkPanel.tsx
  src/components/Workspace/index.tsx
  src/hooks/useProjectMemorySetting.test.tsx
  src/hooks/useProjectMemorySetting.ts
  src/pages/Agents/Memory.test.tsx
  src/pages/Agents/Memory.tsx
  src/service/memoryApi.ts
Due: node licenses/update_license.js, prettier --write

Fix session panel skill usage detection
  src/components/Session/SidePanel/sections/buildProjectSessionPanelData.ts
  test/unit/components/buildProjectSessionPanelData.test.ts
Due: node licenses/update_license.js, prettier --write

read theme from authStore instead of next-themes
  src/components/ui/sonner.tsx
Due: node licenses/update_license.js, prettier --write

fix: harden memory v2 lifecycle and sync
  backend/app/agent/toolkit/memory_toolkit.py
  backend/app/controller/memory_controller.py
  backend/app/lightweight_memory/maintainer.py
  backend/app/lightweight_memory/service.py
  backend/app/run_journal/store.py
  backend/app/run_sync/cloud_sync.py
  backend/tests/app/agent/factory/test_mcp.py
  backend/tests/app/lightweight_memory/test_lightweight_memory_service.py
  backend/tests/app/run_journal/test_memory_v2.py
  backend/tests/app/run_sync/test_cloud_sync.py
  src/pages/Agents/Memory.test.tsx
  src/pages/Agents/Memory.tsx
  src/service/humanInteractionApi.ts
  src/service/memoryApi.ts
Due: node licenses/update_license.js, prettier --write

feat: make artifact history event sourced
  backend/app/artifacts.py
  backend/app/controller/file_controller.py
  backend/app/run_journal/store.py
  backend/app/run_runtime/coordinator.py
  backend/app/run_sync/cloud_sync.py
  backend/app/utils/server/sync_step.py
  backend/tests/app/controller/test_file_controller.py
  backend/tests/app/run_runtime/test_coordinator.py
  backend/tests/app/run_sync/test_cloud_sync.py
  backend/tests/app/test_artifacts.py
  backend/tests/app/utils/server/test_sync_step_journal.py
  src/store/chatStore.durableReplay.test.ts
  src/store/chatStore.ts
  src/types/chatbox.d.ts
  src/types/constants.ts
Due: node licenses/update_license.js, prettier --write

fix(model-selection): preserve selected model when switching mid-conversation
  backend/app/controller/chat_controller.py
  backend/app/model/chat.py
  backend/app/service/chat_service.py
  backend/app/service/single_agent_service.py
  backend/app/service/task.py
  src/components/ChatBox/index.tsx
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

feat: make artifacts durably replayable
  backend/app/artifacts.py
  backend/app/controller/run_controller.py
  backend/app/run_journal/store.py
  backend/app/run_runtime/coordinator.py
  backend/app/run_sync/cloud_sync.py
  backend/app/utils/file_utils.py
  backend/app/utils/server/sync_step.py
  backend/app/utils/workspace_resolver.py
  backend/tests/app/controller/test_run_controller.py
  backend/tests/app/run_runtime/test_coordinator.py
  backend/tests/app/run_sync/test_cloud_sync.py
  backend/tests/app/test_artifacts.py
  backend/tests/app/utils/server/test_sync_step_journal.py
  backend/tests/app/utils/test_workspace_resolver_direct_write.py
  src/lib/projector/index.ts
  src/lib/projector/reduce.ts
  src/lib/projector/selectors.ts
  src/lib/projector/types.ts
  src/lib/remoteControl.ts
  src/store/chatStore.durableReplay.test.ts
  src/store/chatStore.ts
  src/types/chatbox.d.ts
  src/types/constants.ts
  test/unit/lib/projector.test.ts
Due: node licenses/update_license.js, prettier --write

fix: pin terminal runs to latest artifact manifest
  backend/app/run_journal/store.py
  backend/app/run_runtime/coordinator.py
  backend/tests/app/test_artifacts.py
Due: node licenses/update_license.js

feat: make artifact and memory recovery durable
  backend/app/run_journal/__init__.py
  backend/app/run_journal/models.py
  backend/app/run_journal/store.py
  backend/app/run_sync/cloud_sync.py
  backend/tests/app/run_journal/test_memory_v2.py
  backend/tests/app/run_sync/test_cloud_sync.py
  src/components/Folder/FilePreview.tsx
  src/service/artifactAssetApi.test.ts
  src/service/artifactAssetApi.ts
  src/store/chatStore.durableReplay.test.ts
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

fix: isolate artifact upload from event sync
  backend/app/run_sync/cloud_sync.py
  backend/tests/app/run_sync/test_cloud_sync.py
Due: node licenses/update_license.js

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

fix: honor full filesystem scope for local Brain
  backend/app/hands/environment_hands.py
Due: node licenses/update_license.js

test: cover full and workspace-only filesystem scopes
  backend/tests/app/hands/test_capabilities.py
Due: node licenses/update_license.js

fix: add destructive Space and Project deletion service
  server/app/domains/space/service/deletion_service.py
Due: node licenses/update_license.js

fix: cascade Space deletion and add Project delete endpoint
  server/app/domains/space/api/space_controller.py
Due: node licenses/update_license.js

fix: remove durable Project after final history deletion
  server/app/domains/chat/api/history_controller.py
Due: node licenses/update_license.js

test: cover destructive Project and Space deletion
  server/tests/test_space_project_deletion.py
Due: node licenses/update_license.js

refactor: keep history deletion patch focused
  server/app/domains/chat/api/history_controller.py
Due: node licenses/update_license.js

fix: harden durable workspace recovery
  backend/app/controller/workspace_bundle_controller.py
  backend/app/run_journal/store.py
  backend/app/run_sync/cloud_sync.py
  backend/tests/app/controller/test_workspace_bundle_controller.py
  backend/tests/app/run_journal/test_memory_v2.py
  backend/tests/app/run_sync/test_cloud_sync.py
  src/components/ChatBox/MessageItem/HumanInteractionCard.test.tsx
  src/components/ChatBox/MessageItem/HumanInteractionCard.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/lib/projectCache.ts
  src/pages/WorkspaceConfiguration.tsx
  src/service/humanInteractionApi.test.ts
  src/service/humanInteractionApi.ts
  src/service/workspaceBundleInstallApi.test.ts
  src/service/workspaceBundleInstallApi.ts
  src/store/chatStore.durableReplay.test.ts
  src/store/chatStore.ts
  src/store/projectStore.test.ts
  src/store/projectStore.ts
  src/store/spaceStore.test.ts
  src/store/spaceStore.ts
Due: node licenses/update_license.js, prettier --write

fix: constrain embedded browser tool access
  backend/app/agent/factory/toolkit_assembler.py
  backend/app/controller/chat_controller.py
  backend/app/utils/browser_launcher.py
  backend/tests/app/agent/factory/test_toolkit_safety.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/utils/test_browser_launcher.py
  electron/main/index.ts
  electron/main/webview.ts
Due: node licenses/update_license.js, prettier --write

feat: use embedded Electron browser toolkit
  backend/app/agent/factory/browser.py
  backend/app/agent/factory/toolkit_assembler.py
  backend/app/agent/listen_chat_agent.py
  backend/app/agent/toolkit/electron_target_guard.cjs
  backend/app/agent/toolkit/hybrid_browser_toolkit.py
  backend/app/controller/chat_controller.py
  backend/app/utils/browser_launcher.py
  backend/app/utils/listen/toolkit_listen.py
  backend/tests/app/agent/factory/test_browser.py
  backend/tests/app/agent/test_listen_chat_agent.py
  backend/tests/app/agent/toolkit/test_electron_browser_target_guard.py
  backend/tests/app/controller/test_chat_controller.py
  backend/tests/app/utils/test_browser_launcher.py
  electron/main/index.ts
  electron/main/webview.ts
  src/store/chatStore.browserRuntime.test.ts
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

fix: upload files with safe logical metadata
  backend/app/run_sync/cloud_sync.py
  backend/tests/app/run_sync/test_cloud_sync.py
  src/store/chatStore.durableReplay.test.ts
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write
