Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

fix: replayActiveTask uses active task question instead of earliest across all tasks (fixes #1367)
  src/lib/replay.ts
Due: node licenses/update_license.js, prettier --write

fix(docs): update Python version requirement from 3.10 to 3.12 in server READMEs (#1579)
  server/README_CN.md
  server/README_EN.md
  server/README_PT-BR.md
Due: none

fix: add loop="infinite" to img tags to ensure GIFs play continuously (fixes #1480)
  src/components/ChatBox/MessageItem/MarkDown.tsx
Due: node licenses/update_license.js, prettier --write

scroll down to latest msg when switching chats
  src/components/ChatBox/ProjectChatContainer.tsx
Due: node licenses/update_license.js, prettier --write

keep chat markdown code block text visible
  src/style/markdown-styles.css
Due: none

keep each chat session on its own model
  src/components/ChatBox/BottomBox/ChatInputModelDropdown.tsx
  src/components/ChatBox/BottomBox/InputBox.tsx
  src/components/ChatBox/index.tsx
  src/store/chatStore.ts
  src/store/projectStore.test.ts
  src/store/projectStore.ts
Due: node licenses/update_license.js, prettier --write

clamp chat history summary to the column length so completion status is saved
  server/app/domains/chat/api/history_controller.py
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

fix: keep local sign-in tied to its user account
  server/app/domains/user/api/login_controller.py
  server/app/model/user/user.py
  src/store/authStore.ts
Due: node licenses/update_license.js, prettier --write

make pasting clipboard images attach them to the chat message
  electron/main/index.ts
  electron/preload/index.ts
  src/components/ChatBox/BottomBox/InputBox.tsx
  src/components/ChatBox/BottomBox/RichChatInput.tsx
  src/lib/fileUtils.ts
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

resume the last visited session at launch
  src/components/ProjectPageSidebar/index.tsx
Due: node licenses/update_license.js, prettier --write

make the agent step timeout configurable and record spend on failure
  backend/app/agent/listen_chat_agent.py
  backend/app/agent/toolkit/screenshot_toolkit.py
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

warn before closing the window while any run is still active
  src/components/Layout/index.tsx
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

keep project switches from killing live runs
  src/store/chatStore.ts
  src/store/projectStore.ts
Due: node licenses/update_license.js, prettier --write

fix: request streaming token usage so request-level accounting isn't zeroed
  backend/app/agent/agent_model.py
Due: node licenses/update_license.js

fix: preserve token signals broken by zeroed deactivate_agent.tokens
  backend/app/service/single_agent_service.py
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

feat/design new preview panel for session page
  electron/main/index.ts
  electron/main/webview.ts
  electron/preload/index.ts
  src/components/Folder/FilePreview.tsx
  src/components/Folder/index.tsx
  src/components/Session/HeaderBox/index.tsx
  src/components/Session/PreviewPanel/index.tsx
  src/components/Session/index.tsx
  src/lib/browserUrl.ts
  src/store/pageTabStore.ts
  src/types/electron.d.ts
  test/unit/components/Session/PreviewPanel.test.tsx
  test/unit/electron/main/webview.test.ts
  test/unit/lib/browserUrl.test.ts
  test/unit/store/pageTabStore.preview.test.ts
Due: node licenses/update_license.js, prettier --write

Design new structure for preview panel
  electron/main/index.ts
  electron/main/webview.ts
  electron/preload/index.ts
  src/components/Session/PreviewPanel/index.tsx
  src/components/Session/PreviewPanel/tabKinds.tsx
  src/components/Session/PreviewPanel/tabs/CanvasTab.tsx
  src/components/Session/PreviewPanel/tabs/ChooserTab.tsx
  src/components/Session/PreviewPanel/tabs/FileTab.tsx
  src/components/Session/PreviewPanel/tabs/ReviewTab.tsx
  src/components/Session/PreviewPanel/tabs/TerminalTab.tsx
  src/components/Session/PreviewPanel/tabs/browser/BrowserTab.tsx
  src/components/Session/PreviewPanel/tabs/browser/PreviewBrowserLayer.tsx
  src/components/Session/PreviewPanel/tabs/browser/webviewRegistry.ts
  src/components/Session/index.tsx
  src/pages/Workspace.tsx
  src/store/pageTabStore.ts
  src/types/electron.d.ts
  test/unit/components/Session/PreviewBrowserLayer.test.tsx
  test/unit/components/Session/PreviewPanel.test.tsx
  test/unit/electron/main/webview.test.ts
  test/unit/store/pageTabStore.preview.test.ts
  tsconfig.node.tsbuildinfo
Due: node licenses/update_license.js, prettier --write

update preview panel feature bug and animation
  .gitignore
  electron/main/index.ts
  src/components/ChatBox/MessageItem/MarkDown.tsx
  src/components/ChatBox/MessageItem/UserMessageRichContent.tsx
  src/components/Session/HeaderBox/index.tsx
  src/components/Session/PreviewPanel/index.tsx
  src/components/Session/PreviewPanel/tabKinds.tsx
  src/components/Session/PreviewPanel/tabs/browser/BrowserTab.tsx
  src/components/Session/PreviewPanel/tabs/browser/PreviewBrowserLayer.tsx
  src/components/Session/index.tsx
  src/lib/browserUrl.ts
  src/store/pageTabStore.ts
  test/unit/components/Session/PreviewBrowserLayer.test.tsx
  test/unit/components/Session/PreviewPanel.test.tsx
  test/unit/lib/browserUrl.test.ts
  test/unit/store/pageTabStore.preview.test.ts
  tsconfig.node.tsbuildinfo
Due: node licenses/update_license.js, prettier --write

design new updating ux and log download flow
  electron/main/fileReader.ts
  electron/main/index.ts
  electron/main/update.ts
  electron/main/utils/log.ts
  electron/preload/index.ts
  src/App.tsx
  src/components/Dialog/ReportBugDialog.tsx
  src/components/TopBar/UpdateButton.tsx
  src/components/TopBar/index.tsx
  src/components/ui/sonner.tsx
  src/components/update/index.tsx
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/en-us/update.json
  src/pages/Workspace.tsx
  src/types/electron.d.ts
  test/unit/components/Dialog/ReportBugDialog.test.tsx
  tsconfig.node.tsbuildinfo
Due: node licenses/update_license.js, prettier --write

Improve layout readability and page transition animation
  .agents/skills/animation-vocabulary/SKILL.md
  .agents/skills/apple-design/SKILL.md
  .agents/skills/emil-design-eng/SKILL.md
  .agents/skills/improve-animations/AUDIT.md
  .agents/skills/improve-animations/PLAN-TEMPLATE.md
  .agents/skills/improve-animations/SKILL.md
  .agents/skills/review-animations/SKILL.md
  .agents/skills/review-animations/STANDARDS.md
  skills-lock.json
  src/components/Dialog/ReportBugDialog.tsx
  src/components/Layout/index.tsx
  src/components/Layout/tokenAliases.ts
  src/components/Session/HeaderBox/index.tsx
  src/components/Session/SessionGroup.tsx
  src/components/Sidebar/BottomAction.tsx
  src/components/Sidebar/NavList.tsx
  src/components/Sidebar/NavListSessionRows.tsx
  src/components/Sidebar/NavTab.tsx
  src/components/Sidebar/ProjectNavList.tsx
  src/components/Sidebar/ProjectNavListRows.tsx
  src/components/Sidebar/SpaceSwitchDropdown.tsx
  src/components/Sidebar/constants.ts
  src/components/Sidebar/index.tsx
  src/components/TopBar/index.tsx
  src/components/Workspace/WorkspaceAllSessions.tsx
  src/components/Workspace/WorkspaceProjectPicker.tsx
  src/components/Workspace/WorkspaceRecentSessions.tsx
  src/pages/Workspace.tsx
Due: node licenses/update_license.js, prettier --write

bug fix with legacy code
  src/components/Session/HeaderBox/index.tsx
  src/components/Session/SessionGroup.tsx
  src/components/Sidebar/NavTab.tsx
  src/components/Sidebar/ProjectNavList.tsx
  src/components/Sidebar/ProjectNavListRows.tsx
  src/components/Sidebar/index.tsx
  src/components/Workspace/WorkspaceAllSessions.tsx
  src/components/Workspace/WorkspaceRecentSessions.tsx
  src/pages/Workspace.tsx
Due: node licenses/update_license.js, prettier --write

Redeign tooltip for different intent usage
  src/components/Dashboard/SearchInput/index.tsx
  src/components/ProjectPageSidebar/BottomAction.tsx
  src/components/ProjectPageSidebar/NavTab.tsx
  src/components/ProjectPageSidebar/ProjectNavListRows.tsx
  src/components/ProjectPageSidebar/SpaceSwitchDropdown.tsx
  src/components/ProjectPageSidebar/index.tsx
  src/components/Session/HeaderBox/index.tsx
  src/components/Session/SessionGroup.tsx
  src/components/Session/SessionSidePanel.tsx
  src/components/Session/SessionSidePanelFoldButton.tsx
  src/components/Session/Workforce/ExpandedOverlay.tsx
  src/components/Session/Workforce/WorkforceSidePanelHeaderEnd.tsx
  src/components/TopBar/index.tsx
  src/components/Trigger/index.tsx
  src/components/Workspace/FoldedAgentCard.tsx
  src/components/Workspace/WorkforceAgentList.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/tooltip.tsx
  src/pages/Home/components/HomeHubToolbar.tsx
Due: node licenses/update_license.js, prettier --write

Repair existing sessions persisted without a user id
  src/store/authStore.ts
Due: node licenses/update_license.js, prettier --write

Clear finished runs from the close guard and reuse the confirm dialog
  src/components/Dialog/CloseNotice.tsx
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

Build in session terminal
  electron-builder.json
  electron/main/index.ts
  electron/main/terminal.ts
  electron/preload/index.ts
  package.json
  scripts/design-token-usage.allowlist
  scripts/fix-node-pty-permissions.js
  src/components/Session/PreviewPanel/index.tsx
  src/components/Session/PreviewPanel/tabKinds.tsx
  src/components/Session/PreviewPanel/tabs/TerminalTab.tsx
  src/components/Session/PreviewPanel/tabs/terminal/ShellTerminal.tsx
  src/components/Session/PreviewPanel/tabs/terminal/TerminalTab.tsx
  src/components/Session/PreviewPanel/tabs/terminal/XtermViewer.tsx
  src/components/Session/PreviewPanel/tabs/terminal/shellSessions.ts
  src/components/Session/PreviewPanel/tabs/terminal/terminalSources.ts
  src/components/Session/PreviewPanel/tabs/terminal/terminalTheme.ts
  src/components/Session/PreviewPanel/tabs/terminal/useSessionTerminalSources.ts
  src/types/electron.d.ts
  test/unit/components/Session/PreviewPanel.test.tsx
  test/unit/components/Session/TerminalTab.test.tsx
  vite.config.web.ts
Due: node licenses/update_license.js, prettier --write

fix(skills): stably expose Single Agent in skill scope picker
  backend/app/agent/toolkit/skill_toolkit.py
  backend/tests/app/service/test_skill_initialization.py
  src/components/WorkFlow/agents.tsx
  src/pages/Agents/components/SkillListItem.tsx
  test/unit/components/WorkFlow/skillScopeAgents.test.ts
Due: node licenses/update_license.js, prettier --write

chore: bump camel-ai to 0.2.91a5
  backend/pyproject.toml
  backend/uv.lock
Due: none

style: apply ruff format to skill toolkit tests
  backend/tests/app/service/test_skill_initialization.py
Due: node licenses/update_license.js

style: fix ruff I001 import-block spacing in agent_model.py
  backend/app/agent/agent_model.py
Due: node licenses/update_license.js

feat: default terminal tab is a real local shell; agent streams move to chooser
  src/components/Session/PreviewPanel/index.tsx
  src/components/Session/PreviewPanel/tabKinds.tsx
  src/components/Session/PreviewPanel/tabs/ChooserTab.tsx
  src/components/Session/PreviewPanel/tabs/terminal/TerminalTab.tsx
  src/components/Session/PreviewPanel/tabs/terminal/shellSessions.ts
  src/components/Session/PreviewPanel/tabs/terminal/terminalSources.ts
  src/store/pageTabStore.ts
  test/unit/components/Session/PreviewPanel.test.tsx
  test/unit/components/Session/TerminalTab.test.tsx
  test/unit/store/pageTabStore.preview.test.ts
Due: node licenses/update_license.js, prettier --write

fix: address review findings on request-level token reporting
  backend/app/agent/listen_chat_agent.py
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

style: tighten review-fix comments
  backend/app/agent/listen_chat_agent.py
  src/store/chatStore.ts
  test/unit/store/chatStore.test.ts
Due: node licenses/update_license.js, prettier --write

fix: address codex audit findings
  backend/app/agent/agent_model.py
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

fix: pin terminal glyphs to the design-system mono stack
  src/components/Session/PreviewPanel/tabs/terminal/ShellTerminal.tsx
  src/components/Session/PreviewPanel/tabs/terminal/XtermViewer.tsx
  src/components/Session/PreviewPanel/tabs/terminal/previewTerminal.css
  src/components/Session/PreviewPanel/tabs/terminal/terminalTheme.ts
Due: node licenses/update_license.js, prettier --write

style: align terminal font with markdown code blocks
  src/components/Session/PreviewPanel/tabs/terminal/previewTerminal.css
  src/components/Session/PreviewPanel/tabs/terminal/terminalTheme.ts
Due: node licenses/update_license.js, prettier --write

feat: support BYOK model parameters
  backend/app/agent/agent_model.py
  backend/app/controller/task_controller.py
  backend/app/model/chat.py
  backend/app/service/chat_service.py
  backend/tests/app/agent/test_agent_model.py
  backend/tests/app/controller/test_task_controller.py
  backend/tests/app/model/test_chat.py
  backend/tests/app/service/test_chat_service.py
  src/components/AddWorker/index.tsx
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/lib/modelConfig.ts
  src/pages/Agents/Models.tsx
  src/store/chatStore.ts
  src/types/chatbox.d.ts
  test/unit/lib/modelConfig.test.ts
Due: node licenses/update_license.js, prettier --write

chore: apply pre-commit formatting
  backend/app/agent/listen_chat_agent.py
Due: node licenses/update_license.js

Merge remote-tracking branch 'origin/main' into update_token_logic
  backend/app/agent/listen_chat_agent.py
  backend/app/agent/toolkit/screenshot_toolkit.py
  src/components/ProjectPageSidebar/index.tsx
  src/store/chatStore.ts
  src/style/markdown-styles.css
Due: node licenses/update_license.js, prettier --write

Add accordion ux model for optional set up
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

fix: hide request usage from remote control
  server/app/domains/remote_control/service/remote_control_service.py
  server/tests/test_remote_control_security.py
Due: node licenses/update_license.js
