Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,d.ts}": [
    "node licenses/update_license.js",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "prettier --write"
  ],
  "*.py": [
    "node licenses/update_license.js"
  ]
}

feat: Improve memory efficient and streaming playing of multi-modal media (#1401)
  src/components/Folder/index.tsx
Due: node licenses/update_license.js, prettier --write

Update skill_toolkit.py
  backend/app/agent/toolkit/skill_toolkit.py
Due: node licenses/update_license.js

revert non-target changes and keep only skill-related files
  backend/app/controller/tool_controller.py
  electron/main/index.ts
  server/README_CN.md
  server/README_EN.md
  server/app/controller/chat/history_controller.py
  server/app/controller/trigger/trigger_controller.py
  server/app/service/trigger/trigger_service.py
  server/pyproject.toml
  server/uv.lock
  src/components/BottomBar/index.tsx
  src/components/Folder/index.tsx
  src/components/TopBar/index.tsx
  src/components/animate-ui/primitives/animate/slot.tsx
  src/pages/Browser/Cookies.tsx
  src/pages/Project/Workspace.tsx
Due: node licenses/update_license.js, prettier --write

revert leftover non-target files
  server/tests/history_delete.http
  server/tests/trigger_activate.http
Due: none

revert remaining non-target files
  src/components/TopBar/index.tsx
Due: node licenses/update_license.js, prettier --write

update
  server/pyproject.toml
  server/uv.lock
Due: none

update
  resources/example-skills/skill-creator/LICENSE.txt
  resources/example-skills/skill-creator/SKILL.md
Due: none

chore: fix_skill_diversion and update camel version (#1422)
  backend/app/agent/prompt.py
  backend/app/agent/toolkit/skill_toolkit.py
  backend/pyproject.toml
  backend/uv.lock
  server/pyproject.toml
  server/uv.lock
  src/components/WorkFlow/agents.tsx
  src/pages/Agents/components/SkillListItem.tsx
Due: node licenses/update_license.js, prettier --write

update content
  src/components/ChatBox/HeaderBox/index.tsx
  src/components/ChatBox/ProjectChatContainer.tsx
  src/components/ChatBox/ProjectSection.tsx
  src/components/ChatBox/index.tsx
  src/components/TaskSidebar/index.tsx
  src/pages/History.tsx
  src/pages/Home.tsx
Due: node licenses/update_license.js, prettier --write

chore: address review feedback for history search delete/share
  src/components/GroupedHistoryView/ProjectDialog.tsx
  src/components/GroupedHistoryView/index.tsx
  src/components/SearchHistoryDialog.tsx
Due: node licenses/update_license.js, prettier --write

feat: run uv sync in background on every launch for optional deps
  electron/main/utils/process.ts
Due: node licenses/update_license.js, prettier --write

feat: run uv sync in background on every launch for optional deps (#1435)
  electron/main/utils/process.ts
Due: node licenses/update_license.js, prettier --write

update ui and optimize
  backend/app/agent/factory/browser.py
  backend/app/controller/extension_proxy_controller.py
  backend/app/service/extension_proxy_service.py
Due: node licenses/update_license.js

feat: enable LLM streaming output for extension chat
  backend/app/service/extension_chat_service.py
Due: node licenses/update_license.js

feat: add Chrome browser extension for CAMEL browser agent
  eslint.config.js
  extension/background.js
  extension/icon.png
  extension/icon.svg
  extension/manifest.json
  extension/popup.css
  extension/popup.html
  extension/popup.js
  extension/sidepanel.css
  extension/sidepanel.html
  extension/sidepanel.js
Due: prettier --write

rename extension to extensions
  eslint.config.js
  extensions/background.js
  extensions/icon.png
  extensions/icon.svg
  extensions/manifest.json
  extensions/popup.css
  extensions/popup.html
  extensions/popup.js
  extensions/sidepanel.css
  extensions/sidepanel.html
  extensions/sidepanel.js
Due: prettier --write

move extension files into extensions/chrome_extension/
  eslint.config.js
  extensions/chrome_extension/background.js
  extensions/chrome_extension/icon.png
  extensions/chrome_extension/icon.svg
  extensions/chrome_extension/manifest.json
  extensions/chrome_extension/popup.css
  extensions/chrome_extension/popup.html
  extensions/chrome_extension/popup.js
  extensions/chrome_extension/sidepanel.css
  extensions/chrome_extension/sidepanel.html
  extensions/chrome_extension/sidepanel.js
Due: prettier --write

address review feedback
  src/components/Trigger/ExecutionLogs.tsx
  tailwind.config.js
Due: node licenses/update_license.js, prettier --write

Update WeChat QR code via QR Code Updater
  src/assets/wechat_qr.jpg
Due: none

fix and enhance
  backend/app/agent/listen_chat_agent.py
Due: node licenses/update_license.js

enhance: add_request_level_token_callback PR1362
  backend/app/agent/listen_chat_agent.py
Due: node licenses/update_license.js

feat: merge question_confirm and summary_task into single LLM call
  backend/app/model/chat.py
  backend/app/service/chat_service.py
  backend/tests/app/service/test_chat_service.py
Due: node licenses/update_license.js

fix: auto-scroll bugs in worker sub-task log panel
  src/components/WorkFlow/node.tsx
Due: node licenses/update_license.js, prettier --write

feat: Auto-scroll to latest logs for worker sub-tasks (#1318)
  src/components/WorkFlow/node.tsx
Due: node licenses/update_license.js, prettier --write

update ui
  backend/app/service/extension_chat_service.py
Due: node licenses/update_license.js

feat: add proxyFetchPatch helper and error_code to AgentMessage type
  src/api/http.ts
  src/types/chatbox.d.ts
Due: node licenses/update_license.js, prettier --write

feat(server): add PATCH /provider/{id}/invalidate endpoint
  server/app/controller/provider/provider_controller.py
Due: node licenses/update_license.js

feat(i18n): add model error and provider status locale keys
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/setting.json
Due: none

fix: use PUT fallback for provider invalidation and clean up debug logs
  backend/app/utils/workforce.py
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

feat: show toast and invalidate provider on model errors
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

feat(backend): enrich SSE error events with error_code
  backend/app/service/chat_service.py
Due: node licenses/update_license.js

feat: add inline model error card with settings CTA in chat flow
  src/components/ChatBox/MessageItem/ModelErrorCard.tsx
  src/components/ChatBox/UserQueryGroup.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
  src/store/chatStore.ts
  src/types/chatbox.d.ts
Due: node licenses/update_license.js, prettier --write

fix: propagate model errors from all backend code paths to SSE stream
  backend/app/service/chat_service.py
  backend/app/service/task.py
  backend/app/utils/workforce.py
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

feat: add model error toast with settings link
  src/components/Toast/modelErrorToast.tsx
Due: node licenses/update_license.js, prettier --write

fix: correct is_valid mapping and show provider status in UI
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

fix: navigate to correct model settings page on error
  src/components/ChatBox/MessageItem/ModelErrorCard.tsx
  src/components/Toast/modelErrorToast.tsx
Due: node licenses/update_license.js, prettier --write

feat: include camel_logs in log file download
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

fix: show original model error message alongside friendly description
  src/components/ChatBox/MessageItem/ModelErrorCard.tsx
  src/components/Toast/modelErrorToast.tsx
Due: node licenses/update_license.js, prettier --write

fix: preserve original provider error message instead of generic text
  backend/app/component/error_format.py
  src/components/ChatBox/MessageItem/ModelErrorCard.tsx
Due: node licenses/update_license.js, prettier --write

release v0.0.86
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build.yml
  backend/app/agent/toolkit/terminal_toolkit.py
  package.json
Due: node licenses/update_license.js
