Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

chore: update imports
  src/components/BottomBar/index.tsx
  src/pages/Home.tsx
Due: node licenses/update_license.js, prettier --write

Update src/components/AddWorker/index.tsx
  src/components/AddWorker/index.tsx
Due: node licenses/update_license.js, prettier --write

Update src/components/ui/select.tsx
  src/components/ui/select.tsx
Due: node licenses/update_license.js, prettier --write

Update src/components/ui/popover.tsx
  src/components/ui/popover.tsx
Due: node licenses/update_license.js, prettier --write

feat: refactor toolkit icons to align with tool categories (#1218)
  src/components/WorkFlow/node.tsx
  src/lib/toolkitIcons.tsx
Due: node licenses/update_license.js, prettier --write

chore: add translations
  src/components/ChatBox/MessageItem/TaskCompletionCard.tsx
  src/i18n/locales/ar/chat.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hant/chat.json
Due: node licenses/update_license.js, prettier --write

chore: remove duplicate
  server/app/component/schedule/trigger_schedule_task.py
Due: node licenses/update_license.js

fix(backend): avoid event loop blocking and treat CDP timeout as success
  backend/app/controller/tool_controller.py
Due: node licenses/update_license.js

fix(backend): validate browser process before reporting launch success
  backend/app/controller/tool_controller.py
Due: node licenses/update_license.js

fix(ui): check response.success before showing browser launch toast
  src/pages/Browser/Cookies.tsx
Due: node licenses/update_license.js, prettier --write

feat: improve task queue & fix linting
  src/components/AddWorker/index.tsx
  src/components/ChatBox/BottomBox/ExpandedInputBox.tsx
  src/components/ChatBox/index.tsx
  src/hooks/useTriggerTaskExecutor.ts
  src/pages/Project/Workspace.tsx
  src/store/chatStore.ts
  src/store/triggerTaskStore.ts
  test/unit/hooks/useTriggerTaskExecutor.test.ts
Due: node licenses/update_license.js, prettier --write

enhance: simplify logic
  src/components/ChatBox/index.tsx
  src/hooks/useBackgroundTaskProcessor.ts
  src/hooks/useTriggerTaskExecutor.ts
  src/store/chatStore.ts
  src/store/projectStore.ts
  src/store/triggerTaskStore.ts
Due: node licenses/update_license.js, prettier --write

feat: background execution
  src/App.tsx
  src/components/ChatBox/index.tsx
  src/hooks/useBackgroundTaskProcessor.ts
  src/hooks/useTriggerTaskExecutor.ts
  src/store/projectStore.ts
  test/unit/hooks/useTriggerTaskExecutor.test.ts
Due: node licenses/update_license.js, prettier --write

udpate docs
  docs/core/agent-skills.md
  docs/docs.json
  docs/images/agent_skills_example_skills_04.mov
  docs/images/agent_skills_settings_screenshot.png
  docs/images/agent_skills_skill01.mov
  docs/images/agent_skills_skill02.mov
  docs/images/agent_skills_skill03.mov
  docs/images/agent_skills_skills_05.mov
Due: none

feat: long file scrollable & pdf view
  package.json
  src/components/ChatBox/MessageItem/MarkDown.tsx
  src/components/Folder/PdfViewer.tsx
  src/components/Folder/index.tsx
  test/unit/components/Folder/FileTree.test.tsx
  test/unit/components/Folder/LongFileScroll.test.tsx
Due: node licenses/update_license.js, prettier --write

fix: disable Fontations font engine to prevent crash on macOS
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

feat: add @mention routing for direct single-agent conversation
  backend/app/agent/factory/browser.py
  backend/app/controller/chat_controller.py
  backend/app/model/chat.py
  backend/app/service/chat_service.py
  backend/app/service/task.py
  electron/main/index.ts
  server/uv.lock
  src/components/ChatBox/BottomBox/InputBox.tsx
  src/components/ChatBox/BottomBox/MentionDropdown.tsx
  src/components/ChatBox/MessageItem/UserMessageCard.tsx
  src/components/ChatBox/index.tsx
  src/store/chatStore.ts
  src/types/chatbox.d.ts
Due: node licenses/update_license.js, prettier --write

fix: disable tool call pruning for persistent @mention agents
  backend/app/service/chat_service.py
Due: node licenses/update_license.js

fix: disable tool call pruning at browser agent factory level
  backend/app/agent/factory/browser.py
  backend/app/service/chat_service.py
Due: node licenses/update_license.js

inital_commit for multi agent running
  backend/app/service/chat_service.py
  backend/app/service/task.py
  src/components/ChatBox/index.tsx
  src/store/chatStore.ts
  src/types/constants.ts
Due: node licenses/update_license.js, prettier --write

fix bug multi agent running
  backend/app/service/chat_service.py
  src/components/ChatBox/UserQueryGroup.tsx
Due: node licenses/update_license.js, prettier --write

fix bug multi agent running
  backend/app/service/chat_service.py
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

remove typewriter effect
  src/components/ChatBox/UserQueryGroup.tsx
Due: node licenses/update_license.js, prettier --write

worker summary card
  src/components/ChatBox/UserQueryGroup.tsx
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

fix worker summary card
  src/components/ChatBox/ProjectSection.tsx
Due: node licenses/update_license.js, prettier --write

fix agentMessages update task
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

update
  docs/core/models/gemini.md
  docs/core/models/kimi.md
  docs/core/models/sambanova.md
  docs/docs.json
  docs/images/gemini.png
  docs/images/gemini_1.png
  docs/images/gemini_2.png
  docs/images/gemini_3.png
  docs/images/kimi.png
  docs/images/kimi_1.png
  docs/images/kimi_2.png
  docs/images/kimi_3.png
  docs/images/minimax.png
  docs/images/minimax_1.png
  docs/images/minimax_2.png
  docs/images/minimax_3.png
  docs/images/model_setting.png
  docs/images/sambanova.png
Due: none

fix: disable Fontations font engine to prevent crash on macOS (#1382)
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

update example model
  docs/core/models/sambanova.md
Due: none

docs: add sambanova and update docs (#1384)
  docs/core/models/gemini.md
  docs/core/models/kimi.md
  docs/core/models/sambanova.md
  docs/docs.json
  docs/images/gemini.png
  docs/images/gemini_1.png
  docs/images/gemini_2.png
  docs/images/gemini_3.png
  docs/images/kimi.png
  docs/images/kimi_1.png
  docs/images/kimi_2.png
  docs/images/kimi_3.png
  docs/images/minimax.png
  docs/images/minimax_1.png
  docs/images/minimax_2.png
  docs/images/minimax_3.png
  docs/images/model_setting.png
  docs/images/sambanova.png
Due: none

fix: search tool add agent name for browser agent
  backend/app/agent/factory/browser.py
Due: node licenses/update_license.js

Update agent-skills.md
  docs/core/agent-skills.md
Due: none

Udpate docs (#1380)
  docs/core/agent-skills.md
  docs/docs.json
  docs/images/agent_skills_example_skills_04.mov
  docs/images/agent_skills_settings_screenshot.png
  docs/images/agent_skills_skill01.mov
  docs/images/agent_skills_skill02.mov
  docs/images/agent_skills_skill03.mov
  docs/images/agent_skills_skills_05.mov
Due: none

Revert "Udpate docs (#1380)"
  docs/core/agent-skills.md
  docs/docs.json
  docs/images/agent_skills_example_skills_04.mov
  docs/images/agent_skills_settings_screenshot.png
  docs/images/agent_skills_skill01.mov
  docs/images/agent_skills_skill02.mov
  docs/images/agent_skills_skill03.mov
  docs/images/agent_skills_skills_05.mov
Due: none

Revert "Udpate docs" (#1386)
  docs/core/agent-skills.md
  docs/docs.json
  docs/images/agent_skills_example_skills_04.mov
  docs/images/agent_skills_settings_screenshot.png
  docs/images/agent_skills_skill01.mov
  docs/images/agent_skills_skill02.mov
  docs/images/agent_skills_skill03.mov
  docs/images/agent_skills_skills_05.mov
Due: none

bug fix video formate
  docs/core/agent-skills.md
  docs/images/agent_skills_example_skills_04.mov
  docs/images/agent_skills_example_skills_04.mp4
  docs/images/agent_skills_skill01.mov
  docs/images/agent_skills_skill01.mp4
  docs/images/agent_skills_skill02.mov
  docs/images/agent_skills_skill02.mp4
  docs/images/agent_skills_skill03.mov
  docs/images/agent_skills_skill03.mp4
  docs/images/agent_skills_skills_05.mov
  docs/images/agent_skills_skills_05.mp4
Due: none

fix: trigger id overwritten
  src/service/triggerApi.ts
Due: node licenses/update_license.js, prettier --write

bug fix for mintlify build
  docs/core/agent-skills.md
  docs/core/concepts.md
  docs/core/models/gemini.md
  docs/core/models/kimi.md
  docs/core/models/local-model.md
  docs/core/models/minimax.md
  docs/core/models/sambanova.md
  docs/core/tools.md
  docs/core/workers.md
  docs/core/workforce.md
  docs/get_started/quick_start.md
  docs/get_started/welcome.md
  docs/images/favicon.png
  docs/images/logo-dark.png
  docs/images/logo-light.png
  docs/images/logo_black.png
  docs/images/logo_white.png
  docs/troubleshooting/bug.md
  docs/troubleshooting/support.md
Due: none

bug fixed
  docs/README.md
  docs/core/agent-skills.md
Due: none

update
  docs/core/agent-skills.md
  docs/core/concepts.md
  docs/core/models/byok.md
  docs/core/models/gemini.md
  docs/core/models/kimi.md
  docs/core/models/local-model.md
  docs/core/models/minimax.md
  docs/core/models/sambanova.md
  docs/core/tools.md
  docs/core/workers.md
  docs/core/workforce.md
  docs/get_started/quick_start.md
  docs/get_started/welcome.md
  docs/images/Screenshot2026-01-20at18.12.10.png
  docs/images/Screenshot2026-01-20at18.13.45.png
  docs/images/Screenshot2026-01-20at18.14.03.png
  docs/images/byok_1.png
  docs/troubleshooting/bug.md
  docs/troubleshooting/support.md
Due: none

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
