Repository eigent-ai/eigent: changes, and which lint-staged commands are due for each by the changed paths.
All: node licenses/update_license.js, prettier --write

Update worker node design and add missing token (#1140)
  .prettierrc.json
  package.json
  src/components/ChatBox/MessageItem/AgentMessageCard.tsx
  src/components/ChatBox/MessageItem/UserMessageCard.tsx
  src/components/ChatBox/TaskBox/TaskCard.tsx
  src/components/WorkFlow/MarkDown.tsx
  src/components/WorkFlow/node.tsx
  src/pages/History.tsx
  src/style/markdown-styles.css
  src/style/token.css
Due: node licenses/update_license.js, prettier --write

bug fix for duplicated name detection-keep only skill file name detection
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

enhance and fix
  src/components/AddWorker/ToolSelect.tsx
  src/pages/Setting/MCPMarket.tsx
Due: node licenses/update_license.js, prettier --write

Resolve broken SVG import issue (#1152)
  src/components/AddWorker/ToolSelect.tsx
  src/pages/Setting/MCPMarket.tsx
Due: node licenses/update_license.js, prettier --write

fix: update anthropic default url
  docs/core/models/byok.md
  src/lib/llm.ts
Due: node licenses/update_license.js, prettier --write

fix: update anthropic default url (#1301)
  docs/core/models/byok.md
  src/lib/llm.ts
Due: node licenses/update_license.js, prettier --write

enhance
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

Udpate for model setting design (#1201)
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

update input text color bug (#1241)
  src/components/ChatBox/BottomBox/InputBox.tsx
  src/style/token.css
Due: node licenses/update_license.js, prettier --write

Revert "Udpate for model setting design (#1201)"
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

Revert "Udpate for model setting design" (#1302)
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

enhance: Feat skills PR1221
  backend/app/agent/factory/browser.py
  backend/app/agent/factory/developer.py
  backend/app/agent/factory/document.py
  backend/app/agent/factory/multi_modal.py
  backend/app/agent/factory/social_media.py
  backend/app/model/chat.py
  backend/app/service/chat_service.py
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

enhance: Feat skills PR1221 (#1303)
  backend/app/agent/factory/browser.py
  backend/app/agent/factory/developer.py
  backend/app/agent/factory/document.py
  backend/app/agent/factory/multi_modal.py
  backend/app/agent/factory/social_media.py
  backend/app/model/chat.py
  backend/app/service/chat_service.py
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

feat: use_image_analysis
  backend/app/agent/factory/multi_modal.py
  backend/app/model/chat.py
  src/pages/Setting/Models.tsx
  src/store/authStore.ts
  src/store/chatStore.ts
Due: node licenses/update_license.js, prettier --write

chore: lints
  backend/app/agent/factory/multi_modal.py
  backend/app/model/chat.py
Due: node licenses/update_license.js

enhance: add warnings
  src/components/WorkFlow/node.tsx
  src/pages/Setting/Models.tsx
Due: node licenses/update_license.js, prettier --write

chore: translations
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
Due: none

chore: update logic
  backend/app/agent/factory/multi_modal.py
Due: node licenses/update_license.js

refactor: replace IDE button with inline DropdownMenu in Folder view
  src/components/Folder/index.tsx
Due: node licenses/update_license.js, prettier --write

refactor: remove Preferred IDE section from Settings General page
  src/pages/Setting/General.tsx
Due: node licenses/update_license.js, prettier --write

refactor: update i18n keys for inline IDE dropdown
  src/i18n/locales/ar/chat.json
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/chat.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/chat.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/chat.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/chat.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/chat.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/chat.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/chat.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/chat.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/chat.json
  src/i18n/locales/zh-Hant/setting.json
Due: none

style(file_utils): remove duplicate and unused imports for ruff
  backend/app/utils/file_utils.py
Due: node licenses/update_license.js

Implement Replace strict command prohibition
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/controller/chat_controller.py
  backend/app/model/chat.py
  backend/app/service/chat_service.py
  backend/app/service/task.py
  backend/tests/app/agent/toolkit/test_terminal_toolkit.py
  backend/tests/app/service/test_task.py
  electron/main/index.ts
  src/components/ChatBox/index.tsx
  src/components/SearchInput/index.tsx
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/chat.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Setting.tsx
  src/pages/Setting/Permissions.tsx
  src/store/chatStore.ts
  src/types/constants.ts
Due: node licenses/update_license.js, prettier --write

Revert unnecessary test implementations
  backend/tests/app/agent/toolkit/test_terminal_toolkit.py
  backend/tests/app/service/test_task.py
Due: node licenses/update_license.js

Revert unnecessary vite dev server configuration
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

Restore index.ts file from electron/main
  electron/main/index.ts
Due: node licenses/update_license.js, prettier --write

Fix for pre-commit check
  backend/app/agent/toolkit/terminal_toolkit.py
  backend/app/service/task.py
Due: node licenses/update_license.js

refactor(tests): address review feedback on test_auth
  server/tests/test_auth.py
Due: node licenses/update_license.js

fix(backend): security hardening for environment, cookies, oauth, and task locking
  backend/app/component/environment.py
  backend/app/controller/tool_controller.py
  backend/app/service/task.py
  backend/app/utils/cookie_manager.py
  backend/app/utils/oauth_state_manager.py
  backend/tests/app/component/test_environment.py
  backend/tests/app/service/test_task_lock_mutex.py
  backend/tests/app/utils/test_cookie_manager.py
  backend/tests/app/utils/test_oauth_state_manager.py
Due: node licenses/update_license.js

fix(server): harden auth, MCP, redirect, and snapshot endpoints
  server/app/component/auth.py
  server/app/controller/chat/history_controller.py
  server/app/controller/mcp/mcp_controller.py
  server/app/controller/mcp/user_controller.py
  server/app/controller/redirect_controller.py
  server/app/controller/user/login_controller.py
  server/app/model/chat/chat_snpshot.py
  server/tests/test_security_fixes.py
Due: node licenses/update_license.js

fix(frontend): security hardening for Electron, UI inputs, and store logic
  electron/main/fileReader.ts
  electron/main/index.ts
  electron/main/update.ts
  src/components/ui/input.tsx
  src/components/ui/textarea.tsx
  src/lib/index.ts
  src/store/chatStore.ts
  test/unit/electron/fileReader.test.ts
  test/unit/lib/securityFixes.test.ts
  test/unit/store/chatStore-divisionByZero.test.ts
Due: node licenses/update_license.js, prettier --write

fix: address review feedback
  .github/workflows/packaging-test.yml
  .github/workflows/packaging-update.yml
  .github/workflows/release-notes.yml
Due: none

fix: raise RuntimeError on None message instead of warning+continue
  backend/app/agent/listen_chat_agent.py
  backend/tests/app/agent/test_listen_chat_agent.py
Due: node licenses/update_license.js

fix(ui): prevent install screen flash when already on main content (#1280)
  src/components/Layout/index.tsx
  src/hooks/useInstallationSetup.ts
Due: node licenses/update_license.js, prettier --write

update
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Agents/Models.tsx
  src/store/authStore.ts
Due: node licenses/update_license.js, prettier --write

update
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Agents/Models.tsx
Due: node licenses/update_license.js, prettier --write

feat: add remember password function
  electron/main/index.ts
  electron/preload/index.ts
  src/i18n/locales/ar/layout.json
  src/i18n/locales/de/layout.json
  src/i18n/locales/en-us/layout.json
  src/i18n/locales/es/layout.json
  src/i18n/locales/fr/layout.json
  src/i18n/locales/it/layout.json
  src/i18n/locales/ja/layout.json
  src/i18n/locales/ko/layout.json
  src/i18n/locales/ru/layout.json
  src/i18n/locales/zh-Hans/layout.json
  src/i18n/locales/zh-Hant/layout.json
  src/pages/Login.tsx
  src/types/electron.d.ts
Due: node licenses/update_license.js, prettier --write

Implement Auto-scroll to latest logs for workers sub-tasks
  src/components/WorkFlow/node.tsx
Due: node licenses/update_license.js, prettier --write

feat: add gemini-3.1-pro-preview (#1314)
  src/i18n/locales/ar/setting.json
  src/i18n/locales/de/setting.json
  src/i18n/locales/en-us/setting.json
  src/i18n/locales/es/setting.json
  src/i18n/locales/fr/setting.json
  src/i18n/locales/it/setting.json
  src/i18n/locales/ja/setting.json
  src/i18n/locales/ko/setting.json
  src/i18n/locales/ru/setting.json
  src/i18n/locales/zh-Hans/setting.json
  src/i18n/locales/zh-Hant/setting.json
  src/pages/Agents/Models.tsx
  src/store/authStore.ts
Due: node licenses/update_license.js, prettier --write

Path conditions:
  node licenses/update_license.js: (any of: *.{ts,tsx,d.ts}) or (any of: *.py)
  prettier --write: (any of: *.{ts,tsx,d.ts}) or (any of: *.{js,jsx})
